[2020-11-02 22:18] serathius commented on #627
I was planning to collect ideas and feedback from other SIG members and propose roadmap to give project more direction. I was also hoping to find owners for specific areas.

Idea for collecting feedback sounds really interesting. I would be interesting discussion during SIG meeting on how we can organize it for Metrics Server and other Instrumentation projects.

[2020-11-04 21:12] ehashman commented on #627
I added this to the agenda for our next SIG meeting on the 12th.

[2020-11-05 00:51] lavalamp commented on #604
Yes, the bug here is that the metrics apiserver doesn't copy the pod's labels (or at least the matching labels) over. The only way this search makes sense is if we're pretending that PodMetrics objects have the same labels as the Pods they are for.

[2020-11-06 19:55] osaffer opened #629 "Cannot fetch Pods Metrics"
**What happened**:
Cannot fetch pods metrics, while can fetch nodes metrics
**What you expected to happen**:
Fetch pods and nodes metrics

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.):
- Container Network Setup: flannel
 kubectl version --short
Client Version: v1.19.3
Server Version: v1.19.3

 helm list -n operations
NAME            NAMESPACE       REVISION

[2020-11-06 20:09] osaffer commented on #603
Did you find solution ?

[2020-11-06 20:10] osaffer commented on #561
Did you find solution?

[2020-11-06 20:30] #536 closed

[2020-11-07 20:48] osaffer commented on #299
I downloaded 0.4.0. I modified components yaml file like you, I cannot fetch metrics from pods, from nodes it works.

[2020-11-08 13:35] kewynakshlley commented on #629
I am facing the same issue, did you find any solution for this?

[2020-11-08 14:20] serathius commented on #629
This looks like a bug in Kubernetes 1.19 kubernetes/kubernetes#94281
I think I will prepare debug instructions as this will be super popular bug when people start using K8s 1.19

[2020-11-08 21:27] robrys commented on #476
Here follows an update for those who may hit similar issues.

The root of our problem seemed to be:
https://github.com/Azure/AKS/issues/1373

Right after instantiating an AKS cluster and applying lots of k8s YAML to it, the subsequent k8s object instantiation and docker image pulls would spike the disk queue depth into the dozens or hundreds.

That AKS issue refers to a problem where disk queue de

[2020-11-09 09:41] CheyiLin opened #630 "Error "pathrecorder.go:107] registered "/metrics" from goroutine 1 [running]" with stack dump"
**What happened**:
metrics-server `v0.4.0` starts with error `pathrecorder.go:107] registered "/metrics" from goroutine 1 [running]` and stack dump. But it seems working as normal.

**What you expected to happen**:
No error.

**Anything else we need to know?**:
No.

**Environment**:
- Kubernetes distribution:
Kubernetes 1.17.13, created by kops on AWS

- Container Network Setup:
calico with cross-

[2020-11-09 10:52] stevehipwell commented on #572
@olemarkus I've created a PR https://github.com/kubernetes-sigs/descheduler/pull/436 to update the _descheduler_ chart to use the new tag naming template allowing it to live in the same repo as the code.

[2020-11-09 12:22] kewynakshlley commented on #629
@serathius I am not sure if it is only in Kubernetes 1.19. I've already done tests on 18.5 and 18.10 and the error persists.

[2020-11-09 12:26] serathius commented on #629
@kewynakshlley If your experiencing problem on different K8s version please file a separate issue and provide all information requested in issue template.

[2020-11-09 12:36] osaffer commented on #629
It s quite frustrating that metrics-server doesn't work , from one side I am glad to know I am not alone in this case, to get kubernetes and don't be able to use autoscalling is strange for me 🤪.

I tried different deployment with helm or by using manifests, without success.

[2020-11-09 12:40] serathius commented on #629
Sorry for that, unfortunately Metrics Server is very infrastructure dependent. Every issue reported is different so let's continue this discussion for issue dedicated to your case.

[2020-11-09 13:27] SeungHyeonShin opened #631 "How do I use the nodeSelector option?"
Hello, I'm trying to deploy the metrics-server.
You are trying to select a node using the nodeSelector option.

[code]

However, an error occurred.
[code]

So I want to change it to map format, but I wonder how to change it.

[2020-11-09 20:16] serathius commented on #631
This issue is about helm chart, not metrics server itself. Please report this issue to author of helm chart.

[2020-11-09 20:16] #631 closed

[2020-11-09 20:29] serathius commented on #618
Please use v0.4.0 release as suggested above.

[2020-11-09 20:29] #618 closed

[2020-11-09 20:32] serathius commented on #617
Yes, this is because we changed the default preferred address order on current master. This was long standing issue on version 0.3.x as not everyone had DNS configured the same way.

Latest release 0.4.0 defaults to InternalIP, which should solve this issue.

[2020-11-09 20:32] #617 closed

[2020-11-09 20:36] serathius commented on #621
`node ip-172-31-45-18 had no addresses that matched types ` points to your Node object missing address types that are configured on Metrics Server using `--preferred-address-types` flag. Please make sure that they match.

[2020-11-09 20:36] #621 closed

[2020-11-09 20:40] serathius commented on #552
I was able to confirm the problem when qualifying new release. PDB was removed, thanks for noticing this!

[2020-11-09 20:42] serathius commented on #622
Helm manifests that you used don't come from this repository. Please report problem to author of manifests.

If you want you can also try official manifests
[code]

[2020-11-09 20:43] #622 closed

[2020-11-09 22:40] serathius commented on #629
PR adding debug instructions for issue in Kubernetes 1.19 https://github.com/kubernetes-sigs/metrics-server/pull/632

[2020-11-09 22:43] serathius commented on #629
@osaffer Please use those instructions to confirm that you're affected by problem in Kubernetes 1.19:

Please check if your Kubelet is correctly returning pod metrics. You can do that by checking Summary API on any node in your cluster:
[code]

This will return JSON that will have two keys `node` and `pods`.
Empty list of pods is means that problem is related to Kubelet and not to Metrics Server.

[2020-11-10 10:36] brancz commented on #627
I think the meeting on the 12th was cancelled as it's Thanksgiving in the US? Either way, I agree a SIG meeting would be good to discuss this.

[2020-11-10 10:38] osaffer commented on #629
Hi,

These are the results :

 kubectl get --raw /api/v1/nodes/$NODE_NAME/proxy/stats/summary
{
 "node": {
  "nodeName": "worker3",
  "systemContainers": [
   {
    "name": "kubelet",
    "startTime": "2020-11-06T19:43:22Z",
    "cpu": {
     "time": "2020-11-10T10:35:47Z",
     "usageNanoCores": 104067805,
     "usageCoreNanoSeconds": 30073725495861
    },
    "memory": {
     "time": "2020-11-10

[2020-11-10 10:44] osaffer commented on #629
About version

kubelet  --version
Kubernetes v1.19.3
kubectl version --short
Client Version: v1.19.3
Server Version: v1.19.3

[2020-11-10 12:27] kewynakshlley opened #633 "metrics unavailable for pods and containers (not sending metrics)"
**What happened**:

I've been trying to use vertical pod autoscaler but seems that metrics server isn't working as expected. I use 'watch kubectl top pods' to see information about pod usage and after 10 minutes I receive the follow error:

I1110 12:05:27.117145       1 reststorage.go:93] No metrics for pod default/busy-wait-vpa-965f5c86b-4wzmf
I1110 12:05:27.117149       1 reststorage.go:140] No

[2020-11-10 13:27] JornShen commented on #629
The fix PR https://github.com/google/cadvisor/pull/2714 has been merged.
waiting for updating k/k dependency of cadvisor to v0.38.
if you are urgent, udpate docker version to v19.X or use this patch https://github.com/google/cadvisor/pull/2714.

@osaffer
@serathius

[2020-11-10 14:28] osaffer commented on #629
This is the result of docker version

Should I do something more?

docker version
Client: Docker Engine - Community
 Version:           19.03.12
 API version:       1.39
 Go version:        go1.13.10
 Git commit:        48a66213fe
 Built:             Mon Jun 22 15:45:36 2020
 OS/Arch:           linux/amd64
 Experimental:      false

Server: Docker Engine - Community
 Engine:
  Version:          18

[2020-11-10 14:31] serathius commented on #629
@osaffer Your Docker Engine Server is using 18.09.7 which is affected.
You can upgrade it to v19+ or wait for fix in K8s

[2020-11-10 15:44] osaffer commented on #629
Hi

I have just upgraded all my nodes

 docker version
Client: Docker Engine - Community
 Version:           19.03.13
 API version:       1.40
 Go version:        go1.13.15
 Git commit:        4484c46d9d
 Built:             Wed Sep 16 17:02:36 2020
 OS/Arch:           linux/amd64
 Experimental:      false

Server: Docker Engine - Community
 Engine:
  Version:          19.03.13
  API version:

[2020-11-10 16:11] ronaldploeger commented on #630
Same for me on AWS EKS: v1.18.9-eks-d1db3c

` E1110 15:41:46.666415       1 pathrecorder.go:107] registered "/metrics" from goroutine 1 [running]:
runtime/debug.Stack(0x1942e80, 0xc000715ec0, 0x1bb58b5)
	/usr/local/go/src/runtime/debug/stack.go:24 +0x9d
k8s.io/apiserver/pkg/server/mux.(*PathRecorderMux).trackCallers(0xc000284770, 0x1bb58b5, 0x8)
	/go/pkg/mod/k8s.io/apiserver@v0.19.2/pkg/server/mux

[2020-11-10 20:08] serathius commented on #633
Your using very old version of Metrics Server 0.2.1. Version 0.2.x is no longer supported. It looks like your manifests were packed with minikube.

Please try upgrading minikube, if that still doesn't work please post the issue to Minikube.

[2020-11-10 20:08] #633 closed

[2020-11-10 20:11] serathius commented on #630
Reproduced in KIND cluster. Looks like this panic doesn't influence Metrics Server functions (exposing Metrics API, Prometheus metrics).

I will look into this.
/assign

[2020-11-10 22:39] serathius commented on #630
Confirmed that this is totally harmless. In 0.4.0 we introduced own prometheus metrics handler, but didn't correctly disable default one. As result same path is registered twice, which is reported as error with stacktrace.

Will send fix soon

[2020-11-10 22:54] serathius commented on #629
Interesting
Would be great to bring your findings to https://github.com/kubernetes/kubernetes/issues/94281

[2020-11-10 22:58] serathius commented on #629
Have you done same debugging steps provided above to ensure that problem is still on Kubelet side?

[2020-11-11 00:34] kewynakshlley commented on #633
Well, I did upgrade minikube to the last version and  metrics server to version 4.0.0 and I got similar results. For example, I have 2 pods but kubectl top pods shows info for only one pod.

and when I specify the missing pod on kubectl top pod 'pod-name' I have:

Error from server (NotFound): podmetrics.metrics.k8s.io "default/busy-wait-vpa-56c9b7c8cc-ln9bm" not found

and after a couple of minut

[2020-11-11 09:58] otherguy commented on #41
I had the same issue with Minikube on macOS, using the default Docker driver. I got it to work by using @yadavkkumar's tip. But in the case of Minikube, you just need to start it like this:

`$ minikube start --extra-config=controller-manager.horizontal-pod-autoscaler-use-rest-clients=false`

[2020-11-11 10:31] osaffer commented on #629
I would like to thank you for your support.

- Upgrade Docker
- Redeploy metrics-server
- Restart kubelet on all nodes ( I hadnt do it )

Now it works very well.

Thank you very much

[2020-11-11 10:49] #630 closed

[2020-11-11 11:07] serathius commented on #629
Thanks for working with us on the workaround. Hope this is fixed upstream soon.

Closing as issue was resolved.

[2020-11-11 11:07] #629 closed

[2020-11-11 11:30] serathius commented on #633
Metrics Server is very tightly coupled with other kubernetes components (apiserver, kubelet, kubedns). For it to work correctly some specific features need to be enabled in apiserver.  List of requirements is stated in README page https://github.com/kubernetes-sigs/metrics-server#requirements

Not every kubernetes distribution enables those features by default. In such cases it requires users to d

[2020-11-11 12:25] kewynakshlley commented on #633
@serathius idk why, but everything is work fine after a switch the vmdriver from docker to virtualbox. Thanks, u clarified a lot of things.

[2020-11-11 21:18] ehashman commented on #627
@brancz no, this week is on. The meeting after that is cancelled for US Thanksgiving which falls on Thu. Nov. 26.

[2020-11-12 08:02] brancz commented on #627
Whops my bad. Today it is then :)

[2020-11-12 10:41] #540 closed

[2020-11-12 16:45] serathius commented on #588
Looks like kubectl doesn't detect metrics apiservice
Please run ```
kubectl describe apiservice v1beta1.metrics.k8s.io
[code]

[2020-11-12 17:32] davidxia commented on #540
Anyone mind if I reopen this issue? I don't think it's been fixed?

[2020-11-12 17:51] ehashman commented on #627
/assign

We want to reach out to contribex to try to run a user survey.

[2020-11-12 17:52] logicalhan commented on #627
Isn't the scraping resolution somewhat responsible for the ability of the metric-server to scale to 5k nodes? What do we expect increasing scraping resolution to 15s affect our supported cluster size of 5k nodes?

[2020-11-12 18:37] serathius commented on #627
Metrics Server ability to scale to 5k nodes is based on it's linear resource usage that was verified by scale tests run by SIG scalability. Increasing scraping resolution should increase required resources, but should not break it's linearity.
Increase in resources should be balanced by improvements in performance via planned switch to Prometheus endpoint.

Still there is a risk of lock contention

[2020-11-12 21:27] adammw opened #636 "Expose client-go/restclient metrics to prometheus metrics endpoint"
**What would you like to be added**:
Metrics from the restclient such as rest_client_request_duration_seconds, rest_client_requests_total, etc. to be added to the exposed metrics from metrics-server. I believe there are helpers in k8s.io/controller-base/metrics and client-go to add these metrics automatically but they are not enabled.

**Why is this needed**:
Metrics-server communicates with the A

[2020-11-12 22:17] ehashman commented on #627
@serathius to run a user survey, ContribEx suggests that we put together a list of questions and then make a form either through SurveyMonkey or Google Forms. They can then assist us in getting the word out for completing the survey.

Slack thread: https://kubernetes.slack.com/archives/C1TU9EB9S/p1605218342051300

[2020-11-13 01:23] elijahomolo commented on #614
@serathius I'm running into a similar issue as well, the results from kubectl describe apiservice v1beta1.metrics.k8s.io are:

`kubectl describe apiservice v1beta1.metrics.k8s.io
Name:         v1beta1.metrics.k8s.io
Namespace:
Labels:       app.kubernetes.io/instance=metrics-server
              app.kubernetes.io/managed-by=Helm
              app.kubernetes.io/name=metrics-server
              hel

[2020-11-13 03:24] DingGGu commented on #614
Define service/metrics-server properly,

[code]

Maybe you miss `.spec.selector` or misconfigration about `deployment.[]containers.[]ports.port` name

[2020-11-13 08:49] invidian commented on #601
I think this can be closed. v0.4.0 is out.

[2020-11-13 08:58] #601 closed

[2020-11-13 13:50] system-dev-formations opened #637 "Latest version metrics-server failed with go coroutine error"
I installed metrics-server on K8s 1.19.3 using
`kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.4.0/components.yaml`

**What happened**:

**What you expected to happen**:
Pod ok
**Anything else we need to know?**:

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.): on-prem
- Container Network Setup (flannel, calico, etc.): ca

[2020-11-13 13:58] serathius commented on #637
Thanks for reporting this. Issue was already triaged and fixed in https://github.com/kubernetes-sigs/metrics-server/issues/630. This stacktrace is totally harmless
Will release 0.4.1 soon.

[2020-11-13 13:58] #637 closed

[2020-11-13 14:19] serathius opened #638 "Release v0.4.1"
/cc @s-urbaniak

# Changelog since v0.4.0

* Fix registering metrics handler that caused error log with stacktrace

[2020-11-13 16:55] serathius commented on #542
Both probes were implemented. Implementation of readyz skipped checking apiserver, if that's a problem we can revisit it in future.

[2020-11-13 16:59] serathius commented on #540
Probes were redesigned in https://github.com/kubernetes-sigs/metrics-server/issues/542 for 0.4.0 release. PTAL

[2020-11-13 23:29] aleksarias commented on #380
Can you describe what you did to fix it? @VladimirAkopyan

[2020-11-15 12:35] serathius commented on #636
/triage accepted

[2020-11-15 12:46] serathius commented on #623
Please check if status of Metrics service:
[code]

Changing to support request as there is no evidence of problem with Metrics Server.

[2020-11-15 12:52] serathius commented on #603
Those log lines were removed in new release as they don't indicate any problem. Please create separate issue and fill bug request form.

[2020-11-15 12:52] #603 closed

[2020-11-15 12:58] serathius commented on #583
To address original post by @kyriefly. There is a message that points to problem with manifests.
[code]
Please reinstall metrics server using official manifests:
[code]

@shivaniarbat Same message in kubectl doesn't mean that problem has same root cause. Please create separate issue.

[2020-11-15 12:58] #583 closed

[2020-11-15 13:00] serathius commented on #582
Metrics Server doesn't support Dualstack kubernetes. Please file a feature request

[2020-11-15 13:00] #582 closed

[2020-11-15 13:01] serathius commented on #579
Thanks for posting the solution.

[2020-11-15 13:01] #579 closed

[2020-11-15 13:13] serathius commented on #576
TLS configuration depends on how Kubernetes distribution your using has set it's default and what options you overwrote (no impact of K8s version or Metrics Server version). Some distribution use self signed certificates in Kubelet, some use separate CA then apiserver and on some TLS for metrics server works out of the box.

I don't think Metrics Server documentation can do anything better then as

[2020-11-15 13:14] serathius commented on #575
No response from author.

[2020-11-15 13:14] #575 closed

[2020-11-15 13:22] serathius commented on #574
Tested v0.4.0
[code]
Please upgrade

[2020-11-15 13:22] #574 closed

[2020-11-15 13:23] serathius commented on #567
/triage accepted

[2020-11-15 13:26] serathius commented on #561
No response from author, for problem with missing pod metrics please check out https://github.com/kubernetes-sigs/metrics-server/issues/629

[2020-11-15 13:26] #561 closed

[2020-11-15 13:26] serathius commented on #559
/triage accepted

[2020-11-15 13:26] serathius commented on #558
/triage accepted

[2020-11-15 13:27] serathius commented on #557
/triage accepted

[2020-11-15 13:27] serathius commented on #556
/triage accepted

[2020-11-15 13:27] serathius commented on #552
/triage accepted

[2020-11-15 13:31] serathius commented on #546
You can configure sidecar with service account.

[2020-11-15 13:31] serathius commented on #545
/triage accepted

[2020-11-15 13:32] serathius commented on #544
Closing as original question was answered

[2020-11-15 13:32] #544 closed

[2020-11-15 13:33] serathius commented on #543
/kind support

[2020-11-15 13:38] serathius commented on #537
Original issue had signs of problem related with network. I would be happy to help to debug it but author has not responded for long time. Feel free to create new issue for your case.

[2020-11-15 13:38] #537 closed

[2020-11-15 13:38] serathius commented on #525
No response from issue author

[2020-11-15 13:38] #525 closed

[2020-11-15 13:40] serathius commented on #494
/kind support

[2020-11-15 13:42] serathius commented on #394
/remove-lifecycle stale

[2020-11-15 13:42] serathius commented on #392
/remove-lifecycle rotten
/triage accepted

[2020-11-15 13:43] serathius commented on #384
/remove-lifecycle stale
/triage accepted

[2020-11-15 17:16] serathius opened #642 "Improve quality of autoscaling in default configuration"
This issue will propose a plan for implementing changes in default configuration responsible for improving quality of autoscaling (described in https://github.com/kubernetes-sigs/metrics-server/issues/627). In particular

* Define targeted cluster size and density that should be supported out of the box.
* Set resource requirements based for targeted cluster
* Increase metric resolution to 15s
* I

[2020-11-16 08:59] Ayden-Franklin commented on #623
[code]

[2020-11-16 11:29] zhanghba opened #644 "Metrics not available for pod"
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:50:19Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", Build

[2020-11-16 11:36] serathius commented on #644
Please answer questions in form provided in GitHub issue template.
/kind support

[2020-11-16 11:44] zhanghba commented on #644
@serathius

[2020-11-16 11:44] #644 closed

[2020-11-16 11:49] zhanghba opened #645 "Metrics not available for pod"
**metrics-server not  working**:

**metrics-server installed bug not get metrics for pods , nodes is working**:

**Anything else we need to know?**:

**Environment**:
-docker version 18.06
kubelet version is 1.19.3
metrics-server version is 0.4.0

error message: Metrics not available for pod

[2020-11-16 13:51] #642 closed

[2020-11-16 22:11] roy-tonal opened #648 "Metrics server not collecting metrics for different node pools on EKS"
Getting a weird problem. I have deployed an EKS cluster with 2 node pools, one self-managed and another managed group pool. When i deploy metrics server its giving metrics for only one pool, its not giving metrics for second node-pool.

When i tried to get the metrics from the node i'm getting metrics by below command for both the nodes.
```kubectl get --raw /api/v1/nodes/<NODE_NAME>/proxy/stats/s

[2020-11-17 00:22] serathius commented on #648
My guess is that your node pool has different endpoint configuration/newer K8s that doesn't expose same port. Have you tried accessing Kubelet endpoint directly?
[code]

[2020-11-17 12:34] kanthasamyraja opened #652 "kubectl top no not reflecting actual RAM"
**Problem statement:** Have kubernetes cluster with 32 GB RAM in worker node. After cluster setup we have upgraded to 64GB RAM.

`kubectl top no
`
command reflecting in memory but pods are going on pending status. % also showing more than 100%

**NAME             CPU(cores)   CPU%   MEMORY(bytes)   MEMORY%**
SERVERNAME_4v   308m         7%     10853Mi         68%
SERVERNAME_5v   331m         8%

[2020-11-17 16:16] roy-tonal commented on #648
So below is the scenario I have tested as per your recommendation.

I have 2 pools, each pool has one node each.
[code]
I'm getting metrics for only one node.
[code]

My metrics server pod is deployed and it got scheduled on node <ip-10-80-12-203.us-west-2.compute.internal> , for which i'm getting the metrics.

As suggested by you, i tried to query the kubelet endpoint directly from inside a sampl

[2020-11-17 18:16] serathius commented on #648
Interesting.

I noticed that port you scraped on nodes is different
* `10250` on first
* `10255` on second

What was the reason for that?

I would also suggest upgrading metrics-server to v0.4.0 there is a new feature related to port autodiscovery

[2020-11-17 18:34] serathius commented on #652
Would be interesting to debug where is the error in metric calculation but I don't think metrics server can do anything about kubectl reporting memory utilization > 100%. I also expect that this can happen in normal situation as Node Capacity < Total Memory on VM.

https://github.com/kubernetes-sigs/metrics-server/blob/master/FAQ.md#how-metrics-server-calculates-metrics
https://github.com/kubernet

[2020-11-17 18:38] serathius commented on #652
Sorry missed that.

You need to restart Kubelet  :P
/kind support

[2020-11-17 18:47] roy-tonal commented on #648
Ahh, sorry, it was a typo mistake.

Although i have resolved the issue, it was EKS networking issue. I dug deep into this and found that both the pools pods were not able to communicate with each other as the core-dns was getting scheduled only on one node pool.

So to fix this, i added a security group so that both the node pools can communicate with each other. Redeployed the metrics-server and

[2020-11-17 18:49] serathius commented on #648
Thanks for info. Closing issue

[2020-11-17 18:49] #648 closed

[2020-11-17 18:57] roy-tonal commented on #648
Adding this for users who can face this problem.

Scenario:-
In EKS if you are using both "Worker_groups" and "node_groups" which is self-managed and EKS-managed respectively, you can get into this issue, please make sure both the pool's nodes can communicate with each other ( You can use telnet or curl to verify the same ). If they are able to communicate, you won't face any problem, but if they

[2020-11-17 19:21] serathius commented on #638
Release done

[2020-11-17 19:21] #638 closed

[2020-11-17 19:49] serathius commented on #604
/cc s-urbaniak

I think fields selectors also have same problem. Metrics Server also allows to filter metrics using pods field selectors. As it doesn't make sense for metrics to use pod fields I think we should stop applying field selectors to pods, but use them on metrics.

@s-urbaniak @lavalamp WDYT?

I just want to make sure that field selectors would work with PodMetric and NodeMetric objects

[2020-11-17 20:53] #546 closed

[2020-11-17 21:26] casey-robertson commented on #588
I run that command and get:

[code]

[2020-11-18 03:44] zhanghba commented on #645
use tls and upgrade docker to 19.03 . then it's working.

[2020-11-18 03:44] #645 closed

[2020-11-18 06:52] Ayden-Franklin commented on #623
But I don't known how to fix this issue. I installed the latest version(0.4.1) today. There are logs from metrics-server:
[code]

And the  status of Metrics service:
[code]

I just applied the `components.yaml` file. Would you tell me how to change to support request?

[2020-11-18 12:36] kanthasamyraja commented on #652
Restart kubelet fixed the issue 👍

[2020-11-18 12:36] #652 closed

[2020-11-19 03:40] Ayden-Franklin commented on #623
I am writing here to provide detail information and steps:
####  Create the CA file and aggregator key pair.
[code]
Got those files:
- aggregator-ca.key
- aggregator-ca.srl
- aggregator-ca.pem
- aggregator.key
- aggregator.csr
- aggregator.pem
#### Configure kube-apiserver
With args:
[code]
Restart the kube-apiserver.
#### Deploy metrics-server
Create secret with aggregator CA file: `kubectl creat

[2020-11-19 04:14] Ayden-Franklin commented on #623
Yeah, I got it. There is a mistake in the kube-apiserver args. It needs `proxy-client-cert-file` and `proxy-client-key-file`. Sorry for that mistake. Thank you anyway.

[2020-11-19 05:37] Ayden-Franklin commented on #623
After I correct the `proxy-client-cert-file`, the 403 error disappears but the X509 certificate problem remains.

[2020-11-19 06:54] Ayden-Franklin commented on #623
Do I need to provide `--kubelet-certificate-authority`,`--kubelet-client-certificate`,`--kubelet-client-key` to solve this issue?

[2020-11-20 03:34] renich commented on #547
I am having the exact same issue here.

[code]

[2020-11-21 23:34] elijahomolo commented on #614
I was able to resolve this by removing the unnecessary selectors:

Previously:

[code]

Currently:

[code]

 Is there any specific reason why this would cause the service issue?

[2020-11-22 10:04] serathius commented on #614
For functioning Metrics API you need a service with at least one pod/endpoint to handle traffic. With wrong selectors (like above) metrics-server pod will not be considered to serve the API. Selectors need to match labels on pod.

What's wierd for me is that labels `app.kubernetes.io` was never part of MS manifests, so the bug could not come from incompatibility with previous version, but from mer

[2020-11-23 09:19] adil-bouchaara commented on #448
how to solve this in a managed k8s, EKS, AKS ..?

[2020-11-24 07:16] munipravy commented on #629
@serathius I am facing this issue with kubernetes cluster v 1.17, is this issue cluster version specific ?
If it is not cluster specific, can you please let me know how can I achieve HPA with Prometheus Adaptor ?

[2020-11-24 07:42] osaffer commented on #629
Do you at least get the metrics for pods and nodes ?

[2020-11-24 08:47] fliphess commented on #300
I would love to see this bug fixed in the documentation or the code.

[2020-11-24 10:12] serathius commented on #629
To my knowledge this bug is specific to 1.19. Please ask in original issue kubernetes/kubernetes#94281

For Prometheus issues please ask on https://github.com/DirectXMan12/k8s-prometheus-adapter

[2020-11-25 13:49] s-urbaniak commented on #604
So far I agree on this bug :+1:

I think this is a fair assertion. In contrast to labels metrics simply have different fields, hence they should be applied directly on the metrics objects instead on the underlying pods as it can be indeed very confusing.

My only concern is if there are any existing integrations that rely on the "buggy" behavior. Is it specified somewhere or just coincidentally im

[2020-11-25 23:26] serathius commented on #604
PR that introduced field selector https://github.com/kubernetes-sigs/metrics-server/pull/275 in v0.3.4
Original issue was about not respecting `fieldSelector: metadata.namespace==xyz`.

I think that field selectors were by mistake implemented on Pod Objects instead of PodMetric Objects due to copy pasting very similar logic for label selectors.

I don't expect `kubectl top` and HPA/VPA to depend o

[2020-11-26 10:15] dgrisonnet commented on #604
@serathius I tried to filter PodMetrics based on the pod `container.name` which resulted in the following error from the apiserver saying that it is not a known field selector.
[code]

Normally, there are more selection possibilities for pods but it seems that metrics-server only knows how to select pods based on their name and namespace. After looking at the codebase, it seems that only the first

[2020-11-26 12:26] serathius opened #656 "Create TOC (Table of contents) for Known Issues and FAQ"
To make TOC easy to maintain it should be autogenerated and validated to prevent it being out of date after a change.

We should
*  Add `make update-toc` - updates toc
*  Add `make validate-toc` - validates if toc is up to date with content
*  Make `make validate-toc` part of presubmit tests by adding it to `make validate`

When implementing I would look into how https://github.com/kubernetes/enha

[2020-11-26 13:14] #604 closed

[2020-11-27 11:16] debu99 commented on #247
if you use bitnami metrics-server, enable this even k8s > 1.18
 apiService:
    create: true

[2020-11-30 21:13] lavalamp commented on #604
Right, and they are a hand-curated list, so you needn't support them at all if you don't want to.

[2020-11-30 21:48] lboix commented on #637
@system-dev-formations when you described that pod, was it unhealthy and restarting in loop because of events `Readiness probe failed: HTTP probe failed with statuscode: 403` and `Liveness probe failed: HTTP probe failed with statuscode: 403` ?

[2020-11-30 23:46] serathius commented on #637
Please file separate issue

[2020-12-01 18:09] azepedaas commented on #237
Using EKS version 1.18 I was able to fix this by just adding `- --v=2` into the metrics-server container's argument, nothing else.
[code]

[2020-12-01 19:39] lboix commented on #637
@serathius I will you are right :)

[2020-12-03 10:25] #656 closed

[2020-12-04 15:59] baderbuddy commented on #572
@olemarkus it look like you were the only one that's offered to maintain this chart. I just wanted to offer that if you need any assistance I'm pretty experienced with Helm so I could help too.

[2020-12-04 16:52] chadlwilson commented on #572
We migrated to https://github.com/bitnami/charts/tree/master/bitnami/metrics-server (which gets regular upstream docker image rebuilds as well) since it was a bit worrying that this didn't seem to be getting the attention it needed.

I submitted a PR to merge the main delta I saw from this chart to that one (which was promptly merged); but interested in any thoughts others in the community might h

[2020-12-04 17:02] olemarkus commented on #572
Due to the time this has taken, my employer plan on using the built-in addon in kops 1.19 instead. I may still contribute to an official chart, but I don't think I can commit to being one of two main contributors.

[2020-12-04 18:21] hryamzik opened #660 "README links to a deprecated helm chart"
[Helm Chart](https://github.com/helm/charts/tree/master/stable/metrics-server) mentioned in README is deprecated and it's not clear what's the right replacement for it until #606 is merged.

[2020-12-04 19:56] jeff-french commented on #637
For anyone landing here from a search: I had the exact same 403 issue as @lboix above. Metric server was saying that the liveness and readiness requests to `/livez` and `/readyz` were unauthorized. I fixed it by adding `--authorization-always-allow-paths=/livez,/readyz` to the args in the `component.yml`.

[2020-12-04 21:23] lboix commented on #637
Works like a charm, thank for your help and time here @jeff-french !

[2020-12-07 03:19] chenlonglab198 commented on #99
Hi may i know why metric server will restart when metric server can't connect apiserver and also wondering how to increase the metric server pod log. Thanks a lot!

[2020-12-07 09:21] #636 closed

[2020-12-07 17:09] walkafwalka commented on #572
Our company avoids implementing services without official Helm charts. It is a sign of product maturity and we do not have the bandwidth or desire to maintain a chart that is compatibility with version releases. I will probably also look into bitnami's chart especially since it supports 0.4.0 but an official Helm chart is still preferred.

[2020-12-07 17:17] stefansedich commented on #572
Happy to throw my name in the ring to help with the chart @olemarkus @baderbuddy if that eases the burden to get this one out the door.

[2020-12-07 18:20] stevehipwell commented on #572
I'm happy to put myself forwards to help with this. I've already been involved with the [descheduler](https://github.com/kubernetes-sigs/descheduler) chart directly and have been part of the discussions around the [cluster-autoscaler](https://github.com/kubernetes/autoscaler) chart.

[2020-12-07 21:39] scottrigby commented on #572
Awesome. PS there's also a `kubernetes-sigs` org now at artifacthub.io - if maintainers in this org want to access that to add this chart (or @stevehipwell, also the descrheduler chart), lmk.

[2020-12-08 09:23] stevehipwell commented on #572
@scottrigby the descheduler chart repo is currently listed on [artifacthub.io](https://artifacthub.io/packages/search?page=1&repo=descheduler). My understanding is that the organisation would take ownership of the repo, do you have any more info on how this would work?

[2020-12-08 16:50] scottrigby commented on #572
@stevehipwell Yes. First, you must be a member of the org. By default (unless [fine grained permissions](https://github.com/artifacthub/hub/pull/655) are configured for the org using an OPA policy), members can add other members. I can help add whoever is responsible for this repo, and from that point on they can help to add other members as needed too. There is an expectation that trusted people

[2020-12-09 07:04] nrvnrvn commented on #310
@serathius as far as I can tell the issue was closed due to inactivity but it is still not fixed, right?

[2020-12-09 09:20] serathius commented on #310
Metrics Server v0.4.x uses newer version of apiserver which allows overriding suites using `--tls-cipher-suites` flag.

Default MS configuration is still vulnerable to SWEET32, but now you can fix that by providing command line flag as described by @robbiezhang in https://github.com/kubernetes-sigs/metrics-server/issues/310#issuecomment-678411079

I think we should still secure the default configu

[2020-12-10 14:38] Sapd opened #661 "Using a different API endpoint - kubeconfig parameter ignored"
Hello

My managed kubernetes provider requires, that pods use a specific k8s API endpoint. E.g. https://providerurl:6443
As such I created a configmap, mounted it in the metrics-server pod and - like in the documentation stated (via --help paramater) - I used the --kubeconfig= parameter. However it seems to be ignored.

(Full config in the manifest spoiler)
[code]

---
As you can see in the log-me

[2020-12-10 18:46] #550 closed

[2020-12-11 03:45] HhhuYu commented on #637
@jeff-french that works for me, Thank you!

[2020-12-11 03:57] sawyerwu commented on #614
Hello, I got almost the same issue here. It was in kubeadm1.19.4 and metrics-server v0.4.1.

`
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.4", GitCommit:"d360454c9bcd1634cf4cc52d1867af5491dc9c5f", GitTreeState:"clean", BuildDate:"2020-11-11T13:17:17Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Mi

[2020-12-11 04:12] sawyerwu commented on #614
Hi, I'm also running into a similar issue here, and the result of kubectl describe apiservice v1beta1.metrics.k8s.io is the same with @elijahomolo, and I'm using the kubeadm1.19.4 and metrics-server v0.4.1
The results from kubectl describe pod metrics-server-8545bf4d7-ssczf -n kube-system are:
[code]
Anyone can have a look? I don't know how to deal with the probe failed issue.

[2020-12-11 08:41] serathius commented on #614
Failing probes can be caused by multiple different factors, for example in case of @elijahomolo it was conflict with previous installation. Please let's focus this issue on resolving problem of original author @devlifealways.

@sawyerwu To understand cause for your case we need much more debug information. Please file a separate bug and fill the bug template there. It should give you list of thing

[2020-12-11 09:01] KeithTt commented on #525
Same issue here,  is there any update?

[2020-12-11 09:38] KeithTt commented on #614
Same issue here, here is the result of `kubectl describe apiservice v1beta1.metrics.k8s.io`:
[code]

@serathius Something wrong with the port name, but I do not know how to modify the yaml file, need your help.

[2020-12-11 09:41] sawyerwu commented on #614
@KeithTt I solved this problem by adding - --kubelet-insecure-tls in the args, you can have a try.

[2020-12-11 09:55] KeithTt commented on #614
It works, thanx a lot.

But I guess it has not been resolved completely...

[2020-12-15 14:39] #494 closed

[2020-12-16 00:30] meshudn commented on #525
I am also having the same issue, any update?

[2020-12-16 09:27] serathius commented on #525
Please file a separate issue

[2020-12-16 10:51] dgrisonnet commented on #559
@serathius I am interested in taking over this issue, is it still looking for help?

[2020-12-16 11:03] serathius commented on #559
Yes, I would propose to look into https://github.com/kubernetes-sigs/metrics-server/issues/567 first as it is required for this issue

[2020-12-16 11:23] dgrisonnet commented on #567
Assigning myself to this issue as per https://github.com/kubernetes-sigs/metrics-server/issues/559#issuecomment-746108579.

/assign

[2020-12-16 14:20] ltmleo commented on #196
Actually in the new version, is just add it to args
- args:
        - --cert-dir=/tmp
        - --secure-port=4443
        - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
        - --kubelet-use-node-status-port
        - --kubelet-insecure-tls

Thank you, solved my problem!

[2020-12-16 18:45] peteroneilljr commented on #525
I got this working for me by adding a couple of args to the container spec in the deployment. I found this answer in another GitHub ticket I believe but don't remember where.

          - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
          - --kubelet-insecure-tls

[code]

[2020-12-18 13:32] cpanato commented on #572
We can host the helm chart similar to the [dashboard](https://github.com/kubernetes/dashboard) is doing https://github.com/kubernetes/dashboard/tree/master/aio/deploy/helm-chart

what do you think?

[2020-12-18 23:37] hrishikeshnerurkar commented on #588
The above command needs to check for "v1.metrics.k8s.io" as that's name of the apiservice. However, upon running the describe command as ```kubectl describe apiservice v1.metrics.k8s.io```, I see following output:

[code]

Not sure what's the issue.

[2020-12-19 20:31] scottrigby commented on #572
@cpanato Can you summarize the differences between https://github.com/helm/charts-repo-actions-demo and how kubernetes/dashboard is hosting a helm repo? There have been a number of kubernetes projects now hosing their own helm chart, and each do it a little differently, which is ok. But it may be helpful to arrive at and recommend a common pattern for other k8s projects who want to host their own

[2020-12-20 04:26] #547 closed

[2020-12-20 14:36] #447 closed

[2020-12-20 14:50] cpanato commented on #572
@scottrigby makes total sense, lets first check if the way we are trying for will work, then we can suggest a recommended way because I think that pattern will be easier compared with the one I wrote above.

[2020-12-20 16:26] scottrigby commented on #572
@cpanato perfect. @torstenwalter compiled a good step-by-step guide based on work I and he had done on this for various community chart repos: https://github.com/torstenwalter/helm-chart-hosting. This includes how to port over git history using existing tools, and also package history using a tool I wrote. And setting up CI/CD with Helm GitHub actions.

I don't think it includes steps for charts t

[2020-12-20 20:06] deenu7724 commented on #448
I have Added --enable-aggregator-routing = trueto the kube-apiserver option. and getting error

panic: unable to load configmap based request-header-client-ca-file: Get "https://10.96.0.1:443/api/v1/namespaces/kube-system/configmaps/extension-apiserver-authentication": dial tcp 10.96.0.1:443: connect: connection refused

[2020-12-21 20:47] xueshanf commented on #588
I am using bitnami/metrics-server helm chart and running into same problem with chart v5.3.3, app version 0.4.1. It seems that I need to enable v1beta1.metrics.k8s.io apiService to make it work.

[2020-12-22 07:23] swartz-k opened #665 "mainfests base deployment need selector"
**What happened**:
cannot use file `manifests/base/deployment.yaml` to deploy metrics server

**What you expected to happen**:
use file `manifests/base/deployment.yaml` to install deployment

**Anything else we need to know?**:
steps to reproduce errors

`kubectl apply -f https://raw.githubusercontent.com/kubernetes-sigs/metrics-server/master/manifests/base/deployment.yaml`

you will get
[code]

k

[2020-12-26 22:34] supersaeyan commented on #133
I am running a 1.18.13 k8s cluster created by KOPS V1.18.2 and followed [this guide](https://github.com/kubernetes/kops/tree/master/addons/metrics-server) from the official kubernetes repo.

If this issue has been labelled as "support" due to other priorities, why not just write a new guide since the previous one doesn't work, documenting the setup process and manual intervention/deviation require

[2020-12-26 22:43] padmakumar05 opened #666 "problem with kubectl top when using containers=true option"
# kubectl top pod -A --containers=true  --no-headers=true --sort-by=cpu
kube-system   coredns-66bff467f8-l8vcd               coredns                   5m    10Mi
kube-system   coredns-66bff467f8-ll2sz               coredns                   4m    10Mi
kube-system   etcd-k8s-master-0                      etcd                      22m   51Mi
kube-system   kube-apiserver-k8s-master-0            kube-

[2020-12-26 22:51] supersaeyan commented on #133
For the time being, Here's a fix that i found,

Official kubernetes repo has a [guide](https://github.com/kubernetes/kops/tree/master/addons/metrics-server) but it's a bit outdated.

After enabling kubelet webhook authentication,

You can install metrics-server on a 1.18+ k8s cluster using
kubectl apply -f https://raw.githubusercontent.com/kubernetes/kops/master/addons/metrics-server/v1.8.x.yaml

[2020-12-30 22:47] Type1J commented on #247
I only needed `--kubelet-preferred-address-types=InternalIP` to fix it. With the Terraform Helm Provider the value must be an array, which uses `{` and `}` and values are separated by `,`.

[code]

[2020-12-31 01:33] caleb15 commented on #572
For other people who come across this issue looking for a helm chart, note that linting fails with the [helm stable](https://github.com/helm/charts/tree/master/stable/metrics-server) and [bitnami](https://github.com/bitnami/charts/tree/master/bitnami/metrics-server) chart if you have the newer helm/helmfile versions. If you use helm v3.2.4 and helmfile v0.119.1 then it works.

Related issue: https

[2021-01-02 17:32] schollii opened #667 "Simplify secure installation of metrics server"
**What would you like to be added**:

Given that metrics-server is mentioned in a lot of places in kubernetes official docs and is necessary for horizontal pod autoscaling, the kubernetes dashboard, etc, one of 2 things should be done:

1. The docs at https://github.com/kubernetes-sigs/metrics-server/blob/master/FAQ.md#how-to-run-metrics-server-securely should provide actual steps needed to instal

[2021-01-05 11:22] wajika opened #668 "metrics.k8s.io/v1beta1: the server is currently unable to handle the request"
I plan to launch a monitoring stack. After installing Prometheus operator and metric server, I find that when operating kubectl command (kubectl get pod/node, kubectl top ....) , the return result is always very slow.

kubeadm version:
[code]

metric version: 0.3.6

I opened the log to record a problem

[code]

apiserver log
[code]

kubectl describe apiservice v1beta1.metrics.k8s.io

[code]

contr

[2021-01-05 19:48] mikedanese commented on #310
Having 3DES enabled can trip automated vulnerability scanners, but it is not a vulnerability in itself and PCI compliance does not require that it be disabled. 3DES is not used with any client that supports anything better and all modern clients (e.g. all Kubernetes core clients) will negotiate the use of modern ciphers. Having 3DES enabled on a server does not compromise the security of clients u

[2021-01-05 19:52] mikedanese commented on #310
FWIW, I'll also add:

I would expect disabling 3DES suites here would be exceedingly unlikely to break anyone given that virtually all requests to metrics-server come from kube-apiserver and are secured with AES-128-GCM. That reduces the risk, but also reduces the benefit.

[2021-01-06 07:44] wajika commented on #668
hi @serathius can you have a look?

[2021-01-06 09:09] serathius commented on #668
Your prometheus-operator configured Metrics to be served from k8s-prometheus-adapter and not metrics server. You can see that in results of `kubectl describe apiservice v1beta1.metrics.k8s.io`, where Metrics API points to `prometheus-adapter` service and not `metrics-server` service.

Please fix prometheus-operator configuration or disable it. Best to look into https://github.com/prometheus-operat

[2021-01-06 09:09] #668 closed

[2021-01-06 17:30] pierluigilenoci commented on #572
I wouldn't bother but I really need an official chart for the metrics server. Is there any news?

[2021-01-07 12:41] serathius commented on #665
Since 0.4.0 this is no longer correct way to install Metrics Server.
Please read updated installation documentation https://github.com/kubernetes-sigs/metrics-server#installation

Now files in `manifests` directory follow Kustomize convention. https://kustomize.io/

[2021-01-07 12:41] #665 closed

[2021-01-07 16:27] MMichael-S commented on #166
@hshtel
having the same issue, did you get it work?

[2021-01-07 22:47] #476 closed

[2021-01-10 10:34] nrvnrvn commented on #310
I tend to agree that deviating from the go stdlib defaults may be more critical. Especially given that there is a handy option to opt in and explicitly set cipher suites for virtually any Kubernetes component for those cases where disabling weak ciphers is a hard requirement.

An upstream issue worth following:
https://github.com/golang/go/issues/41476

[2021-01-12 10:08] stevehipwell commented on #572
As PR https://github.com/kubernetes-sigs/metrics-server/pull/606 has been closed and in the interest of getting ourselves off the deprecated stable repo I'd be willing to create a PR to add a Helm chart to this repo if the maintainers are OK with that?

[2021-01-12 10:25] cpanato commented on #572
@stevehipwell I think that is ok from my side, but I'm not a maintainer

however as soon you open that I will do the infra side of things :)

[2021-01-12 10:42] stevehipwell commented on #572
@cpanato are we looking at the same workflow (GitHub actions) that's used for _descheduler_ and _cluster-autoscaler_ (I've worked on both) or another one?

[2021-01-12 13:08] fardin01 commented on #188
This is the solution only when the metrics-server runs on EKS.

[2021-01-15 17:37] stevehipwell commented on #572
Are there any maintainers who would like to comment on this?

[2021-01-19 21:03] jdambly commented on #572
@olemarkus my company also requires that all add-ons be deployed with helm, so I am happy to assist as well. I just need to get plugged into the community. please let me know what I can do to help.

[2021-01-20 04:25] bklooste commented on #614
Had exactly the same issue from a clean cluster on docker for desktop and doing

kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml

the args  --kubelet-insecure-tls did fix it.

[2021-01-20 13:59] stevehipwell commented on #572
@cpanato due to the lack of comments I'll go ahead and create a PR for the chart and then see where we go from there.

[2021-01-26 12:45] Sliuza commented on #572
@stevehipwell , did you have any progress? I'm also interested on this and I can help with the PR.

[2021-01-26 13:49] stevehipwell commented on #572
I'm planning on creating the PR this week.

[2021-01-27 21:16] edwardfberliner commented on #131
I tried this suggestion and it worked for me.

My problem:
All my nodes have same InternalIP (10.0.2.15) due to VirtualBox/NAT configuration so with `--kubelet-preferred-address-types=InternalIP` my metrics-server could only query it's own node.  I then tried `--kubelet-preferred-address-types=Hostname`
 but DNS was resolving the hostname (when I used nslookup on the DNS server it returned an inco

[2021-01-28 15:33] lechen26 opened #669 "GKE HPA unable to fetch metrics from external metrics API"
Hi

i have GKE v1.17.14-gke.400
its installed by default with metric servier v0.3.6
i recently see a lot of issues where HPA are failing to fetch custom metrics and i see the following errors:

`unable to fetch metrics from external metrics API: the server is currently unable to handle the request (get custom.googleapis.com|rabbitmq|queue_messages.external.metrics.k8s.io)`

also the following
`una

[2021-02-01 08:52] stevehipwell commented on #572
I'm waiting on feedback for PR https://github.com/kubernetes-sigs/metrics-server/pull/670.

[2021-02-01 16:16] ialidzhikov opened #671 "Failed to make webhook authorizer request: Post "https://10.223.0.1:443/apis/authorization.k8s.io/v1/subjectaccessreviews": context canceled"
**What happened**:

During rolling update of Nodes metrics-server is unavailable for 15-20 minutes.

See the metrics-server logs below.

[metrics-server.log](https://github.com/kubernetes-sigs/metrics-server/files/5905083/metrics-server.log)

The following logs are repeating

[code]

**What you expected to happen**:

metrics-server to be available during rolling update of Nodes.

**Anything else w

[2021-02-01 16:21] ialidzhikov commented on #671
@p0lyn0mial @deads2k I believe this is related to https://github.com/kubernetes/kubernetes/pull/95725. `metrics-server@v1.19.2` still vendors `k8s.io/apiserver@v0.19.2` which does not contain cherry-pick of https://github.com/kubernetes/kubernetes/pull/95725. Can you confirm that it might be the case?
I tried the same procedure with metrics-server that vendors `v0.19.7` (instead of `v0.19.2`) and

[2021-02-01 21:32] ialidzhikov commented on #671
I verified that with #672 this issue is no longer reproducible.

[2021-02-02 20:07] kingdonb commented on #247
I am on kubeadm `v1.20.2` with a matching kubectl and I had to set `apiService.create: true` as @debu99 suggested.

This is in conflict with the docs in `values.yaml` which are maybe incorrect

[code]

Else I ran into `error: Metrics API not available`

While that's not the subject of this issue report, this issue is one of the top results for "error: Metrics API not available" and it helped me, s

[2021-02-03 10:44] balainit commented on #131
[root@k8s-master1:~]# kubectl get svc -n kube-system -o wide

NAME             TYPE        CLUSTER-IP     EXTERNAL-IP   PORT(S)                  AGE   SELECTOR
kube-dns         ClusterIP   10.96.0.10     <none>        53/UDP,53/TCP,9153/TCP   20d   k8s-app=kube-dns
metrics-server   ClusterIP   10.99.131.42   <none>        443/TCP                  20d   k8s-app=metrics-server

[root@k8s-master1:~]#

[2021-02-03 21:50] edwardfberliner commented on #131
some other things to try:

verify that 192.x.x.x IP addresses are in pod network; check kube-controller-manager process: "--cluster-cidr=" option which was configured during kubeadm init with "--pod-network-cidr" option

verify that pod network was configured to use correct interface in each node (e.g. flanneld command has an "--iface option); I had to change my daemonset/kube-flannel-ds configura

[2021-02-05 13:55] serathius commented on #669
Metrics Server is not responsible for External Metrics API. Please take a look into:
* https://github.com/GoogleCloudPlatform/k8s-stackdriver/blob/master/custom-metrics-stackdriver-adapter/README.md for GCP Cloud Monitoring
* https://github.com/kubernetes-sigs/prometheus-adapter for Prometheus
* or any other adapter provided by your monitoring vendor

[2021-02-05 13:55] #669 closed

[2021-02-05 14:04] serathius commented on #671
Thanks for reproducing, and PR. Will try to merge it and cut new patch version.

[2021-02-05 16:27] serathius opened #674 "Release v0.4.2"
/cc @s-urbaniak

# Changelog since v0.4.1

* Prevent SubjectAccessReview requests to hang forever (@ialidzhikov)

[2021-02-05 16:40] serathius commented on #671
Fix was added for v0.4.2 release tracked in https://github.com/kubernetes-sigs/metrics-server/issues/674
With release in progress I'm marking this bug as fixed

[2021-02-05 16:40] #671 closed

[2021-02-05 16:42] serathius commented on #674
Tag pushed, waiting for images to be build.

[2021-02-05 17:25] serathius commented on #674
Image is available as gcr.io/k8s-staging-metrics-server/metrics-server:v0.4.2
Working on promotion

[2021-02-05 17:44] serathius commented on #674
Promotion PR https://github.com/kubernetes/k8s.io/pull/1613

[2021-02-05 18:39] ialidzhikov commented on #674
@serathius , thank you for driving this! Appreciate it! 🙇‍♂️

[2021-02-08 12:13] serathius commented on #674
Release done, Need only to send annoucement email. Will do it tomorrow

[2021-02-09 11:31] #310 closed

[2021-02-12 15:38] serathius commented on #674
Announcement sent

[2021-02-12 15:38] #674 closed

[2021-02-13 13:30] serathius commented on #627
/remove-lifecycle stale
/lifecycle frozen

[2021-02-13 14:13] serathius commented on #576
/remove-lifecycle stale

[2021-02-13 14:15] serathius commented on #558
closed by https://github.com/kubernetes-sigs/metrics-server/pull/643

[2021-02-13 14:15] #558 closed

[2021-02-13 14:15] serathius commented on #557
/remove-lifecycle stale

[2021-02-13 14:16] serathius commented on #556
/remove-lifecycle stale

[2021-02-13 14:18] serathius commented on #552
/remove-lifecycle stale

[2021-02-13 14:19] serathius commented on #545
/remove-lifecycle stale
ping @liggitt

[2021-02-13 14:19] serathius commented on #394
/remove-lifecycle stale

[2021-02-13 14:22] serathius commented on #392
/remove-lifecycle stale

[2021-02-14 08:35] raspitakesovertheworld commented on #448
Yep, same exact error here after adding --enable-aggregator-routing = true
Why is this breaking, how to fix it?
The link above about the aggregation layer: I'm wondering is it possible to just use the metrics server without reading 20 pages documentation about that layer before?

[2021-02-15 08:44] chevdor commented on #614
I ran into the same issue and the solution from @bklooste did work for me:
- delete the `metrics-server` deployment
- `kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml`

[2021-02-15 15:07] liggitt commented on #545
redirect to @deads2k

[2021-02-20 09:47] #19 closed

[2021-02-21 17:39] serathius commented on #666
This issue doesn't describe what is the problem and nor why Metrics Server is source of it. Please file a new issue describing what is the problem in k/k repo.

[2021-02-21 17:39] #666 closed

[2021-02-21 17:46] serathius commented on #661
/triage accepted

[2021-02-21 17:59] serathius commented on #661
Tried to reproduce the issue with `--kubeconfig=foobar.conf`, looks like it works as expected.
Used image: k8s.gcr.io/metrics-server/metrics-server:v0.4.1

Logs
[code]

[2021-02-21 18:01] serathius commented on #661
Tried to use manifests provided by author of issue, got
[code]

[2021-02-21 18:03] serathius commented on #661
Don't see any traces of the problem described in issue.
@Sapd can you provide more information about how exactly this happens?

[2021-02-21 18:32] serathius commented on #623
If kubelet uses self-signed certificates then yes, you need to provide them to metrics server. Alternative is to use `--kubelet-insecure-tls`

[2021-02-21 18:33] serathius commented on #623
Closing the issue as original problem was fixed

[2021-02-21 18:33] #623 closed

[2021-02-21 18:38] serathius commented on #614
Closing issue as original author didn't respond and issue seems to be resolved in other cases. If problem was not resolved, please create separate issue and provide all nesesery information for debugging.

[2021-02-21 18:38] #614 closed

[2021-02-21 18:39] serathius commented on #607
Closing due to lack of response from author

[2021-02-21 18:39] #607 closed

[2021-02-21 18:42] serathius commented on #588
Ok, I see what's the problem. Metrics API was never graduated to `v1`, but Service provided uses `v1.metrics.k8s.io`. This api will not work as `kubectl` and Metrics Server don't implement it.

Please downgrade to `v1beta1`. How apiservice should look like:
[code]

[2021-02-21 18:43] serathius commented on #588
Closing issue as resolved, feel free to reopen if problem still persists.

[2021-02-21 18:43] #588 closed

[2021-02-21 18:45] serathius commented on #543
Closing due to lack of response from author.

[2021-02-21 18:45] #543 closed

[2021-02-21 18:53] serathius commented on #541
I think problem was resolved by https://github.com/kubernetes/kops/pull/10022 on kops side and https://github.com/kubernetes-sigs/metrics-server/pull/589 on Metrics Server side.

Feel free to reopen if problem still persists.

[2021-02-21 18:53] #541 closed

[2021-02-23 05:43] hmahdiany commented on #196
same problem. "--kubelet-insecure-tls" solved it.
Thank you.

[2021-02-23 15:52] hryamzik commented on #660
Actual progress is in #670, closing this issue as there's def no other chart atm.

[2021-02-23 15:52] #660 closed

[2021-02-24 06:13] pacoxu commented on #559
/cc

[2021-02-24 08:30] x1wins commented on #188
original
- https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml

added ```--kubelet-insecure-tls```
-  https://github.com/x1wins/CW-OVP/blob/master/k8s-manifests/components.yaml

```kubectl create -f https://raw.githubusercontent.com/x1wins/CW-OVP/master/k8s-manifests/components.yaml```

[2021-02-25 08:55] evgf commented on #543
The EKS clusters using the CNI networking may experience this issue when the metrics server pod runs in the secondary network. As @ravigude pointed out, you can enable host networking for the metrics server that always brings it to the main network. If you already have an installation (for example deployed without Helm based on the AWS docs), you can simply edit the metrics server deployment **kub

[2021-03-03 21:07] rbs4ba opened #687 "Readiness Probe Failing with "last tick wasn't healthy""
**What happened**:
`metrics-server` is failing readiness checks to `/readyz` on some of our clusters
[code]

**Anything else we need to know?**:
The same application + chart version works on all of our other clusters. There's something broken in this cluster specifically causing metrics-server to fail the `/readyz` call. What does `last tick wasn't healthy` mean? Where can we look further to inves

[2021-03-06 11:23] Sapd commented on #661
I think you propably get the error, because your API server is available under the default URL.

Yes, I used the correct manifests, also double-checked by my collegues.
The error happens, when the API server of the Kuberentes Cluster is not available on the default IP. But must be specified via kubeconfig.conf and server: server
In the metrics server, there must be some place, which does not respe

[2021-03-06 12:44] serathius commented on #661
ok, I think I understand. In my case I deployed in cluster where default K8s credentials were pointing to correct Apiserver, that's why in my case checking `request-header-client-ca-file` succeeded. Thanks for explanation.

Great to hear that this no longer affects you, still I will try again to reproduce to make sure we fix it for other.

[2021-03-07 09:00] serathius opened #688 "Simplify configuration of Metrics Server"
**What would you like to be added**:

Deploying Metrics Server requires more configuration then needed. For metrics server to run in cluster administrator needs to:
* Ensure that Node has IP address set that is reachable from Metrics Server
* Set insecure TLS flag or provide certificate, public key if Kubelet uses certificate not signed by apiserver
* Change deployment to run in host network if co

[2021-03-07 09:06] serathius commented on #648
Awesome write up. Thanks for help

[2021-03-08 17:42] rbs4ba commented on #687
Update, we have realized that somehow the metrics-server appears to be scraping an outdated list of nodes. As in, the metrics-server logs are printing messages like:
[code]
and the nodes that metrics-server is failing to scrape are old nodes that have since been terminated/removed from the cluster.

[2021-03-08 18:44] serathius commented on #687
Readiness probe requires at least one successful metric collection from Kubelet from last collection cycle (tick).

At first look it's hard to pinpoint what is the problem, based on your last comment it looks like node list cache is outdated, but I don't see any logs related to that. I would also expect that `informers` probe start failing

[2021-03-09 16:04] rbs4ba commented on #687
So the error `[-]readyz failed: last tick wasn't healthy` means that MS was not able to collect any metrics from Kubelet? We have tried doing a completely fresh deploy, and the problem still persists.

I should update my previous comment, that log of MS scraping an old node was outdated and on a "working" copy of MS. MS logged that just as a node was cycling down. In most of our clusters, MS is wo

[2021-03-09 17:05] serathius commented on #687
Ok, so your MS cannot become ready because it fails to scrape at least one node in cluster (it doesn't make sense for it to serve traffic if it doesn't have data to serve).
Problem is `dial tcp: lookup <work_node> on <node>:<port>: no such host`

Can you check if `<worker_node>` is resolvable in your cluster? I would recommend switching to IP address by passing `--kubelet-preferred-address-types=I

[2021-03-10 03:52] Myrecord opened #689 "Inaccurate memory metrics"
Version: metrics-server-v0.4.2
       OS：centos7.6
k8s version：1.18.3

The memory usage is inaccurate, and it is actually higher than this information.

![WechatIMG20606](https://user-images.githubusercontent.com/16952670/110573925-18242980-8197-11eb-95c6-c2ba4366c331.jpeg)

[2021-03-10 08:29] serathius commented on #689
https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/#memory

[2021-03-10 08:29] #689 closed

[2021-03-10 18:44] rbs4ba commented on #687
Alright, we fixed it. In short, using the above arg (`--kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname`) fixes the issue. We used a subset of the options; it just depends on your setup.

The original problem is that somehow our worker nodes in these clusters had a mismatched hostname configuration. Which ultimately led to them not being resolvable, which of course prevented metrics

[2021-03-10 18:44] #687 closed

[2021-03-10 19:09] rbs4ba commented on #687
Although, something did occur to me. Any idea if something change recently around this? As far as we can tell, the nodes in this cluster might have been misconfigured like this for quite some time. But metrics-server only broke for us recently

[2021-03-10 19:34] serathius commented on #687
I cannot comment on why the Metrics Server broken without getting idea of what changes were made to cluster. Please remember that your using an unofficial MS distribution by Bitnami, so I cannot comment on changes made by them.

[2021-03-13 08:56] 20100507 opened #692 "not creating stats for kubernetes 1.19.8"
[code]
The apiserver and kubelet and calico configurations (the only difference is that the vmware virtual machine uses the bgp mode, and the online environment uses the ipip mode) are all the same, and the metric-server service on my vmware server runs normally and is printed out The startup address is [::]443, but because the online server does not have ipv6, the print shows 0.0.0.0:443 and the

[2021-03-13 09:46] serathius commented on #692
Metrics Server logs clearly state this is a network problem:
[code]
Please explain why you think there is a bug in MS. Please also fill the [Bug report issue template](https://raw.githubusercontent.com/kubernetes-sigs/metrics-server/master/.github/ISSUE_TEMPLATE/bug-report.md)

[2021-03-15 02:48] 20100507 commented on #692
https://docs.projectcalico.org/networking/mtu

Modify the mtu value and it will be normal.

[2021-03-15 02:49] #692 closed

[2021-03-15 16:46] serathius commented on #384
/remove-lifecycle rotten

[2021-03-15 16:46] serathius commented on #384
/lifecycle frozen

[2021-03-16 11:15] icy commented on #667
I'm here writing that I have got stuck with version 0.4.2 of metrics-server, couldn't get it to work on eks. The requirements section is now just a lot longer than before: https://github.com/kubernetes-sigs/metrics-server#requirements :(

[2021-03-16 11:31] serathius commented on #394
Fixed by https://github.com/kubernetes-sigs/metrics-server/pull/651

[2021-03-16 11:31] #394 closed

[2021-03-16 11:37] icy commented on #637
Thanks a ton! I have spent more than 2 hours on the issue before reaching out to your note. Oh my update!

[2021-03-16 14:31] serathius commented on #567
/remove-lifecycle stale

[2021-03-17 09:49] serathius commented on #545
ping @deads2k

[2021-03-18 05:43] akshaysharama opened #693 "Metrics discrepancy for Memory in metric-server and top command."
**What happened**:
We are monitoring pods running in Kubernetes using metric server and analyzing the same in grafana.
As could see, using kubectl top command, seeing mem and cpu info in Mebibyte and Millicore respectively. show in below.
kubectl top pods test-0
NAME CPU(cores) MEMORY(bytes)
test-0 3m 335Mi

Prometheus reading the metrics, and updating the cpu and memory in nanocore and kebibytes

[2021-03-18 09:14] Juludut commented on #145
Hi there,
Writing this here if it may help anyone else hitting this problem.

We had similar problems and it was also a MTU issue : while upgrading the underlying virtualization infrastructure of the kubernetes nodes, the nodes lost their MTU (8950) for a too little MTU (1450), which caused TLS packets to be too large - thus these messages (and a lot of other erratic errors).
Putting back the righ

[2021-03-18 11:00] serathius commented on #693
What is `kube_metrics_server_pods_mem` metric? We don't provide such metric.

[2021-03-18 15:07] akshaysharama commented on #693
we are querying metric-server-expoter, and it is giving this metrics "kube_metrics_server_pods_mem"
 ex
kube_metrics_server_pods_mem{pod_container_name="metrics-server-exporter",pod_name="metrics-server-exporter-679fbdd76c-l2fdj",pod_namespace="kube-system"} 16696.0

[2021-03-18 15:35] serathius commented on #693
metrics-server-exporter is not maintained by this repository, nor by Kubernetes at all Community. Ingesting resource usage metrics from Metrics Server to Monitoring Systems is also discouraged as those metrics should be collected from Kubelets.

I would encourage you to file an issue to the repository where metrics-server-exporter comes from.

[2021-03-18 15:35] #693 closed

[2021-03-19 15:46] Jyotshna9 opened #694 "[Fargate] Missing metrics about Metrics Server itself"
Hello ,

I have installed metricsserver on AWS EKS Fargate .
I am able to get metrics for all pods except metrics-server

Kubernetes version - 1.19 (AWS EKS Fargate)
Metrics server version -   k8s.gcr.io/metrics-server/metrics-server: v0.4.2

metrics-server pod yaml
[code]

[code]

Getting metrics of kubernetes-dashboard node and pod
[code]

Error while getting metrics of metrics-server
[code]

Er

[2021-03-19 16:40] serathius commented on #694
Have you tried running `curl https://172-23-155-52:10250/stats/summary?only_cpu_and_memory=true`?
I don't think `172-23-155-52` is correct domain, just incorrect address configuration on nodes.

Metrics Server connects to nodes via address provided in Node status objects. There are multiple addresses so `--kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname` sets preference which should

[2021-03-19 17:04] Jyotshna9 commented on #694
sorry Serathius .
It's a typo error.
It's not https://172-23-155-52:10250/stats/summary?only_cpu_and_memory=true but https://172.23.155.52:10250/stats/summary?only_cpu_and_memory=true

Please find the below output
[code]

[2021-03-20 08:10] TBSnapLogic opened #695 "HPA scale up works but in Metric Server CPU data metrics not right"
**What happened**:
HPA based on CPU works, but the metrics from HPA were incorrect.

**What you expected to happen**:
The metrics should be correct.

**Anything else we need to know?**:

I install the Metrics Server by this command
[code]

Below is what I query from HPA, you can see, the metrics shows never above the target, but my HPA can scale up.
[code]
When I query the data from Prometheus, I

[2021-03-20 15:49] serathius commented on #695
HPA is evaluated/updated on periodic cycle. Not sure how your controller manager is configured but I have seen configuration between 15s to 1 minute.

Closing as issue is about HPA and not Metrics Server, feel free to reopen it with evidence about problem with metrics server.
If you have questions about how Metrics Server metrics are calculated please check out our [FAQ](https://github.com/kuberne

[2021-03-20 15:49] #695 closed

[2021-03-24 02:32] eduardobaitello commented on #300
Same problem here when using Minikube with `minikube addons enable metrics-server`.

When a pod restart, metrics become available for 2 minutes in `kubectl top`. After this time the `error: Metrics not available for pod` problem starts.

[2021-03-24 08:36] serathius commented on #300
Minikube addon for metrics-server is maintained by minikube. Please post issues related to addon on https://github.com/kubernetes/minikube

[2021-03-28 10:54] ArunaLakmal commented on #196
I had the same problem and in my case it resolved after removing the "ExternalIP and Hostname" part and only used `--kubelet-preferred-address-types=InternalIP` in my metrics-server deployment. I hope this helps.

[2021-03-29 12:42] pierluigilenoci commented on #572
@stevehipwell another two months and no progress. 😢

[2021-03-29 12:45] stevehipwell commented on #572
@pierluigilenoci I know. I'm resisting putting it in my own chart repo as I'd much rather it was alongside the code and maintained as a single unit.

[2021-03-30 02:18] lx1036 commented on #196
--kubelet-insecure-tls  is just for testing purpose only. it just skip the issue, not resolve it totally.

[2021-04-01 16:23] ludydoo opened #696 "AKS - error creating self-signed certificates: mkdir apiserver.local.config: permission denied"
**What happened**:
Not sure. We run metrics-server in 3 AKS clusters (1.20.2). One of them has an infinite CrashLookBackoff, with the `AKS - error creating self-signed certificates: mkdir apiserver.local.config: permission denied` error.

**What you expected to happen**:
Not CrashLoopBackoff

**Anything else we need to know?**:
Not really. Haven't touched the default metrics-server at all. It's al

[2021-04-01 16:43] serathius commented on #696
Is metrics server configuration is AKS managed, then please file the issue to AWS support.

[2021-04-07 19:57] nwsparks commented on #694
@Jyotshna9 I had the same issue and opened a ticket with AWS support. This was their reply:

[2021-04-08 09:27] Jyotshna9 commented on #694
With your reply , I came to know why this error is coming.
Thanks a lot for sharing the information.

[2021-04-09 10:34] stevehipwell commented on #572
I've released my own version of the chart which I will deprecate when #670 is merged.

https://artifacthub.io/packages/helm/stevehipwell/metrics-server
https://github.com/stevehipwell/helm-charts/tree/master/charts/metrics-server

[2021-04-11 22:04] lauchokyip commented on #300
@eduardobaitello  Having the same issue on minikube, had to downgrade minikube to version 1.18

[2021-04-15 04:21] nodesocket opened #697 "How to specify flags when installing"
Using the one-liner install command:

[code]

How do I specify flags such as `--kubelet-insecure-tls`?

[2021-04-15 16:27] mrliptontea opened #698 "Liveness and Readiness probes failing, pod keeps restarting"
**What happened**:

Today one of our apps in Kubernetes received unusually high load, at one point it was scaled to 32 replicas which also has triggered the Autoscaler to add an additional Node. Since then, the Metrics server keeps restarting with failed probes, and we keep getting KubePodCrashLooping and AggregatedAPIDown alerts. The issue continues a long time after the load has returned to norm

[2021-04-15 18:12] jackson541 commented on #697
Hello.
You can edit a deployment file using `kubectl -n kube-system edit deploy  <name of deployment>`
In this case, use: `kubectl -n kube-system edit deploy metrics-server`

[2021-04-15 20:24] #697 closed

[2021-04-16 09:08] beyondyinjl2 opened #699 "How Metrics Server gets the disk"
supports CPU/Memory/Storage, but I don't see Storage.
kubectl top -h:
Display Resource (CPU/Memory/Storage) usage.
Available Commands:
  node        Display Resource (CPU/Memory/Storage) usage of nodes
  pod         Display Resource (CPU/Memory/Storage) usage of pods
But no disk information:
kubectl top node:
NAME          CPU(cores)   CPU%   MEMORY(bytes)   MEMORY%
edge-node-1   2510m        62%

[2021-04-16 10:55] mrliptontea commented on #698
Happening again today. The metrics-server seems to start falling when the Node on which it runs is at 100% CPU. No other pod in the cluster seems to be affected though. Also, oddly, there are no logs whatsoever.

[code]

<details><summary><code>$ kubectl -n kube-system get events</code></summary>

[code]
</details>

<details><summary><code>$ kubectl describe apiservice v1beta1.metrics.k8s.io</code

[2021-04-16 13:19] serathius commented on #699
That's incorrect documentation on kubectl side. Metrics Server doesn't support exposing information about storage as it's designed for autoscaling.

[2021-04-16 13:31] #699 closed

[2021-04-16 13:33] serathius commented on #698
Correlation with 100% load on nodes could mean that MS is too starved to respond to probes.
I would suggest setting CPU requests https://github.com/kubernetes-sigs/metrics-server#scaling

[2021-04-16 18:49] jackson541 opened #700 "Error 403 Forbidden to metrics server connect with nodes"
**What happened**:
Connection with nodes return "403 Forbidden"

**Anything else we need to know?**:
In my cluster, i have the metrics-server v0.3.6 running. Recently, i installed the version v0.4.2, but the pod of the new version is presenting this error to connect to the nodes

I already tried to use `--kubelet-insecure-tls` in the flags, but it did not work

**Environment**:
- Kubernetes distri

[2021-04-16 19:08] serathius commented on #700
Please configure https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-authentication-authorization/

[2021-04-16 19:11] serathius commented on #700
Default MS provided in this repo will not work with GKE. GKE deploys MS own by default, are there any reason that you want to override it?

[2021-04-16 19:14] jackson541 commented on #700
interestingly, this new version was installed by the system itself (GKE). I thought the update was necessary.

[2021-04-16 19:18] serathius commented on #700
No, GKE addons are fully managed. No need to update it.

[2021-04-16 19:20] jackson541 commented on #700
OK, so I will just leave version 0.3.6 active and remove the 0.4.2. Thank you!!

[2021-04-16 19:36] #700 closed

[2021-04-17 10:53] serathius commented on #694
Closing issue as it caused by Fargate and it's not related to MS itself.

[2021-04-17 10:53] #694 closed

[2021-04-19 23:08] raspitakesovertheworld commented on #196
Why is this issue still happening? Just setup a new cluster (k8s 1.20.6) from scratch (Ubuntu 20.04 LTS) and when I deployed the metrics server, bang, bug.

[2021-04-20 09:09] serathius commented on #196
The default configuration of metrics assumes that you have cluster setup with reasonable (not in any way great) security, basic certificate setup. This is pretty good assumption for most production clusters. On the other hand most local development tools like (minikube, kind, k3d etc) skip proper certificate setup, requiring them to pass `--kubelet-insecure-tls` to kubelets.

Having default secure

[2021-04-20 09:46] serathius opened #703 "Release v0.4.3"
/cc @s-urbaniak

# Changelog since v0.4.2

* Bump k8s dependencies to 1.19.10 preventing potential panic on webhook authenticator and authorized timeout before response (@x13n)

[2021-04-20 10:43] x13n opened #706 "Set Metrics Server version in user agent string"
**What would you like to be added**: Metrics Server version in user agent string

**Why is this needed**: This is helpful when debugging e.g. kube-apiserver logs. Right now the userAgent string is `metrics-server/v0.0.0 (linux/amd64) kubernetes/$Format`, which leaves some room for improvement.

/kind feature

[2021-04-20 11:02] serathius commented on #706
/triage accepted

[2021-04-20 11:02] serathius commented on #706
/help

[2021-04-20 11:18] serathius commented on #706
Seems simple enough for a new contributor. Requires just calling `rest.SetKubernetesDefaults` on `config` in [restConfig](https://github.com/kubernetes-sigs/metrics-server/blob/master/cmd/metrics-server/app/options/options.go#L128) function and checking if it works by verifying Apiserver and Kubelet logs.

[2021-04-20 12:19] arghya88 commented on #706
/assign

[2021-04-20 13:06] yangjunmyfm192085 commented on #706
/assign let me have a look

[2021-04-20 13:07] yangjunmyfm192085 commented on #706
/assign

[2021-04-21 04:39] yangjunmyfm192085 commented on #706
@x13n @serathius I have created PR #709 to optimization the user agent string.

[2021-04-21 10:39] #703 closed

[2021-04-21 10:49] stevehipwell commented on #627
@serathius PR https://github.com/kubernetes-sigs/metrics-server/pull/670 would provide an easier way to install as well as make monitoring and HA possible optional components (Helm can be configurable where the simple yaml can't be).

[2021-04-21 12:19] serathius commented on #627
Hey @stevehipwell Although Helm is pretty popular solution it's separate from Kubernetes tooling (kubectl apply -f) that we cannot push on everyone that deploys Metrics Server. There is a lot of application delivery methods other than Helm and we should leave users of them behind. Yaml manifests as rough they are, they are the common language that can be used by everyone and easly adapted to their

[2021-04-21 12:57] stevehipwell commented on #627
@serathius I'm not saying that a Helm chart would replace the yaml (although it technically could via `helm template metrics-server/metrics-server | kubectl -n kube-system apply -f -`), I'm saying that a Helm chart would help both discovery and customisation without shutting the door on any other deployment tool (Helm charts can always be templated out to plain yaml and you could even add a variab

[2021-04-22 03:00] raspitakesovertheworld commented on #196
Hmm, I setup the cluster via kubeadm, so security should be setup properly.  I would understand if minkube and kind would do shortcuts on security, they are not meant for productive use, but kubeadm should not.

[2021-04-22 10:16] serathius opened #710 "Automate testing scalability of Metrics Server."
We should mirror work done in kube-state-metrics and introduce automated scalability tests https://github.com/kubernetes/kube-state-metrics/issues/1341

Steps:
1. Integrate with scalability tests (example PR https://github.com/kubernetes/perf-tests/pull/1761/files)
2. Measure resource usage and request latency (example PR https://github.com/kubernetes/perf-tests/pull/1684#issuecomment-772355405)
3

[2021-04-22 10:18] serathius commented on #710
/help

[2021-04-22 10:52] NearchPasipou commented on #671
On EKS cluster 1.19+, metrics server version 0.42 was installed as suggested by this link (https://docs.aws.amazon.com/eks/latest/userguide/metrics-server.html)

Metrics server pod produces sporadical errors (see attached metrics_server_pod_logs.txt) :
[metrics_server_pod_logs.txt](https://github.com/kubernetes-sigs/metrics-server/files/6357624/metrics_server_pod_logs.txt)

[code]

Could it be tha

[2021-04-22 14:16] yangjunmyfm192085 commented on #710
I will have a look, any others who are interested, we can discuss together.

[2021-04-23 01:25] yangjunmyfm192085 commented on #710
/assign

[2021-04-23 09:25] yangjunmyfm192085 commented on #710
I think the current job is :
1.Integrate with scalability tests :
add manifests files to path:
 /kubernetes/perf-tests/clusterloader2/pkg/prometheus/manifests/exporters/kube-metrics-server/
modify file:
/kubernetes/perf-tests/clusterloader2/pkg/prometheus/prometheus.go

2.Measure resource usage and request latency:
add files:
/kubernetes/perf-tests/clusterloader2/pkg/measurement/common/kube_metric

[2021-04-23 09:39] wojtek-t commented on #710
metrics server is already deployed in our scalability tests - there is no need to change anything there.

What is missing is to ensure that we measure metrics reflecting its performance (i.e. add metrics-server measurement).
And it's mostly about latency and things like that - resource usage we already should have these metrics (or it's super simple to add to existing resource-usage measuerements)

[2021-04-23 09:40] wojtek-t commented on #710
cc @mborsz @jkaniuk @marseel

[2021-04-23 10:32] marseel commented on #710
Here is example output of resource usage on our 5k scalability test:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1385277590951956480/artifacts/ResourceUsageSummary_load_2021-04-22T21:01:07Z.json
`    {
      "Name": "metrics-server-v0.3.6-58bc6d979c-xjnq5/metrics-server",
      "CPU": 2.45379102,
      "Mem": 3847835648
    },`

[2021-04-23 10:55] serathius commented on #710
Looks like the scalability tests deploy manifests from https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/metrics-server which run older version of Metrics Server with autoscaling enabled. Would it be possible to test latest version of Metrics Server instead of the latest release?

[2021-04-23 10:58] wojtek-t commented on #710
Let's start with having tests and then we can discuss what version. I wouldn't exclude that, but I'm also not sure if that't actually the most important thing.

[2021-04-23 11:35] serathius commented on #710
@yangjunmyfm192085 Can you look into implementing the third point `3. Measure resource usage and request latency (example PR kubernetes/perf-tests#1684 (comment))`

[2021-04-23 11:44] yangjunmyfm192085 commented on #710
ok,let me have a look.

[2021-04-23 17:11] serathius commented on #556
Two proposed metrics were implemented:
* `metrics_server_storage_points_stored`
* `metrics_server_api_metric_freshness`

The `metrics_server_scraper_new_container_delay` should be still discussed.

[2021-04-23 17:14] #557 closed

[2021-04-23 20:10] serathius commented on #706
Looks I was wrong about setting `rest.SetKubernetesDefaults` being enough to fix it. I will describe proper solution in PR.

[2021-04-24 07:57] #706 closed

[2021-04-25 12:45] #567 closed

[2021-04-25 22:05] Jeansen commented on #196
I agree with @raspitakesovertheworld. I did the same, with kubeadm, and only ran into problems with the metrics server ;-(

[2021-04-27 15:08] x13n opened #725 "Allow Metrics Server to run on port numbers < 1024"
**What would you like to be added**: The ability to run Metrics Server eg. on port 443 (which it actually used to, before migration to non-root user). This can be achieved by adding CAP_NET_BIND_SERVICE via `setcap` on metrics server binary. Then, the deployment manifest also has to be updated to grant this capability.

**Why is this needed**: In certain networking setups, well-known ports like 44

[2021-04-27 18:53] x13n commented on #725
Actually, `setcap` cannot be used in the existing multistage build because of https://github.com/moby/moby/issues/38132. We can make Metrics Server binary aware of Linux capabilities though, eg. using https://github.com/syndtr/gocapability

[2021-04-28 09:35] sanwishe commented on #710
@serathius  We are working on this issue, and error occurs since I try to access it by this way:
[code]
Any suggested way to get the latency  of metrics-server itself?

[2021-04-28 10:08] serathius commented on #710
I don't know how to use `service/proxy` you are using to connect to HTTPS  endpoint. Alternatives I know:
* Connect to MS directly. Requires connection to be made from cluster network so might not work here.
* Use `pods/portforward` instead. It can be done by using kubectl or writing some code.
  * First setup proxy `kubectl portforward -n kube-system metrics-server-pod 4443:4443 &`
    Then curl

[2021-04-28 10:21] sanwishe commented on #710
Thanks，this help a lot.

[2021-04-28 12:43] x13n commented on #725
Actually, permitted capabilities are empty unless setcap is invoked on the binary, which means they can't be set inside the process. However, docker buildx, contrary to regular docker build, preserves xattrs, so it should suffice to just use setcap while building the image and then grant the permission in K8s manifest.

[2021-04-28 13:55] serathius commented on #725
Would it also make sense to change the port in manifests to 443 so feature is tested?

[2021-04-28 14:16] serathius commented on #725
Not sure this fixed the issue https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_metrics-server/728/pull-metrics-server-test-e2e/1387408900986245120

[2021-04-28 14:42] x13n commented on #725
In the e2e logs I see `gcr.io/k8s-staging-metrics-server/metrics-server:v0.4.0-110-g9037bdd`. Are they using the latest version?

[2021-04-28 14:49] serathius commented on #725
This is just a local image. I looked at the post merge image build and found a problem.
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-metrics-server-push-images/1387404955672907776

Looks like docker client used in Prow CI doesn't support `buildx`

[2021-04-28 15:49] serathius commented on #725
Looks like problem is Cloud Build image. One of the tests for CLI sucessfully build the image with buildx https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_metrics-server/727/pull-metrics-server-test-version/1387393185755435008

[2021-04-28 16:12] serathius commented on #725
Looks like failure is caused by
[code]

But docker client used in image has `--pull` `docker run --rm gcr.io/k8s-testimages/gcb-docker-gcloud:v20210331-c732583 -c 'docker buildx build --help'`

[2021-04-28 16:26] serathius commented on #725
Asked on slack, got recommendation to add https://github.com/kubernetes/release/blob/master/hack/init-buildx.sh script

[2021-04-29 10:00] x13n commented on #725
Turns our the problem is with skaffold, not cloudbuild. #730 updates the manifests and skaffold config. I'm not cherrypicking this to 0.4 since skaffold wasn't used then, so it would require yet another, different fix.

[2021-04-29 10:06] x13n commented on #725
Ok, just chatted with @serathius. Turns out cloudbuild also needs fixing, since it is used after merging PRs. Will try to fix this one as well.

[2021-04-29 18:07] x13n commented on #725
Fixed GCB build, added a second commit to the same PR.

[2021-04-29 18:22] #725 closed

[2021-04-30 06:35] x13n opened #731 "Release v0.4.4"
/cc @serathius

Release notes
[code]

[2021-04-30 07:26] serathius commented on #731
I think we still need to fix buildx on release-0.4 branch

[2021-04-30 08:13] x13n commented on #731
Right, let me check whether the fix for master will work there as well.

[2021-04-30 08:45] x13n commented on #731
I can't get it to work even before my changes:

[code]

Not sure if this was just always broken on 0.4 branch or if I'm missing some env setup.

[2021-04-30 09:06] x13n commented on #731
Actually, testing locally with `cloud-build-local` works just fine, will send a PR.

[2021-04-30 09:09] x13n commented on #731
Sent https://github.com/kubernetes-sigs/metrics-server/pull/733

[2021-04-30 09:49] serathius commented on #731
Tagged repo, building image https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-metrics-server-push-images/1388067061141344256

[2021-04-30 10:23] serathius commented on #731
Image was tagged https://github.com/kubernetes/k8s.io/pull/1985
It will take 1-2h for it to propagate to all regions

[2021-04-30 11:47] serathius opened #734 "Release v0.5.0"
/cc @dgrisonnet @s-urbaniak
[code]

[2021-05-02 13:52] invidian commented on #731
Release is now out?

[2021-05-02 13:56] invidian commented on #725
Note, that this requires manifests and PSPs to allow `NET_BIND_SERVICE` capability, regardless weather privileged port is used or not, otherwise binary cannot be executed, so granting extra privileges for not reason, not optimal...

[2021-05-02 16:23] fanfansama opened #737 "metrics-server is restarting : failed to extract container metrics: proto: wrong wireType = 0 for field CPU"
**What happened**:

I use AKS with 1.20

**What you expected to happen**:

metrics-server is restarting in a loop.

unable to fully collect metrics: unable to fully scrape metrics from source kubelet_summary: xxxxxxxxxxxxxxxxx:
unable to fetch metrics from Kubelet xxxxxxxxxxxxxxxxx000000 (x.y.z.a):
request failed - "500 Internal Server Error",
response: "Internal Error: failed to list pod stats: f

[2021-05-04 03:43] conwayok commented on #671
Also encountering this issue on EKS 1.19+, problem seems to emerge when facing higher traffic in cluster.

[2021-05-04 06:30] conwayok commented on #671
I checked out #698 and reconfigured my pods resource utilization to stop nodes from reaching 100% cpu usage, seems to have solved the problem.

[2021-05-05 05:35] stevehipwell commented on #731
It might be worth calling out in the release notes that the required security context has changed due to supporting running on port 443. This release would break anyone using the security context from the old stable Helm chart that dropped all capabilities.

[2021-05-05 09:38] serathius commented on #731
Thanks @stevehipwell for pointing this out. Would you be interested in proposing a note describing a change required in PSP?

[2021-05-05 10:20] stevehipwell commented on #731
@serathius where would you like this note submitting?

It would be something along the lines of:

[code]

I did expect it to work with `NET_BIND_SERVICE` added back in but in my testing this still failed so it might be worth figuring out if there is a reduced capability set that can be used?

[2021-05-05 16:18] dgrisonnet commented on #734
Looking good from my side, but I am wondering why you choose another format than the one you used in release v0.4.0: https://github.com/kubernetes-sigs/metrics-server/releases/tag/v0.4.0. I found the previous one clearer regarding what was the impact of each changes. With the new one, we can't easily tell what are the improvements, bugfixes, ...

[2021-05-05 17:14] anthr76 opened #738 "Missing memory metric on CRIO"
**What happened**:

[code]

**What you expected to happen**:

Memory should be reported

**Anything else we need to know?**:

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.): Kubeadm openSUSE MicroOS   5.12.0-2-default   cri-o://1.21.0
- Container Network Setup (flannel, calico, etc.): Cilium
- Kubernetes version (use `kubectl version`): 1.21.0

- Metrics Server

[2021-05-06 03:23] wood-j commented on #477
there is a typo in the question, flag should be like `--metric-resolution=15s` not `--metric_resolution` for some one search for this in the future.

[2021-05-06 05:53] monaka commented on #737
I got similar case but seems not in restarting loops.

[code]

`stern -n kube-system --tail=50 metrics`

[code]

Similar messages above are shown periodically.

[code]

[code]

### Environment

* AKS 1.20.5
* Container Network Setup: (CNI standard azure network)
* Kubernetes version (use kubectl version):

[code]

[2021-05-06 17:01] acutchin-bitpusher opened #739 "metrics-server CrashLoopBackOff"
**What happened**:

*metrics-server pod CrashLoopBackOff*

**What you expected to happen**:

*metrics-server runs successfully so I can use the Horizontal Pod Autoscaler*

**Anything else we need to know?**:

*I'm using a Terrraform module (github.com/lablabs/terraform-aws-eks-metrics-server) that uses helm_release to install the Bitnami metrics-server Helm chart (version 5.8.7).*

*I'm specifying

[2021-05-06 17:09] serathius commented on #739
This seems like a problem with Terraform module/Helm chart/EKS and not MS. Changing type to support.

You are right, but under assumption that your Kubelets are configured to register their IP, if not MS will try to use other addresses.

[2021-05-06 17:24] serathius commented on #737
[code]
Points to problem with Kubelet, both 500s and errors about decoding timestgamp. Please ensure that your Kubelet is properly returning metrics. You can check this by running:
[code]

Hard to discern why MS is restarting as you didn't provide full logs and other data requested in issue template.

[2021-05-06 17:33] serathius commented on #731
Thanks, updated the release notes.

[2021-05-06 17:37] serathius commented on #731
Sent announcement email. With that release process is finished.

[2021-05-06 17:37] #731 closed

[2021-05-06 17:39] serathius commented on #738
Manifests you provided use `gcr.io/k8s-staging-metrics-server/metrics-server:master` image, which is not v0.4.4 version but the latest master.

[2021-05-06 17:40] serathius commented on #738
Not sure if this is related to recent changes to storage as I'm pretty sure I have tested them. Still @dgrisonnet can you take a look?
/cc @dgrisonnet

[2021-05-06 17:42] serathius commented on #734
Sure, will try to propose an update.

[2021-05-06 17:43] #696 closed

[2021-05-06 17:56] anthr76 commented on #738
I can confirm this pattern as well on v0.4.4. Nice catch.

[code]

[2021-05-06 18:30] serathius commented on #738
v0.4.4 was just recently released. For posterity can you check any older MS release `v0.4.3`, `v0.4.2`?
This problem looks suspicious as it could be as well a problem with your Kubelet/container runtime.

[2021-05-06 20:05] rkage commented on #738
I am experiencing the same issue - I downgraded to `v0.4.2` to validate;

[code]

Here's the output from `kubectl top nodes` from my cluster.
[code]

Interestingly, my last node - `k8s-storage01` - is running Ubuntu 21.04 + containerd.

[2021-05-06 21:12] acutchin-bitpusher commented on #739
I reverted to a TF module ([cookielab/metrics-server/kubernetes](url)) that installs the newest version of the image (0.4.4) from bitnami/metrics-server, rather than using a Helm chart, configured it with the following settings:

<code>
  metrics_server_image = "bitnami/metrics-server"
  metrics_server_image_tag = "0.4.4"
  metrics_server_option_kubelet_insecure_tls = true
  metrics_server_option_

[2021-05-06 21:16] #739 closed

[2021-05-06 21:27] serathius commented on #738
@anthr76 Can you confirm that downgrading MS doesn't solve the problem?
I would prefer not to debug two different problems reported by different people in one issue.

[2021-05-06 21:41] anthr76 commented on #738
I can confirm downgrading doesn't solve my issue. I'm also on CRI-O

[2021-05-06 21:51] serathius commented on #738
Please verify that your Kubelet returns memory metric

[code]

[2021-05-06 21:55] anthr76 commented on #738
It does not..

[code]

[2021-05-06 23:16] serathius commented on #738
Next would be to verify if problem is in Kubelet or in CRIO. Based on common pattern with CRIO I would try to file bug there. Maybe they can help debug further.

[2021-05-07 06:11] yangjunmyfm192085 commented on #710
Hi,@serathius @wojtek-t, we are commit pr https://github.com/kubernetes/perf-tests/pull/1797, could you please review if it works?

[2021-05-07 07:13] fanfansama commented on #737
I found the "unhealth" pod that it made to restart the metrics-server.
I stopped it on each my cluster and the metrics-server is stopping to restart.

It was a homemade image from clamv (oss anti-virus). In this image, i ran 3 processes (clamd, freshclam and a node rest api). All process managed by supervisord... _I know that is not (at all) a docker practice._

Now, I split this image to 3 contai

[2021-05-07 07:16] fanfansama commented on #737
I think that the difference is that i had one only node

[2021-05-07 09:23] serathius commented on #710
Done

[2021-05-07 23:13] monaka commented on #737
@serathius

[code]
Another nodes gives their summary.

[2021-05-07 23:25] monaka commented on #737
It looks this issue in my node is fixed after doing "reimage" the scale set instance under that node.
I'll keep monitoring.

[2021-05-08 19:02] serathius commented on #559
@dgrisonnet Are you still interested in implementing this? Would be great to let some new contributors to pick this up.

[2021-05-09 09:25] adesurya opened #744 "Error from server (ServiceUnavailable): the server is currently unable to handle the request (get nodes.metrics.k8s.io)"
**Hello all,

I would like to ask about the networking issue (aggregration layer) when installing metric-server on kubernetes.
The architecture that I use here consists of 1 master node and 2 worker nodes as follows **:

![gambar](https://user-images.githubusercontent.com/8553962/117566713-7bbccb80-b0e2-11eb-995f-606a8a9b647d.png)

Each node is connected without a firewall.
I tried to deploy using

[2021-05-09 09:50] serathius commented on #744
Please check if you can connect to `10.220.37.42:4443` from:
* Any worker node
* Master Node

[2021-05-09 11:27] serathius opened #745 "[v0.5.0] Metrics Server reports negative CPU usage for restarting pods"
**What happened**:
Run container that restarts every 45 seconds.
[code]

When running `kubectl top pods` sometimes  I get a negative CPU usage:
[code]

**What you expected to happen**:

Metrics server should not report negative metric values when containers are restarting, instead skip reporting metrics.

**Anything else we need to know?**:

Looks like a bug in current implementation storage. With

[2021-05-09 12:11] serathius commented on #745
/cc @dgrisonnet @yangjunmyfm192085

[2021-05-09 12:15] anasalloush commented on #196
Same thing here, I used kubeadm for bootstraping K8s v21 cluster and ran to the same issue
@serathius

[2021-05-09 12:25] yangjunmyfm192085 commented on #745
/assign
I will take a look.

[2021-05-09 13:45] serathius commented on #559
https://github.com/kubernetes/kubernetes/issues/101851 looks like a potential blocker for this issue

[2021-05-09 14:18] serathius commented on #196
Who said that default kubeadm configuration is secure? https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#cannot-use-the-metrics-server-securely-in-a-kubeadm-cluster

[2021-05-09 14:27] anasalloush commented on #196
No one ..
Am just saying that the issue is still there.
If I dont add the "--kubelet-insecure-tls"  the kube-metric Pod will fail to start..
If I add the "--kubelet-insecure-tls" the pod will run successfully with no errors but the "kubectl top nodes" is giving :
`Error from server (ServiceUnavailable): the server is currently unable to handle the request (get nodes.metrics.k8s.io)`

Logs from the

[2021-05-09 14:31] serathius commented on #196
Please follow the link provided how to setup [Kubelet Service Certs on KubeAdm](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#kubelet-serving-certs)

[2021-05-09 15:11] anasalloush commented on #196
Actually I was also looking at this document, but they wrote:
[code]
But in a kubeadm deployed cluster, there is no `config `key in the `kubelet-config-1.21` ConfigMap ..
There is this:
[code]
Which you can not edit as they described

[2021-05-09 15:17] serathius commented on #196
Please file an issue to KubeAdm.

[2021-05-09 15:22] avoidik commented on #744
I'm now having the same issue with metrics-server v0.4.4 on kubernetes v1.21.0, it's not clear why the service IP does not come from the service cidr, which is `10.96.0.0/12`

[code]

[code]

[2021-05-09 15:45] avoidik commented on #744
this definitely a cni issue, I was having the same problem with metrics-server v0.4.4 on kubernetes v1.21.0, switching to calico resolved it for me, you have to have cni for pod-to-pod communication between nodes

[2021-05-09 21:22] serathius commented on #384
/assign

[2021-05-10 04:00] yangjunmyfm192085 commented on #745
@serathius I am researching it recently, do you think  the solution in pr #746  reasionable?
I think it's easy to deal with in function GetContainerMetrics rather than in function storePodMetrics.

I have tried to test this scenario, but this bug never reproduce, any other special conditions?

[2021-05-10 08:03] dgrisonnet commented on #559
Sure, thank you for taking over this @yangjunmyfm192085.

[2021-05-10 08:41] serathius commented on #745
Responded on the PR.

[2021-05-10 09:11] serathius opened #747 "Utilize container start time to speed up returning metrics for fresh containers"
With MS using cumulative CPU metric we require two metrics collections cycles to return first utilization. For fresh containers this has negative impact of speed of scaling up using HPA.

For fresh containers we can assume that cumulative CPU used at the container start time is zero. If container metrics has started within current metric collection period, it means that container has just started

[2021-05-10 09:12] serathius commented on #734
Added two issues into v0.5.0 that I think are still worth to do before release. PTAL https://github.com/kubernetes-sigs/metrics-server/milestone/3

[2021-05-10 09:22] dgrisonnet commented on #734
Sounds good :+1:

[2021-05-10 09:24] dgrisonnet commented on #747
@yangjunmyfm192085 do you want to work on this issue? Otherwise, I can take care of it.

[2021-05-10 09:54] serathius commented on #747
I think both this issue and https://github.com/kubernetes-sigs/metrics-server/issues/745 require introduction of container start time parsing from summary API. My only suggestion would be to wait for https://github.com/kubernetes-sigs/metrics-server/issues/745 to be closed before starting this issue.

[2021-05-11 05:33] 15077693d opened #749 "Error from server (ServiceUnavailable): the server is currently unable to handle the request (get nodes.metrics.k8s.io)"
/kind support

[2021-05-11 20:38] serathius commented on #627
/cc @yangjunmyfm192085

[2021-05-11 20:51] serathius commented on #745
I got those results when running on my local https://kind.sigs.k8s.io/ development cluster, so I think answer is docker.

[2021-05-12 10:55] #384 closed

[2021-05-12 19:37] serathius opened #750 "Summary API returning old data causing MS to return negative CPU usage"
When testing https://github.com/kubernetes-sigs/metrics-server/pull/746 I found another super strange behavior. In this setup I run on my local Kind cluster one restarting deployment:
[code]
And configured Metric Server with `--metric-resolution=1s`.

Despite using MS with fix for container start time I still got negative metric CPU usage. After adding some debug logs dumping Summary API responses

[2021-05-12 19:41] serathius commented on #750
/cc @dgrisonnet @yangjunmyfm192085
I think we should add protection in MS against invalid data. Changes:
* In `GetContainerMetrics` and `GetNodeMetrics` skipping reporting negative metric value and logging an error
* In `storePodMetrics` and `storeNodeMetrics` not storing previous metric point if it's older then new one.

[2021-05-12 19:45] #745 closed

[2021-05-12 20:56] yangjunmyfm192085 commented on #750
Let me have a look

[2021-05-12 21:27] dgrisonnet commented on #750
I agree with adding protection in `GetContainerMetrics` and `GetNodeMetrics`, but for the storing part shouldn't we just skip these wrong samples instead of taking them into account?
To better understand the context here, were you able to see scenario 3. when the container was being terminated or was the sample for the newly created container? In the case it's a sample from the old container, I th

[2021-05-13 02:04] yangjunmyfm192085 commented on #750
@serathius @dgrisonnet let us try to modify it，and then please review it？

[2021-05-13 02:04] yangjunmyfm192085 commented on #750
@sanwishe

[2021-05-13 11:05] yangjunmyfm192085 commented on #750
/assign

[2021-05-13 12:34] avoidik commented on #744
Will `hostNetwork` works for you? Maybe worth to try it as a temporary solution

[2021-05-13 21:40] avoidik commented on #744
other option worth to try, is set `nodeSelector` to coerce metrics-server deployment to use master node

[code]

reproduce steps

[code]

[2021-05-13 23:29] avoidik commented on #744
weird issue

[code]

[2021-05-14 08:59] wxuedong opened #755 "Service rolling update expands redundant Pod"
First  Create HPA for the service  yaml :

[code]

When I modify the deployment configuration resource ，Pod will be recreated , created from 1 to 4 （the current threshold is less than targetAverageValue） ，Is there any solution to this phenomenon?

[2021-05-14 09:07] wxuedong commented on #755
Try to modify the configuration --metric-resolution=15s, still not resolved

[2021-05-14 11:32] adesurya commented on #744
Hi

Not work @avoidik. I have defined the variable set hostnetwork: true in the deployment.

[2021-05-14 11:33] adesurya commented on #744
Have you found the solution above from several experiments?

[2021-05-14 13:50] serathius commented on #755
Could you clarify what is the problem in more detail?

Editing deployment resource configuration  should not change replica number. Are you sure that in the same request that you change requests you don't override `replicas` field?

[2021-05-14 14:11] serathius commented on #552
/help

[2021-05-14 14:13] #556 closed

[2021-05-14 14:16] serathius commented on #688
/help

[2021-05-14 17:24] dgrisonnet commented on #552
We've look into this quite recently for prometheus-adapter. One benefit we've found of having an aggregated API being highly-available is that it prevents api disruption from impacting the apiserver and in the particular case of metrics API, it also prevents autoscaling from being impacted.

For what it's worth we are running it with the following configuration:
- 2 replicas
- PodDisruptionBudget

[2021-05-15 00:33] wxuedong commented on #755
Same as this question ： [72775](https://github.com/kubernetes/kubernetes/issues/72775) ，maybe k8s has fixed this problem， I have no need to upgrade k8s yet，  so I want to know if metrics-server will provide a solution

[2021-05-16 13:08] avoidik commented on #744
@adesurya which CRI you're using?

[2021-05-16 13:27] serathius opened #763 "Measure scale up time"
For v0.5.0 we managed to implement multiple great improvements in metric latency(e.g. increased default resolution, cumulative metric, WIP detecting container restarts). This should really impact scale up time and would be great to show release to release improvement in changelog.

Scale up time is the time needed for particular autoscaling to increase number of replicas in response to increased l

[2021-05-16 13:43] adesurya commented on #744
@avoidik using Docker

[2021-05-16 13:45] serathius opened #764 "Consider implementing loadbalancing in kube-aggregator to allow better support for HA"
Based on simple tests of how kube-apiserver sends traffic to Metrics Server (looking at MS HTTP access logs) I found out that only 1 instance is serving traffic at time. This leads to two problems:
* causes availability problems - if active MS has a failure it can take some time for apiserver to notice this. This could be mitigated by utilizing normal Service loadbalancing.
* wastes resources - re

[2021-05-16 13:57] serathius commented on #750
Implemented in https://github.com/kubernetes-sigs/metrics-server/pull/753

[2021-05-16 13:57] #750 closed

[2021-05-16 13:59] serathius commented on #747
With https://github.com/kubernetes-sigs/metrics-server/issues/750 fixed, feel free to implement this.

[2021-05-16 14:00] serathius commented on #747
/help

[2021-05-16 14:03] serathius commented on #763
For deployment we can use
[code]

[2021-05-16 14:30] avoidik commented on #744
@adesurya which CNI you're using? do you have any specific configuration in here `/etc/cni/net.d`? have you checked `journalctl -xeu docker.service` and `journalctl -xeu kubelet.service` for any clues regarding CNI?

[2021-05-16 14:42] serathius opened #765 "[master] Investigate why collecting node sometimes fails on Kind"
When using Kind I found that Metrics Server becomes unready pretty frequently. I expect that this is caused by switching to cumulative metric which can cause to metric be dropped if it it's unusable to calculate differential.

I expect that KInd and similar development clusters can have problems with values returned by summary API. Still we should ensure to minimize to loose MS readiness. Investig

[2021-05-16 23:53] yangjunmyfm192085 commented on #747
@dgrisonnet， both #745 #750 fixed， do you still work on this issue?

[2021-05-17 00:44] yangjunmyfm192085 commented on #763
I think this issue need to test multiple times, and give a final result?
when after #747 is closed, I will try to test.

[2021-05-17 03:30] adesurya commented on #744
Hi @avoidik,

 This is output from _journalctl -xeu kubelet.service_

[code]

and this is output from _journalctl -xeu docker.service_

[code]

to make sure docker service is running well, i'm trying to pull image nginx with command  _docker run -d --name test.nginx -p 90:80 -p 554:443 nginx_

![image](https://user-images.githubusercontent.com/8553962/118428752-58a1a580-b6fa-11eb-985d-0fb1ce46a6af

[2021-05-17 08:22] dgrisonnet commented on #747
No feel free to take it :slightly_smiling_face:

[2021-05-17 08:32] dgrisonnet commented on #763
Yes, this will need to be tested multiple times to verify that the test is stable and that the results are somehow similar between each run.

It would be great to also have a mechanism to trigger this test manually like the one we have for benchmarks.

[2021-05-17 08:34] yangjunmyfm192085 commented on #747
Thanks. Let me take it.

[2021-05-17 08:34] yangjunmyfm192085 commented on #747
/assign

[2021-05-17 08:46] yangjunmyfm192085 commented on #763
Thanks for suggestion. I will take a look.

[2021-05-17 09:48] adesurya commented on #744
Hi @avoidik @serathius

for your information:
the nodes used in the kubernetes installation on top of vmware

[2021-05-17 11:13] avoidik commented on #744
you do have a network issue, kubelet was unable to connect to api on port 6443, that's far beyond metrics-server topic tbh

[2021-05-17 14:30] adesurya commented on #744
Hi @avoidik

It's a bit strange because when I tried the following command there was no problem connecting the kubelet to port 6443

![image](https://user-images.githubusercontent.com/8553962/118505810-f62ac280-b756-11eb-80a1-750def0b18d6.png)

![image](https://user-images.githubusercontent.com/8553962/118505847-fe82fd80-b756-11eb-8cdf-d1b8423dc227.png)

![image](https://user-images.githubusercont

[2021-05-17 14:46] adesurya commented on #744
I also tried to confirm a connection to port 6443 via the following commands "netstat -lnpt | grep kube"

![image](https://user-images.githubusercontent.com/8553962/118508274-3ee37b00-b759-11eb-9013-ba36c29df6c9.png)

[2021-05-17 15:21] Vilsafur opened #767 "HTTP probe failed with statuscode: 500"
Hi,

**What happened**:

When i run `kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml`
I can't run Pod.

The command `kubectl describe -n kube-system po/metrics-server-6d544fd645-8flkv` return :
[code]

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.): Kubeadm
- Container Network Setup (flannel, calico, et

[2021-05-17 16:20] serathius commented on #767
Can't help debug without having access to Metrics Server logs.

[2021-05-17 17:42] codeandmedia commented on #767
Got the same error right now, looks like it is SSL handshake fails because IP SANs are missing

[code]

[2021-05-18 06:33] Silverhumor opened #769 "Error: unable to get openapi models: ERROR $root.info is missing required property: version"
this is my configuration
  - '--cert-dir=/tmp'
        - '--secure-port=4443'
        - '--kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname'
        - '--kubelet-use-node-status-port'
        - '--kubelet-insecure-tls'
i don't know what i miss.
![image](https://user-images.githubusercontent.com/15669631/118603066-0b9afd80-b7e6-11eb-982a-5737ce8fa3e5.png)

[2021-05-18 07:34] Vilsafur commented on #767
Hi,

apologize for this oversight

here the logs :

[code]
Nodes in the cluster :

[code]

[2021-05-18 07:40] serathius commented on #767
MS is failing probe as it cannot collect any metrics ' cannot validate certificate for IP-02 because it doesn't contain any IP SANs'
Please pass '--kubelet-insecure-tls' to disable certificate validation (not suggested on production)

[2021-05-18 07:41] Vilsafur commented on #767
I found a solution when I edited the deployement to add the `--kubelet-insecure-tls` but how I can validate the certificate ?

[2021-05-18 13:41] #747 closed

[2021-05-19 06:37] wxuedong opened #770 "Deploy metrics-server error “ unable to get openapi models: ERROR $root.info is missing required property: version”"
K8s version 1.16.8

The metrics-server version is a new image built with the master branch

The following error occurs when the container starts ：

[code]
deloyment yaml

[code]

How to solve this kind of error ？

[2021-05-19 13:51] wxuedong commented on #769
I built the image locally and the same problem occurred ， Is your problem solved ？

[2021-05-19 14:25] serathius commented on #769
Thanks @wxuedong for reminding me about local build. Last time I have seen this problem was when there was a problem with building script.

 `unable to get openapi models: ERROR $root.info is missing required property: version` is an error generated by apiserver openapi library when `version` of binary is not provided as a LDFLAG. https://github.com/kubernetes-sigs/metrics-server/blob/master/Makef

[2021-05-19 20:26] serathius commented on #770
It's good to mention image is self compiled. Like mentioned on https://github.com/kubernetes-sigs/metrics-server/issues/769 cause is due to invalid compilation. Please use official Makefile rules to build the image.

[2021-05-19 20:26] #770 closed

[2021-05-19 20:26] serathius commented on #769
Please use official Makefile rules to build the image

[2021-05-19 20:26] #769 closed

[2021-05-19 20:29] serathius commented on #767
That's depends on K8s distribution you are using. Metrics Server requires Kubelet serving certificate to be signed by Cluster CA or you need to provide the Kubelet CA to Metrics Sever.

[2021-05-19 20:33] serathius commented on #737
@fanfansama Was the issue resolved? Can issue be closed?

[2021-05-19 20:36] serathius commented on #738
Looks like issue was accepted on crio side. Closing as there is no actions on Metrics Server side.
For people that have similar issue please follow up on https://github.com/cri-o/cri-o/issues/4867

[2021-05-19 20:36] #738 closed

[2021-05-19 20:39] serathius commented on #749
Closing as no information was provided.

[2021-05-19 20:39] #749 closed

[2021-05-19 20:45] serathius commented on #755
No, MS just provides metrics about resource usage. Decision to scale up made by HPA

[2021-05-19 20:45] #755 closed

[2021-05-20 14:44] serathius commented on #765
Prelimiary diagnosis is that this is related to using Kind which has unusual container runtime setup resulting in problems with CPU usage metrics. Will investigate it further, but I don't think it should block v0.5

[2021-05-20 17:56] serathius commented on #763
Any progress on this?
I have started testing if the method I proposed makes sense. I found that time from container creation to it running takes substantial part of time on my cluster 15-20 seconds. We might want to substract this time from estimation.

[2021-05-20 19:14] serathius commented on #734
Noticed some duplication of information in logs, sending last PR https://github.com/kubernetes-sigs/metrics-server/pull/774

[2021-05-21 01:22] yangjunmyfm192085 commented on #763
I'll feedback test results today

[2021-05-21 05:27] yangjunmyfm192085 commented on #763
Test enviroment:
kind deployment kubernetes cluster
kind version: kind v0.10.0 go1.15.7 linux/amd64
kubernetes version: v1.20
test pods: Use the pod and yaml files provided above

Test result:

<meta name="Generator" content="Microsoft Excel">

<style>

</style>

version/time | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | Description
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
master | 3

[2021-05-22 16:08] serathius commented on #734
https://github.com/kubernetes/k8s.io/pull/2081

[2021-05-24 05:01] yangjunmyfm192085 commented on #763
/assign

[2021-05-24 12:59] serathius commented on #559
With recent discovery of that new endpoint has milisecond timestamp resolution (compared to Summary API) I would consider unblocking this issue. Container start time detection without good resolution doesn't give us much benefit as we needed to require at container to run 10 seconds to have 10% metric value error.

As so this issue is not just about migrating of deprecated Summary API, but about l

[2021-05-24 20:41] serathius commented on #763
Looks like for results from master gather around either 3 minutes or 4 mintues. I would guess this is possibly caused by error in calculation causing 4 scale up cycles instead of 3. This can happend if number of pods in one of the rotation increased by 1.9 factor instead of 2x. This results in number of pods increasing to 75-79, requiring another cycle to reach full 80. As so I would for now estim

[2021-05-25 08:46] dgrisonnet commented on #734
I think we should definitely call out the awseome scale up time improvements that @yangjunmyfm192085 recently measured in the release note. It will encourage metrics-server users to upgrade to v0.5.0.

[2021-05-25 09:36] serathius commented on #734
sg, will prepare a paragraph to be added to change log.

[2021-05-26 07:50] dgrisonnet commented on #734
LGTM

[2021-05-26 12:44] hevans-dglcom commented on #737
Hi, @serathius  we are getting exactly the same issue in our clusters.

Kubernetes 1.19.7 on AKS.

We have seen specific pods are giving exactly the same error. So far we have seen fluentd and also an in-house application create this error.

To find the offending Pod/Container we SSH'd into the Node and used ctr -n k8s.io containers ls to find the container hash listed in the kubelet error message

[2021-05-26 14:13] vinzzzz commented on #737
Hello,

I had the exact same issue, by connecting to the different nodes and getting the kubelet logs I got different container ids with the exact same error, i needed to delete all the containers that were causing the issue in order to get metrics working properly on the new deployed ones (and allowing new deployments with helm)

[2021-05-26 14:27] hevans-dglcom commented on #737
@vinzzzz are you on Azure AKS as well?

[2021-05-26 14:39] vinzzzz commented on #737
Yes I am on Azure AKS, I was having this issue since last friday.

[2021-05-27 05:15] ryanlelek commented on #767
Reproduced this and can confirm `--kubelet-insecure-tls` solves the issue (temporarily and insecurely) on v1.20.6

Instructions:
- `kubectl edit deployment.apps/metrics-server -n kube-system`
- Add `--kubelet-insecure-tls` to list under "spec.template.spec.containers.args" (YAML Path). You'll see other arguments. Add it there

[2021-05-28 19:56] marshallford commented on #725
I'd agree with @invidian, seems strange that the default manifests and image is configured to listen on a privileged port. Seems like a regression for most users, no?

[2021-05-29 22:31] serathius opened #778 "Consider rewriting scraper goroutine scheduling"
Metrics Server scraper is responsible for creating paralleling metric collection. Every cycle it lists all the nodes in the cluster and creates goroutine to scrape each node. Each go-routine waits some random time (to avoid scrapping at the same time), collects metrics and then is removed. Problems with this approach:
* goroutine churn - each cycle allocates and deletes goroutines
* memory churn -

[2021-05-30 09:47] serathius commented on #448
@raspitakesovertheworld I think the best answer is to make the required configuration default in Kubernetes distributions (Kubeadm, Kops etc). Assuming that you are using a popular distribution, I would recommend filing an issue there so we can make Metrics Server work out of the box there.

[2021-05-31 11:44] yangjunmyfm192085 commented on #778
Sounds good, We really need to consider and test properly before committing, and so when  we plan to start it?
After https://github.com/kubernetes-sigs/metrics-server/pull/777 merged?

[2021-05-31 12:27] serathius commented on #778
I don't think this is nesesery blocked by #777 as they are pretty independent changes. I think we can start to do performance testing.

[2021-06-01 00:15] yangjunmyfm192085 commented on #778
ok, Let me take a look, and try to do it?

[2021-06-01 09:44] dgrisonnet commented on #778
I don't think this is possible with the current storage implementation.
To throw a suggestion to work around that, maybe we could have 1 store per node. I don't really see any drawbacks to that, except that getting PodMetrics will become more complex.

We could check for leaks with: https://github.com/uber-go/goleak
Also, I don't know if metrics-server registers the client_golang go collector, but

[2021-06-01 14:49] yangjunmyfm192085 commented on #710
Hi, @wojtek-t, @marseel, @mborsz, @mm4tt, the pr https://github.com/kubernetes-sigs/metrics-server/issues/710 has merged.
Do we need to discuss `Deploy some dummy HPAs to put load on MS (should be discussed with scalability team)`?

[2021-06-03 15:41] rwkarg commented on #392
/remove-lifecycle stale

[2021-06-03 15:44] liggitt commented on #392
given podsecuritypolicies are deprecated, to be removed in 1.25, I would not recommend introducing this at this point

[2021-06-03 16:19] rwkarg commented on #392
Managed providers are just rolling on to 1.20 (ex. GKE only has 1.20 in their Rapid channel) so it's a year or two before 1.25 will likely be available.

I'm all for having operators transition to Gatekeeper or some other alternative to PSP, but for existing users who have other priority work to complete before that transition it seems like having a specific PSP for this service would be a good th

[2021-06-03 16:20] liggitt commented on #392
Anyone using PSP with metrics-server today is already defining a covering PSP. I would discourage any project not already providing PSPs from adding them at this point.

[2021-06-03 18:58] pythops commented on #392
Let's close this then

[2021-06-03 18:58] #392 closed

[2021-06-08 12:31] chirangaalwis commented on #552
+1 for running 2 instances of `metrics-server`. This is a critical component when using HPA.

We are primarily using Azure Kubernetes Service (AKS) and we were able to see that the `metrics-server` Pod had restarted 13 times during the past 2+ months.

![Screenshot from 2021-06-08 17-59-42](https://user-images.githubusercontent.com/9444555/121185248-7be7ec80-c883-11eb-9535-8b499b86ce8c.png)

[2021-06-08 16:14] serathius commented on #734
Announcement sent. Closing.

[2021-06-08 16:14] #734 closed

[2021-06-08 16:16] serathius commented on #763
Results were included in the v0.5.0 release and annocement email. Thanks @yangjunmyfm192085 for helping with this.

[2021-06-08 16:16] #763 closed

[2021-06-08 16:17] serathius commented on #576
/remove-lifecycle stale

[2021-06-08 16:17] serathius commented on #576
/remove-lifecycle frozen

[2021-06-08 23:55] yangjunmyfm192085 commented on #778
/assign

[2021-06-09 07:55] pierluigilenoci opened #782 "Failed to create listener: bind: permission denied"
**What happened**:

I tried to install metrics-server on an AWS EKS cluster with the [official manifest](https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.5.0/components.yaml)

The pod goes into CrashLoopBack with this error:

[code]

The only changes between versions 0.4.4 and version 0.5.0 of the manifest are the container port (from `4443` to `443`).

@stevehipwell also had

[2021-06-09 13:31] dgrisonnet commented on #764
Oh wow, good catch! I hadn't noticed this behavior when adding HA to prometheus-adapter. But your observation is correct, the apiserver seems to be choosing only one instance to proxy the requests. I tried adding Service load balancing, but proxying doesn't seems to go through it as I would have expected and queries are still rooted to the same instance.

I can have a look at that and start the di

[2021-06-10 16:28] fpetkovski commented on #764
Similar problems happen with gRPC and kube-proxy due to long-lived HTTP connections. It might be a similar issue that is happening here.

[2021-06-10 17:15] jlthorpe commented on #737
We are experiencing similar issues. Once the issue starts happening on a node it continues until the metrics-server is restarted and then it is hit and miss as to whether the issue jumps to another node. The consistent but of the error message no matter which node the error happens on is "failed to extract container metrics: proto: wrong wireType = 0 for field CPU"

We are running AKS with kuberne

[2021-06-10 19:41] #767 closed

[2021-06-11 00:34] aywrite commented on #782
There was some discussion of this same issue on #725 after it was closed.

[2021-06-11 06:53] hevans-dglcom commented on #737
Hi all,
Serathius is right, Azure has (for some reason) packaged Containerd 1.5 beta into some 1.19.7 and 1.19.9 machine images.

Once we upgraded the nodepools to 1.19.11, our containerd version was downgraded to 1.4.4 stable and the problems stopped.

It seems to be caused by nodes running out of memory and then killing a random process, which most of the time is a container process. Once this p

[2021-06-11 07:26] pierluigilenoci commented on #782
@serathius could you please take a look?

[2021-06-11 16:20] serathius commented on #765
As v0.6.0 will change source of metrics I think we can revisit it then.

[2021-06-11 16:20] #765 closed

[2021-06-11 16:24] serathius commented on #737
Thanks for conformation, glad I could help with finding the cause.

[2021-06-11 16:24] #737 closed

[2021-06-11 16:26] serathius commented on #698
Release v0.5.0 should resolve this issue. Now Liveness and Readiness probes have been separated, meaning that failure to collect metrics should not cause MS to restart.

[2021-06-11 16:26] #698 closed

[2021-06-11 16:31] serathius commented on #710
ping @wojtek-t @mborsz

[2021-06-14 02:57] pgier opened #783 "CPUThrottlingHigh alert for metrics-server-nanny (addon-resizer:1.8.11-gke.0) container"
**What happened**:
I'm getting a CPUThrottlingHigh alert from the metrics-server-nanny container.  This container seems to be using more CPU than expected.

**What you expected to happen**:
Expected that the metrics-server-nanny would not use more CPU than requested.

**Anything else we need to know?**:
Current assigned resources to the container.  I can't seem to change them because GKE just rese

[2021-06-14 13:48] wojtek-t commented on #710
Do we need to discuss Deploy some dummy HPAs to put load on MS (should be discussed with scalability team)?

Deploying dummy HPAs is easy in a sense of deploying them.
The two things we would like to figure out is:
- how to avoid additional significant churn in the cluster (i.e. I would like to avoid no-negligible amount of scale-up/downs triggered by HPA)
- at the same time, how to ensure that th

[2021-06-14 14:21] serathius commented on #710
This can be done by setting `replicaCount = maxReplicaCount = minReplicaCount`, this way HPA just measures utilization, but doesn't take any action.

We can check if HPA utilization is calculated, if MS doesn't work values will not be set.

We can use resource-consumer image maintained as part of test-infra. I propose this image as it will use non zero amount of CPU, so we can use check from secon

[2021-06-14 14:50] pgier commented on #783
Closing this because I think it belongs in the autoscaler project.

[2021-06-14 14:50] #783 closed

[2021-06-14 20:15] schollii commented on #667
/bump

[2021-06-19 09:54] ils-devd commented on #38
Can you please explain the library issue ?

[2021-06-19 14:19] yangjunmyfm192085 commented on #778
I am working on this issue recently, I have a few questions

- Do we need to deal with scraper and storag both in the goroutine? or only scrape is ok?
- If deal with scrape and store both in the goroutine , do we need to modify the  process of the store
- use informer event handler to add/remove goroutines, do we need to deal with update event?
- /cc @serathius @dgrisonnet

[2021-06-21 11:47] trstn70 opened #785 "metrics-server fails with value 'none' for StartTime in SystemContainers cpu"
**What happened**:
kubectl top node does not show metrics for 2 of 7 nodes.
k8s1 root@lxvm193-104:~$ kubectl top node
NAME          CPU(cores)   CPU%   MEMORY(bytes)   MEMORY%
lxvm193-106   119m         2%     5691Mi          35%
lxvm193-107   136m         3%     5295Mi          44%
lxvm193-227   89m          2%     2740Mi          23%
lxvm193-228   74m          3%     4101Mi          34%
lxvm193-

[2021-06-21 11:54] yangjunmyfm192085 commented on #785
/cc @yangjunmyfm192085

[2021-06-21 12:01] yangjunmyfm192085 commented on #785
`{
 "node": {
  "nodeName": "lxvm193-104",
  "startTime": "2021-06-21T07:12:42Z",
  "cpu": {
   "time": "2021-06-21T11:36:29Z",
   "usageNanoCores": 0,
   "usageCoreNanoSeconds": 0
  },
  "memory": {
   "time": "2021-06-21T11:36:29Z",
   "availableBytes": 16788455424,
   "usageBytes": 0,
   "workingSetBytes": 0,
   "rssBytes": 0,
   "pageFaults": 0,
   "majorPageFaults": 0
  },
 },
}
`
I think the

[2021-06-21 12:05] serathius commented on #785
Logs that were provided on Slack:
[code]

[2021-06-21 12:06] yangjunmyfm192085 commented on #785
It is correct. The reason is that  nodeStats.CPU.Time.IsZero()

[2021-06-21 12:12] serathius commented on #785
Not sure as from `"cpu": { "time": "2021-06-21T11:36:29Z", "usageNanoCores": 0, "usageCoreNanoSeconds": 0 }`
I see that `time` is not zero.

As all node stats are zero it is correct behavior on MS server that it doesn't report any metrics about this node. What is strange for me is that on Slack discussion @trstn70 mentioned that switching to v0.4.4 solved the problem?

[2021-06-21 12:16] yangjunmyfm192085 commented on #785
Yeah, you are right, I have wrong description. `UsageCoreNanoSeconds` should not be zero.

[2021-06-21 14:01] serathius commented on #785
As discussed on Slack, this was an misundestanding. Looks like problem is on the Node side causing metric to not be exposed.

[2021-06-21 14:01] #785 closed

[2021-06-22 17:27] kirandeshpande1990 commented on #196
thanks!

[2021-06-28 03:51] liangyuanpeng commented on #661
I just found it.

Run command and just got the error.

[code]

It just ignore my kubeconfig when run options.go#ApiserverConfig()
[code]

And i providing a wrong filename like --kubeconfig=foobar.conf , got the same error.

[2021-06-28 03:52] liangyuanpeng commented on #661
/remove-lifecycle stale

[2021-06-28 05:34] liangyuanpeng commented on #688
I have started researching Metrics  Server, and I will solve this issue if possible.

[2021-06-28 05:39] liangyuanpeng commented on #572
The helm of the Metrics Server is necessary and i look forward to Official Helm Chart can continue to go.

[2021-06-28 06:45] pierluigilenoci commented on #572
Soon this issue turns one year old.
@stevehipwell are you planning any celebrations?

[2021-06-28 07:11] elcomtik commented on #572
My opinion is that this issue will not be resolved. I looks that you can develop open-source code, but not merge it here, unless have sponsor which backs your maintainership.

[2021-06-28 08:27] #559 closed

[2021-06-29 07:10] juliantaylor opened #791 "explain better why NET_BIND capability is needed"
**What would you like to be added**:

The current readme states:
[code]

This explanation is very confusing. It only says you need the capability but not why you need to set it despite changing the port it binds to?
Is it opening more than one port and if so why is the privileged port not configurable?
Also the deployment manifests in the source (manifests/base/) is not adding that capability in i

[2021-06-29 07:34] juliantaylor commented on #791
the process only seems to listen on one port, so my guess why the capability is required is because the provided docker image sets it as a file capability?
So using a binary without the capability would remove the requirement, that would be good to document.

[2021-06-29 07:41] oshoval opened #792 "Metrics-server doesn't report stats for pods which have initContainers"
**What happened**:
Installed latest metrics-server
ran `kubectl top pod`
Saw that all pods are showing information, beside pod that have initContainer

**What you expected to happen**:
metrics-server should show info for all pods

**Anything else we need to know?**:

Set
[code]
getting this for the missing pod
[code]

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc

[2021-06-29 07:41] oshoval commented on #792
/cc @serathius
Thanks

[2021-06-29 08:09] serathius commented on #792
cc @dgrisonnet @yangjunmyfm192085
Would you be interested in looking into it?

[2021-06-29 08:17] yangjunmyfm192085 commented on #792
/assgin
Let me take a look

[2021-06-29 08:17] yangjunmyfm192085 commented on #792
/assign

[2021-06-30 15:11] yangjunmyfm192085 commented on #792
I analyzed the data above.Summarized as follows,

- There are two containers in pod macvtap-cni-h42rc, install-cni and macvtap-cni.
the status of install-cni is terminated, and the status of macvtap-cni is running.

- we can get  macvtap-cni's metrics, but it can be seen from the above that install-cni can also collect metrics, but the value is 0，For this scenario, we discard the pod’s metrics.

-

[2021-06-30 15:12] serathius commented on #792
Can we reach out to SIG-Node and ask is metric information about terminated pods is expected?

[2021-06-30 15:56] yangjunmyfm192085 commented on #792
Yeah, I open one issue [#103368](https://github.com/kubernetes/kubernetes/issues/103368) for this question.

[2021-07-02 08:37] WnP opened #796 "Metrics server doesn't return metrics for all pods."
**What happened**:

Metrics server doesn't return metrics for all pods.

**What you expected to happen**:

metrics for all pods

**Anything else we need to know?**:

It may be related to #792 because metrics server returns metrics for pods without init containers.

This issue is present since `0.5.x` downgrading to `0.4.x` fix the issue

**Environment**:

- Kubernetes distribution (GKE, EKS, Kubea

[2021-07-02 15:18] yangjunmyfm192085 commented on #796
same reason as https://github.com/kubernetes-sigs/metrics-server/issues/792

[2021-07-02 15:23] serathius commented on #792
@yangjunmyfm192085 Can you test manually what happens when we run pod with init container on kind? adding an e2e test would be also great.

[2021-07-02 15:36] yangjunmyfm192085 commented on #792
ok, Let me try to  reproduce it.
I used kind to run pod with init container some days ago, but it didn’t reproduce.
I need to analysis the configuration about #792 and #796

[2021-07-02 15:45] yangjunmyfm192085 commented on #796
Hi, @WnP ,Could you provide the relevant  Pod manifest ? Thanks.

[2021-07-03 14:59] yangjunmyfm192085 commented on #796
/assign
I am analyzing it and #792

[2021-07-04 06:26] oshoval commented on #792
As a workaround, i removed the initContainer (did what it did manually), and it worked

If you want you can use the cluster we are using in order to simulate it easily

git clone https://github.com/kubevirt/cluster-network-addons-operator

[code]

hope it works out of the box, at the worst case need to install some package (and make sure docker is install of course)
let me know if you need anythin

[2021-07-04 14:02] yangjunmyfm192085 commented on #792
Thank you for the information, this is very helpful.
could you provide the information of docker? I will continue to analyze it.

[2021-07-04 14:08] oshoval commented on #792
Do you mean the versions ?
I use docker-ce

[code]

[2021-07-04 14:48] yangjunmyfm192085 commented on #792
ok, thanks

[2021-07-05 19:46] srinivasdas007 commented on #247
I also was getting the same problem, by running all the YAML files in metrics-server the problem has resolved:

1. First clone this git repository into your system using `git clone https://github.com/Sonal0409/DevOps_ClassNotes.git`
2. Then go to the KUBERNETES folder
3. Inside that again go into 'hpa' folder
4. Again go into 'metric-server folder.
5. And finally from this folder execute all the Y

[2021-07-07 07:38] nurhun commented on #290
I'm running k3s cluster. I modified the static metric yaml at /var/lib/rancher/k3s/server/manifests/metrics-server/metrics-server-deployment.yam with commands above .. but this doesn't solve the issue.

Note: k3s runs by defauly with flannel CNI.  Any ideas ?!

[2021-07-08 02:55] raspitakesovertheworld commented on #448
I was under the impression that kubeadm is the recommended way to setup clusters and does not take any shortcuts in terms of security. But I guess I was wrong about that, good to know.

[2021-07-08 06:51] serjteplov commented on #375
Got same internal network error on my minikube cluster.
I fixed the problem by reinstalling minikube.

First, delete minikube (on Linux):
minikube stop; minikube delete
docker stop (docker ps -aq)
rm -r ~/.kube ~/.minikube
sudo rm /usr/local/bin/localkube /usr/local/bin/minikube
systemctl stop '*kubelet*.mount'
sudo rm -rf /etc/kubernetes/
docker system prune -af --volumes

Second, install minikub

[2021-07-08 08:18] dudicoco opened #799 "Why are rbac permissions for configmaps needed?"
Within the rbac manifest, cluster wide permissions to get/list/watch configmaps are granted: https://github.com/kubernetes-sigs/metrics-server/blob/release-0.5/manifests/base/rbac.yaml#L60

Why is this needed?

/kind support

[2021-07-11 01:28] johanfleury commented on #791
I was having trouble with metrics-server refusing to start after an upgrade due to all capabilities being dropped.

It’s not good that this capability is *required*.

[2021-07-13 12:17] yangjunmyfm192085 commented on #710
/cc @jkaniuk @tosi3k @jprzychodzen

[2021-07-14 21:19] schollii commented on #667
/bump

[2021-07-15 13:32] haircommander commented on #792
hey @oshoval it looks like you're using cri-o. Can I ask what your kubelet config is? specifically for the runtime-endpoint? It is possible these metrics are coming from cadvisor, as cri-o uses the cadvisor stats provider by default

[2021-07-15 13:33] haircommander commented on #796
Can I ask what your kubelet config is? specifically for the runtime-endpoint? It is possible these metrics are coming from cadvisor, as cri-o uses the cadvisor stats provider by default

[2021-07-15 13:43] oshoval commented on #792
Hi @haircommander

Hope i did it right
used
https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/#generate-the-configuration-file

Note that if i remove the initContainer it does works,
also it works out of the box for the pods that don't have initContainer, so i do bet its the initContainer "fault"
[code]

[2021-07-17 07:01] serathius commented on #545
/lifecycle frozen

[2021-07-19 04:06] nick-oconnor commented on #792
Hi guys. I'm running into the same issue (i.e. that HPA's do not work on pods with init containers). My kubelets are returning metrics for the missing pods and I'm getting "Skipped container CPU/memory metric" for containers belonging to the missing pods. I took a quick look at the code and I think I see why this is happening. [This loop](https://github.com/kubernetes-sigs/metrics-server/blob/d766

[2021-07-19 04:37] yangjunmyfm192085 commented on #792
as the issue [#103368](https://github.com/kubernetes/kubernetes/issues/103368) discussed, `We only provide metrics for non-terminal pods, We only provide metrics for running containers`, so  if either decodeCPU or decodeMemory return 0 for any container in the pod, we want to discard pods with partial results

[2021-07-19 08:46] serathius commented on #792
Current diagnosis is that the fact that there are init containers reported in by Kubelet, is a bug in container runtime you are using. As a workaround please downgrade to MS v0.4.4.

@yangjunmyfm192085 that's the current status of the issue? If I remember we got confirmation from node team, but you didn't close any bugs on our side? Are you planning to continue working on this issue?

[2021-07-19 08:55] yangjunmyfm192085 commented on #792
Yeah, I did not close the issue in time. We have got confirmation from node team.
Let me close the issue.

[2021-07-19 08:58] yangjunmyfm192085 commented on #792
close this issue.
use issue [#103368](https://github.com/kubernetes/kubernetes/issues/103368) to track , because we  have got confirmation from node team.
/close

[2021-07-19 08:58] #792 closed

[2021-07-19 08:59] yangjunmyfm192085 commented on #796
close this issue.
use issue [#103368](https://github.com/kubernetes/kubernetes/issues/103368) to track , because we  have got confirmation from node team.
/close

[2021-07-19 08:59] #796 closed

[2021-07-20 12:42] dgrisonnet commented on #764
@serathius I had another look at this issue and it is already possible to load balance between the replicas of an aggregated apiserver via the `--enable-aggregator-routing=true` kube-apiserver flag. As long as we document that, I think we should move forward with the HA configuration of metrics-server.
Maybe, we could provide it in a separate manifests directory since it would require tweaking the

[2021-07-22 13:14] dgrisonnet opened #801 "Decouple /metrics endpoint from generic apiserver"
**What would you like to be added**:

I would like metrics-server's /metrics endpoint to be decoupled from the generic apiserver to allow applications only authorized to scrape metrics to be able to scrape metrics-server's /metrics endpoint without requiring apiserver authorization.

**Why is this needed**:

Metrics-server /metrics endpoint exposes metrics about the server health and these metrics

[2021-07-22 13:15] dgrisonnet commented on #801
/help

[2021-07-22 13:28] dgrisonnet commented on #799
I don't think it is needed.

I tracked it down and it seems to have been added a while back to make the e2e tests succeed d56cd8566ed88712754d8f6e89c6d81d83466178, but I don't think it is still meaningful today, so we should remove it. Would you be interested in contributing this change?

[2021-07-22 13:29] dgrisonnet commented on #799
/kind bug

[2021-07-22 13:30] dgrisonnet commented on #799
/remove-kind support

[2021-07-22 16:15] dudicoco commented on #799
@dgrisonnet sure i'll open a PR.
In master branch the `node/stats` resource was replaced with `node/metrics`: https://github.com/kubernetes-sigs/metrics-server/blob/master/manifests/base/rbac.yaml#L58

Is this correct should I revert it as well?

[2021-07-26 12:43] dgrisonnet commented on #799
This is correct, metrics-server was previously getting metrics from cadvisor summary API, but it was changed to use the kubelet /metrics/resources endpoint instead: https://github.com/kubernetes-sigs/metrics-server/issues/559

[2021-07-26 15:36] serathius commented on #799
Please test it before removing the permission. If I remember correctly adding this permission was required after upgrading go-client- version. Please read the commit message https://github.com/kubernetes-sigs/metrics-server/commit/d56cd8566ed88712754d8f6e89c6d81d83466178
[code]
I have added it in this PR as this was first time I managed to get e2e tests working, so I needed to fix permissions to g

[2021-07-27 12:13] dgrisonnet commented on #799
Another thing that might be good to check is whether we could move the configmap rbac permission to the [test manifests](https://github.com/kubernetes-sigs/metrics-server/tree/master/manifests/test) if is it really needed by the e2e tests.

[2021-07-27 20:39] techstep opened #803 "metrics-server reporting inconsistent numbers of control plane nodes"
**What happened**:

When I run `kubectl top nodes`, or `kubectl get nodemetrics` on a k8s cluster with metrics-server, I almost always have at least one control-plane node unaccounted for. The missing control plane node(s) change every minute with every run. All three control plane nodes are up and healthy, and the worker nodes show up all the time.

**What you expected to happen**:

I expected to

[2021-07-28 06:32] yangjunmyfm192085 commented on #803
Could you provide more information about Raw API result(as issue #792) and logs of metrics-server?
Let's also analyse the data  from kubelet

[2021-07-28 06:32] yangjunmyfm192085 commented on #803
Could you provide more information about Raw API result(as issue #792) and logs of metrics-server?
Let's also analyse the data from kubelet

[2021-07-30 03:14] yangjunmyfm192085 opened #804 "Prepared for Release v0.6.0"
/cc @serathius  @dgrisonnet

## Installation

kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.6.0/components.yaml

## Changes since v0.5.0

### Improvements

*  Migrate to Kubelet resource metrics endpoint (@yangjunmyfm192085)

*  Add high availability configuration (@dgrisonnet)

* Update golang used in metrics-server to 1.17 (@yangjunmyfm192085)

* Add Hel

[2021-07-30 03:15] yangjunmyfm192085 commented on #804
@serathius @dgrisonnet, any other suggestions?

[2021-07-30 13:07] sndrr commented on #804
This also sets the release tag? Since the [link in the readme](https://github.com/kubernetes-sigs/metrics-server#installation) points to the "latest" release, which is v0.5.0, but the table below talks about v0.6.0.

[2021-07-30 15:30] dgrisonnet commented on #804
We could add an `Installation` section as in https://github.com/kubernetes-sigs/metrics-server/releases/tag/v0.5.0.

Other than that I'd suggest:
- `Reduce resource usage by migrating to Kubelet resource metrics endpoint` - do we have numbers to share with the users?
- Change `Add RBAC for autoscale` to `Add RBAC to autoscale manifests`
- Move `Allow users to configure audit logs` to Observability

[2021-07-30 15:32] dgrisonnet commented on #804
@sndrr this issue is open prior to cutting the release, so once we've reviewed/approved the changelog for the next release we will be able to process with the release process, including tagging v0.6.0. You can find more info about the release process of metrics-server here: https://github.com/kubernetes-sigs/metrics-server/blob/master/RELEASE.md

[2021-07-30 15:35] dgrisonnet commented on #804
I think we should also be able to add https://github.com/kubernetes-sigs/metrics-server/issues/764 to this release, I just saw it was in the milestone and I will have some time tomorrow to work on adding HA manifests.

[2021-07-31 01:38] yangjunmyfm192085 commented on #804
Thanks for review, I have updated all.
For  `Reduce resource usage by migrating to Kubelet resource metrics endpoint`  , I think we have not the numbers now, so I modified it.

[2021-08-03 19:06] techstep commented on #803
Here's the logs from metrics-server when running the specific query (running `metrics-server` with `-v=8`). The logs for the request imply that everything is fine, that everything is returning with 200s, but `kubectl top nodes` in this case returns one control plane node, not the three.

<details>
<summary>Request logs</summary>

[code]

</details>

And the output of `kubectl top nodes --use-proto

[2021-08-03 20:06] techstep commented on #803
I ran the following code:

[code]

on a metrics-server node to run these `stats/summary?only_cpu_and_memory=true` queries. In particular, I ran these queries before, during, and after the time I was getting missing nodes from the output of `kubectl top nodes`, which was running on a 10-second `watch` loop.

<details>
<summary>output from control plane node</summary>

[code]
</details>

[2021-08-09 22:34] Vaccano opened #809 "Fresh install fails to startup."
**What happened**:  Installed using the [components.yaml](https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml) file.  I waited an hour,  then ran the command `kubectl top pods`.  The command failed with: `Error from server (ServiceUnavailable): the server is currently unable to handle the request (get pods.metrics.k8s.io)`.

Running a describe on the `apiserv

[2021-08-10 12:55] c002910 commented on #237
same with me for AKS v1.19

[2021-08-10 16:52] yangjunmyfm192085 commented on #803
I don't see any problems from the metrics above, but I noticed that the startup time of the node test-us-west-1-control-plane-577lp is `"startTime": "2021-08-03T19:33:50Z",`,  and timestamp reported by metrics is  `"2021-08-03T19:34:36Z",` , Is the node running normally?

[2021-08-11 16:44] techstep commented on #803
The three nodes have been running normally, as far as I can tell. I'm not sure why was a 46-second difference in the timestamps of those two.

[2021-08-12 17:22] #809 closed

[2021-08-14 04:34] schollii commented on #667
/reopen

[2021-08-15 12:21] dsaydon90 opened #810 "add limits to pod resources"
**What would you like to be added**:
Currently, the `Deployment` of the `metrics-server` contains only `requests` under the pod `resources`:
https://github.com/kubernetes-sigs/metrics-server/blob/d4def03ad3eada32d8ba3747c7d5e182f6efa101/manifests/base/deployment.yaml#L29-L32

please also add a default `limits` to the pod `resources`

**Why is this needed**:
It's a best practise to have both `reque

[2021-08-17 07:01] fosiul opened #811 "Metrics-Server is in CrashLoopBackOff with every new and fresh install"
**What happened**:

Every time I install Kubernetes with rke, Everything works but Metrics-Server goes into  "CrashLoopBackOff".
I have created at least 10 times in 2 different environment,  no network issues, no iptables issues.

from google , people suggesting I need to add

 Command:
      /metrics-server
      --kubelet-insecure-tls
      --kubelet-preferred-address-types=InternalIP

but Quest

[2021-08-17 15:42] fosiul commented on #811
this issue was resolved by changing

  Liveness:     http-get https://:https/livez delay=0s timeout=1s period=10s #success=1 #failure=3
  Readiness:    http-get https://:https/readyz delay=0s timeout=1s period=10s #success=1 #failure=3
to :

  Liveness:     http-get https://:https/healthz delay=0s timeout=1s period=10s #success=1 #failure=3
  Readiness:    http-get https://:https/healthz delay=0s

[2021-08-19 07:27] yangjunmyfm192085 commented on #803
Yeah, I can't got the reason,  but we really found there was  a 46-second difference in the timestamps of those two.
we need at least two cycles of data  before before exposing nodeMetrics after the node is started.
So could we try to get help from node team?

[2021-08-19 07:42] yangjunmyfm192085 commented on #803
@techstep, thanks for your feedback, I open an issue [104445](https://github.com/kubernetes/kubernetes/issues/104445)  about `sig node` to track it.
If any other information, please help to add it

[2021-08-21 03:24] yangjunmyfm192085 commented on #811
The official manifests file is here
https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.3.6/components.yaml
I think this is a bit different from what you use.

[2021-08-21 05:03] yangjunmyfm192085 commented on #810
I think it depends on the qos class your pod needs to be set ,  Guaranteed Burstable or BestEffort, you can set it according to your requirement.

[2021-08-24 03:41] nodesocket opened #812 "Metrics server pod fails liveness/readiness probe upon install"
**What happened**:

Metrics server pod fails liveness/readiness probe upon install.

[code]

**What you expected to happen**:

Liveness/readiness probes complete successfully.

**Anything else we need to know?**:

Running on a Raspberry Pi 4B??? `armv7l`

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.):

Kubeadm init

- Container Network Setup (flannel, calico, e

[2021-08-24 04:02] nodesocket commented on #812
Found the culprit in the logs:

[code]

How can I turn off certificate validation?

[2021-08-24 15:11] PhilipGough opened #813 "Unexpected behaviour from kubectl explain command"
**What happened**:

Run the following command to get api resources and output:
[code]

[code]

[code]

**What you expected to happen**:
The explain command to behave the way it does for other resources, example:

[code]

**Anything else we need to know?**:

1. The same behaviour can be observed for Pods
1. I tested that [updating the following keys](https://github.com/kubernetes-sigs/metrics-serve

[2021-08-27 02:25] binchenX opened #814 "metrics-server can't start - bind: permission denied"
**What happened**:

1. kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.5.0/components.yaml

2. metrics-server in `crashLoopBackOff`

and logs shows:

k logs -f metrics-server-564c6cf8f8-g9mc4
[code]

**What you expected to happen**:
metrics-server starts.

**Anything else we need to know?**:

We enabled PSP policy, but not sure this is the root cause.

**Env

[2021-08-28 07:23] VladoPortos commented on #812
Try adding --kubelet-insecure-tls

**kubectl edit deploy metrics-server -n kube-system**

[code]

[2021-08-30 01:39] kave commented on #812
Fixed with this container spec. had to:
- update the secure-port
- container port
- add arg `--kubelet-insecure-tls`

[code]

[2021-08-30 09:41] VladoPortos commented on #812
Also if the --kubelet-insecure-tls did not fixed it, you might need to extend the time when it check for ready ( this was an issue I had )

Had to change to:

[code]

[2021-08-31 06:21] VladoPortos commented on #812
@prabhatmishra33  look at the deployment why it is failing.

Look with `kubectl describe deployment <deployment_name>` at the bottom if it write out some errors. and then try `kubectl describe pod <fill_in_pod_name>` same deal at the bottom... and last look at the log if it have any with `kubect log <fil_in_pod_name>`

[2021-08-31 07:25] #552 closed

[2021-08-31 13:11] libintomgit commented on #141
How ? that would really help.

[2021-08-31 13:41] serathius commented on #141
Please don't post on 3 years old issue as during that time MS code was totally rewritten. If you have similar problem it has definitely different cause. Please create a new issue and provide information required to debug it.

[2021-08-31 21:39] lboix commented on #637
Yes I did, following the tip above of @jeff-french : https://github.com/kubernetes-sigs/metrics-server/issues/637#issuecomment-738987028

If you are running a `kubectl logs --previous POD `on your metrics-server pod that keeps restarting : do you see at the bottom of the output an error related to the readiness or liveness probe ?

[2021-09-01 07:08] VladoPortos commented on #637
@lboix that did not help me, what finally got me working is changing these:

[code]

[2021-09-01 14:36] lboix commented on #637
OK I see! I am glad you worked it out @VladoPortos :)

[2021-09-01 21:07] hetpats commented on #782
Even with permissive PSP the container files to bind the port, changing the container port,LP & RP to 4443 , gets the pod up but it doesnt return metrics.Please help to resolve this issue, we will revert back to older version till this issue is fixed.

PSP setting:-
Allowed Capabilities:
    *

[2021-09-02 01:37] mpv945 opened #818 "When will CGroup V2 be supported?"
I now run kubernetes on the "Fedora release 34 server", and V2 is enabled by default. After installing metrics, you can't get the indicator information of the host. You can get the indicator of pod resources

[2021-09-02 08:35] pierluigilenoci commented on #782
@yangjunmyfm192085 @dgrisonnet @maxbrunet @serathius @ikarldasan could you please take a look?

[2021-09-02 08:47] stevehipwell commented on #782
I'm interested as to why it's desirable to use port `443` in the pod? The service can provide an idiomatic port such as `443` while the container can use a safe port such as `4443` which doesn't need any extended security settings. This is the pattern currently configured for the Helm chart PR (https://github.com/kubernetes-sigs/metrics-server/pull/670).

[2021-09-02 09:01] yangjunmyfm192085 commented on #782
@pierluigilenoci @hetpats ,  I think you can do the following check first.
`Error: failed to create listener: failed to listen on 0.0.0.0:443: listen tcp 0.0.0.0:443: bind: permission denied.`

- Does the environment have permission to use port 443?
- Is port 443 occupied?
- You can also refer to
https://github.com/kubernetes-sigs/metrics-server#security-context

[2021-09-02 09:14] pierluigilenoci commented on #782
@stevehipwell it doesn't really make sense to me to use a port < 1024 for multiple reasons. It just creates complications with no real benefit.

@yangjunmyfm192085 I installed the software with this chart #670 and CAP_NET_BIND_SERVICE is not configured if I have seen correctly. @stevehipwell could you please confirm?

[2021-09-02 09:17] stevehipwell commented on #782
@pierluigilenoci if you want to use a port lower than 1024 you need to setup the security context in the chart to support this.

[2021-09-02 09:28] pierluigilenoci commented on #782
@stevehipwell I absolutely don't want to do it, the metrics-server maintainers want that #730. 😄
But given the current situation, perhaps it would be appropriate to put it by default in chart #670. 😞

[2021-09-02 09:34] pierluigilenoci commented on #782
@yangjunmyfm192085 obviously I didn't mention the fact that the problem occurs using the official manifest https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.5.0/components.yaml because it was in the ticket text itself.
Ref: https://github.com/kubernetes-sigs/metrics-server/releases/tag/v0.5.0

[2021-09-02 09:56] stevehipwell commented on #782
@pierluigilenoci I've just looked at the official manifest and as far as I can tell it's not going to work as the capabilities haven't been set in the security context. Have you tried the following security context?

[code]

@hetpats it's not the PSP, could you try the security context above?

[2021-09-02 11:36] yangjunmyfm192085 commented on #782
@pierluigilenoci  What kind of runtime you are using?
What is the runtime and system kernel version?

[2021-09-02 11:44] stevehipwell commented on #782
@yangjunmyfm192085 I know the user can be overridden by `1000` (or anything) but this is unintuitive with an image which has a named user specifically for this purpose. The line you've quoted on the Dockerfile is for the build image and not the actual image shipped so has no impact.

[2021-09-02 11:57] yangjunmyfm192085 commented on #782
I think `RUN setcap cap_net_bind_service=+ep metrics-server`  has enabled the `NET_BIND_SERVICE` capability for metrics-server.
May be the real cause of this issue should not have been found yet.
Let us ask @pierluigilenoci, according to your suggestion, whether it works?

[2021-09-02 12:16] pierluigilenoci commented on #782
@stevehipwell I didn't do it because I wasn't interested in finding a workaround but that it was fixed at the source. So I have not made any attempt with the `securityContext`.

@yangjunmyfm192085 I did not understand in detail what you are asking but I used the manifest without any changes. The details of the environment are specified in the issue text. What other detail are you interested in?

[2021-09-02 12:20] pierluigilenoci commented on #782
I use the @stevehipwell chart to install the metrics-server and I was able to install it properly after this chart release https://github.com/stevehipwell/helm-charts/commit/9eca9cc4dc164df132d88e021998d42a634aa2e1#diff-075666af5967de738291733584934578239841b3eaf0caf7965207aba168ed75

[2021-09-02 12:26] stevehipwell commented on #782
@yangjunmyfm192085 after looking through https://github.com/kubernetes-sigs/metrics-server/issues/725 I can see that `RUN setcap cap_net_bind_service=+ep metrics-server` is setting extended attributes that should be copied through from the previous stage (might be worth a comment as this isn't always the case); but these just make the binary aware of the required capabilities. When running as a no

[2021-09-02 14:04] yangjunmyfm192085 commented on #782
Yeah, I think this chart use the container port 4443 here, so you can install it properly @stevehipwell .
https://github.com/stevehipwell/helm-charts/commit/9eca9cc4dc164df132d88e021998d42a634aa2e1#diff-388bebf658e7a2cd5fee27a4c120a71575fc2cd0f8ca0ea48d4add89e4e1ddc4R58.

[2021-09-02 14:06] stevehipwell commented on #782
@yangjunmyfm192085 I use container port `4443` in this chart as the manifests for v0.5.0 don't work and I chose to limit the container port rather than update the security context; either would have worked to the best of my understanding.

[2021-09-02 14:23] yangjunmyfm192085 commented on #782
any way, you solved @pierluigilenoci's issue, thanks.
Similar issues have appeared many times recently. but the  cause was not found.
Can it work if the security context is updated? I hope someone who has this scene can verify it.

[2021-09-02 14:25] stevehipwell commented on #782
@yangjunmyfm192085 I assume that anyone running the official manifests would be getting this issue and I'm saying that it will work if the security context is updated or if the port is made >1024.

[2021-09-02 14:29] yangjunmyfm192085 commented on #814
@binchenX, you can refer to
https://github.com/kubernetes-sigs/metrics-server#security-context

[2021-09-02 14:36] yangjunmyfm192085 commented on #782
I run  the official manifests locally and it’s  normal, So I want to know if it will work if the security context is updated

[2021-09-02 14:43] serathius commented on #782
Main motivation for using port 443 is backward compatibility with https://github.com/kubernetes/kubernetes/blob/2a88664eccdf02cd01777b48171873a028117737/cluster/addons/metrics-server/metrics-server-deployment.yaml#L61

In v0.4.0 stopped using root user in the image, which broke K8s e2e tests. We could not change the port as 443 as this would be a breaking change for firewall rules in common K8s se

[2021-09-02 14:44] pierluigilenoci commented on #782
@yangjunmyfm192085 I don't understand how the official manifest can work for you.
But by "locally" do you mean on your local machine?

![WorksOnMyMachine](https://user-images.githubusercontent.com/36044817/131863935-20adcc30-e718-43da-955d-80895f466b7c.png)

[2021-09-02 14:46] yangjunmyfm192085 commented on #782
use kind or my local machine both ok.

[2021-09-02 14:59] stevehipwell commented on #782
@serathius I'm not sure why switching the deployment container port to `4443` would be a breaking change as the service would still be on port `443` and the APIService binds to that not the deployment?

Based on everything said here the release manifests seem to be incorrect and need the capability adding, would you agree @serathius?

Also if the capability is always required to run the binary I'm

[2021-09-02 15:08] pierluigilenoci commented on #782
I would like to point out that for some time Azure AKS has switched to `containerd` so `DinD` is no longer possible.

[2021-09-02 15:16] stevehipwell commented on #782
@pierluigilenoci that's probably not relevant here as the DinD bit here is to explain why it works on a local machine, but EKS are making the same transition and it's worth knowing.

[2021-09-02 22:28] yangjunmyfm192085 commented on #782
I mean, kubernetes runs on my local machine

[2021-09-09 07:57] NaN-git opened #819 "v0.5.0: regression with cgroup v2"
This bug is related to #818 and this issue is the only reason why I could find a workaround.

**What happened**:

With https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.5.0/components.yaml the nodes endpoint returns zero items. Metrics of pods are shown as expected. With https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.4.4/components.yaml the nodes endpoi

[2021-09-09 08:55] serathius commented on #819
Please note that MS does't care about cgroups, it just collect metrics from Kubelet.

If there is a difference between MS behavior based on cgroup version, it means that Kubelet response changed. Please provide kubelet summary api response from both cgroupv1 and cgroupv2 config.

[2021-09-09 22:31] NaN-git commented on #819
@serathius Thanks for the quick reply.

Here is the output for the `node`-key with cgroup v1:
[code]
 Now with cgroup v2:
[code]
 The only difference seems to be that with cgroup v1 `availableBytes` isn't reported. Another problem seems to be that `"usageBytes": 0` is reported with cgroup v2.
 That seems to explain the behavior of metrics-server v0.4.4.

[2021-09-09 22:41] hetpats commented on #782
@pierluigilenoci Tried running it with above SecurityContext and it still fails.

[2021-09-09 22:43] hetpats commented on #782
I tried it and it still wouldn't work
    containers:
      - args:
        - --cert-dir=/tmp
        - --secure-port=443
        - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
        - --kubelet-use-node-status-port
        image: 092741386116.dkr.ecr.us-east-1.amazonaws.com/eks/k8s:eks-1.20-metrics-server-img-metrics-server-v0.5.0
        imagePullPolicy: IfNotPresent

[2021-09-09 22:46] hetpats commented on #782
Tried it with securitycontext suggested  by  @pierluigilenoci  at it still wouldnt bind to 443
│ metrics-server-6b56744b55-nchpv   -v, --v Level                          number for the log level verbosity                                                                                                                                                                  │
│ metrics-server-6b56744b55-nchp

[2021-09-09 22:52] hetpats commented on #782
Tried this too and still couldnt bind to 443

[2021-09-10 12:48] #572 closed

[2021-09-10 14:14] nmnellis opened #821 "manifest download 404"
**What happened**:

Install instructions returns a 404 https://github.com/kubernetes-sigs/metrics-server/releases/download/metrics-server-helm-chart-3.5.0/components.yaml
[code]

**What you expected to happen**:
download components.yaml

/kind bug

[2021-09-10 14:29] serathius commented on #821
Looks like https://github.com/kubernetes-sigs/metrics-server/pull/670 broke README on master :(

[2021-09-10 14:34] serathius commented on #821
Updated README to target v0.5.0 release.
@stevehipwell is there any option to avoid conflicting MS and chart releases for latest?

[2021-09-10 14:35] nmnellis commented on #821
This isnt a great solution because lots of people like myself use the old url in our demo installs and such. its been that way for a long time.
[code]

[2021-09-10 14:37] stevehipwell commented on #821
@serathius I don't think so, this is a GH issue which catches backport release out too. I think you might be able to manually edit the release description of the release you want to be latest to make it so.

[2021-09-10 15:21] serathius commented on #821
QQ, do we need for chart pipeling to push release GH at all, could tag be enough?

[2021-09-10 15:25] stevehipwell commented on #821
@serathius it needs to be a release as it's a fundamental part of how the action works and manages the chart repo artifacts. Have you tried manually modifying the release you want to be latest to see if that's possible? If it is then maybe the chart release workflow could modify the last release to automate this.

[2021-09-10 15:31] serathius commented on #821
If my modifying you mean adding any string to description then I tried that, also didn't find any other alternative ideas by Googling.

[2021-09-10 15:35] stevehipwell commented on #821
@serathius I don't think there is an easy way to achieve this.

[2021-09-10 15:54] serathius commented on #821
Could we just delete release after action works?

[2021-09-10 16:08] stevehipwell commented on #821
@serathius no, that's where the chart artifact is hosted that the users download.

[2021-09-10 16:16] stevehipwell commented on #821
@serathius we could add the artifacts to the chart release so they're still available.

[2021-09-10 16:40] serathius commented on #821
that's hacky but should work.

[2021-09-10 16:42] stevehipwell commented on #821
@serathius if you added the required artifacts to the current chart release manually I could take a look at automating them the next time?

[2021-09-10 16:57] nmnellis commented on #821
works thanks

[2021-09-10 16:57] #821 closed

[2021-09-11 08:52] binchenX commented on #814
Thanks @yangjunmyfm192085! Will fix the PSP and verify!

[2021-09-12 05:16] WingT opened #824 "the high availability yaml link doesn't exist"
the high availability yaml link doesn't exist

[2021-09-12 07:07] serathius commented on #824
cc @dgrisonnet

[2021-09-13 09:46] dgrisonnet commented on #824
This is because this is still being worked on and will be available only starting from v0.6.0.

[2021-09-13 09:58] dgrisonnet opened #825 "Installation command points out to helm release instead of the official release"
In the `Installation` part of the README. we are providing some commands to the users to install the latest manifest bundles of metrics-server.

For example:
[code]

The issue is that this command is now pointing to [metrics-server-helm-chart-3.5.0](https://github.com/kubernetes-sigs/metrics-server/releases/tag/metrics-server-helm-chart-3.5.0) instead of the latest official release of metrics-serv

[2021-09-13 09:59] dgrisonnet commented on #825
/kind bug

[2021-09-13 13:54] xinfengliu commented on #247
I have the same issue but a different cause. I enabled `cgroup v2` on the nodes, now `kubectl top pods` works well, but `kubectl top nodes` got `error: metrics not available yet`. After I added `--v=2` to `metrics-server` command line args, I saw below messages in the metrics-server logs:
[code]
Is this a known issue?

[2021-09-13 16:29] serathius commented on #824
This is a problem with master readme being used as documentation. Options I can think of:
* Remove note about unreleased feature
* Update note that it will be available when v0.6.0 is cut
* Create per release documentation hosted outside github

[2021-09-13 17:23] dgrisonnet commented on #825
:+1: I was out of the loop, thank you for pointing it out.

[2021-09-13 17:23] #825 closed

[2021-09-14 07:41] tutuV opened #828 "error: metrics not available yet"
Install k8S cluster with kubeadm, metrics-server 5.0

metrics-server.yaml
---
111 apiVersion: apps/v1
112 kind: Deployment
113 metadata:
114   labels:
115     k8s-app: metrics-server
116   name: metrics-server
117   namespace: kube-system
118 spec:
119   selector:
120     matchLabels:
121       k8s-app: metrics-server
122   strategy:
123     rollingUpdate:
124       maxUnavailable: 0
125   templat

[2021-09-14 09:45] tutuV commented on #828
I switched from metrics-Server to version 0.4.4, and everything worked fine. I wonder why 0.5.0 is wrong
---

[2021-09-14 11:12] serathius commented on #828
Can you please provide Kubelet Summary API response? It should help compare behavior between v0.4.4 and v0.5.0

[2021-09-15 04:03] tutuV commented on #828
@serathius  I'm not sure which apis you need

curl https://127.0.0.1:10250/stats/summary

{
 "node": {
  "nodeName": "local001-test-k8s001-master001",
  "systemContainers": [
   {
    "name": "kubelet",
    "startTime": "2021-09-15T02:06:20Z",
    "cpu": {
     "time": "2021-09-15T03:56:00Z",
     "usageNanoCores": 36920119,
     "usageCoreNanoSeconds": 277901367346
    },
    "memory": {
     "ti

[2021-09-15 05:33] yangjunmyfm192085 commented on #804
/cc @serathius @dgrisonnet Could we prepare to release v0.6.0?

[2021-09-15 06:56] dgrisonnet commented on #804
Sounds good from my side :+1:

Just a comment regarding the CHANGELOG:
- `Implementing loadbalancing in kube-aggregator to allow better support for HA` is incorrect, it would be better to say: `Add high availability configuration`

[2021-09-15 07:29] yangjunmyfm192085 commented on #804
updated

[2021-09-15 07:30] stevehipwell commented on #804
I'll create a PR for the v0.6.0 chart once the release drops.

[2021-09-15 15:30] fpetkovski commented on #801
/assign

[2021-09-15 15:48] maxbrunet commented on #804
With the addition of HA, is it possible to scale horizontally instead of vertically?

More concretely, is the "Scaling" section of the README still relevant or is there anything to update there?
https://github.com/kubernetes-sigs/metrics-server/blob/8b2b94114dc323c2e7596a6765ced0f6c97507ea/README.md#scaling

And can [cluster-proportional-autoscaler](https://github.com/kubernetes-sigs/cluster-propo

[2021-09-15 15:51] maxbrunet commented on #764
With the addition of HA, is it possible to scale horizontally instead of vertically?

More concretely, is the "Scaling" section of the README still relevant or is there anything to update there?
https://github.com/kubernetes-sigs/metrics-server/blob/8b2b94114dc323c2e7596a6765ced0f6c97507ea/README.md#scaling

And can [cluster-proportional-autoscaler](https://github.com/kubernetes-sigs/cluster-propo

[2021-09-15 17:25] serathius commented on #764
No, high availability is unrelated to horizontal scaling.

[2021-09-15 18:14] serathius commented on #803
FYI we don't support bitnami images as we don't even know what MS version they use or if they do any code changes.

Please confirm if I understood the problem, Kubelet reports invalid node start time for control plane nodes resulting in MS sometimes not reporting node metrics for those nodes?

[2021-09-15 18:31] maxbrunet commented on #764
This sentence from the README says "that requests sent to Metrics Server are load balanced between the 2 instances", will resource usage not be spread across the 2 instances too?
https://github.com/kubernetes-sigs/metrics-server/blob/8b2b94114dc323c2e7596a6765ced0f6c97507ea/README.md#L89

[2021-09-15 19:22] serathius commented on #764
I would need to do scalability testing again as after switching protobuf to reduce API serving, but I expect that more than 50% of CPU/memory used by MS is to collect metrics (tested in 100 node clusters). This cannot be spread around as each MS instance needs to scrape all nodes in cluster (sharding is not supported and would introduce needless complexity to MS). In bigger clusters I expected tha

[2021-09-16 00:51] yangjunmyfm192085 commented on #803
I agree with @serathius, the reason is `Kubelet reports invalid node start time for control plane nodes resulting in MS sometimes not reporting node metrics for those nodes`

[2021-09-16 06:16] serathius commented on #803
This means that v0.5.0 should not use Kubelet start time. I think we should fix this and release v0.5.1. @yangjunmyfm192085 what do you think?

[2021-09-16 08:40] stevehipwell opened #830 "Support logs in JSON format"
**What would you like to be added**:
MS to support setting the log format to JSON, like the `--logging-format=json` flag added to [Kubernetes v1.19](--logging-format=json).

**Why is this needed**:
Having all logs in JSON format makes generic log handling easier.

/kind feature

[2021-09-16 08:46] stevehipwell commented on #830
@serathius it looks like you're in a good position to comment on, and hopefully either implement or support the implementation of this? I haven't been able to find an example of anything other than Kubernetes using `klog` to generate JSON logs, but there are [other projects using klog who want to support JSON](https://github.com/jetstack/cert-manager/issues/2605).

[2021-09-16 09:22] serathius commented on #830
There is an example how K8s configures klog to generate JSON. https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/component-base/logs/example

[2021-09-16 09:28] dgrisonnet commented on #764
Closing this issue since #805 has been merged and testing was added in #808.

/close

[2021-09-16 09:28] #764 closed

[2021-09-16 09:29] dgrisonnet commented on #710
@yangjunmyfm192085 are there still things to be done as part of this issue?

[2021-09-16 10:23] stevehipwell commented on #830
@serathius is this something that could be added to MS or is there a reason not to?

[2021-09-16 10:31] yangjunmyfm192085 commented on #710
I think this issue has finished.

[2021-09-16 10:33] yangjunmyfm192085 commented on #710
/close

[2021-09-16 10:34] yangjunmyfm192085 commented on #710
/cc @serathius

[2021-09-16 10:38] serathius commented on #710
I don't agree with statement that this issue should be closed. In the original scope I proposed that we should document and how to run and use results from scalability tests. Without this step this work would be useless.

We need to have a way to include scalability tests in our release process, without this we just burn CPU for nothing.

[2021-09-16 10:40] serathius commented on #830
JSON format is still in Alpha and we expect multiple changes in 1.23. Main reason not to add it is that it's still work in progress and it's up to component maintainers to decide if they want to take such dependency.

[2021-09-16 10:46] yangjunmyfm192085 commented on #710
ok, I think I missed this step, I will continue to resarch about this.

[2021-09-16 10:50] stevehipwell commented on #830
@serathius are these changes only for the `json` representation only or will they impact `text` too?

[2021-09-16 10:51] serathius commented on #830
Only JSON, we cant break text

[2021-09-17 07:52] stevehipwell commented on #830
@serathius I assume that it's not the implementation, setting the `--logging-format json` flag, that will be changing but the output JSON? If so, is there a reason not to support this now with this explicitly defined, in some cases JSON logs are easier to integrate than text even if they might change.

[2021-09-18 01:07] panpengfei21 opened #832 "endpoints for service/metrics-server in "kube-system" have no addresses with port name "https""
**What happened**:
##kubectl describe apiservice v1beta1.metrics.k8s.io
[code]

##how I install
download yaml from `https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml
`
I add `--kubelet-insecure-tls` to args:

[code]
##kubectl version --short
[code]

[2021-09-18 06:59] #832 closed

[2021-09-18 07:05] panpengfei21 opened #833 "endpoints for service/metrics-server in "kube-system" have no addresses with port name "https""
**kubectl describe apiservice v1beta1.metrics.k8s.io**
[code]

**logs**
[code]

**yaml**
Download from `https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/high-availability.yaml
`,and modify `args`,blow
[code]

**kubectl version --short**
[code]

[2021-09-18 10:02] #833 closed

[2021-09-18 15:00] b0nete commented on #247
Thanks you, i'm using minikube 1.22 with kubernetes version 1.21.2 and this was the solution. I enabled creation of apiServer in values and it works fine!.

`minikube version: v1.22.0`

[code]

[2021-09-19 10:37] tutuV commented on #828
I tried again over the holidays. It took several hours, but it still didn't work.And then I went to sleep and woke up and it worked.I checked the logs and the kubelet API responses, and everything is fine now.I don't know what happened.

[2021-09-20 06:22] yxxhero opened #834 "Add CAP_NET_BIND_SERVICE capability check before start"
**What would you like to be added**:
Add CAP_NET_BIND_SERVICE capability check before start

**Why is this needed**:
Metrics Server requires the CAP_NET_BIND_SERVICE capability in order to bind to a privileged ports as non-root. If you are running Metrics Server in an environment that uses PSPs or other mechanisms to restrict pod capabilities, ensure that Metrics Server is allowed to use this capa

[2021-09-20 06:22] yxxhero commented on #834
/cc yxxhero

[2021-09-20 06:22] yxxhero commented on #834
/assign

[2021-09-22 06:51] grieshaber opened #835 "Kubelet preferred address types is hardcoded"
**What happened**:
Installed latest metrics-server Version via the helm chart on a cluster set up with kOps.
Kubelet certs on clusters installed with kOps only contain the hostname as SANs. To avoid usind `--kubelet-insecure-tls`, we need to change the `--kubelet-preferred-address-types` parameter to only `Hostname`.
Therefore we added `--kubelet-preferred-address-types=Hostname` to `args:` value,

[2021-09-22 07:18] cfrantsen commented on #828
I had the same issue with 0.5.0, but rolled back to 0.4.2 that I was using before. Kubernetes 1.20.11.

[2021-09-22 08:35] serathius commented on #835
cc @stevehipwell

[2021-09-23 09:51] h0jeZvgoxFepBQ2C commented on #572
Could someone tell me what is now the recommended way to install the metrics server via helm?
Via bitnami or via the helm repo mentioned in this repository?

[2021-09-23 10:08] onedr0p commented on #572
Whatever you want, for me I've decided to use the official chart here.

[2021-09-23 10:10] h0jeZvgoxFepBQ2C commented on #572
But are there any differences?
It's not really clear to me if there are any differences?

And do you think I can install the offical helm chart, even when I installed it before via the kubectl apply -... command? thank you!

[2021-09-23 10:50] pierluigilenoci commented on #572
Enjoy https://github.com/kubernetes-sigs/metrics-server/tree/master/charts/metrics-server

[2021-09-23 12:05] stevehipwell commented on #572
If you don't get the README automatically.
https://github.com/kubernetes-sigs/metrics-server/blob/master/charts/metrics-server/README.md

[2021-09-23 18:22] serathius commented on #803
ping @yangjunmyfm192085

[2021-09-23 21:00] h0jeZvgoxFepBQ2C commented on #572
Yeah I know there is the Readme, but this doesn't answer my question? 😅
I did ask what the differences are between the binami helm chart and the kubernetes-sigs helm chart?
And also if it's possible to update an installation via helm, which was installed initially via ```kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml```? :)

[2021-09-23 21:10] stevehipwell commented on #572
@h0jeZvgoxFepBQ2C you'd have to compare the Helm output of the two charts to see the full set of differences. I'm not an expert on Bitnami, but the official chart will give you the official image and configuration, Bitnami uses a custom image and has other differences.

RE manifest to chart - the official chart is based on the official manifests but customisable. I'm sure it would be possible to e

[2021-09-24 00:40] yangjunmyfm192085 commented on #803
Ok, Let me prepare for it

[2021-09-24 03:01] yangjunmyfm192085 opened #840 "Prepared for Release v0.5.1"
/cc @serathius @dgrisonnet

## Installation

kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.5.1/components.yaml

## Changes since v0.5.0

### Improvements

### Optimizations

### Observability

### Tests

### Manifests

### Documentations

### Fixes

* Don‘t use Kubelet start time for metrics-server.  (@yangjunmyfm192085)

* cherry pick of #807  (@yangjunmy

[2021-09-24 05:53] aliusmiles commented on #572
@h0jeZvgoxFepBQ2C I've simply run `helm template` on both charts and compared differences. From what I remember, besides bitnami's custom image and chart labels, main difference were rbac permissions and args. The only thing that matters to me was insecureKubeletTLS arg so I've just added it to official chart custom values and reinstalled. Everything seems to work just fine since then.

[2021-09-24 06:53] h0jeZvgoxFepBQ2C commented on #572
Thanks so much @aliusmiles !

[2021-09-24 09:14] 982186883 commented on #237
如果上面的操作都没有成功，那就直接重启kubelet，等几分钟再查询，反正我成功了

[2021-09-24 21:59] ggpaue opened #842 "which version of metrics server will support k8s 1.22?"
Hi metrics server maintainers,
which version of metrics server will support k8s 1.22?

Compatibility matrix in README says metrics server 0.6.x will support k8s 1.19+, is that mean it will support k8s 1.22?

[2021-09-24 22:03] yangjunmyfm192085 commented on #840
/cc @serathius @dgrisonnet

[2021-09-24 22:07] yangjunmyfm192085 commented on #842
Yes. But version 0.6.0 has not been released yet, you can use version 0.5.0 first.

[2021-09-24 22:25] yangjunmyfm192085 commented on #842
/cc @serathius @dgrisonnet , Currently the e2e tests of metrics-server have not been tested in k8s version 1.22.
In the release notes of kind v0.11.1, version 1.22 has been supported.
I think we should add e2e tests for 1.22 version

[2021-09-24 22:29] yangjunmyfm192085 commented on #811
@fosiul Is it solved using official manifests?

[2021-09-25 12:49] serathius commented on #842
sg, can you send PR

[2021-09-25 12:51] #842 closed

[2021-09-25 12:51] serathius commented on #842
Closing as original question was answered.

[2021-09-25 12:53] serathius commented on #811
MS 0.3.x is no longer supported.

[2021-09-25 12:53] #811 closed

[2021-09-25 13:40] serathius commented on #840
I will reword fixes to describe what they fix, but otherwise LGTM. WIll try to cut it today

/lgtm

[2021-09-25 15:32] serathius commented on #804
I think we are ready for release, before that we need to bump our dependecies to k8s 1.22, golang and e2e tests to run on 1.22.

[2021-09-26 00:42] yangjunmyfm192085 commented on #842
sure, I will add the tests for 1.22 version

[2021-09-26 00:47] yangjunmyfm192085 commented on #804
yeah, I will do it .

[2021-09-26 07:53] yangjunmyfm192085 commented on #804
/cc @serathius , this pr #845 has added e2e tests for k8s version 1.22

[2021-09-26 16:14] #803 closed

[2021-09-26 16:14] serathius commented on #803
Fix was implemented and released in v0.5.1

[2021-09-26 16:14] serathius commented on #803
@techstep Please confirm if that fixes the issue for you.

[2021-09-27 16:33] ggpaue commented on #842
thank you for the answer, is there any estimate time to release 0.6.0?

[2021-09-28 00:35] yangjunmyfm192085 commented on #842
It is in progress

[2021-09-28 16:01] paleozogt opened #848 "bad architecture metadata in k8s.gcr.io images"
**What happened**:

While the`k8s.gcr.io/metrics-server/metrics-server` images are multi-arch, the architecture metadata in each image is incorrect.

For example, all the images have `amd64` as their architecture:
[code]

Contrast this to how other images behave:
[code]

**What you expected to happen**:

The architecture metadata for an image should match its entry in a multi-arch manifest.

**Any

[2021-09-29 18:13] ggpaue commented on #842
@yangjunmyfm192085 does metrics server 0.4.0 support k8s 1.22?

[2021-09-29 18:50] serathius commented on #842
https://github.com/kubernetes-sigs/metrics-server#installation
Clearly states version compatibility matrix.

[2021-10-01 20:23] serathius commented on #840
Release was done. I think I only need to send an email annocement

[2021-10-01 20:35] serathius commented on #804
Before releasing v0.6.0 I would want to address one thing. Migration from summary API to resource endpoint has introduced one regression. We no longer get container start time, meaning that we are back to fresh container rating on average 22.5s to get their metrics reported (vs 7.5s). Reason is that we only recently added container start time to resource endpoint (in K8s 1.22)

This means that the

[2021-10-02 07:05] serathius commented on #840
Email sent

[2021-10-02 07:05] #840 closed

[2021-10-02 07:11] serathius commented on #848
/help

[2021-10-02 07:14] serathius commented on #834
Dockerile already adds this
https://github.com/kubernetes-sigs/metrics-server/blob/40a4a54c93bbc1e41a22c72ff499f29d9c4b74ef/Dockerfile#L20

[2021-10-02 07:14] #834 closed

[2021-10-02 07:18] serathius commented on #828
I expect that https://github.com/kubernetes-sigs/metrics-server/issues/803 was responsible. Please upgrade to v0.5.1

[2021-10-02 07:18] #828 closed

[2021-10-02 07:29] serathius commented on #819
Metrics Server doesn't report results because it will discard metrics if Kubelet reports value 0. Metrics Server uses workingSetBytes to report memory, in example you linked is reported as 0.

From Metrics Server side we cannot do anything around problems with cgroup v2. Please make sure that your Kubelet correctly reports  "workingSetBytes" value.

[2021-10-02 07:29] #819 closed

[2021-10-02 07:30] serathius commented on #830
I would prefer to wait till JSON is graduated to Beta to avoid exposing users and code to breaking changes. It should happen soon (planned for 1.23)

[2021-10-02 07:31] serathius commented on #818
Duplicate of https://github.com/kubernetes-sigs/metrics-server/issues/819

[2021-10-02 07:31] #818 closed

[2021-10-02 07:32] serathius commented on #814
Closing assuming that updating PSP fixed the problem.

[2021-10-02 07:32] #814 closed

[2021-10-02 07:44] serathius opened #849 "Create external documentation"
Metrics Server has no external documentation page, this means that README on master branch works as documentation.

This creates a problem because same REAME.md file needs to serve as both:
* Work in progress documentation for next release
* User facing documentation on latest release

This creates to users reporting issues like https://github.com/kubernetes-sigs/metrics-server/issues/824 where we

[2021-10-02 07:45] serathius commented on #824
Created issue to create external documentation. For high availability manifests please wait for next release.

[2021-10-02 07:45] #824 closed

[2021-10-02 07:48] serathius opened #850 "Cover helm with Metrics Server e2e"
Helm chart currently is not covered by proper e2e tests. We only have generic helm chart tests that doesn't verify any functionality.

[2021-10-02 07:48] serathius commented on #850
/kind feature
/help

[2021-10-02 08:09] serathius commented on #813
@PhilipGough Thanks for sending PR, I think the problem is that multiple tools depend on the currently used name I think we should have a plan multi release plan that doesn't break compatibility.

First I would really need to understand what is exact the exact problem that we are trying to solve. From examples you gave looks like API resource name `nodes` doesn't match API resource Kind `NodeMetri

[2021-10-02 08:14] serathius commented on #812
Please re-post your question to our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messages posted in mu

[2021-10-02 08:14] #812 closed

[2021-10-02 08:29] serathius commented on #810
Setting limits it definitely not a `best practice` because it depends on many other factors and trade offs you are making. Metrics server sets `system-cluster-critical` priority class which has bigger impact on scheduling than QoS (not sure QoS has any impact on scheduling, but I haven't read scheduler code for long time so I might be wrong).

[2021-10-02 08:29] #810 closed

[2021-10-02 09:48] serathius commented on #799
I have confirmed that get on configmaps is no longer needed. Sending PR to minimize permissions

[2021-10-02 09:53] serathius commented on #688
/remove-lifecycle stale
/lifecycle frozen

[2021-10-02 09:55] serathius commented on #576
/remove-lifecycle stale
/lifecycle frozen

[2021-10-02 11:01] #799 closed

[2021-10-02 12:34] serathius opened #857 "Results from pre v0.6.0 scalability tests"
Scenario:
* Kubernetes cluster version 1.19.13
* 100 nodes
* 100 deployments with HPAs
* 7000 pods

Load generated via:
* controller manager calculating utilization for HPAs
* running `watch kubectl top pods --all-namespaces` (kubectl uses json which has huge impact on MS resources)

Results
* 67 mCore CPU (average 5 minute) `+2% vs v0.5.1`
* 173 MiB working set memory `-10% vs v0.5.1`

Profiles
*

[2021-10-02 12:39] serathius commented on #857
I think that rewrite to prometheus reduced memory usage, but current implementation results in generating much more heap objects causing usage CPU to increase. I think we should look into updating parsing/storage architecture to avoid heap allocations and reduce CPU usage.

[2021-10-02 13:26] serathius commented on #857
Listing what parts of code have high resource usage to reference later

Notes on CPU profile
* 26% - serializing proto
* 13.3% - garbage collection (`gcBgMarkWorker` call)
* 12.8% - decode prometheus metrics
* 8.5% - read from in-memory metric storage
* 7% - goroutine scheduling/wakeup? (`mcall` call)
* 3.5% - storing metrics to in-memory metric storage

Notes on Heap profile
* 37% - pod metadata

[2021-10-02 14:21] yangjunmyfm192085 commented on #804
yeah, indeed, before  releasing v0.6.0, I will implement it as soon as possible

[2021-10-03 14:13] PhilipGough commented on #813
@serathius thanks for the response. The PR was just to essentially highlight the problem outlined isn't a trivial fix as you mentioned.

That said, I raised this issue based on a bug that was raised downstream and the problem is as you describe above. I would say it is a minor issue and depending on the response we get from `SIG apimachinery `, a "fix" may simply be documenting the nuance in this

[2021-10-03 15:45] serathius opened #862 "HA tests very flaky"
Examples
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_metrics-server/861/pull-metrics-server-test-e2e-ha/1444686287045922816
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_metrics-server/861/pull-metrics-server-test-e2e-ha/1444686287045922816

Sometimes it requires 3-4 tries for them to pass
/cc @dgrisonnet @yangjunmyfm192085

[2021-10-03 21:20] serathius commented on #862
Ups, found that a bug in my code caused tests to be flaky :(

[2021-10-03 21:20] #862 closed

[2021-10-04 08:19] serathius commented on #857
There are still 2 major architecture changes that we could do:
* Unify data format between scraper and storage to avoid allocations when storing data (will require redesigning storage)
* Redesign goroutine management to reduce scheduling cost (will require redesigning storage)

[2021-10-04 15:26] bendory opened #864 "high availability metric server installation instructions are incorrect"
**What happened**:

[code]

**What you expected to happen**:

expected successful installation

**Anything else we need to know?**:

I'm a newbie. :-)

**Environment**:

I'm working my way through a "hello world" first installation in Linux. Previously ran:
[code]
successfully

[2021-10-04 16:31] serathius commented on #864
Duplicate https://github.com/kubernetes-sigs/metrics-server/issues/824

[2021-10-04 16:31] #864 closed

[2021-10-05 17:01] SohamChakraborty commented on #572
@pierluigilenoci @stevehipwell Sorry for bothering, is there any chance of getting a helm chart for metrics-server 0.4? If I am not wrong, the current chart is for version 0.5 and there is no chart for 0.4. The deprecated stable repo also doesn't have a 0.4 chart. So I am wondering what are my installation options for EKS 1.18? I may try with version 0.5 as compatibility  matrix shows, but I wante

[2021-10-05 17:08] stevehipwell commented on #572
@SohamChakraborty we're running the current v0.5 version on EKS v1.18. Your other options are; my [personal repo](https://github.com/stevehipwell/helm-charts), which is where the official chart came from, has v0.4 versions; or just change the image tag on the official chart (I can't guarantee this works, but it should).

[2021-10-08 08:50] BiTree commented on #586
You could try to restart each kubelet on your node, I met the same problem, and solved it by just restarted the all kubelets.

[2021-10-09 14:38] juliantaylor commented on #791
/remove-lifecycle stale

[2021-10-16 05:09] yangjunmyfm192085 commented on #849
When the new version is released, the corresponding document needs to be released at the same time?
For example, we should support documents for v0.5.0 and v0.6.0
Am I right?

[2021-10-16 13:25] serathius commented on #849
Yes, release would push new documentation.

[2021-10-16 14:34] yangjunmyfm192085 commented on #849
I try to ask sig-docs to see if I can get useful information

[2021-10-17 19:04] sftim commented on #849
Hi. SIG Docs contributor here

As a first step, I recommend creating some documentation under https://github.com/kubernetes-sigs/metrics-server - the way Git works, that automatically gets versioned. Use [CommonMark](https://commonmark.org/) format as that is widely used and supported by tooling.

The next steps could be any of:

- Add a CI / CD system to help point out serious docs style issues t