[2019-01-23 06:32] khteh opened #207 "Unable to get CPU for container discarding data: missing cpu usage metric"
I added the following to the 1.8+ manifest and deploy it to EKS.
[code]
Yet, I see the following errors:
[code]
[code]
This is my hpa manifest:
[code]
Any insight and advice is appreciated.

[2019-01-23 06:35] wang510918 commented on #207
maybe you didnt provide ca.crt and ca.key to the node of your cluster

[2019-01-23 06:58] khteh commented on #207
Can you provide more details please? Thanks.

[2019-01-23 07:02] wang510918 opened #208 "there are some problems with apiserver"
when i ran kubectl get apiservice v1beta1.metrics.k8s.io -o yaml ,i got this:
status:
  conditions:
  - lastTransitionTime: 2019-01-22T14:49:21Z
    message: 'no response from https://10.0.0.33:443: Get https://10.0.0.33:44
      tcp 10.0.0.33:443: connect: no route to host'
    reason: FailedDiscoveryCheck
    status: "False"
    type: Available

how to deal it?

[2019-01-23 08:12] savar opened #209 "the release v0.3.1 does actually not contain the image 0.3.1 but 0.3.0"
while using the "release" file of v0.3.1 in the `deploy/1.8+/metrics-server-deployment.yaml` the image tag points to v0.3.0 which seems incorrect.. the release points to the commit from Sep 14, 2018 but the image-tag was just changed to v0.3.1 on Oct 2, 2018

[2019-01-23 21:08] MarkDeckert opened #210 "metrics-server + kubectl top pods memory usage reported is exactly double"
### Problem:
kubectl top pods is showing exactly double the actual memory usage.

### Image version:
k8s.gcr.io/metrics-server-amd64:v0.3.1

### K8s version:
[code]

### Apparent reason:
If I check the metrics uri directly at /apis/metrics.k8s.io/v1beta1/pods, I get the below example result.

Notice there's a container with an empty name at the end that appears to be a total of all values in the p

[2019-01-23 21:44] itskingori commented on #133
For those on Kops, I have a PR with what you need to get it working. See https://github.com/kubernetes/kops/pull/6201.

[2019-01-25 12:33] prageethw commented on #131
this is the issue still exist in kops, and I don't see any workaround specified above work at all. funny thing is  it just work by --kubelet-insecure-tls for k8s v1.11.1 by  v1.11.6 it does not work with it either.

[2019-01-28 06:31] vietwow commented on #131
I also got the exactly problem with kops 1.11.0 (stable version) and k8s v1.11.6.

[2019-01-28 07:44] prageethw commented on #131
this issue in KOPs due to some difference when a version upgrade from 1.10.0 to 1.11.0

refer
https://github.com/kubernetes/kops/pull/6201#pullrequestreview-196897146

[2019-01-28 23:18] AlexMorreale opened #211 "tls bootstrapped nodes getting X509 error"
We use TLS bootstrapping to set up TLS between our masters and our kubelets.

the CN on the cert generated by kubernetes is:
`CN=system:node:ip-10-208-0-198.<aws-zone>.net`

So when the metrics server tries to auth it sees a mismatch in cn because it is looking for `ip-10-208-0-198.<aws-zone>.net`

[code]

[2019-01-29 00:39] mabushey commented on #105
I wish someone would fix this

[2019-01-29 00:48] mabushey commented on #207
There are 200 forks, does anyone know which (if any) of them fix metric server?

[2019-01-29 01:00] mabushey opened #212 "Unable to fetch pod metrics & request failed - "401 Unauthorized""
Added "fixes" which reduces the errors:
`git diff deploy/1.8+/metrics-server-deployment.yaml`
[code]

[code]

`kubectl -n kube-system logs -f metrics-server-68df9fbc9f-fsvgn`

[code]

Is there a version that works (ie one of the 200 forks)?
I've used k8s 1.10 and 1.11 on AWS via Kops.

[2019-01-29 16:38] AlexMorreale commented on #211
When i use the insecure flag i get the `401 Unauthorized` errors others have seen in other issues

[2019-01-29 16:49] luarx commented on #133
In this moment I'm using:
- `--kubelet-insecure-tls` flag
-  `k8s.gcr.io/metrics-server-amd64:v0.3.1` version

And it is working, but I want to use it with TLS activated

[2019-01-31 07:08] desmatz commented on #146
I did the following (kubeadm ha cluster):
in accordance with:
https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

1. Create a Certificate Signing Request
cat <<EOF | cfssl genkey - | cfssljson -bare kubelet-server
{
  "hosts": [
    "<node-name-1>",
    "<node-name-2>",
    ""...",
    "<node-ip-1>",
    "<node

[2019-01-31 12:11] zahid0 commented on #212
Metrics server may fail to authenticate if kubelet is running with `--anonymous-auth=false` flag.
Passing `--authentication-token-webhook=true` and `--authorization-mode=Webhook` flags to kubelet can fix this.
_kops_ config for kubelet:
[code]
This might break authorization for _kubelet-api_ user if `ClusterRoleBinding` is not created with `system:kubelet-api-admin`. Which can be fixed by creating

[2019-02-01 14:54] Orionsgate commented on #146
@desmatz I've put that CSR into a csr.json and passed that to `cfssl genkey csr.json | cfssljson -bare certificate` but I get:

Did you encounter this? All the curly brackets are in matching pairs, I've specified all the hosts, their IPs, etc. Seems to be a crazy under-documented issue.

[2019-02-03 18:31] idahoakl commented on #19
Are the Prometheus metrics captured for the operation of metrics-server itself exposed anywhere (scrape duration, last scrape, etc)?  Looking through the source I see where the metrics are captured but not where I can get to them to monitor the health of metrics-server itself.

[2019-02-03 20:19] githubcdr commented on #212
@mabushey I believe using "args" is slightly better than "command", it respects the entrypoint.

[code]

[2019-02-03 22:15] sarneaud commented on #146
Another `kubeadm` user here.  I solved the problem by doing the following *before* running `kubeadm init`:

1. `kubeadm --config config.yaml init phase certs all`
2. Creating an X509 key in `/var/lib/kubelet/pki/kubelet.key`
3. Creating a cert signed by `/etc/kubernetes/pki/ca.key`, putting it in `/var/lib/kubelet/pki/kubelet.crt`

It's basically the same as @dematz's solution, but using the CA ke

[2019-02-04 21:09] mabushey commented on #212
@githubcdr
Thanks for the comment, I agree that this seems better, however `command` works, `args` does not.

[2019-02-06 00:10] kfox1111 commented on #130
what about a feature that has watches a namespace for a configmap per node that contains the ca to use to verify that node? Nodes can self register self signed ca's then.

[2019-02-06 01:30] kfox1111 opened #213 "initContainer fail"
on a kubernetes 1.13.2 cluster with the newest metric-server, I am seeing stuff like this in the logs:
E0206 01:13:57.733834       1 manager.go:102] unable to fully collect metrics: [unable to fully scrape metrics from source kubelet_summary:node1: unable to get a valid timestamp for metric point for container "remove-lost-found" in pod default/foo-mysql-7bbc6bdf7f-pd2js on node "node1", discardin

[2019-02-06 09:37] m5-sugi commented on #161
I'm using rancher 2.1.0 and kubernetes 1.11.5.
```/metrics-server --requestheader-client-ca-file=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt```
in the kube-apiserver command.

Don't know if it will work for you through.

[2019-02-06 11:37] username1366 commented on #213
I have the same issue

[2019-02-06 16:01] ag237 commented on #157
Coming back around to this, I am still seeing these errors with metrics-server.

Here is my config:

[code]

[code]

If I spam ```kubectl top node``` I will most times get a response, however randomly I will get this error:

[code]

I'm seeing this in the apiserver logs:

[code]

[2019-02-06 16:30] shahaf600 opened #214 "When metric-server curl for stats summary a containerd node, data on exited init containers is returned with empty cpu,mem,time"
**What happened**:
When combining kubelet 1.11.3, with raw containerd v1.2.1 (running on CentOS with rpm[containerd-1.2.1-1.el7.x86_64]), there is a strange behavior, which is different from docker implementation.
when i curl 127.0.0.1:10255/stats/summary the data returned on an init container(exited container on node) i get back the following data:

[code]
and when that happens, metrics-server wi

[2019-02-07 15:16] shahaf600 commented on #130
well I have the same issue, opened a ticket here: #214 tried to be as much as informative as possible.
so this is what happens with v0.2.1 - when i run watch 'kubectl top pod <pod_name>' , it runs the command every 1 second , so some of the the queries work and some of them return: "Error from server (NotFound): podmetrics.metrics.k8s.io "*****POD_NAME*******" not found"

in v0.3.1 it ignores comp

[2019-02-08 18:53] AlexMorreale commented on #211
hmmmm anyone?

[2019-02-09 23:09] rajeshkodali commented on #212
I have created metric server with below deployment and addedd kubelet config in kops but I still get 401

[code]

[2019-02-11 08:41] stafot commented on #130
@DirectXMan12
Provider: AWS EKS
K8s version: 1.11.5
metrics-server: 0.3.1
Seems having similar issue with @brunovlucena but doesn't look that is related with heapster, even If I run also heapster apart from metrics-server because without heapster my kubernetes dashboard graphs were not working.
The verbose outpout you ask from @brunovlucena  in my case is the following.
[code]
Any ideas would be a

[2019-02-11 08:57] serathius commented on #212
Does metrics-server service account have access to "nodes/stats" resource?
Example:  https://github.com/serathius/kubernetes/blob/53b13b66645923e231e8f7950932c61f02f1c276/cluster/addons/metrics-server/resource-reader.yaml#L14

[2019-02-11 09:07] rajeshkodali commented on #212
It works now. I am not sure what caused it to work.
[code]

[2019-02-12 07:20] vinhnglx commented on #212
@zahid0 I'm still facing the issue, I tried to edit cluster and update the metric yaml file. Below are my changes:

[code]

[code]

[2019-02-12 11:52] slashr commented on #212
I'm facing the same problems as @vinhnglx despite making all the fixes mentioned on this issue. :(

[2019-02-13 09:14] vinhnglx commented on #212
guys, any idea? I spent a few hours today but still can't make it works.

[2019-02-13 18:48] rajeshkodali commented on #212
Here is my working config:
kops cluster spec for kubelet.
[code]

Metrics server yaml:
[code]
role.yaml from https://github.com/kubernetes/kops/issues/5706 and
[code]

[2019-02-14 03:18] vinhnglx commented on #212
thanks @rajeshkodali .

I still hit the error "401 Unauthorized"

[code]

[2019-02-14 03:22] rajeshkodali commented on #212
What's the output of kubectl --v=10 top nodes ?

On Wed, Feb 13, 2019 at 7:19 PM Vincent Nguyen <notifications@github.com>
wrote:

--
*Rajesh Kodali*
*Sr. DevOps Engineer*

[2019-02-14 03:35] vinhnglx commented on #212
The output when running that command: `error: metrics not available yet`

[code]

[2019-02-14 10:54] Tapa4ik commented on #146
thank you so much!
Костя ты красавчик ;))

[2019-02-15 08:41] lcostea opened #216 "Use apiregistration.k8s.io/v1 for kubernetes 1.10+"
/kind feature

From Kubernetes 1.10 the apiregistration.k8s.io [has moved to GA](https://github.com/kubernetes/kubernetes/pull/58393)
So can we create a new deploy for versions 1.10+ to use apiregistration.k8s.io/v1?

What happens when you deploy 1.8+ manifests in a cluster 1.10+ version is that the apiVersion is changed automatically to v1. And when deployed with gitops pull tools like ArgoCD (or

[2019-02-15 22:53] aksgithub commented on #143
@DirectXMan12, when i run ```kubectl top  nodes``` but  i am getting metric for some nodes however, for some nodes i see error below in metric server logs:
[code]

[2019-02-15 22:59] aksgithub commented on #143
Also, ```kubectl top pods``` only give metrics for some pods not all.

[2019-02-16 06:53] aksgithub commented on #167
@minasys check kubectl version. you might need to download newer kubectl and try.

[2019-02-16 07:04] aksgithub commented on #167
@ajatkj i am getting same error. What i noticed is metric server is able to get metrics from kubelet of the node which is hosting metric server but not from kubelets of other nodes.

[2019-02-20 03:16] wstrater commented on #67
I am having a similar issue with contacting the API and tried different versions and different command line flags.

I am getting the following error:

[code]

To me that is an issue with the trust store used by Metrics Server. I looked at the deployment and I don't see any CA certificates being mounted. How can it trust the API without a trust store? I see `kube-apiserver` mounting a `ca-trust` an

[2019-02-20 03:23] wstrater commented on #67
I just checked commit [a823af80d438d642c29e038ca5336004b2a8b97e](https://github.com/kubernetes-incubator/metrics-server/commit/a823af80d438d642c29e038ca5336004b2a8b97e#diff-241930222cfd9fbea1ea3654fbabff5b) and it appears the Docker file was modified to not mount `ca-certificates.crt`. Not sure why but the error I am getting makes sense.

Wes.

[2019-02-20 17:25] steven-sheehy commented on #213
I see this too. However, this looks to be an issue with kubelet summary API and not metrics-server. You should open an issue upstream to get it addressed. It probably can't even be worked around in metrics-server since the API doesn't return the container state to filter non-running/init containers.

There are two summary API implementations in kubelet: cadvisor and CRI. Cadvisor is used with dock

[2019-02-20 17:55] kfox1111 commented on #213
I'm using containerd as well.

[2019-02-20 17:58] steven-sheehy commented on #213
cc @brancz @DirectXMan12 Can you confirm this should be addressed upstream in kubelet?

[2019-02-20 18:07] kfox1111 commented on #213
Yeah. or maybe it is a cri-containerd bug that should be filed there?

[2019-02-20 18:09] steven-sheehy commented on #213
No, I looked it up. CRI is supposed to return all containers/pods. It is up to kubelet to filter it for summary API.

[2019-02-20 18:15] kfox1111 commented on #213
Ok. I submitted an issue upstream.

[2019-02-20 22:00] fentas commented on #143
Having exactly the situation as @D-PENG describes.
Is there currently a workaround or do I need to rename all my nodes?

[2019-02-21 02:59] caruccio commented on #27
@qinzhao168 check if `apiservice/v1beta1.metrics.k8s.io` is pointing to the right service:

[code]

I've installed [kube-prometheus manifests](https://github.com/coreos/prometheus-operator/blob/7a25bf6b6bb2347dacb235659b73bc210117acc7/contrib/kube-prometheus/manifests/prometheus-adapter-apiService.yaml#L10-L11) and it replaced the original `metric-server` service for its own `prometheus-adpater`.

[2019-02-21 14:07] zahid0 commented on #212
@vinhnglx could you check the arguments passed to `kubelet` on one of the nodes? If you run kubelet using `systemd`, then ssh to instance and run `sudo systemctl status kubelet`. Make sure `--authentication-token-webhook=true` and  `--authorization-mode=Webhook` flags are passed.
Checking `kubectl` logs may also help (run `journalctl -u kubelet` on the node for logs).

[2019-02-21 16:10] steven-sheehy commented on #214
Duplicate of #213

[2019-02-21 16:47] steven-sheehy commented on #213
I think this and #214 can be closed as there is already a PR to fix kubelet: https://github.com/kubernetes/kubernetes/pull/74336

[2019-02-22 02:09] vinhnglx commented on #212
@zahid0 I'm using Kops to install Kubernetes with vpc, private subnets, and calico CNI for networking. I'm not able to ssh to the instance to check the kubelet.

But I already set the `authentication-token-webhook=true` and `authorization-mode=Webhook` using `kops edit cluster` command

[code]

And it still shows the `401 Unauthorized`

[2019-02-22 06:54] zahid0 commented on #212
@vinhnglx do you mind showing the output of `kops update cluster` and `kops rolling-update cluster` ...

[2019-02-22 06:56] vinhnglx commented on #212
@zahid0 I don't mind, but I'm using kops with terraform output.

My steps are:
- edit cluster
- update cluster output to Terraform files
- terraform plan and terraform apply

[2019-02-22 07:02] zahid0 commented on #212
@vinhnglx `kops rolling-update` is required after `terraform apply`. https://github.com/kubernetes/kops/blob/master/docs/terraform.md#caveats

[2019-02-22 07:32] vinhnglx commented on #212
@zahid0 Oh, no. My script has a mistake, should run kops rolling-update but I ran kops update. Now it works.

I can get the metrics. Thanks a lot for your help  :)

[code]

[2019-02-25 18:00] vikash32 commented on #167
I am also facing same issue , even if passing those flags still getting below error
[code]

[2019-02-25 23:37] joshinv commented on #140
Can you please mention what exceptions did you add in the firewall ?

[2019-02-27 08:41] Kingchan230 opened #218 "unable to fully collect metrics"
my metrics-server pod is running ,but when i use "kubectl top nodes" ，there 's an error :"Error from server (ServiceUnavailable): the server is currently unable to handle the request (get pods.metrics.k8s.io)"
![image](https://user-images.githubusercontent.com/22443359/53476918-7d27ed80-3aae-11e9-9a6b-4abda3da31ea.png)

check kube-apiserver log :
![image](https://user-images.githubusercontent.com/

[2019-02-27 09:18] huisebug opened #219 "HPA can't get memory usage, CPU can get it"
My metrics-server is working well, and kubectl top node and kubectl top pod are also working well.

This is my metrics-server deployment file address.：https://raw.githubusercontent.com/huisebug/k8s1.12-Ecosphere/master/Metrics-server1.12/Metrics-server1.12.yaml

$ kubectl get --raw "/apis/metrics.k8s.io/v1beta1/pods" | jq .
![image](https://user-images.githubusercontent.com/27762438/53479162-633cd

[2019-02-27 09:26] huisebug commented on #192
I have the same problem as you. How did you solve it?

[2019-02-28 03:27] Kingchan230 commented on #130
when i use kubectl top node ,I get the same error like you ,have you fix it ?

[2019-02-28 07:26] huisebug commented on #192
@DirectXMan12

[2019-02-28 09:41] huisebug commented on #192
Replacing the k8s version with 1.12.6 fixes this problem, which also exists in 1.13.3.
@liupeng0518

[2019-02-28 13:58] stafot commented on #130
@Kingchan230 Yes I resolved my issue. In my case the problem was that I applied some resources from `kube-prometheus` that messed my infra. At this implementation `prometheus-adapter` instead of using `v1beta1.custom.metrics.k8s.io` uses `v1beta1.metrics.k8s.io`  and I did not applied a `prometheus-adapter` service. I don't know if you are in the same situation. But to help you debug it, in my cas

[2019-03-01 02:13] khteh commented on #133
I am using `--kubelet-insecure-tls` and v0.3.1 but still see the same error:
[code]

[2019-03-01 23:45] AlexDiamanti commented on #27
Are you using EventRateLimit admission controller?  If yes - you may check it's settings.

[2019-03-03 09:26] omerlh commented on #19
Any update on this issue? I recently noticed issues regarding metrics service and I would like to monitor it

[2019-03-04 07:33] deitch opened #220 "metrics-server attempting to get metrics from long-gone and evicted pods"
The metrics server is giving a flood of error messages of the format:

[code]

When looking at the specific pods for which the messages appear, they all are pods that have been evicted but not yet garbage collected.

Can metrics-server determine that a specific pod was evicted and thus not live? Or is there a misconfiguration here that I am missing?

[2019-03-04 07:33] deitch commented on #220
cc @ringtail

[2019-03-04 12:27] ringtail commented on #220
Pls provide your kubernetes version and metrics-server version.

[2019-03-04 15:07] towolf commented on #220
It's also trying to collect metrics from old CronJob pods in state `Completed`.

I get 800 error messages per minute about non-existing Pods, and they are all pods, that have exited.

They are all `status.phase: "Succeeded"` and `status.containerStatuses[].state.terminated.reason: Completed`

I deleted the Completed pods, and metrics-server calms down:

![image](https://user-images.githubuserconte

[2019-03-04 16:15] deitch commented on #220
Kubernetes `1.12.3`; metrics-server `k8s.gcr.io/metrics-server-amd64:v0.3.1`

[2019-03-04 16:34] ioanc commented on #146
security is a hot topic these days.
offering a possible solution by disabling security, using `--kubelet-insecure-tls` is not the right way to move forward.

@desmatz and @sarneaud  solutions are the proper way to fix the issue.
Thank you guys !!!

[2019-03-05 00:13] alfonmga commented on #143
I solved this by adding `--kubelet-insecure-tls` and `--kubelet-preferred-address-types=InternalIP` flags.

If you installed `metrics-server` using Helm then you can apply this change by running `kubectl edit deploy metrics-server -n <your-namespace>`.

It should look like this:

![screen shot 2019-03-05 at 1 10 03 am](https://user-images.githubusercontent.com/9363272/53771612-992ef300-3ee3-11e9-9

[2019-03-05 02:39] ringtail commented on #220
@deitch @towolf I'll try to fix it.

[2019-03-06 00:24] anjuls commented on #167
Having same issue on k8s 1.10.0

          - /metrics-server
          - --v=2
          - --kubelet-insecure-tls
          - --kubelet-preferred-address-types=InternalIP

Kubelet - removed --read-only-port=0

[2019-03-06 17:33] ArchiFleKs opened #221 "unable to get metrics for multi containers pods"
Hi, I'm running metrics-server 0.3.1 on Kubernetes  v1.13.3, I'm able to get metrics for pods that have a request specified but I get an error on pods that have more than one container even when both container specified a cpu request:

[code]

[code]
When I do a ` kubectl get --raw "/apis/metrics.k8s.io/v1beta1/pods" | jq .` the pods is not in the list either.

metrics-server logs :

[code]
I noti

[2019-03-08 01:00] #25 closed

[2019-03-08 05:12] paphillon commented on #146
@ioanc  From what I understood, these solutions intend to be planned in advance for use of metrics server, existing clusters with a separate CA for kubelet and or not using kubeadm do need support to specify kubelet CA public key as suggested by @DirectXMan12

[2019-03-08 12:27] kc004 commented on #159
@KielChan Please provide us details to solve this issue.

[2019-03-10 13:15] KielChan commented on #159
I have review metrics-server source code, and I found that metrics-server in pod should connect kube-apiserver by two method, `in-cluster` method which means pod for metrics-server can access kube-apiserver by ping 10.96.0.1(the cluster IP for kubernetes service), or metrics-server can access kube-apiserver by providing `kubeconfig file`, also we should provide kubeconfig file for `authoz` and `au

[2019-03-11 10:01] gotliuyan opened #223 "unable to fetch metrics from Kubelet kube-master (kube-master): Get https://kube-master:10250/stats/summary/"
E0311 09:55:34.465238       1 manager.go:102] unable to fully collect metrics: [unable to fully scrape metrics from source kubelet_summary:kube-master: unable to fetch metrics from Kubelet kube-master (kube-master): Get https://kube-master:10250/stats/summary/: dial tcp: lookup kube-master on 10.96.0.10:53: no such host, unable to fully scrape metrics from source kubelet_summary:kube-node1: unable

[2019-03-12 03:16] zouyee commented on #221
https://github.com/kubernetes-incubator/metrics-server/issues/212#issuecomment-459321884

[2019-03-12 03:18] zouyee commented on #211
- args:
        - --kubelet-insecure-tls
        - --kubelet-preferred-address-types=InternalIP

[2019-03-12 03:19] zouyee commented on #207
https://github.com/kubernetes-incubator/metrics-server/issues/212#issuecomment-459321884

[2019-03-12 04:08] khteh commented on #207
Thanks @zouyee. I changed from using "args" to "commands" and I don't see the `401 Unauthorized` now. However, `kubectl logs -f metrics-server... -n kube-system` still shows "no metrics known for pod":
[code]
`kubectl top nodes` show valid data though....

[2019-03-12 04:10] khteh commented on #212
I changed from using "args" to "commands" and I don't see the `401 Unauthorized` now. However, `kubectl logs -f metrics-server... -n kube-system` still shows "no metrics known for pod":
[code]
`kubectl top nodes` show valid data though....

[2019-03-12 04:11] khteh commented on #212
@zahid0, how to add the kubelet config when I am using eksctl to create the cluster on AWS EKS?

[2019-03-12 07:11] Rajat-0 opened #224 "Script to clean up environment after metric-server is uninstalled"
If user wants to remove metric-server from environment then the user has to manually delete kubernetes objects( Deployment, service-account, service, cluster-role binding, etc). There should be a script that should remove these object once the metrics-server is uninstalled.

[2019-03-12 07:50] khteh opened #225 "`kubectl top pod` does not have resource percentage"
Is `kubectl top pod` expected to have resource utilization percentage? I notice that it is missing compared to `kubectl top node`.

[2019-03-13 13:17] charlesguoooo commented on #146
when you use kubeadm deploy metrics-server, you can add `serverTLSBootstrap: true` to /var/lib/kubelet/config.yml ,it works for me.

[2019-03-13 15:06] Baykonur commented on #146
@DirectXMan12

I have the same error:
[code]

And the kubelet client certificate is signed by the main CA (kube-apiserver, or are we talking about another one?)
[code]

If I pass the `--kubelet-insecure-tls`, all works fine.

I used kubeadm to bootstrap the cluster (single master, 2 workers), no custom setup whatsoever, kubernetes version is 1.13.4.

on the master:
[code]

on the worker:
[code]
me

[2019-03-13 15:22] wangfengteng commented on #192
Update the k8s version 1.12.3 to 1.12.6 ,I have the same problem

[2019-03-14 00:16] sarneaud commented on #146
@charlesguoooo

That works for me too.

I added this to my `kubeadm.conf`:
[code]

After starting the master or joining any nodes, the CSRs need to be approved.  `kubectl get csr` gets a list.  The pending ones for the nodes need to be approved with `kubectl certificate approve $CSR_NAME`.  After a few minutes, certs are all good.

[2019-03-14 04:34] dungdm93 commented on #140
`metrics-server` is not working, too.
Here is my logs:
[code]
My cluster has 1 master & 3 workers, deployed using `kubeadm`.

[2019-03-14 09:01] Baykonur commented on #146
@sarneaud , thanks a lot. Your last comment saved me. @DirectXMan12 , you can ignore [my comment](https://github.com/kubernetes-incubator/metrics-server/issues/146#issuecomment-472462016).

What missing was kubelet-server-[datetime].pem under /var/lib/kubelet/pki in the worker node (also in master obviously), apparently metrics-server needs that certificate and it has to be signed by the /etc/kube

[2019-03-14 10:41] Baykonur commented on #146
To answer my own question

The answer is [here](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/#client-and-serving-certificates):

However even though **RotateKubeletServerCertificate** is enabled by default, those CSRs will need to be approved (as described in [this comment](https://github.com/kubernetes-incubator/metrics-server/issues/146#issuecomment

[2019-03-14 12:18] #225 closed

[2019-03-15 10:55] jeroenjacobs1205 opened #230 "metrics-server doesn't work when masterplane is in a public network, and workers in a private subnet (EKS)"
Hi,

We have an EKS cluster on AWS. By design, the control-plane runs in a public subnet (reachable via a public IP).

Our workers run in a private subnet, and as a result, the master plane cannot connect to the worker nodes, and metrics-server can't do it's job:

[code]

Since the control-plane is managed by AWS, and runs in a public network, it cannot reach the worker nodes by their private ip a

[2019-03-18 13:25] deitch commented on #220
Hi @ringtail, any thoughts? Happy to help if I can.

[2019-03-18 17:57] dylankolson commented on #208
Same issue here any luck?

[2019-03-19 06:16] hongli-my opened #231 "how to build metrics-server"
build metrics-server by `make container or make container_build` all fail:
tag: v0.3.1
[code]

[2019-03-20 15:38] wolkjesmaker commented on #67
@wstrater also getting this issue on vm's using kubeadm.
Using  - --kubelet-insecure-tls solves this but that's something I do NOT want to use.

@DirectXMan12 could you please tell us why.

[2019-03-20 16:25] Baykonur commented on #67
@wolkjesmaker, have a look at [this](
https://github.com/kubernetes-incubator/metrics-server/issues/146#issuecomment-472761446) and the comments around it. Hope it helps.

[2019-03-21 15:47] wolkjesmaker commented on #67
@Baykonur
I can't get it to work like that. Only can approve csr for my master node, slaves still have the same problem.

[2019-03-21 15:57] msau42 opened #232 "Update client-go to handle projected service account token rotation"
While using an alpha K8s 1.14 cluster I found that metrics server started getting authorization errors:
[code]

Looks like the changes to client-go to periodically reload tokens is in 9.0.

[2019-03-21 17:35] Baykonur commented on #67
Strange, you don’t see the CSRs for nodes?

[2019-03-25 07:05] dummyMaxy opened #233 "how to set up the https server in kubelet for metrics server connection?"
Hi , can anyone help?
Im customizing a kubelet (in java). But when I was creating the https server in kubelet for metrics server to connect, I was blocked in the authentication setup.  In metrics server log, I see error like "E0225 05:53:05.253439       1 summary.go:97] error while getting metrics summary from Kubelet worker.XXX.XX(9.xx.xx.xx:10250): Get https://9.xx.xx.xx:10250/stats/summary/: di

[2019-03-26 13:15] adamelliotfields commented on #233
I can't help with writing a custom Kubelet in Java, but I was getting the same error in my Pod logs.

I found this Medium article: <https://medium.com/@waleedkhan91/how-to-configure-metrics-server-on-kubeadm-provisioned-kubernetes-cluster-f755a2ac43a2>

I'm using the Helm chart so I changed my values to:

[code]

Which translates to this if you're deploying the YAML from this repo:

[code]

Hope t

[2019-03-26 20:23] ArchiFleKs commented on #221
@zouyee not sure it is the same issue. It is only for specific pods, nodes and single container pods I can get metrics

[2019-03-27 07:35] terrych0u commented on #230
Hi, @jeroenjacobs1205 I have same EKS architecture with you and also got the same issue, but after looking closely, it was my security group didn't allow https 443 from master/control plan, after I added it, the status check show `all checks passed`, hope that will help you :)

[2019-03-27 09:53] charlesguoooo opened #234 "Metrics server error with crio"
Hi:
    I have a cluster deployed by kubeadm. and my node's container runtime has below
[code]

I deployed metrics server like this `kubectl apply -f metrics-server/deploy/1.8+/`

[code]

but i got this error
[code]

as above show, `192.168.2.20` is crio runtime. so what can i do to fix this problem

#### crio.conf

[code]

#### kubelet config

[code]

[2019-03-27 11:42] SoerenHenning opened #235 "Link to user guide not working"
The very first link in the Readme (https://kubernetes.io/docs/tasks/debug-application-cluster/core-metrics-pipeline/) points is not working and returns a 404.

[2019-03-27 12:33] charlesguoooo commented on #234
[this](https://github.com/kubernetes/kubernetes/issues/71712) answer me.

[2019-03-27 12:33] #234 closed

[2019-03-28 15:06] qianliusi commented on #143
I solved this by adding node ip to coredns:
kubectl edit configmap coredns -n kube-system

apiVersion: v1
data:
  Corefile: |
    .:53 {
        errors
        health
        hosts {
           192.168.199.100 master.qls.com
           192.168.199.220 node01.qls.com
           192.168.199.215 node02.qls.com
           fallthrough
        }
        kubernetes cluster.local in-addr.arpa ip6.arpa {

[2019-04-01 10:13] rohith-vallabhaneni commented on #133
I have my kubernetes setup done via KOPS and to implemet the hpa, I started testing in my local minikube setup. Un fortunately, I couldn't succeed, I have gone tfrough many issues and figured out to use `--kubelet-insecure-tls` but no luck

I0401 10:02:59.571797       1 serving.go:273] Generated self-signed cert (apiserver.local.config/certificates/apiserver.crt, apiserver.local.config/certificate

[2019-04-01 10:29] vikash32 commented on #133
I have also got the same issue and fixed it by creating a another clusterrole for pod,nodes resources to get,list,watch verbs and clusterrolebinding with system:anonymous user.

[code]
[code]
[code]

[code]

[2019-04-01 10:50] rohith-vallabhaneni commented on #133
@vikash32 thanks for the quick response, I tried creating cluster roles and role bindings, it didn't work both in my minikube and kops setup :(

Let me know if I need to check any thing else

[2019-04-01 11:14] olemarkus commented on #133
Did you enable `authenticationTokenWebhook`?

We had to do this on some clusters. In kops you do this by adding the following to the spec:
[code]

[2019-04-01 11:31] rohith-vallabhaneni commented on #133
@olemarkus  could you give the complete spec and where to update this

[2019-04-01 11:36] olemarkus commented on #133
Just add it anywhere in the cluster spec. See examples here: https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#kubelet

[2019-04-01 11:48] rohith-vallabhaneni commented on #133
I'm getting this error
`unable to recognize "webhhok-spec": no matches for kops/, Kind=Cluster
`

[2019-04-01 12:27] khteh commented on #133
I don't use Kops. My cluster is deployed on AWS EKS.

[2019-04-02 05:06] rohith-vallabhaneni commented on #133
I have added the above mentioned clusterroles and clusterrolebindings, follwed by adding `--kubelet-insecure-tls` in my metrics-server-deployment.yaml moreover I have used the manifest files from this repo https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/metrics-server

**NOTE:**
1. The k8s version im using is 1.9
2. This approach of using `insecure-tls` is fine for test/ dev cl

[2019-04-02 05:12] rohith-vallabhaneni commented on #133
For getting `metrics-server` in minikube, minikube is supporting the addons fo it!! You can simply run the following command
`minikube addons enable metrics-server`
The metrics-server could able to collect the metrics only when I added the clusterroles & clusterrolebindings mentioned at https://github.com/kubernetes-incubator/metrics-server/issues/133#issuecomment-478525227

[2019-04-02 09:06] zonyes commented on #141
i want to know you how to fix?        metrics-server in hostnetwork mode?      how to setting?   @f4ct0r

[2019-04-02 09:50] zonyes commented on #51
请问你是怎么解决的？ 我部署metrics-server没报错，运行正常。和楼主一样。      报错一样
@Terry-cy 请问你是如何 解决的？

[2019-04-02 11:05] zetaab commented on #133
@olemarkus I can confirm that your advice helps for kops cluster (running 1.12.7 k8s)

[2019-04-02 14:30] markusthoemmes commented on #87
I second that requirement. I recently opened a thread on the mailing list to discuss a proposal I put out there: https://groups.google.com/forum/#!topic/kubernetes-sig-instrumentation/nJvDyIwDgu8

Direct link to the proposal: https://docs.google.com/document/d/1jARPGYAwievgzFTN7YYZ7a8Jaz2NUGq-fXTeeBHk5X0/edit#heading=h.a65hi87gwd07

[2019-04-03 03:33] xunknown commented on #40
Great!

[2019-04-03 12:20] liakouras opened #237 "no metrics known for pod"
I have deployed NGINX (v1.15.9) PODs, but metrics-server cannot retrieve CPU statistics for these. I get the following error:

`reststorage.go:144] unable to fetch pod metrics for pod nginx/nginx-1-75cdbcf4d8-6vzms: no metrics known for pod`

even though I get statistics from other PODs on the same node. What is missing?

[2019-04-03 18:15] philipakash commented on #237
Same here

[2019-04-03 20:15] mingfang commented on #212
@serathius Thanks for pointing out node/stats in https://github.com/serathius/kubernetes/blob/53b13b66645923e231e8f7950932c61f02f1c276/cluster/addons/metrics-server/resource-reader.yaml#L14

This should be PR back to upstream.

[2019-04-04 07:01] hongli-my commented on #223
maybe look here : https://github.com/kubernetes-incubator/metrics-server/blob/master/pkg/sources/summary/summary.go#L276

[2019-04-04 09:03] alok87 commented on #170
What is required to make it work? When we are getting this error @cdenneen @DirectXMan12 @cbluth

[2019-04-04 15:09] gavinB-orange commented on #45
@antcs solution worked for me - but only once I restarted the metrics-server pod

[2019-04-05 08:28] kawych opened #239 "New Metrics Server release"
Requested by @steven-sheehy

Steven, can you link important PRs/fixed bugs to help with prioritizing this?

[2019-04-05 15:35] steven-sheehy commented on #239
@kawych Here's what I could find:

## Changes

- **Added `--kubelet-certificate-authority`**: Support kube-apiserver and kubelet using a different CA (#183)
- **Allow non-cluster admins to request metrics:** Add aggregated ClusterRole to grant read permissions for metrics API group(#149)
- **Don't skip not ready nodes:** Kubelet may still be running and returning metrics (#197)
- **Ignore pods not

[2019-04-05 22:12] matthias50 commented on #239
@kawych and @steven-sheehy, we are very interested getting ahold of a metrics-server release with the --kubelet-certificate-authority. Do you have an idea yet on a timetable for this new release?

[2019-04-08 02:00] tonglv commented on #130
i have the same problem
E0404 07:03:00.095957       1 manager.go:102] unable to fully collect metrics: unable to fully scrape metrics from source kubelet_summary:kubernetes-113: unable to fetch metrics from Kubelet kubernetes-113 (10.180.160.113): request failed - "500 Internal Server Error", response: "Authorization error (user=system:serviceaccount:kube-system:metrics-server, verb=get, resource=

[2019-04-08 10:19] tiptop-labs opened #241 "Usage units such as n and Ki"
Where are units used by the metrics server described? I currently see (what appear to be) units `n` and `Ki` in responses such as this one:

    "containers": [
      {
        "name": "etcd",
        "usage": {
          "cpu": "11122600n",
          "memory": "91772Ki"
        }
      }
    ]

[2019-04-08 15:23] allansun commented on #141
@zonyes

I ran into the same problem and have been trying different things to get metrics-server working on EKS with weave.

And all the comments above are valid.

The only things you need to do is ( after following all the standard procedures mentioned above, I used helm chart to install metrics-server without much customization):

[code]

Add `hostNetwork:true` under `spec:template:spec` (the sa

[2019-04-08 23:38] sunao-uehara commented on #237
same here,

I am using EKS, kubernetes version 1.11.

`kubectl top nodes` and `kubectl top pod` works perfectly fine. But `kubectl get hpa` shows `<unknown>` cpu usage and I am seeing the `no metrics known for pod` in metrics-servers log.

[2019-04-09 10:29] philipakash commented on #237
@sunao-uehara I fixed my problem by adding
[code]
This is required to make the metrcis server work in AWS EKS .

[2019-04-10 23:01] eytan-avisror commented on #192
Had the same issue on 1.12.3, I can confirm it works on 1.12.7.
Make sure you set resources.requests - initially it wasn't working because I did not set it.
Check if you have any errors on `kube-controller-manager`, I noticed on 1.12.3 (where the bug exists) that there was no errors on fetching memory.

[2019-04-11 10:12] kawych commented on #239
The release is now available: https://github.com/kubernetes-incubator/metrics-server/releases/tag/v0.3.2

[2019-04-11 10:12] #239 closed

[2019-04-12 04:06] hongli-my commented on #231
no file: pkg/generated/openapi/zz_generated.openapi.go
and .gitignore file:
[code]

[2019-04-12 07:02] hongli-my commented on #231
Duplicate of #109

and  my solution are same with it.
[code]

[2019-04-12 07:02] #231 closed

[2019-04-13 08:37] Sharath52 opened #246 "describe hpa not working in kubectl 1.14 version"
kubectl describe hpa not working in latest kubectl version.It was not working in the previous version of kubectl i.e 1.13 .
`kubectl version
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290", GitTreeState:"clean", BuildDate:"2019-04-08T17:11:31Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"linux/amd64"}
Server Version

[2019-04-15 05:50] leeruibin opened #247 "error: metrics not available yet"
ENV:
   kubernetes: v1.13.2
   docker: 18.06.1-ce
   system: ubuntu 18.04
   architecture: arm-64
   metrics-server: v0.3.1

Before I apply the 1.8+/ development, I try the command
  kubectl top nodes
Then I got the error:
Error from server (NotFound): the server could not find the requested resource (get services http:heapster:)

After that I download the heapster from https://github.com/kubernet

[2019-04-15 07:40] venkataratnamteki opened #248 "CPU usage and memory usage of container"
Hi,
I am new to kubernetes monitoring and using metrics-server to get the core metrics from kubernetes cluster. Fetching only container metrics for now.
Looking at the APIs, we can get below metrics for each container.

- CPU usage
-  Memory Usage

I was looking for documentation around what are the units for the above metrics.
- Are these metrics accumulated over time? Or they are sampled by metr

[2019-04-15 08:57] venkataratnamteki commented on #248
#

[2019-04-15 15:08] seh commented on #27
It turns out someone attempted to fix it in kubernetes/kubernetes#73121, but that's stalled on performance improvements.

[2019-04-16 07:38] futurexv2016 opened #249 "HPA unable to get metrics"
I use Google K8S and HPA is built-in CPU based. However, HPA does not work since it cannot get metrics. I have not configured anything in the newly created cluster.
K8S version: v1.11.7-gke.12

[code]

I am newbie to K8S in google. Hence, even though many threads about this error but no thread mentions clear steps to follow and root cause so anyone please help. Also, I do not want to grant permiss

[2019-04-17 11:03] abizake commented on #157
The issue still exists in V 1.13.3

[2019-04-17 11:40] ag237 commented on #157
As an update to this, all my issues with metrics-server went away after I set

[code]
in the stable helm chart

https://github.com/helm/charts/tree/master/stable/metrics-server

[2019-04-17 14:10] abizake commented on #157
@ag237  Thanks for sharing this . Any reasons on how did this got fix when you enabled  host network

[2019-04-18 06:39] s-urbaniak commented on #249
@futurexv2016 i think this is unrelated to metrics-server but rater to the setup of horizontal pod autoscaler.

What the above message indicates is that the horizontal pod autoscaler (part of the controller manager) has not the correct cluster policies set up to call the metrics API. In fact it seems that API aggregation is not set up correctly.

[2019-04-18 06:41] bestkillua opened #250 "hpa error occasionally"
##  1, version

k8s : v1.13.3
metrics-server : 0.2.1

## 2, error detail

hpa occurs error occasionally(metrics not found). Here is apiserver logs when hap occurs error

[code]

[2019-04-18 07:05] s-urbaniak commented on #248
Hey @venkataratnamteki, regarding your questions:

Metrics are sampled once per minute (configurable via `--metric-resolution`) independent on when you query.

The unit is a fixed point representation of the CPU usage. Readings like `100m` translate to "0.1 cores" usage or 10%. You can find more information about it here: https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-c

[2019-04-18 08:28] s-urbaniak commented on #250
Thanks for filing the issue! This could be potentially related to https://github.com/kubernetes-incubator/metrics-server/issues/157. Do you see any additional api log entries which relate to that error?

[2019-04-18 08:31] bestkillua commented on #250
@s-urbaniak Thanks, I think its same. but #157 is still open, it didnt work after i try.

[2019-04-18 16:53] SleepyBrett opened #251 "HPA does not work w/ metrics server on nodes backed with CRI-O"
Cross linking this to an issue I put on the main kubernetes project. I have no idea where the fault actually lies but man this is a screwed up situation. Any input is helpful.

https://github.com/kubernetes/kubernetes/issues/76715

[2019-04-20 04:29] venkataratnamteki commented on #248
@s-urbaniak  Thank you very much.
I am trying to draw parallels between CPU usage % computed in metrics-server and the CPU usage % computed from docker api.

From docker-api implementation, CPU usage percentage is calculated like below..
[code]

Is metrics-server CPU usage % same as the above equation? Does it take into account CPU usage of container and CPU usage of system.

Thanks!

[2019-04-20 08:26] sai3010 commented on #246
Even i'm facing the same issue, Kindly let me know if you have found any solution

[2019-04-22 22:45] ymrsmns commented on #247
Run
helm upgrade --install metrics  stable/metrics-server --namespace kube-system
Or
kubectl create -f https://raw.githubusercontent.com/kubernetes/kops/master/addons/monitoring-standalone/v1.7.0.yaml

[2019-04-23 02:53] yanghaichao12 commented on #247
Does your apiserver open the aggregation layer?

[code]
and how about your rolebinding?

[2019-04-23 22:36] futurexv2016 commented on #249
@s-urbaniak yes, I think you are right. However, I do not know what I must do to configure it to work. It is newly created cluster with default values. Could you help list the necessary configuration steps?

[2019-04-24 09:01] s-urbaniak commented on #249
@futurexv2016 to help further, i need more information. Did you follow https://github.com/kubernetes-incubator/metrics-server#deployment (`kubectl create -f deploy/1.8+/`) to deploy metrics-server?

[2019-04-26 11:48] spacez320 commented on #135
Looks like this was already accomplished elsewhere! :tada:

[2019-04-26 11:48] #135 closed

[2019-04-27 16:58] grosser commented on #152
/remove-lifecycle stale

[2019-04-27 22:41] ghostsquad commented on #175
/remove-lifecycle stale

[2019-04-29 06:44] luckymagic7 commented on #157
did you solve the problem? I have a same issue.
[code]
The master node's api-server log says:`OpenAPI spec for "v1beta1.metrics.k8s.io" failed with: failed to retrieve openAPI spec, http error: ResponseCode: 503, Body: service unavailable`
`v1beta1.metrics.k8s.io failed with: Get https://$CLUSTER-IP:443: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaitin

[2019-04-29 18:26] carlosedp commented on #181
Any news on this?

[2019-04-30 01:16] GregSilverman commented on #167
Sweet! Thanks for the assist @anjuls ... very annoying that this didn't work right when deployed.

[2019-04-30 02:59] rpeets commented on #235
This is still broken!?

[2019-04-30 03:22] #97 closed

[2019-04-30 08:30] serathius commented on #105
Can you try to reproduce it on newer version of metrics-server v0.3+?

[2019-04-30 17:44] dmarkus154 opened #255 "Broken Link to K8s metrics-server Documentation"
Link provided in README, to official K8s Documentation, is borken:
https://kubernetes.io/docs/tasks/debug-application-cluster/core-metrics-pipeline/

Please remove the link, update the link, or file an issue with the documentation maintainer.

[2019-05-01 10:46] prankul88 commented on #255
Patch already submitted #236
Kindly close the issue.

[2019-05-01 16:21] #255 closed

[2019-05-02 06:21] ashishxooa commented on #237
@philipakash added this where?

[2019-05-05 02:21] NKUCodingCat commented on #207
Same here in K8s 1.13.5
[code]

[code]

[code]

[2019-05-06 07:47] #235 closed

[2019-05-07 10:34] flmmartins commented on #34
Hello All,

I have v1.11.9 and uninstalled heapster and put metrics-server but I have the same issue. @DirectXMan12 can you elaborate on how to do your proposed solution? Tks!

[2019-05-08 09:08] tchuaxiaohua commented on #208
Has the problem been solved?

[2019-05-08 17:11] panticz commented on #131
If you deploying with OpenStack Magnum the kubernetes version can by configured with the labels parameter and kube_tag (https://docs.openstack.org/magnum/latest/user/#kube-tag), see available container images under https://hub.docker.com/r/openstackmagnum/kubernetes-apiserver/tags/

[code]

[2019-05-08 18:16] KeithScheiwiller commented on #210
/remove-lifecycle stale

I'm seeing this too. This seems like a rather significant issue, no?

[2019-05-08 20:07] ranjeetbath opened #262 "Metrics server cannot find a POD"
Error from server (NotFound): podmetrics.metrics.k8s.io "yl/*********<POD name>" not found.

Also when

kubectl top po -n yl | wc -l
      73
$ kubectl get po -n yl | wc -l
     194

[2019-05-08 23:33] sulixu commented on #262
I have the same issue. and curl `<kube-api-server>/apis/metrics.k8s.io/v1beta1/namespaces/<namespace>/pods/<pod_name>/` gives me 404 as well.

{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Failure",
  "message": "podmetrics.metrics.k8s.io \"kube-system/kubedriver-7glbj\" not found",
  "reason": "NotFound",
  "details": {
    "name": "kube-system/kubedriver-7glbj",

[2019-05-08 23:42] sulixu commented on #221
I have issue only for a specific list of nodes as well. though `kubectl top nodes <node_id>` works fine, i get 404 on a pod of this <node_id>

kubectl top pods kubedriver-7glbj -n kube-system
Error from server (NotFound): podmetrics.metrics.k8s.io "kube-system/kubedriver-7glbj" not found

[2019-05-09 10:29] sulixu commented on #262
the issue is actually related with cadvisor:  [https://github.com/google/cadvisor/issues/1932](url)

because `curl 127.0.0.1:10255/metrics/cadvisor | grep kubedriver | grep container_memory_rss` returns me different results (less metadata from the bad hosts vs good ones)

restart kubelet on the bad host can immediately solve the issue, and fix should be [https://github.com/google/cadvisor/issues/1

[2019-05-09 11:52] x13n commented on #87
FWIW, I started a KEP for this: https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/20190425-metrics-watch-api.md

[2019-05-09 17:29] ranjeetbath commented on #262
@sulixu , thanks for your feedback. Will  try re-starting kubelet and see if the issue is resolved

[2019-05-09 17:48] ranjeetbath commented on #262
I have 7 PODS running on different nodes, none of them give result for top pods <pod_id>.

[2019-05-09 20:48] sulixu commented on #262
@ranjeetbath if ```kubectl top po -n yl | wc -l
73
$ kubectl get po -n yl | wc -l
194``` returns different count, usually means metric-server can pull pod metrics from not all of the nodes. you can log onto a bad host, and curl 127.0.0.1:10255/stats/summary, see if the "pods": [] to verify.

[2019-05-09 22:13] kplimack commented on #241
@tiptop-labs id also like to know what `n` is

[2019-05-10 05:57] Nurlan199206 opened #263 "Prometheus can't get metrics from cadvisor"
Anyone help me please, i'm stuck on this page already few days...

I'm using minikube v.1.0.1 on virtualbox

![Снимок экрана 2019-05-10 в 11 57 48](https://user-images.githubusercontent.com/22808731/57505617-dfa53180-731a-11e9-951f-4739d2258ac6.png)

![Снимок экрана 2019-05-10 в 11 56 24](https://user-images.githubusercontent.com/22808731/57505566-ac62a280-731a-11e9-9023-df8c5ebdda90.png)

my prom

[2019-05-10 06:05] Nurlan199206 commented on #263
help me pls write properly clusterrole

[2019-05-10 06:40] cainzhong commented on #143
[code]
works for me.

[2019-05-10 12:53] krishnapamarthi opened #264 "error installing metrics-server using terraform with helm provider"
Error: Error applying plan:

1 error(s) occurred:

* module.env_dev.module.metrics-server.helm_release.metrics-server: 1 error(s) occurred:

* helm_release.metrics-server: error installing: Unauthorized

[2019-05-12 17:48] deadc commented on #7
we made a [metrics-server-exporter](http://github.com/grupozap/metrics-server-exporter) for metrics server, can be useful for those who miss the heapster metrics

[2019-05-13 23:46] sulixu commented on #241
I think 11122600n equals to 11m (0.011 CPU) from the `kubectl top` command.

[2019-05-14 11:46] s-urbaniak commented on #241
@tiptop-labs these are builtin quantity types, which are described here: https://github.com/kubernetes/apimachinery/blob/1f207b29b4411fb6ecfd342ae73fa60a921a5046/pkg/api/resource/quantity.go#L30-L80

[2019-05-14 12:34] s-urbaniak commented on #210
The `POD` container actually is the infra container, but the empty container is actually something that was apparently introduced in k8s 1.11 which also exposes the parent cgroup and its accumulated resources.

This is a legit bug which could either be solved in the summary API, or here. Preferably we'll fix it here, as the Summary API is going away.

[2019-05-14 15:34] jtackaberry commented on #232
Problem still exists with v1.6.0.

[2019-05-16 06:44] workhardcc opened #267 "metrics-server pod crash because Unauthorized"
1.kube-apiserver config as below:

Yes, both `--client-ca-file` and `--requestheader-client-ca-file` I  used the same CA.

2.metrics-server-deployment.yaml as below:

3. `kubectl create -f metrics-server-deployment.yaml`, the other *.yaml in the `deploy/1.8+` directory had already deployed.

4. metrics-server pod crash, `docker logs $metrics-server_pod_id` as below:

[2019-05-16 06:53] workhardcc commented on #267
@DirectXMan12

[2019-05-16 11:44] sayak-ghosh1990 opened #268 "GKE with Metric Server 0.2.1- Error getting kubelet summary issue"
We are using GKE master version 1.11.8-gke6.
At the time of provisioning the 3 nodes cluster, we got metrics server of version 0.2.1.
But from the beginning, we are getting some error log messages from metric servers pod =

Error while getting metrics summary from Kubelet (10.x.x.2:10255) : getsockopt: connection timed out
Failed to get kubelet_summary:10.x.x.2:10255 response in time.

We are gett

[2019-05-17 22:40] kcmartin commented on #212
I've followed this issue for quite a while, and have tried everything mentioned, and applied the kubelet flags, and manifests in comment [.](https://github.com/kubernetes-incubator/metrics-server/issues/212#issuecomment-463319204)

I have metric-server (partially) working on a new K8s 1.14.1 cluster, but it's only pulling a few resource metrics from the namespace `kube-system` -- what exactly do I

[2019-05-20 11:49] ukchaitanya opened #269 "EKS FailedGetResourceMetric with metric-server v0.3.3 issue"
Hello Experts,

Kuberentes version: 1.14.1
Platform: Linux(ubuntu 18.04)
Steps followed in setting up the kubernetes from [here](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/).

Facing below issue in kubernetes metric-server:

<pre>Name:                                                  php-apache
Namespace:                                             defaul

[2019-05-20 12:57] krishnapamarthi commented on #264
I have resolved this issue, The issue is with the kube-config yaml file. No need to give .yaml extension in helm provider in terraform
**Wrong:**
`provider "helm" {
  kubernetes {
    config_path    = "~/.kube/config-example.yaml"
    host = "api-URL"}
}`

**Correct:**
`provider "helm" {
  kubernetes {
    config_path    = "~/.kube/config-example"
    host = "api-URL"}
}`

[2019-05-20 12:57] #264 closed

[2019-05-21 06:36] gaocegege opened #270 "[bug] Unknown current metrics but HPA is actually working"
[code]

I am running autoscaling/v2beta1 HPA in Kubernetes 1.12. The status.CurrentMetrics is empty, but it seems that the HPA can work according to memory usage.

I run a deployment with one pod which uses 2Mi memory. Then I set:

[code]

Then it scaled up to 2. After a while I set it to

[code]

Then it scaled down to 1.

I am wondering why the HPA works but the status is empty. Is it caused by

[2019-05-21 06:43] gaocegege commented on #270
The log of metrics server:

[code]

The logs of controller-manager:

[code]

[2019-05-23 06:50] jeroenjacobs1205 commented on #230
@terrych0u Thanks! That seemed to be the cause for my issue as well.

[2019-05-23 06:50] #230 closed

[2019-05-27 14:22] grosser commented on #37
/remove-lifecycle rotten

[2019-05-27 21:30] dmitrysenkovich commented on #167
@anjuls works for 1.14.0 without --v=2, thanks!

[2019-05-27 23:58] platbr commented on #270
Same issue here. It still working but is showing `<unknown>`.
Im using:
[code]

and

[code]

[2019-05-29 18:30] latchmihay commented on #247
its probably the self signed cert on your cluster.
Try enabling `--kubelet-insecure-tls`

As in
[code]
[code]

[2019-05-30 21:18] ecliptik commented on #220
We're seeing something similar, but for jobs that are marked as `Completed`,

Example log message,

[code]

Status of the pod,

[code]

metrics-server image: `k8s.gcr.io/metrics-server-amd64:v0.3.1`
kubernetes: `1.12.6` (EKS v1.12.6-eks-d69f1b)

There were about 6+ million of these log messages backed up on the cluster itself, and when we deployed fluentd to send container logs to a new ElasticSea

[2019-05-30 21:27] ecliptik commented on #220
This may have been fixed here https://github.com/kubernetes-incubator/metrics-server/commit/0bf0c02b82bb236e8d6f145923a013f641f58b3e#diff-be586ea479ab5078350efaa5ab5de17e and released in https://github.com/kubernetes-incubator/metrics-server/releases/tag/v0.3.2 which has a note of "Ignore pod not in Running phase".

Just redeployed with v0.3.3 and it seems to have solved the issue.

[2019-05-30 23:35] deitch commented on #220
Thanks, will give it a shot.

[2019-06-02 09:25] javapapo commented on #237
I have the same problem -(weird behavior)

[code]

[code]

But metrics server keeps complaining. Any ideas what is going on?

[2019-06-02 09:35] javapapo commented on #237
I did increase the log level  (v=4 ) and I see something interesting

[code]

[2019-06-03 08:14] der-eismann opened #272 "v0.3.3 release still using v0.3.2 images"
I just stumbled upon this... I wanted to download the v0.3.3 release to copy the yaml files, but the [metrics-server-deployment.yaml](https://github.com/kubernetes-incubator/metrics-server/blob/v0.3.3/deploy/1.8%2B/metrics-server-deployment.yaml#L32) still contains the v0.3.2 image. Could you maybe re-create the tag and include ad1de3e56d98f25dc436ba08a6097d44375c8bc6? Or should you actually use t

[2019-06-04 17:33] syscll opened #274 "Unable to find list of official Docker images"
After reading through the documentation several times, I am unable to find a list of the pre-built Docker images.

More specifically, I am trying to deploy on arm. I have tried the following images with no success:
- `k8s.gcr.io/metrics-server-arm64:v0.3.3`
- `k8s.gcr.io/metrics-server-arm:v0.3.3`
- `gcr.io/google_containers/metrics-server-arm64:v0.3.3`
- `gcr.io/google_containers/metrics-server-a

[2019-06-05 11:31] alivespirit commented on #224
@Rajat-0 Won't `kubectl delete -f deploy/1.8+/` work?

[2019-06-05 18:00] deitch commented on #220
I think we can consider this closed. I still am seeing errors, but they are for live pods, and may have to do with my config. This specific problem is fixed in 0.3.2.

[2019-06-05 18:00] #220 closed

[2019-06-06 00:37] tomsherrod commented on #247
I had the "error: metrics not available yet" message. @latchmihay pointer fixed it. Thank you.

[2019-06-06 15:18] syscll commented on #274
After a bit of Googling, I managed to find a list [here](https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/metrics-server-arm64?gcrImageListsize=30).

It turns out there is no build of `v0.3.3` for arm, only `v0.3.2`. It would be nice to have the latest build for arm distributed, but I will close this issue as it is no longer relevant.

[2019-06-06 15:18] #274 closed

[2019-06-06 21:54] fabtrompet commented on #221
Same here, in my case i am using the consul, which automatically creates a new container the "consul-connect-envoy-sidecar", with this I am not getting the metrics / CPU
![image](https://user-images.githubusercontent.com/6043140/59069042-80005e80-88a5-11e9-83b0-baab1bb576bd.png)

[2019-06-10 01:48] Darren-wh commented on #188
you can add this
 command:
        - /metrics-server
        - --metric-resolution=30s
        - --requestheader-allowed-names=aggregator
        - --kubelet-insecure-tls
        - --kubelet-preferred-address-types=InternalIP,Hostname,InternalDNS,ExternalDNS,ExternalIP
it will work

[2019-06-10 18:38] nik786 opened #276 "get nodes.metrics.k8s.io"
Monitoring the Cluster Components

git clone https://github.com/linuxacademy/metrics-server

cd metrics-server

kubectl apply -f deploy/1.8+/
[code]
kubectl log metrics-server-68d85f76bb-qqhlx -n kube-system
[code]
kubectl top node
[code]

my api service as below mentioned

cat /etc/systemd/system/api.service
[code]
systemctl status api
[code]

cat  deploy/1.8+/metrics-server-deployment.yaml
[code

[2019-06-10 21:08] zoltan-fedor commented on #212
I experience the same as @khteh above.

I have set the following kubelet arguments:
[code]

The `kubectl top nodes` show valid data with resource percentage. `kubectl top pods` does not have any percentage, but shows values.

The metrics-server logs:
[code]
I am using AWS EKS with Kubernetes 1.12 and installed the metric-server from helm (https://github.com/helm/charts/tree/master/stable/metrics-s

[2019-06-11 11:59] RamanPndy commented on #141
Hi @allansun ,
even after enabling the host network to true. it didn't work. i'm using flannel as overlay network. and i'm facing this issue.
Name:         v1beta1.metrics.k8s.io
Namespace:
Labels:       app=metrics-server
              chart=metrics-server-2.8.2
              heritage=Tiller
              release=metrics-server
Annotations:  <none>
API Version:  apiregistration.k8s.io/v1
Kind:

[2019-06-11 17:50] denmaddog opened #277 "Authorization issue on AWS(KOPS)"
Hello,

When installing hpa-operator on AWS/kops k8s, there is an issue with authorization of metric-server.

helm upgrade --install hpa banzai-charts/hpa-operator/ --set metricsServer.enabled=true --namespace kube-system

Errors in metric-server log:
[code]

The same installation works on GKE as already pre-installed metric-server.

Thanks,

Zeljko

[2019-06-11 21:37] neuralsandwich commented on #181
/remove-lifecycle rotten

[2019-06-12 12:13] kksharma1618 commented on #45
Thanks @zknill and @craftyc0der for this. Updating security groups on worker and control plane (both ingress and egress) worked :)

[2019-06-14 22:51] beanssoft commented on #98
#DirectXMan12 I'm sure that you have so much expertise about this kind of issues, could you please help being more specific? this issue seems to be related to fw

[2019-06-14 23:05] beanssoft opened #278 "metrics-server unable to authenticate to apiserver"
Hello,

I just been trying to install metrics-server 1.8 over k8s 1.14. I've followed the standard instructions:

$ git clone https://github.com/kubernetes-incubator/metrics-server.git
$ kubectl create -f metrics-server/deploy/1.8+/

But it always loop in an error state:

metrics-server-58dfcc7fcc-lsrgw                     0/1     CrashLoopBackOff   5          8m21s

looking at the logs I see the

[2019-06-17 15:48] beanssoft commented on #278
Anyone that could please help?

[2019-06-18 00:39] ksylvan commented on #130
I had the same issue and re-applying the Prometheus adapter API service file fixed it:
[code]

[2019-06-18 21:40] vladimirvivien commented on #87
@x13n is there work to get this implemented ?

[2019-06-19 17:51] beanssoft commented on #278
There is some one there?. After searching a loot I´ve found that this metrics server version is not working with kubernetes 1.14. I've tested the  standard solution:

 command:
          - /metrics-server
          - --kubelet-insecure-tls
          - --kubelet-preferred-address-types=InternalIP

But is does't work to me, I still can't access to the data on my node workers:

$ kubectl top nodes
NA

[2019-06-19 19:37] AdheipSingh commented on #277
Try adding the following it should work :-
[code]

[2019-06-20 02:52] mathisub commented on #131
I was running metrics-server 0.2.7 on Kubernetes 1.10.11 with TLS option disabled. It was working fine. After K8s release update (1.13.5) and PodSecurityPolicy in place (Metrics-Server updated to 0.3.2) it has problems. Kubectl top command works. The HPA Pod is unable to collect the metrics. The K8s-Controller logs show the following error message:
Post https://10.244.0.1:443/apis/authorization.k8

[2019-06-20 14:56] joekohlsdorf commented on #241
`n` is not described in the linked document

[2019-06-21 02:36] tingweiwu opened #280 "is there any instruction on how to store metrics data backend"
metrics-server as a replace of heapster.

is there any  instruction on how to store metrics data backend ? as the heapster can sink into InfluxDB.

[2019-06-21 10:55] x13n commented on #87
Not yet, the KEP still needs more design work and I've been busy with other stuff recently. I think the main issue now is how to make metrics work with resourceVersion parameter in the API (since metrics don't have it). This should mimic other k8s resources to ensure existing libraries will continue to work. If you want to speed things up, you can contribute to the KEP.

[2019-06-21 13:34] rata commented on #237
This did the trick for me too, thanks!

Depends on the setup, you may also need `--kubelet-insecure-tls=true` for metrics server to properly scrape the kubelet. Just in case it helps somebody else :)

[2019-06-21 13:58] jharris-tc commented on #140
I am having this issue too. when I try to curl from a pod I get a 403

[2019-06-22 11:50] #50 closed

[2019-06-22 16:25] mwmahlberg commented on #154
This actually is problematic for intra-cluster communication.

This is because as to really make sense it forces intra-cluster certificates which are either signed by a well known authority or - even worse - to set a certification authority up yourself OR use the one provided by Kubernetes. Because _if_ I want to encrypt data, I also want to make sure I am talking to the endpoint I intend to talk

[2019-06-22 16:41] KadenLNelson commented on #133
adding `-extra-config=kubelet.authentication-token-webhook=true` to my `minikube start` command worked.

[2019-06-24 10:36] #123 closed

[2019-06-24 11:37] #132 closed

[2019-06-24 23:37] zlbabe opened #281 "how to run metrics-server when apiserver does not have access to pods or services network"
How to run metrics-server in the case where apiserver runs in a separate machine (with systemd for example) and **does not** have access to cluster network ? Because in this case apiserver tries to reach the metrics-server svc but it can not.

logs of apiserver
[code]
where `10.32.0.169` is the IP of metrics-server svc
[code]

Thanks

[2019-06-25 13:22] zhanghan12 commented on #212
E0625 13:13:04.145733       1 manager.go:111] unable to fully collect metrics: unable to fully scrape metrics from source kubelet_summary:172.20.0.217: unable to get CPU for container "java-springboot-web" in pod java-springboot-web-b8cff79f5-w9bqq on node "172.20.0.217", discarding data: missing cpu usage metric

[2019-06-25 21:10] #171 closed

[2019-06-25 21:10] #158 closed

[2019-06-26 01:41] k4korea commented on #212
Deployment , Replicaset  yaml

**### spec:
   Resource :
       request :
           cpu  :**

yaml write have to
metric info   unknown  ->  20%, 30%    change

[2019-06-26 09:09] VinayVanama commented on #237
@javapapo Even I'm facing with same issue after updating the EKS cluster version. Did u solved this ? if yes how did you do that ?

[2019-06-26 14:06] mathisub commented on #131
My issue was resolved by updating the hpa pod yaml with the correct syntax for v2beta2 version.

[2019-06-26 20:33] #191 closed

[2019-06-26 20:33] #184 closed

[2019-06-26 20:33] #185 closed

[2019-06-27 01:37] #196 closed

[2019-06-27 14:50] #193 closed

[2019-06-27 14:50] #200 closed

[2019-06-28 02:01] #206 closed

[2019-06-28 03:02] #209 closed

[2019-06-28 07:45] aksgithub opened #282 "Metric server v0.3.1 panic causes resource metric apis unavailable"
we are running cluster of around 100 nodes and configured 1 hpa with max replica count to 300.

with this configuration, metrics server crashes every few hours and HPA fails to retrieve metrics from metrics server.

Trace in metrics server is below. At this point i had to restart metrics server pod.
It works fine for sometime after restart and then issue resurfaces.

[code]

Observed whole bunch o

[2019-06-28 07:45] aksgithub commented on #282
Apiservice status
[code]

[2019-06-28 17:03] aksgithub commented on #132
i am seeing similar panic in metric server v0.3.1 -> https://github.com/kubernetes-incubator/metrics-server/issues/282

[2019-06-28 19:17] #205 closed

[2019-06-29 09:30] #105 closed

[2019-06-30 07:18] superxor opened #283 "metrics api not avaiable but top works?"
I have a weird issue.

kubectl get --raw /apis/metrics.k8s.io/v1beta1/pods
Error from server (NotFound): the server could not find the requested resource

but api is registered:
v1beta1.metrics.k8s.io                 kube-system/metrics-server              True        15m
    status: "True"

Some HPA work, some don't (complaining about missing cpu metrics)

but kubectl top pods and top nodes works

[2019-06-30 14:46] linxuyalun commented on #278
Have you solved the problem?
I found the same problem as yours, here's my log:
[code]

My k8s version is v1.14, and my metrics server version is v0.3.3

[2019-07-01 09:18] serathius commented on #283
Do you have Heapster running in your cluster?

[2019-07-01 09:24] superxor commented on #283
No, that was replaced a while back.
kubectl get pods -nkube-system --all-namespaces | grep heapster

at least that doesn't result in anything

[2019-07-05 03:50] tianyuansun opened #286 "metrics-server does not has aggregated pod stats like heapster"
heapster provides aggregated pod stats api, bug metrics-server does not have this kind api
will metrics-server support in the future?

[2019-07-05 07:52] urvineet commented on #130
FIxed for on EKS
helm install stable/metrics-server     --name metrics-server    --namespace metrics --set args[0]=--kubelet-insecure-tls,args[1]=--kubelet-preferred-address-types=InternalIP

[2019-07-05 13:04] anton-johansson commented on #281
I'm also struggling with this.

I've read about some alternatives, but neither are appealing or easy to understand:

- Run `kube-proxy` on your masters. I like that my masters are isolated and I don't want them to be able to reach all the pods and cluster IPs.

- Add an aggregated API server as a pod inside the cluster. This sounds good, but then the standard API server still needs to access the a

[2019-07-05 14:48] zlbabe commented on #281
I'm wondering how `kubectl exec` works behind the scene ? Because in this case the `api-server` reaches the pods, so in some way it finds a means to connect to the pod network.

[2019-07-06 11:17] #161 closed

[2019-07-07 12:46] AllenJol opened #287 "metrics-server pod status is CrashLoopBackOff"
I deployed metric-server, but when I executed the kubectl get pod -n kube-system command, the status was displayed as CrashLoopBackOff and logs prompted the certificate and 443 questions

[root@k8s-master metrics-server]# kubectl logs metrics-server-v0.3.3-97f4998dd-hkzg7 -c metrics-server -n kube-system
Flag --deprecated-kubelet-completely-insecure has been deprecated, This is rarely the right op

[2019-07-07 12:50] AllenJol commented on #287
My kube-apiserver and mars-server configurations are as follows:
--etcd-cafile=/usr/local/etcd/ssl/ca.pem \
--etcd-certfile=/usr/local/etcd/ssl/etcd.pem \
--etcd-keyfile=/usr/local/etcd/ssl/etcd-key.pem \
--requestheader-client-ca-file=/usr/local/kubernetes/ssl/ca.pem \
--requestheader-allowed-names=aggregator \
--requestheader-extra-headers-prefix=X-Remote-Extra- \
--requestheader-group-headers=X

[2019-07-09 21:44] ronitjha93 opened #288 "Unable to get metric-server running on minikube: unable to fully collect metrics: unable to fully scrape metrics from source kubelet_summary:minikube: unable to fetch metrics from Kubelet minikube (192.168.64.2): request failed - "403 Forbidden", response: "Forbidden (user=system:anonymous, verb=get, resource=nodes, subresource=stats)""
Installed metric-server and edited the metric-server-deployment.yaml to be
 command:
          - /metrics-server
          - --kubelet-insecure-tls
          - --kubelet-preferred-address-types=InternalIP

- Now after deploying the yaml, when i saw the log on the metric server, returns me the below ,
I0709 20:46:19.227480       1 serving.go:312] Generated self-signed cert (apiserver.local.config/c

[2019-07-10 00:48] Alphasite commented on #231
Whats missing is setting the $GOPATH. If the go path is empty it will output it to the wrong directory.

[2019-07-10 02:05] JunJayWang commented on #39
Do you know where can I find the relevant kubernetes issue? Thanks!

[2019-07-10 13:02] snehadeep007 commented on #157
@abizake I think you are also unable to reach pods on the other nodes.
If so, ensure UDP ports 8285 and 8472 are open on all nodes.
Ref: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

[2019-07-11 04:32] maiconrocha commented on #192
I had the same issue when using kubernetes version v1.12.6:
[code]

I have tested on an Kubernetes Server version v1.11.8 and v1.13.7, and it works fine on these versions:

[code]

[code]

[2019-07-12 08:39] sreedharbukya commented on #247
I have similar problem. It says metrics not available for node or pod. It still reports

[code]

Here is my configuration.

[code]

[2019-07-12 09:32] realdimas commented on #186
Stumbled upon the same issue, also with a StatefulSet pod.
`metrics-server` `0.3.3` stopped returning metrics for recently launched pods and nodes.
Restarting the daemon made things worse – almost no metrics were returned.
Downgrading from `0.3.3` to `0.3.2` or `0.3.1` did not affect the issue, but deleting offending pod did resume metrics flow.

Full error messages for SEO:
`metrics-server E0711

[2019-07-12 09:59] sreedharbukya commented on #212
This configuration worked me too. It took a lot of time to completely rollout for my cluster.

[2019-07-12 15:50] carlpett opened #289 "Expose internal metrics"
There are a few metrics registered internally in metrics-server (eg https://github.com/kubernetes-incubator/metrics-server/blob/e733a3ae5b42da765b443d2f19835db47a582095/pkg/sources/manager.go#L53), but from what I can tell they are never exposed?

[2019-07-15 07:28] SaltedEggIndomee commented on #246
You're using 1.14 Client (kubectl) on a 1.10 Server (Kubernetes Control Plane).

You should not have more than 1 minor version difference between Client and Server.

Try downgrading your kubectl client from 1.14 to 1.11 or 1.10.

[2019-07-15 10:48] #216 closed

[2019-07-19 03:03] endzyme commented on #268
We have been getting very similar issues with metrics-server 0.2.1 and GKE 1.11.8

[2019-07-21 20:18] #213 closed

[2019-07-21 20:18] #214 closed

[2019-07-21 23:08] staticdev opened #290 "not creating stats for kubernetes 1.15.1"
I am using master branch and when I try `kubectl top node` I get:
`error: metrics not available yet`. And when I try `kubectl top pods` I get: `W0721 20:01:31.786615   21232 top_pod.go:266] Metrics not available for pod default/pod-deployment-57b99df6b4-khh84, age: 27h31m59.78660593s
error: Metrics not available for pod default/pod-deployment-57b99df6b4-khh84, age: 27h31m59.78660593s`

[2019-07-22 01:45] shundezhang commented on #290
I am having issues running metrics server 0.3.3 on k8s 1.15.0 too. I am getting a lot of tls errors in metrics server log:
`I0722 01:32:08.512698       1 log.go:172] http: TLS handshake error from 192.168.22.192:43146: EOF
I0722 01:32:08.512847       1 log.go:172] http: TLS handshake error from 192.168.22.192:43150: EOF
I0722 01:32:08.512911       1 log.go:172] http: TLS handshake error from 192.1

[2019-07-22 13:05] sreedharbukya commented on #212
I got it working. Thanks, Team.

[2019-07-22 13:06] sreedharbukya commented on #247
I got it working.

[2019-07-22 13:31] metri commented on #290
Hi folks! Helped for me add options `--enable-aggregator-routing=true` in manifest kube-apiserver.

More details here https://github.com/kubernetes/kubernetes/issues/56430#issuecomment-361708175

[2019-07-22 16:38] #154 closed

[2019-07-23 02:56] zghnr1993 commented on #288
Hi
Did you resolved the problem ? I encountered the same issue . and don't know how to solve it .

following is my error log :
E0723 02:50:10.459125       1 manager.go:111] unable to fully collect metrics: unable to fully scrape metrics from source kubelet_summary:minikube: unable to fetch metrics from Kubelet minikube (10.120.20.63): request failed - "403 Forbidden", response: "Forbidden (user=sy

[2019-07-23 07:27] regardfs commented on #247
@sreedharbukya  I have the same error and try all the method above mentioned but still not work, may u post ur solution?

[2019-07-23 08:49] sreedharbukya commented on #247
If you are using kops for creating the cluster.

[code]
edit following part

[code]

you have run following commands

`kops update cluster --yes`
`kops rolling-update cluster--yes`

Watch out your logs.

This should resolve the issue.

Next is update your metrics-server deployments to following.

[code]

[2019-07-23 19:19] MarkDeckert commented on #210
Resolution!

This issue turns out to be an oversight on my part.  Since I applied the prometheus operator to the cluster without realizing the implications.

There is a component it deploys called prometheus-adapter which duplicates the functionality of metrics-server, and a further change to the v1beta1.metrics.k8s.io API service object which sends metrics requests over to the prometheus-adapter

[2019-07-23 19:19] #210 closed

[2019-07-24 09:40] staticdev commented on #290
@metri I added to the deployment:

command:
        - /metrics-server
        - --kubelet-insecure-tls
        - --kubelet-preferred-address-types=InternalIP

It now works.. does your change have the same effects?

[2019-07-24 13:56] ofer-tvil opened #291 "Add endpoint for Readiness check"
Updated version from 0.3.1 to 0.3.3.
"Scrape metrics on startup" added on version 0.3.2,

Metrics server works BUT:
A massive amount of errors are written to the log at startup:
"E0723 13:07:01.780646       1 reststorage.go:147] unable to fetch pod metrics for pod default/FOO no metrics known for pod"

It happens because the metrics-server requested to provide metrics but doesn't hold any (at that

[2019-07-24 19:53] beanssoft commented on #278
Your problem is about the host name resolution, ensure that the names of the master and workers are in the /etc/hosts file

[2019-07-24 19:53] beanssoft commented on #278
Seems that nobody is giving support here

[2019-07-24 20:01] beanssoft commented on #290
/lifecycle stale

[2019-07-25 00:32] shundezhang commented on #290
@staticdev how do you configure kube-apiserver?

[2019-07-25 05:12] jaininshah9 commented on #281
Having the same issue. Has anyone figured out a viable option?

[2019-07-25 07:58] metri commented on #290
@staticdev
Yes. I made the same changes as you, but it did not help me (for some reason it seemed to me that you also made them, although you did not specify it). Then began to understand already more deeply, in kube-apiserver why doesn't work. As a result, I found a similar problem and the answer there.

PS: Sorry for my english.

[2019-07-25 09:00] oldinaction commented on #277
Try adding the following it. file: `resource-reader.yaml`
[code]

[2019-07-25 09:31] anton-johansson commented on #281
Nope, not yet. I was hoping that someone would come to the rescue in this thread. :)

My guess is that it proxies everything through `kubelet` or `kube-proxy` on the owning node. Not sure if the mertics server could do the same, but it feels like it can't at this point.

[2019-07-25 15:23] beanssoft commented on #278
/lifecycle stale

[2019-07-25 15:39] tcolgate commented on #211
Thos flags don't help (at least not for me), I'm seeing the same behaviour here, kops cluster on AWS.

[2019-07-25 15:39] tcolgate commented on #211
/remove-lifecycle stale

[2019-07-25 20:02] staticdev commented on #290
@shundezhang I am using default kubeadm configuration with calico 3.8 also on default.

[2019-07-25 20:04] staticdev commented on #290
@metri I had to kubectl delete metrics-server/deploy/1.8+ and then kubectl create metrics-server/deploy/1.8+ after the changes. After some seconds you should be able to see results from kubectl top node (make sure metrics-server pods are running with kubectl get pods --all-namespaces).

[2019-07-25 20:13] jaininshah9 commented on #281
This is how `kubectl exec` works. It believe it will contact the api server url that is present in your kubeconfg file.

https://groups.google.com/forum/m/#!topic/kubernetes-dev/Cjia36v39vM

[2019-07-25 22:39] AlexMorreale commented on #211
yeah i had said `When i use the insecure flag i get the 401 Unauthorized errors others have seen in other issues`

they didn't help me either. I punted on using the metrics server until i had more time. I'm looking into it again so maybe i can put some more debug cycles

[2019-07-26 08:00] tcolgate commented on #278
/remove lifecycle stale

[2019-07-26 08:04] tcolgate commented on #278
/remove-lifecycle stale

[2019-07-26 08:05] tcolgate commented on #278
I'm going to work on a PR to try using the API server node proxy endpoint, which I think will make the default, out of hte box, setup, much easier.
(also, I think the existing deployment manifests forget to give namespace listing rights to the service-account, which also doesn't help)

[2019-07-26 09:01] tcolgate commented on #278
One option I don't think I've seen mentioned, as a temporary workaround:
[code]

[2019-07-26 09:24] tcolgate commented on #212
should we aggregate all of these setup problems into one ticket? e.g. #278
Also, it might be an idea to have an option to make node stats requests via the api proxy. That would avoid the need for users to change kubelet auth setup.

[2019-07-26 18:33] RRAlex commented on #152
/remove-lifecycle stale

[2019-07-27 10:29] #218 closed

[2019-07-27 11:07] greg9702 commented on #290
@staticdev Can you show your entire metrics-server-deployment.yaml?
I am using 1.15.0, tried everything and can not make it working.
Still got "error: metrics not available yet"

[2019-07-27 11:30] #219 closed

[2019-07-27 12:44] piyushkumar13 commented on #129
@kiahmed and @DirectXMan12
Referring to your comment https://github.com/kubernetes-incubator/metrics-server/issues/129#issuecomment-438448769  and https://github.com/kubernetes-incubator/metrics-server/issues/129#issuecomment-441808822
Adding `--kubelet-insecure-tls` has worked for me. But is it fine to use this flag for the production cluster ? If not, then what needs to be done to make metrics-s

[2019-07-27 13:38] ticruz38 opened #292 "X509 certificate issue"
I am able to start metric-server on my cluster, however when trying to access the logs with `kubectl get --raw "/apis/metrics.k8s.io/v1beta1/nodes"` I get:
error: You must be logged in to the server (Unauthorized)
the logs inside metrics server pods are like this:
[code]
Can it be a simple RBAC misconfiguration at some point?

Setting up --kubelet-insecure-tls does'nt help

I am using k3s version

[2019-07-28 00:38] ghostsquad commented on #175
/remove-lifecycle stale

[2019-07-28 00:39] ghostsquad commented on #175
@DirectXMan12 any chance you were able to see if it's possible to switch authorization mechanisms?

[2019-07-29 12:03] pierluigilenoci opened #293 "Upgrade from 0.2.1 to 0.3.3 don't work"
I'm using metrics-server on many clusters in a multi-cloud environment. We have some clusters in Azure and some in AWS. On all is installed the metrics-server 0.2.1 (with the latest helm chart) and works properly.

If I try to update to version 0.3.3 I get these errors:
Cluster 1 (on AWS, K8s 1.13.6 deployed with KOPS)

`E0729 11:53:55.155439       1 reststorage.go:147] unable to fetch pod metrics

[2019-07-29 12:08] PierluigiLenociAkelius commented on #293
A small note: I installed it with the plain helm values except this args `--logtostderr --kubelet-insecure-tls --v=4`

[2019-07-30 02:04] tx19980520 commented on #207
my yaml :
[code]
It's same
[code]
I run top:
[code]
I have used the command mentioned in v0.3.1, but not work and who can tell me how to let pod export metrics, like springboot actuator?

[2019-07-30 07:36] x13n opened #294 "Can't build docker container image"
After migration to distroless, the container image is not building properly. Dockerfile uses RUN command to add a metrics-server user, but there is no underlying shell that could run this command:

[code]

/assign @yuwenma
Yuwen, can you take a look?

[2019-07-30 08:13] serathius commented on #294
My investigation:
I tried to replace user "metrics-server" with existing user "noroot" in gcr.io/distroless/static (discovered him by reading [this](https://github.com/GoogleContainerTools/distroless/blob/master/base/BUILD#L51))

This lead me to Dockerfile:
[code]
This solved missing `/bin/sh` and
`Error: error creating self-signed certificates: mkdir apiserver.local.config: permission denied`

I

[2019-07-30 11:40] jorneilander commented on #292
Ok, so here's my research when I encountered the same issue:

K3S has the following API-server flag (default):
```--requestheader-allowed-names=system:auth-proxy```

I'm 'guessing' this is a cluster role but I'm not 100% sure yet since it doesn't exist within the K3S cluster by default. Looking at the logs I found that basically the API server is complaining that the CN in the TLS-cert used to ide

[2019-07-30 13:46] PierluigiLenociAkelius commented on #293
v0.3.2 and v0.3.3 was installed with this options:
`  - --v=4
  - --kubelet-insecure-tls
  - --kubelet-preferred-address-types=InternalIP`

I installed metrics-server 0.3.3 on another cluster on Azure (deployed with Kubespray) and there I noticed that is working only inside the kube-system namespace. :(

[2019-07-30 16:59] silverbackdan commented on #131
@DirectXMan12 Hi, sorry to revive an old issue with a question like this - I agree with this approach as I try to have a keen eye on security, however, as a newbie to kubernetes, I don't know where I begin to configure this. Would you be kind enough to link me somewhere?

Hopefully this will help others who find this issue when Googling around too.

[2019-07-30 18:21] ticruz38 commented on #292
Thanks for your clear answer, it did the tricks!
Following the referenced issue, I found out that this problem occurs only for upgraded k3s cluster. As I did upgrade all the way from 0.3.0
It would probably be a good idea to open an issue on k3s repo as well

[2019-07-30 19:43] jaredallard commented on #19
/remove-lifecycle rotten

I'll see if I can get the time to add some of these, any pointers would be nice @DirectXMan12

[2019-07-30 21:29] nabheet commented on #131
@silverbackdan Hopefully I can help. I assume you already know about CSRs. You can start with https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#create-a-certificate-signing-request-object-to-send-to-the-kubernetes-api.

Once you approve and download the cert, put the private key from your CSR in /var/lib/kubelet/pki/kubelet.key and the cert in /var/lib/kubelet/pki/kubelet.crt. Then r

[2019-07-31 08:40] qiyongxiao opened #295 "Build on mips platformerror"
This is messages:
[code]

/bug

[2019-07-31 09:26] silverbackdan commented on #131
Thanks very much for this info. `kubectl get csr` is a new one to me and that link is very helpful about CSRs - I know about them but not so much in the context outlined in that link.

Just to check, I'd be replacing the key and cert already at those paths because they do exist. I imagine they are just self-signed which is what is being used at the moment and therefore is seen as insecure?

[2019-07-31 09:46] shamimgeek commented on #7
could you tell me which endpoint should i check to see metrics provided by kublet on nodes ?

[2019-07-31 15:49] nabheet commented on #131
Yes, that is correct. They are self-signed certs and you will be replacing them with certs signed by your Kubernetes cluster CA. I wish the `kubeadm join` command would do this but IIRC I think there is a chicken and egg problem here. I am not sure exactly how but for some reason "they" decided to not implement this replacement feature. I think there is a closed issue in the K8S repo regarding thi

[2019-07-31 16:02] nabheet commented on #131
Also, I wonder if this would avoid the issue - https://kubernetes.io/docs/tasks/tls/certificate-rotation/.

[2019-07-31 16:25] silverbackdan commented on #131
Perhaps, specifically the `--bootstrap-kubeconfig` flag https://kubernetes.io/docs/tasks/tls/certificate-rotation/#understanding-the-certificate-rotation-configuration

I had to run this command to change the cert SANs for the API and to listen on different IPs
[code]
It'd have been nice if that command could also sign the cert with the cluster's CA, anyway, I see where things are going wrong now

[2019-07-31 16:44] nabheet commented on #131
Nice! I was reading that same page too. There might be more learnings on the page you linked for me too. Queued for when I have some learning time. :-)

[2019-08-01 08:38] PierluigiLenociAkelius commented on #293
I tried to update on a third cluster deployed with aks-engine and I get the same problem.
Ref: https://github.com/Azure/aks-engine/issues/1707

[2019-08-02 13:10] PierluigiLenociAkelius commented on #293
I found a solution: https://github.com/kubernetes-incubator/metrics-server/pull/296

[2019-08-02 14:39] PierluigiLenociAkelius commented on #293
With my solution metrics-server works but only on kubernetes 1.12 😢

[2019-08-02 15:10] beanssoft commented on #278
Thanks @tcolgate but your recommendation is not working at 1.14.4 version. Reading the doc seems that the solution is giving right access via RBAC, still reading how this can be done.

[2019-08-05 19:13] #292 closed

[2019-08-05 19:31] davydkov commented on #247
@sreedharbukya Thank you!

I have an AWS EKS Cluster and default installation of metrics server from Helm.
These two parameters solved the problem:
[code]

[2019-08-11 12:22] #146 closed

[2019-08-12 20:59] Constantin07 commented on #157
Having the same issue with Kubernetes `1.15.2` on Ubuntu 18.04 nodes.
Using Calico as SDN.

[code]

[code]

[2019-08-12 22:59] msau42 commented on #232
/remove-lifecycle stale

I still see the problem.  Are we still maintaining metrics-server?

[2019-08-13 02:19] Strangedeveloper opened #299 "I got a message "no metrics known for pod""
I deployed metric-server.
but my "kubectl logs metric-server-pod" gave me this message.

`I0813 02:06:46.985836       1 serving.go:312] Generated self-signed cert (apiserver.local.config/certificates/apiserver.crt, apiserver.local.config/certificates/apiserver.key)
I0813 02:06:47.348587       1 secure_serving.go:116] Serving securely on [::]:443
E0813 02:07:00.339450       1 reststorage.go:128] un

[2019-08-13 09:55] kawych commented on #294
The build was broken by #260. Reverting to running as a root is not ideal - @reetasingh How did you test your change?

[2019-08-13 10:05] GrigorievNick commented on #269
Same behave on on EKS with k8s 1.3.6.

[2019-08-13 15:24] mishaque opened #300 "Metrics not available in Kubernetes 1.16 : kubectl top pods result in error"
I get following error when running top pods:

W0813 11:23:15.605148   18433 top_pod.go:266] Metrics not available for pod default/metric-service-metrics-server-687d884796-5w6fm, age: 12h41m30.605128s
error: Metrics not available for pod default/metric-service-metrics-server-687d884796-5w6fm, age: 12h41m30.605128

[2019-08-14 08:48] avarf commented on #269
I am facing the same problem

[2019-08-15 09:18] GrigorievNick commented on #237
Same here,             - --kubelet-preferred-address-types=InternalIP
 and             - --kubelet-preferred-address-types=InternalDNS do not help.

[2019-08-15 13:51] jaydipdave commented on #237
+1

[2019-08-15 14:48] yoan-myparcel commented on #237
Both `--kubelet-preferred-address-types=InternalIP` and `--kubelet-insecure-tls=true` not working, tried on AWS EKS, 1.12, installed using helm.

[2019-08-15 15:09] mmingorance-dh commented on #237
Same issue here.
`--kubelet-preferred-address-types=InternalIP` and `--kubelet-insecure-tls=true` are set and still not working.
Sometimes metrics-server throws this error: `unable to fully collect metrics: unable to fully scrape metrics from source kubelet_summary`

Running EKS 1.13
metrics-server 0.3.3

[2019-08-16 08:25] yoan-myparcel commented on #237
**Update**: Next I tried with the official deployment (no helm). In both cases (helm or not helm) I see something interesting:

For my `default` namespace metrics are coming in. Same for a couple other namespaces (including the `metrics` namespaces which the helm chart creates for the `metrics-server`). But for some other namespaces (where I have actually all of my application pods) there are no m

[2019-08-17 09:30] idevz commented on #288
the same, :(
why metric-server using system:anonymous to communicate with kube-apiserver or kubelet?

[2019-08-20 15:09] #140 closed

[2019-08-21 14:06] mmingorance-dh commented on #269
Same problem here: EKS 1.13.7 and metrics-server 0.3.3
The funny thing is that HPA scales my deployments up and down and I can also get results with `kubectl top pod` and `kubectl get --raw "/apis/metrics.k8s.io/v1beta1/pods"`

[2019-08-22 13:26] x13n commented on #294
We should just roll back #260 by @reetasingh, this is making it impossible to build Metrics Server.

[2019-08-22 14:24] soandos opened #304 "Metrics endpoint not available"
I installed metrics server via helm, and the service couldn't gather metrics.

I think set the following args:
--kubelet-insecure-tls
--kubelet-preferred-address-types=InternalIP

and also set hostNetwork.enabled: true

As far as I can tell the deployment and service are working, I set --v=5, and I can see the health endpoint getting hit, metrics gathered, etc.

However, when I do `kubectl get api

[2019-08-22 14:45] soandos commented on #304
I just realized that you can't set the hostNetwork property like that. My bad

[2019-08-22 14:45] #304 closed

[2019-08-23 13:17] andersonluisribeiro commented on #269
I am facing the same problem

[2019-08-23 15:20] #233 closed

[2019-08-23 18:30] eamrnas commented on #299
I'm having the same issue. is there any solution for it?

[2019-08-24 22:50] #211 closed

[2019-08-25 15:15] grosser commented on #37
/remove-lifecycle stale

[2019-08-25 16:03] moikot commented on #181
I would love to have this issue solved! Would it be possible to prioritize?

[2019-08-25 16:43] secret104278 commented on #146
I found this issue is probably caused by https://github.com/kubernetes/kubeadm/issues/1223

My solution is using api proxy by changing the lines in https://github.com/kubernetes-incubator/metrics-server/blob/afbc8a030383caaa0888ea1cdedf7c079f18c048/pkg/sources/summary/client.go#L93-L94 to
[code]
rebuild the metrics-server and change https://github.com/kubernetes-incubator/metrics-server/blob/afbc8

[2019-08-25 18:50] paphillon commented on #146
@secret104278  - This is how I have solved it. I have different CA for kubelet certs in my setup.

* CA public key of kubelet CA authority. With this we don't need to set flag `--kubelet-insecure-tls`

[code]
Metrics server parameter
[code]

[2019-08-26 12:04] #294 closed

[2019-08-27 04:50] xilu0 commented on #299
me too.

[2019-08-27 14:49] OsandaDeemantha commented on #300
`kubectl top pods`
Result:
[code]
`kubectl logs <metrics-server-pod-name>`
Result:
`E0827 13:37:10.001523       1 reststorage.go:147] unable to fetch pod metrics for pod default/busybox: no metrics known for pod`

I face the same issue when I run `kubectl top pods` command which worked earlier without an issue. Initially, I had about 2-5 pods and now it has around 15-20 pods. `top pods` command do

[2019-08-27 14:49] OsandaDeemantha commented on #299
`kubectl top pods`
Result:
[code]
`kubectl logs <metrics-server-pod-name>`
Result:
`E0827 13:37:10.001523       1 reststorage.go:147] unable to fetch pod metrics for pod default/busybox: no metrics known for pod`

I face the same issue when I run `kubectl top pods` command which worked earlier without an issue. Initially, I had about 2-5 pods and now it has around 15-20 pods. `top pods` command do

[2019-08-27 14:52] OsandaDeemantha commented on #293
`kubectl top pods`
Result:
[code]
`kubectl logs <metrics-server-pod-name>`
Result:
`E0827 13:37:10.001523       1 reststorage.go:147] unable to fetch pod metrics for pod default/busybox: no metrics known for pod`

I face the same issue when I run `kubectl top pods` command which worked earlier without an issue. Initially, I had about 2-5 pods and now it has around 15-20 pods. `top pods` command do

[2019-08-27 14:53] OsandaDeemantha commented on #237
`kubectl top pods`
Result:
[code]
`kubectl logs <metrics-server-pod-name>`
Result:
`E0827 13:37:10.001523       1 reststorage.go:147] unable to fetch pod metrics for pod default/busybox: no metrics known for pod`

I face the same issue when I run `kubectl top pods` command which worked earlier without an issue. Initially, I had about 2-5 pods and now it has around 15-20 pods. `top pods` command do

[2019-08-29 11:30] PierluigiLenociAkelius commented on #293
Also the helm chart fails during the test with version 0.3.3
Ref: https://github.com/helm/charts/pull/16656/

[2019-08-29 12:16] mbelang commented on #133
@KadenLNelson is your cluster(s) deployed on EKS?

[2019-08-29 12:40] PierluigiLenociAkelius opened #306 "v0.3.3 breaks the helm chart pipeline"
https://github.com/helm/charts/pull/16656

[2019-08-29 14:03] PierluigiLenociAkelius commented on #306
Found the solution https://github.com/kubernetes-incubator/metrics-server/issues/278#issuecomment-515370587

[2019-08-29 14:03] PierluigiLenociAkelius commented on #293
Found the solution https://github.com/kubernetes-incubator/metrics-server/issues/278#issuecomment-515370587

[2019-08-29 14:05] PierluigiLenociAkelius commented on #133
Have you tried to use this: https://github.com/kubernetes-incubator/metrics-server/issues/278#issuecomment-515370587

[2019-08-29 14:05] PierluigiLenociAkelius commented on #237
Have you tried to use this: https://github.com/kubernetes-incubator/metrics-server/issues/278#issuecomment-515370587

[2019-08-29 14:05] PierluigiLenociAkelius commented on #299
Have you tried to use this: https://github.com/kubernetes-incubator/metrics-server/issues/278#issuecomment-515370587

[2019-08-29 14:06] PierluigiLenociAkelius commented on #300
Have you tried to use this: https://github.com/kubernetes-incubator/metrics-server/issues/278#issuecomment-515370587

[2019-08-29 14:06] PierluigiLenociAkelius commented on #290
Have you tried to use this: https://github.com/kubernetes-incubator/metrics-server/issues/278#issuecomment-515370587

[2019-08-29 14:06] PierluigiLenociAkelius commented on #269
Have you tried to use this: https://github.com/kubernetes-incubator/metrics-server/issues/278#issuecomment-515370587

[2019-08-29 14:07] PierluigiLenociAkelius commented on #293
I solved with this: https://github.com/kubernetes-incubator/metrics-server/issues/278#issuecomment-515370587

[2019-08-29 14:51] mbelang commented on #133
@PierluigiLenociAkelius port 10255 is disabled in EKS. So nope it is not working.

[2019-08-29 17:16] girol commented on #247
As pointed in the documentation, using `--kubelet-insecure-tls=true` is **not** recommended for production environments.

That said, how do we deploy metrics-server securely using `tls`?

[2019-08-30 08:15] olemarkus commented on #306
The reason is actually that the test in the chart looks for the tag value in the `/version` endpoint. But the version endpoint reports 0.3.2, not 0.3.3.

[2019-09-01 09:46] #223 closed

[2019-09-01 13:50] #170 closed

[2019-09-02 05:18] bianchi2 opened #307 "no metrics known for pod. kubectl top works"
Is it notmal that metrics server logs `no metrics known for pod` for ALL pods in the cluster on start, though it seems to be working normally since `kubectl top` returns results for pods and nodes just fine.

Using `k8s.gcr.io/metrics-server-amd64:v0.3.3`  with `--kubelet-insecure-tls --kubelet-preferred-address-types=InternalIP` args

[2019-09-02 08:05] der-eismann commented on #272
/remove-lifecycle stale

[2019-09-02 08:09] PierluigiLenociAkelius commented on #272
This is related https://github.com/kubernetes-incubator/metrics-server/issues/306

[2019-09-02 08:10] PierluigiLenociAkelius commented on #293
https://github.com/kubernetes-incubator/metrics-server/issues/272

[2019-09-02 08:10] PierluigiLenociAkelius commented on #269
https://github.com/kubernetes-incubator/metrics-server/issues/272

[2019-09-02 11:03] avarf commented on #269
I just forgot about the k8s default metrics server and used the helm chart and that worked for me.

[2019-09-03 22:25] jihed commented on #307
I have the same issue on k8s 1.15.2.

[2019-09-04 09:45] PierluigiLenociAkelius commented on #272
@kawych could you please take a look?

[2019-09-04 21:02] staticdev commented on #290
@PierluigiLenociAkelius I used (as in the comments above):
[code]

[2019-09-05 02:23] yhxjack opened #309 "unable to recognize "deploy/1.8+/metrics-server-deployment.yaml“"
Hi! i am a newbie, when i exec "kubectl create -f deploy/1.8+/" from the top-level directory of this repository, it made an error: unable to recognize "deploy/1.8+/metrics-server-deployment.yaml": no matches for kind "Deployment" in version "extensions/v1beta1".

[2019-09-05 19:55] w32-blaster opened #310 "SWEET32 vulnerability on metrics-server exposed port"
Our internal vulnerability scanner found that metrics-server is open to the SWEET32 vulnerability.
We have double checked with different tools.
Here is the report from one of the tools:
[code]

[2019-09-06 07:03] jh-sz commented on #212
@zoltan-fedor @zhanghan12
I had similar issue (though `kubectl top pods still doesn't show % for me)`, but basically HPA works now.

My setup is kops 1.13 with k8s 1.13.5 & istio

I have setup similar to other comments:
[code]

And running metrics-server as:
[code]
What really helped me is able to debug the issue by setting the log level..

And i found this [article by rancher](https://rancher.com

[2019-09-06 08:41] vikrantsundriyal commented on #45
zknill

Thanks Buddy.. Your had a perfect reply for this problem coming on Amazon EKS. Following basic installations if still we get  reason: FailedDiscoveryCheck and    status: "False" and    type: Available, this is simple because of security group issue. Giving proper access to Cluster Security group to access Node security group solves the problem.Thanks..

[2019-09-06 19:55] aerostitch commented on #309
Hi @yhxjack ,

I'm guessing you are running kubernetes 1.16 correct?
Could you try with the change from https://github.com/kubernetes-incubator/metrics-server/pull/311 please?

Thanks,
Joseph

[2019-09-09 05:48] #192 closed

[2019-09-10 05:01] eskp commented on #278
Had to edit the deployment manually and add this to the container's command:
[code]

[2019-09-10 10:07] AlexRRR commented on #157
I can confirm https://github.com/kubernetes-incubator/metrics-server/issues/157#issuecomment-484047998 helps

Not using the helm chart, I added to the manifest  under spec/template/spec `hostNetwork: true` and now it is working.

Also I am using the flags

[code]

[2019-09-10 10:13] AlexRRR commented on #237
I've tried https://github.com/kubernetes-incubator/metrics-server/issues/157#issuecomment-529867498 and it works for me now. But I have no idea why, and it is driving me crazy

[2019-09-10 10:51] #306 closed

[2019-09-10 10:52] PierluigiLenociAkelius commented on #272
@der-eismann this issue can be closed now. This is solved with v0.3.4.

[2019-09-10 10:53] PierluigiLenociAkelius commented on #269
@avarf which version?

[2019-09-10 12:05] der-eismann commented on #272
Fixed with f18a8cdf6ed9ddd14d50f5d9d0d9c4537b766bbd and new v0.3.4 tag.

[2019-09-10 12:05] #272 closed

[2019-09-10 12:33] xfangfang commented on #278
Thanks !
work fine on k8s v1.12.8

[2019-09-11 02:09] yhxjack commented on #309
hi，thank you very much! you are so excellent and you are right, i use the kubernetes version is 1.16. I have already solved the problem three days ago.  The link of #311 is so admirable, thanks for your helping!

------------------ 原始邮件 ------------------
发件人: "Joseph Herlant"<notifications@github.com>;
发送时间: 2019年9月7日(星期六) 凌晨3:55
收件人: "kubernetes-incubator/metrics-server"<metrics-server@noreply.g

[2019-09-11 14:10] Woap commented on #307
Same problem with metrics-server-3.2.0 deployed with Helm
K8S 1.15.0

And with those arguments
[code]

Metrics-servers logs :

[code]

[2019-09-15 09:26] KieranP commented on #307
Same issue.

Versions:
[code]

Install:
[code]

Deployment:
[code]

Autoscaler:
[code]

Result:
[code]

kube top works fine, hpa can't get the current CPU usage, and thus never scales.

[2019-09-15 11:14] #250 closed

[2019-09-15 19:22] #251 closed

[2019-09-17 17:39] sujithvs74 opened #314 "metrics-server not coming up after renewing k8s certificates"
we are getting below error with metrics-server after renewing k8s certificates.

**Metrics-server log**
[code]
Can somebody help with this.

[2019-09-19 12:41] x13n commented on #87
/remove-lifecycle stale

[2019-09-19 14:46] vbasavani commented on #207
same issue in EKS cluster with version 1.13

[2019-09-19 16:05] Woap commented on #307
Same problem here   #300 #299

[2019-09-20 08:09] #248 closed

[2019-09-21 10:34] #249 closed

[2019-09-23 23:25] jasinner commented on #310
There was a previous request to disable 3DES ciphers in Golang by default, [0]. However the request was rejected because Internet Explorer on Windows XP still uses those ciphers. I think that's the better place to address this issue.

If you read Red Hat's CVE page for CVE-2016-2183, [1], you'll see that a mitigation for this attack is to prefer stronger ciphers over 3DES. Golang is doing that as

[2019-09-23 23:41] rehevkor5 commented on #7
Since metrics-server doesn't supply metrics about itself, is there a good way to monitor it?

[2019-09-24 04:17] vnandha opened #316 "unable to save metrics: duplicate pod received"
manager.go:127] unable to save metrics: duplicate pod podns/podname received

We have noticed when there is a duplicate pod, metric server skips storing metrics for the pods

Further, the sink logic is from here https://github.com/kubernetes-incubator/metrics-server/blob/v0.3.5/pkg/provider/sink/sinkprov.go#L134

Previously reported issues:
https://github.com/kubernetes-incubator/metrics-server/is

[2019-09-24 17:44] arafatmohammed opened #317 "HPA throws unable to handle the request (get pods.metrics.k8s.io) error"
Hi,

ERROR I am trying to fix:
```the HPA was unable to compute the replica count: unable to get metrics for resource memory: unable to fetch metrics from resource metrics API: the server is currently unable to handle the request (get pods.metrics.k8s.io)```

I have gone through various GitHub issues and installation posts on how to get the metrics server running but it just doesn't seem to work.

[2019-09-24 18:53] arafatmohammed commented on #317
/sig autoscaling

[2019-09-25 08:25] gaocegege commented on #270
/remove-lifecycle rotten

[2019-09-25 17:19] edsonmarquezani commented on #157
I've been having several problems in the cluster because of this, including HPA. https://github.com/kubernetes-incubator/metrics-server/issues/157#issuecomment-484047998 seems to nail it, indeed, but I'm still wondering *what's the actual problem*. Setting `hostNetwork=true` shouldn't be necessary at all.

[2019-09-25 19:43] pabclsn commented on #207
same here

[2019-09-25 20:18] wajditcb commented on #247
I have the same error here "metrics not available yet" .. The pod logs is showing this message:

[2019-09-25 20:26] wajditcb commented on #143
Same problem here. Pod log error message:

[2019-09-26 08:53] tfluehmann commented on #207
same here:
[code]

[2019-09-26 09:19] akshaymankar commented on #199
@DirectXMan12 One can specify `ephemeral-storage` in the `resources` stanza. Would it be acceptable to request surfacing of those by the metrics api?

[2019-09-30 22:24] wkuang-github opened #318 "How to use kubectl get --raw "/apis/metrics.k8s.io/v1beta1/pods" to get metrics other than cpu/memory"
Hi, I am new to the community and I probably miss other's thread about this top, I found there was a recent update on the variable only_cpu_and_memory to let the metric-server tells kubelet only give me cpu and memory, I found the corresponding variable and relate code in:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/stats/handler.go

My goal is simply, I just want a ric

[2019-10-01 08:49] serathius commented on #318
Hey Wei,

Kubernetes does not include any fully developed monitoring solution like Prometheus/Stackdriver. Kubernetes supports only monitoring pipelines developed for internal needs, such as Autoscaling.

MetricsServer implements Resource Metrics API to publish information about pod CPU/Memory utilization to be consumed by Horizontal Pod Autoscaler or `kubectl top`. Flag `only_cpu_and_memory` is u

[2019-10-01 15:28] benileo commented on #143
I have the same issue. However, I'm able to get metrics for 1 node. I can confirm that the only node reporting metrics has the metrics-server running on it.

[code]
From logs:
unable to fetch node metrics for node "ip-10-50-20-157.ca-central-1.compute.internal": no metrics known for node
unable to fetch node metrics for node "ip-10-50-10-243.ca-central-1.compute.internal": no metrics known for nod

[2019-10-01 16:55] wkuang-github commented on #318
Hi Serathius,
Thanks for the answer, so is the summary API expose to outside, if that is not the case, to collect richer metrics, seems I need to resort to Prometheus/Stackdriver, is that right?

[2019-10-02 07:38] serathius commented on #318
On each node there is an k8s agent called kubelet that exposes Summary API that includes resource metrics of containers running on that node. This endpoint is consumed by metrics-server and no longer maintained [Heapster](https://github.com/kubernetes-retired/heapster), that could push metrics into selected backed.

With deprecation of Heapster, there is no longer a community supported integration

[2019-10-02 16:47] jiphex opened #319 "Constant metrics-server X509 certificate issues in an RKE cluster"
I deployed this RKE cluster about 1 year ago, it's been upgraded a number of times since.

[code]

I've never got the metrics-server to work, either using the standard RKE deployment or by trying to deploy the stable/helm chart. I always seem to get the same problems:

1. Running `kubectl api-resources` shows the resources, plus an error about the metrics APIs:

[code]

2. The metrics-server Pod l

[2019-10-03 20:19] devtobo commented on #212
@zahid0 Thank you so much, you saved my day

[2019-10-04 21:52] #290 closed

[2019-10-05 11:05] #208 closed

[2019-10-06 20:47] SMelnykov opened #320 "Adding manifest for Windows 1809 nodes"
I have mixed Kubernetes cluster with linux and Windows 1809 nodes.
Could we run metrics-server on Windows nodes?

[2019-10-06 22:39] #262 closed

[2019-10-07 08:49] #263 closed

[2019-10-07 19:57] themac13 opened #321 "Error scraping node metrics: nodes.metrics.k8s.io is forbidden: User"
Hi, we are seeing this in our logs every minute:

{
  "_index": "logstash-2019.10.07",
  "_type": "_doc",
  "_id": "pfTAp20BdAYzfBeU7zGe",
  "_version": 1,
  "_score": null,
  "_source": {
    "log": "{\"level\":\"error\",\"msg\":\"Error scraping node metrics: nodes.metrics.k8s.io is forbidden: User \\\"system:serviceaccount:kubernetes-dashboard:kubernetes-dashboard\\\" cannot list resource \\\"no

[2019-10-09 05:22] HYChou0515 commented on #290
To be more explicit from @staticdev 's [suggestion](https://github.com/kubernetes-incubator/metrics-server/issues/290#issuecomment-514559733), I modified `metrics-server/deploy/1.8+/metrics-server-deployment.yaml` and solve this issue
[code]

[2019-10-10 01:56] vvkkhjt commented on #130
/remove-lifecycle stale

[2019-10-10 16:53] marcelomanchester commented on #270
Same issue here

[2019-10-11 03:17] NUCsimple opened #322 "A puzzle about "kubectl top pod""
Sir, I have a question that puzzles me now. Can you help me with this?Why is the memory information collected by kubelet different from the  "kubectl top po"?
![image](https://user-images.githubusercontent.com/37863411/66621830-152aaf80-ec18-11e9-891b-5a7b1094daab.png)
![image](https://user-images.githubusercontent.com/37863411/66621860-312e5100-ec18-11e9-8b69-6d81155e0dac.png)

[2019-10-11 03:28] gouki777 opened #323 "question about metrics-server quantity"
I have a question.
one metrics-server  ,how much node data can be collected?

when i have one metrics-server and my k8s-node number 150+.
Unkown problems began to emerge.

Can I create multiple metrics-server to collect data? Whether the data will be duplicated?

metrics-server version : v0.3.5
Kubernetes     version : v1.13.8

[code]

[2019-10-11 05:38] zxx287856774 commented on #157
i added hostNetwork: true  but my problem no fix   the apiserver  report log "kube-controller-manager: E1011 13:37:24.015616   33182 resource_quota_controller.go:407] unable to retrieve the complete list of server APIs: metrics.k8s.io/v1beta1: the server is currently unable to handle the request“”

[2019-10-11 07:45] serathius commented on #323
Metrics Server should be able to scale horizontally up to 5k nodes.
To do horizontal scaling in main kubernetes repo we use addon resizer https://github.com/kubernetes/autoscaler/tree/master/addon-resizer

For ready manifests please take a look at https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/metrics-server/metrics-server-deployment.yaml

Main con of this approach is problem

[2019-10-11 07:47] serathius commented on #323
Addon resizer cause metrics server to be rescheduled with more resource requests, ensuing that it has enough resources on node to do it job. Remember to have big enough node in cluster to accommodate bigger metrics server.

[2019-10-11 08:02] serathius commented on #157
I don't think metrics-server was meant to run in host network. I think it's a problem with particular overlay network, but it's not my expertise.

Metrics Server uses https://github.com/kubernetes/kube-aggregator to register into Apiserver maybe you could find answers there?

Still it would be useful to document on how metrics server provides Metrics API and what requirements it poses on Network

[2019-10-11 08:37] serathius commented on #270
Hey, can you verify that Metrics Server is working using "kubectl top pod" and looking into metrics server logs?

[2019-10-11 09:21] gaocegege commented on #270
@serathius You can see the log here https://github.com/kubernetes-incubator/metrics-server/issues/270#issuecomment-494261098

[2019-10-11 10:23] serathius commented on #270
Sorry for not noticing it. I don't see any problems in metrics-server logs. Could you verify that Metrics API returns correct results for pods under HPA
[code]

If metrics are correct the problem is not with Metrics Server but with HPA. Please create issue in https://github.com/kubernetes/kubernetes

[2019-10-11 15:27] mikhno-s commented on #45
If you have the same problem on GKE cluster - you need to add prometheus-adapter port (not a kubernetes service port) to allowed in gcp firewall rules. By default kube-master is allowed to make requests only to 10250 and 443 ports. 6443 (default prom-adapter port) need to be added to this rule (or you can add another one with this port and filter by master ip)

[2019-10-12 01:08] gaocegege commented on #270
Sure. But it cannot be always reproduced. I will have a look when I meet it again.

[2019-10-12 19:38] marcadella commented on #288
same

[2019-10-13 02:06] zghnr1993 commented on #288
I had resolved this issue . but i don't know yours issue is the same with me . but you can try . As i know ,minikube now use heapster replaced metric-server . so you should disable metric-server ,and enable heapster . then reinstall minikube .then kubectl top command can use.

[2019-10-13 09:10] #267 closed

[2019-10-14 06:45] morenice commented on #317
You should write resources(requests-cpu) configuration in Deployment file.

I resolved same issue by under document.
- https://aws.amazon.com/premiumsupport/knowledge-center/eks-metrics-server-pod-autoscaler/?nc1=h_ls

[2019-10-14 06:49] morenice commented on #307
Check resources(requests-cpu) configuration in Deployment file.

https://aws.amazon.com/premiumsupport/knowledge-center/eks-metrics-server-pod-autoscaler/?nc1=h_ls

[2019-10-14 14:04] michael-pratt commented on #237
Just to add another data point for anyone struggling with this.

With 1.12, I finally got around the `no metrics known for pod` with the following combo of changes (started with the stable helm charts and modified from there):

1. Add the following to `metrics-server-deployment.yaml`:

       command:
         - /metrics-server
         - --v=2
         - --kubelet-preferred-address-types=Internal

[2019-10-15 14:41] srflaxu40 opened #325 "Metrics Server compatibility with kubernetes v1.13.0?"
Metrics Server compatibility with kubernetes v1.13.0??

I have tried this vanilla with this repo as well as the helm chart.  IS there an issue with particular versions and k8s 1.13.0?  I have k8s server 1.13.0 running, but it doesn't seem that it is working I keep getting unable to scrape errors which I have found are pretty common but adding additional arguments does not seem to fix the error eit

[2019-10-15 14:47] serathius commented on #325
Yes, Metrics Server is covered by e2e tests in k/k respository, which means that something changed in your kubernetes configuration.

What tools/SaaS have you used to deploy your cluster (kops, EKS, ...)?

[2019-10-15 15:40] srflaxu40 commented on #325
kops 1.13.0, k8s 1.13.0, and helm 2.14.3

[2019-10-17 01:33] gouki777 commented on #323
I konw,thank you for your help.

[2019-10-17 01:33] #323 closed

[2019-10-17 08:39] mathiasPop opened #326 "Lots of errors: `discarding data: missing cpu usage metric, unable to get CPU for container`"
Hello,
A lot of this error started to creep in :
[code]
The error is so vague that i dont really have an idea of what is going bad.
Should i paste my deployments files?

Thanks for the help!

[2019-10-21 03:53] vinothkumar437 opened #327 "Getting error from metrics server proxyconnect tcp: EOF"
Hi

Please help me to resolv below issue.
added lines metrics-server-deployment.yaml
<pre>
      - name: metrics-server
        image: k8s.gcr.io/metrics-server-amd64:v0.3.6
        imagePullPolicy: IfNotPresent
        command:
        - /metrics-server
        - --kubelet-insecure-tls
        - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
</pre>
Error from server: Get https:/

[2019-10-21 13:13] weiqiang333 commented on #40
Solved my problem:  I am missing the configuration: --proxy-client-cert-file and --proxy-client-key-file
[code]

[2019-10-22 09:18] AshishThakur commented on #157
The comment in values.yaml https://github.com/helm/charts/blob/master/stable/metrics-server/values.yaml mentions that might be required if we use Weave network on EKS. We faced a similar problem in EKS using AWS CNI and this issue seems to fix the problem. I believe this is more a band-aid solution and the root is somewhere else.
[code]

[2019-10-22 15:16] dmitrievav commented on #325
https://github.com/kubernetes-incubator/metrics-server/issues/212#issuecomment-459321884

[2019-10-22 19:01] sureshvis commented on #316
@olagacek just checking are these issues being reviewed?

[2019-10-23 03:57] myvelmurugan opened #328 "Error from server (ServiceUnavailable): the server is currently unable to handle the request (get nodes.metrics.k8s.io)"
Hi All,

I am using k8s 1.16 version. I deployed the metric-sever with below option and the metrics server pods is collecting the metrics but could not connec the apiservice from master node.

[code]

**
[root@master01 1.8+]# kubectl get apiservice v1beta1.metrics.k8s.io
NAME                     SERVICE                      AVAILABLE                      AGE
v1beta1.metrics.k8s.io   kube-system/me

[2019-10-23 08:53] olagacek commented on #316
@sureshvis In metrics-server release 3.6 there is a change in sinkprov.go: https://github.com/kubernetes-incubator/metrics-server/blob/v0.3.6/pkg/provider/sink/sinkprov.go#L135
Duplicate pod is skipped, but metrics from the other pods are not skipped and stored. Does it solve your issue?

[2019-10-23 09:28] #316 closed

[2019-10-23 09:29] kawych commented on #316
Release v0.3.6 should resolve it, please re-open if you still have this issue.

[2019-10-23 14:01] myvelmurugan commented on #328
I have fixed this issue by installing the kubelet and kube-proxy on master node. Once master node listing under kubectl get nodes. then it can able to connect the metrics api service. I did install using kubernetes hardway.  i struggled to fix this. Finally it worked .

[2019-10-23 14:01] #328 closed

[2019-10-24 04:26] zlbabe commented on #281
/remove-lifecycle stale

[2019-10-24 04:27] zlbabe commented on #281
/remove-lifecycle stale

[2019-10-24 08:58] myvelmurugan opened #329 "Metric-sever is collecting the metrics but hpa is unable to fetch"
[code]

[code]

####metric server is collecting the metrics
[code]

Added the below option in metrics deployment
[code]

API also fetching
[code]

Please let me know what else needs to be checked.

[2019-10-24 09:00] myvelmurugan commented on #329
kubernetes: v1.16
metrics server :  v0.3.5

[2019-10-24 09:33] serathius commented on #329
Looks like problem metrics API is up but `controller-manager` is unable to fetch it. Could you provide debug logs from it?

[2019-10-24 11:53] myvelmurugan commented on #329
I have configured this in "kubernetes the hardway"

log is not getting generated. I added two entries but log file is not generating. please let me know how to get this debug logs.

[code]

[2019-10-24 11:55] myvelmurugan commented on #329
i got this from service status
[code]

[2019-10-24 19:39] grosser commented on #152
/lifecycle stale

[2019-10-25 09:21] myvelmurugan commented on #329
@serathius you are right. It is the issue with kube-controller-manager user RBAC. I have created the rolebinding for that user and it is working now. Thank you for the hint.

[2019-10-25 09:21] #329 closed

[2019-10-25 20:20] rtheis opened #330 "Update to supported version of Go"
Metrics server should update to a supported version of Go to pick up currency and security fixes.  Go version 1.10 is no longer supported per https://golang.org/doc/devel/release.html#policy.

[2019-10-26 05:09] ghostsquad commented on #175
/remove-lifecycle stale

[2019-10-26 20:56] samuel-elliott commented on #278
After trying to install metric-server 0.36 on a three node server with the following configuration:

CentOS 8.0.1905 (Kernel 4.18.0-80.11.2.)
Kubernetes 1.16.2
Canal CNI plugin
Docker 19.03.4

I found a default installation of metrics-server (0.3.6) inoperable. I found my way here thanks to this error in the pertinent logs:

Error: Get https://10.96.0.1:443/api/v1/namespaces/kube-system/configmaps

[2019-10-28 09:07] JokerDevops commented on #130
@DirectXMan12  I use `kubectl top node --v=10` command output information is as follows:
[code]
The result shows that I got CPU, memory and other information of all nodes, but only node47 node is displayed.

[2019-10-29 07:01] greatemperorzjq commented on #278
thank you verymach

[2019-10-29 09:06] JokerDevops commented on #165
[code]
[code]

[2019-10-29 09:07] JokerDevops commented on #165
@ajatkj Hi, I've set -- --kubelet-preferred address-types=InternalIP and he still has errors.

[2019-10-29 09:07] JokerDevops commented on #165
Can you help me? Thank you!

[2019-10-29 09:36] JokerDevops opened #331 "Metrics-server pod cannot communicate with other nodes."
Metrics -server pod cannot communicate with other nodes.

[code]
10.20.53.3 can communicate with 192.168.0.44 but cannot communicate with other Node addresses.

[2019-10-29 15:22] AdelBouridah commented on #131
I have the same issue resolved by adding :
command:
        - /metrics-server
        - --kubelet-insecure-tls
        - --kubelet-preferred-address-types=InternalIP

Whereas the metrics server now return only used ressources for  The master node (always unknown for workers node).

NB. Deployment done with vagrant (hence kubebadm).

**Please have you any hint to solve it**

[2019-10-30 07:09] Jynkki opened #334 "top"

[2019-10-30 18:34] Antiarchitect commented on #165
Same as @JokerDevops here. For one of my nodes `--kubelet-preferred address-types=InternalIP` doesn't help.

[2019-10-31 07:46] Lincoln-audi commented on #282
this issue have solution ？

[2019-10-31 08:17] serathius commented on #165
Have you tried setting `hostNetwork: true` I have seen it help on AWS.

[2019-10-31 10:17] Antiarchitect commented on #165
So it was my fault. I have Bare Metal cluster so all my InternalIPs are external ones. But that was the node which hold the metrics server itself so it tried to request stats via internal source - external destination. Anyway - fixed my FW and now all is ok.

[2019-10-31 13:14] devopsop opened #338 "Error: container has runAsNonRoot and image will run as root"
Greetings,

With yesterday's addition in the deployment file:
[code]
I get this error while pod is initializing
```Error: container has runAsNonRoot and image will run as root```

I am using EKS 1.14.6 - Fresh new cluster

When I remove the block above, everything runs fine.

[2019-10-31 13:28] ZiNApps commented on #338
Same here

I'm using k3s, Kubernetes v1.16.2

[2019-10-31 13:29] SarfarazAliKhan commented on #338
Same here

I'm using k3s, Kubernetes v1.16.2

[2019-10-31 13:45] serathius commented on #338
/assign

[2019-10-31 14:18] auto-testing commented on #338
+1 k8s, Kubernetes v1.16.2

[2019-10-31 16:21] #143 closed

[2019-10-31 16:39] ysolis commented on #152
this update is given problems now ....check #338

[2019-10-31 20:30] vjdhama commented on #338
The issue is related to missing `runAsUser`. I tested with it and it works on `kind` and `EKS 1.14.6`.

I can send a new PR for the fix.

[2019-10-31 20:33] vjdhama commented on #338
I see, there is already a PR in play.

https://github.com/kubernetes-incubator/metrics-server/pull/337

[2019-11-01 02:40] nskoufis commented on #326
Just to add to this, I'm also seeing this a lot on 0.3.3. Just updated to 0.3.6, no change.

I don't understand the problem particularly well, but I did notice that for the node and pod where this is being reported, the raw scrape of the kubelet metrics for the container in question doesn't have the `usageNanoCores` metric reported at the container level, where as it does for others.

[code]

[2019-11-02 13:02] #224 closed

[2019-11-04 02:49] farrukh90 commented on #283
This is still an issue did  someone find a fix for this?

[2019-11-04 03:10] farrukh90 commented on #329
@myvelmurugan ,
I see an issue on kube-controller-manager authentication too. How did you create a rolebinding?

[2019-11-04 10:35] scoopex commented on #338
Yes, that helped. This should be part of the documentation.
[code]
Unfortunately, metrics server ist started now but does not get metrics.

[2019-11-04 10:36] scoopex opened #340 "Missing installation instructions for production installs."
I had problem deploying the metrics server, see #131
Using the last tag solved the deployment problem.

Unfortunately, metrics server is started after deploying the tagged release now but does not get metrics.
[code]

See [metrics-server.log](https://github.com/kubernetes-incubator/metrics-server/files/3803545/metrics-server.log) for log output.

It seems that https://github.com/kubernetes-incubat

[2019-11-04 11:09] serathius commented on #326
This API is Kubelet Specific. @mathiasPop could you share Kubernetes and Metrics Server version that your using?

@nskoufis
Looking at code I'm not 100% sure that this is the problem. In your example usageNanoCores is set to 0. Log provided points to the field missing https://github.com/kubernetes-incubator/metrics-server/blob/2d9f2bba8a59e2900f03fa3a105596e31acd1ea9/pkg/sources/summary/summary.go

[2019-11-04 13:41] kmdhali commented on #207
did u get the workaround ? I have the same issue,  nothing worked so far .."unable to fetch pod metrics for pod kube-system/kube-scheduler-ubuntu03: no metrics known for pod"

[2019-11-05 03:47] Fly0905 opened #342 "The unit n of cpu is equal to 1000 *1000m?"
Example  ： "usage":{"cpu":"139173580n","memory":"14264488Ki"}},

[2019-11-05 05:19] udit0612 opened #343 "How metric-server calculates cpu and memory percentage"
when i run kubectl top command i can see the output like
[code]
But if i run metric server web api i got the following json output

[code]

But in this output CPU% and MEMEORY% is missing
how to calculate these ? Can you share me the calculation formula or githubcode corresponding to it

[2019-11-05 08:41] zhanghba commented on #202
any update?

[2019-11-05 11:20] serathius commented on #343
Like you noticed, Metrics server doesn't expose or calculate percentage utilization of resource.
It's done by kubectl
https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/top/top_node.go#L166

[2019-11-05 11:20] #343 closed

[2019-11-05 11:58] serathius commented on #342
"n"  is for [nano](https://en.wikipedia.org/wiki/Nano-)

1m = 1000 * 1000u

https://github.com/kubernetes/apimachinery/blob/564e0900f0fdabbdc81495b88ce0ca03a62f0af3/pkg/api/resource/suffix.go#L88

[2019-11-05 12:16] Fly0905 commented on #342
Thanks a lot~

[2019-11-05 12:23] #334 closed

[2019-11-05 12:24] serathius commented on #330
Resolved by https://github.com/kubernetes-incubator/metrics-server/pull/332

[2019-11-05 12:24] #330 closed

[2019-11-05 12:32] serathius commented on #286
No, one of design decisions for MetricsServer was to drop this functionality and only provide Metrics API for Horizontal Pod Autoscaler and kubectl top

[2019-11-05 12:32] #286 closed

[2019-11-05 12:36] serathius commented on #181
Same response as for https://github.com/kubernetes-incubator/metrics-server/pull/313
current pipeline of releasing images to k8s.gcr.io doesn't support manifest list.

[2019-11-05 12:38] serathius commented on #281
Have you tried running metrics-server in hostNetwork?

[2019-11-05 12:39] #318 closed

[2019-11-05 12:39] #293 closed

[2019-11-05 17:02] benjaminjb opened #347 "Add pod/node labels"
I'm using metrics-server to keep track of certain CPU/memory usage, but I'd like to aggregate on pod labels. Any reason why we couldn't add labels to this section?

https://github.com/kubernetes-sigs/metrics-server/blob/4f8dd2f7719bdb0954220490ca327750064c8944/pkg/storage/podmetrics/reststorage.go#L166-L168

[2019-11-05 18:33] haimari commented on #207
same here:

`E1105 18:25:55.565639       1 reststorage.go:160] unable to fetch pod metrics for pod spark-operator/funky-gorilla-sparkoperator-f894845f4-t6hdg: no metrics known for pod

E1105 18:25:55.565644       1 reststorage.go:160] unable to fetch pod metrics for pod kube-system/kube-dns-64b69465b4-msj4m: no metrics known for pod

E1105 18:25:55.565650       1 reststorage.go:160] unable to fetc

[2019-11-05 19:29] serathius commented on #347
Changes to API exposed by metrics server should be proposed in https://github.com/kubernetes/metrics feel free to open issue there
Overall metrics-server API was not designed to do any aggregation.

[2019-11-05 19:29] #347 closed

[2019-11-05 19:44] serathius commented on #207
Looked through all logs provided in this issue. Looks like the problem is missing cpu metric in summary API exposed by Kubelet. This could be caused by two things:
* Fresh container (created < 15s ago), that cAdvisor didn't have chance to calculate CPU jet.
* Kubelet failing to expose metric

Please provide me with:
* K8s version
* Kubernetes distro (EKS, GKE, kubeadm)
* Name of pod that metric is

[2019-11-05 19:47] #342 closed

[2019-11-05 19:55] serathius commented on #331
Have you tried running metrics-server in `hostNetwork`?

Please provide more information about your setup:
* Kubernetes version
* Kubernetes distro (GKE, EKS, AKS, kubeadm)
* Metrics Server logs that include error from communicating with other nodes

[2019-11-05 19:58] serathius commented on #327
What this log is from?
Metrics server doesn't use `/containerLogs` endpoint. They look more like output from `kubectl logs`.

[2019-11-05 20:00] serathius commented on #325
Please provide logs that should the error with communication with nodes.

[2019-11-05 20:12] serathius commented on #321
Looking at ```
{"level":"error","msg":"Error scraping node metrics: nodes.metrics.k8s.io is forbidden: User "system:serviceaccount:kubernetes-dashboard:kubernetes-dashboard" cannot list resource "nodes" in API group "metrics.k8s.io" at the cluster scope","time":"2019-10-07T19:56:55Z"}
[code]

[2019-11-05 20:12] #321 closed

[2019-11-05 20:22] benjaminjb commented on #347
Is this technically an API change since PodMetrics uses the standard Meta, which includes Name, Namespace, and Labels?

[2019-11-05 20:40] serathius commented on #322
Prometheus Server scrapes metrics directly from cAdvisor, which is different to how Metrics Server scrapes Kubelet Summary API. I cannot say on exact details on how they differ, but I would look into Kubelet and ask in SIG-Node for details

[2019-11-05 20:40] #322 closed

[2019-11-05 20:48] serathius commented on #347
Yes, currently metrics API doesn't specify that `Metrics` object need to have same labels as object they represent.

[2019-11-05 20:55] serathius commented on #320
Currently metrics-server is not build for windows.
Still in mixed clusters it should be able to run on linux nodes and scrape metrics from Windows ones.

[2019-11-05 20:58] serathius commented on #317
HPA to read metrics api needs to have access to container virtual network. I'm not sure that's true on EKS
Have you tried to deploy metrics-server using `hostNetwork: true` ?

[2019-11-05 21:11] #309 closed

[2019-11-05 21:23] serathius commented on #307
Metrics server logging `no metrics known for pod` is expected behavior (maybe changing error to info or log name).
This is due metrics server scraping metrics periodically (default 1 minute), which can lead to situations where pod is running for 30s but metrics-server didn't had chance to scrape it.

@KieranP Your describing different issue where HPA cannot reach metrics-server, please look into h

[2019-11-05 21:27] serathius commented on #300
Would you be able to provide more logs from metrics-server?
[code]

[2019-11-05 21:33] serathius commented on #299
@Strangedeveloper Metrics Server is expected to report "no metrics known for pod" until cache will be populated. Cache can be empty on freshly deployed metrics-server or can miss values for newly deployed pods.

[2019-11-05 21:36] serathius opened #348 "Use multi stage docker build"
/assign

[2019-11-05 21:36] serathius commented on #295
Should be solved by https://github.com/kubernetes-sigs/metrics-server/issues/348

[2019-11-05 21:36] #295 closed

[2019-11-05 21:38] serathius commented on #291
/assign

[2019-11-05 21:38] pdbogen commented on #187
/reopen
/remove-lifecycle rotten

hullo! We ran into this as well, and I'm extremely certain the difference is Working Set vs Resident Set. Why do y'all use Working Set? Most tools measure Resident Set, and I am reasonably certain that Kubernetes uses RSS for enforcing limits & requests. Plus RSS is the thing we can actually run out of.

Should metrics-server be changed to use RSS for memory inste

[2019-11-05 21:39] serathius commented on #291
/help-wanted

[2019-11-05 21:40] serathius commented on #291
/help

[2019-11-05 21:40] serathius commented on #291
/unassign

[2019-11-05 21:46] serathius commented on #289
/help

[2019-11-05 21:48] #288 closed

[2019-11-05 21:54] serathius commented on #283
I would look into Apiserver logs to check if registration worked and maybe why it returned 404.

[2019-11-05 21:58] serathius commented on #280
Metrics Server is not a replacement for Heapster and doesn't handle exporting metrics to other backends.
Exporting metrics to external monitoring solutions like Prometheus, Stackdriver is not supported by k8s community.

Please look into your preferred monitoring tool for information on how they support k8s.

[2019-11-05 21:58] #280 closed

[2019-11-05 22:08] serathius commented on #187
/reopen
/remove-lifecycle rotten

[2019-11-05 22:31] serathius commented on #187
@PatrickLang
Code pointing to metrics-server using WSS https://github.com/kubernetes-sigs/metrics-server/blob/master/pkg/sources/summary/summary.go#L209

Read through old changes. I think commit changed usage WSS to RSS https://github.com/kubernetes-sigs/metrics-server/commit/05fd3f6a2438a38e9ca5fe05f3eb131b838ba954#diff-011dafa0e059671041654469d3980a2aR157

[2019-11-05 22:34] pdbogen commented on #187
Yep, that's the same code I identified. Didn't think to look at the `blame` for it. So, my "why" question was mostly "is this intentional? is there a reason?" and it sounds like maybe there isn't. Getting this switched to MemoryUsageBytes would be great; checking WorkingSetBytes basically means memory scaling isn't functional for us in any meaningful way.

[2019-11-05 22:41] serathius commented on #187
I will like to get some input from SIG-Autoscaling member to confirm, but it looks like reasonable change.

[2019-11-05 22:47] serathius commented on #282
@aksgithub What resources have you allocated for metrics server?

[2019-11-05 22:53] #246 closed

[2019-11-05 22:53] #241 closed

[2019-11-05 22:56] serathius commented on #19
/remove-lifecycle stale
/help

[2019-11-05 23:06] serathius opened #349 "Remove/propose different "no metrics known for pod" log"
There are a lot of issues where users are seeing metrics-server reporting error "no metrics known for pod" and asking for help.

To my understanding this error is expected to occur in normal healthy metrics-server.
Metrics Server periodically scrapes all nodes to gather metrics and populate it's internal cache. When there is a request to Metrics API, metrics-server reaches to this cache and looks

[2019-11-05 23:10] serathius commented on #291
/remove-lifecycle stale.

[2019-11-05 23:10] serathius commented on #289
/remove-lifecycle stale

[2019-11-05 23:13] serathius commented on #310
Is this problem actionable by metrics-server or should be left to Golang community?

[2019-11-05 23:20] serathius opened #350 "Implement E2e test"
To prevent regressions like described here: https://github.com/kubernetes-sigs/metrics-server/issues/187 I propose to introduce minimal set of e2e tests

Proposed scenario:
1. Deploy metrics-server & resource-consumer (used in k/k repo)
2. Wait for metrics to be available
3. Verify metrics by calling Metrics API

Running this test on real infrastructure would be overkill.
This test should run on s

[2019-11-05 23:21] serathius commented on #350
/help

[2019-11-05 23:21] serathius commented on #349
/help

[2019-11-05 23:24] serathius commented on #340
I see this as main pain of metrics-server, it's configuration is very dependent on cluster configuration and there are to many options.
There are lot of issues asking on exact solutions for EKS, AKS etc.

Would be nice if someone could look through issues describing which configuration worked on different environment and document it.

[2019-11-05 23:24] serathius commented on #340
/help

[2019-11-05 23:25] serathius commented on #291
/remove-lifecycle stale

[2019-11-06 05:54] w32-blaster commented on #310
Assuming we can explicitly disable ciphers if this would be supported by the metrics-server implementation. That’s what nginx has as well.

[2019-11-06 15:12] serathius commented on #310
Such changes should be done throughout all apiservers in kubernetes.
I think better place for proposing this change would be in https://github.com/kubernetes/apiserver/issues

[2019-11-07 06:32] zhanghba opened #351 "some ndos not fetch node metrics"
![image](https://user-images.githubusercontent.com/35982572/68365291-30cb9c00-016b-11ea-9deb-8fce0704a879.png)

![image](https://user-images.githubusercontent.com/35982572/68365390-7be5af00-016b-11ea-95e5-f75ca9a6c427.png)

[2019-11-07 06:34] zhanghba commented on #351
version :
    kubelete: 1.16.2
    metrics-server: 0.3.6

[2019-11-07 08:20] serathius commented on #351
Hey @zhanghba, looks like there is an timeout when connecting to port 10250 on node.
Can you try ssh to those nodes and run curl port 10250?

I'm not up to date for 1.16 changes in node, so it would be useful to get results from testing HTTP and HTTPS for both ports 10250 and 10255

[2019-11-07 12:33] lucj commented on #338
Is there any updates on this problem ?

[2019-11-07 13:02] serathius commented on #338
https://github.com/kubernetes-sigs/metrics-server/pull/337 was merged

[2019-11-07 13:02] #338 closed

[2019-11-07 13:33] udit0612 commented on #338
@serathius i still got the error in the logs E1107 13:30:35.383039       1 manager.go:111] unable to fully collect metrics: unable to fully scrape metrics from source kubelet_summary:k8s-master: unable to fetch metrics from Kubelet

[2019-11-07 13:39] serathius commented on #338
@udit0612 this issue is about not running container as root. Your error looks like problem with mismatch of your cluster and metrics server configuration.

Please look if there is other issue that describes similar problem. I also would be open to help you configure it on k8s slack in #sig-instrumentation channel

[2019-11-07 15:53] anton-johansson commented on #281
It's been a while since I looked into this, so I can't really remember howthis is configured. But if I recall, it's by creating a `Service` in the cluster. Not sure how a `Service` is related to running the pod itself in `hostNetwork`?

[2019-11-07 16:17] serathius commented on #281
Ok, there are two things.
* apiserver can access cluster nodes but doesn't run not in cluster virtual network. Running metrics-server in `hostNetwork` should work
* nodes run in private network inaccessible from apiserver. https://kubernetes.io/docs/concepts/architecture/master-node-communication/#ssh-tunnels

[2019-11-07 16:17] mshakhmaykin commented on #276
@nik786 - did you manage to figure this out?

[2019-11-07 20:10] serathius opened #353 "Set description of repository"
Proposed description from https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/
Description: "Cluster-wide aggregator of resource usage data"

This can be only done by Repo Admin
/assign @brancz

[2019-11-08 01:10] electrocucaracha commented on #131
I'm still getting the error, I'm using Kubespray v2.11.0 to deploy a Kubernetes v1.15.3 with the following instruction:
[code]

[2019-11-08 07:08] zhanghba commented on #351
@serathius  yes. this issse has fixed.

this is a  network issue. many thanks.

[2019-11-08 07:09] #351 closed

[2019-11-08 09:00] #353 closed

[2019-11-08 10:19] ledroide commented on #247
I'm facing the same problem for nodes, but not for pods. Kubelet Insecure TLS is set : no change.
[code]
[code]
[code]
[code]

[2019-11-08 10:28] serathius commented on #247
`no metrics known for node` itself doesn't point to a problem. More details here: https://github.com/kubernetes-sigs/metrics-server/issues/349 for details.

@ledroide Could you provide metrics-server logs

[2019-11-08 10:55] ledroide commented on #247
@serathius : Here are logs from metrics-server, filtered for matching "node" : https://gist.github.com/ledroide/0cbc6750cab7d6ae0371b88c97aee44e

Exemple of what I'm seeing in these logs :
[code]

[2019-11-08 11:05] galderz commented on #34
@DirectXMan12 How do you do that exactly? I've enabled `heapster` addon, recreated the VM, see the heapster pod running in `kube-system`, but I get the error above when inspecting a pod in a different namespace

[2019-11-08 11:09] serathius commented on #247
Can you verify that kubelet is exposing cpu metrics?
`kubectl get --raw /api/v1/nodes/kube-poc-compute3/proxy/stats/summary | jq '.node'`

You can skip using `jq`, it just filters node data

[2019-11-08 11:20] ledroide commented on #247
I have copied the output of the command `kubectl get --raw /api/v1/nodes/kube-poc-compute3/proxy/stats/summary | jq '.node'` at the end of [the same gist](https://gist.github.com/ledroide/0cbc6750cab7d6ae0371b88c97aee44e).

Output looks good to me.

[2019-11-08 11:31] serathius commented on #247
Looks like node exposes `UsageNanoCores` correctly and I don't see log that mentions broken node metrics (`unable to get CPU for node`) .

Can you verify that `kubectl top node` still fails?

[2019-11-08 11:35] ledroide commented on #247
Of course, still failing :
[code]

[2019-11-08 11:51] serathius commented on #247
Last check before I would need to deepdive into code. Need to eliminate if the problem is with  `kubectl top` and not the api.
Please run
[code]

Are you running `heapster` in cluster?

[2019-11-08 12:18] ledroide commented on #247
I think we reach the problem here : the nodes list is empty
[code]
[code]
By the way, I use kubernetes 1.16.2, and no heapster
[code]

[2019-11-08 14:47] anton-johansson commented on #281
Ok, let me try `hostNetwork` properly and get back to you! It might take a couple of days though, have a few other things going on at the moment.

[2019-11-08 20:21] pdbogen commented on #187
Here's some research on the subject. Main takeaway is that maybe we should offer both/either RSSBytes or WorkingSetBytes.

* anonymous memory -- "Anonymous memory is a memory mapping with no file or device backing it. This is how programs allocate memory from the operating system for use by things like the stack and heap." (https://landley.net/writing/memory-faq.txt)

* rss -- "# of bytes of anony

[2019-11-08 20:35] serathius commented on #350
/remove-help
/assign

[2019-11-09 09:21] errordeveloper commented on #319
I've seen this in EKS also, cannot confirm yet what causes it, but it could be related to HTTPS proxy uses in this particular setup.

Once I'll figure out where `authentication.go` lives (it's not in this repo), I'll try to add debug messages as to what certificate the error message relates to (it's hugely ambiguous the way it's logged right now).

@DirectXMan12 any hits would help! In my case met

[2019-11-10 07:06] windseeyou commented on #349
There is a same metric-server problem in my cluster: unable to fetch pod metrics for pod kube-system/POD_NAME:no metrics known for pod.
Also,Dashboard couldn't be deployed successfully on k8s:v1.16.2 without metric/heapster: No metric client provided. Skipping metrics.

[2019-11-10 09:05] #221 closed

[2019-11-11 16:59] errordeveloper commented on #319
In my case issue turned to be a flake, it's a complex setup and I don't have control over or insight into many of the elements at play.

[2019-11-12 06:17] carlylelu commented on #131
I just got the same situation on my metrics-server,unable to fetch pod metrics for pod default/xxxxxxxx: no metrics known for pod "default/xxxxxxxx" @damascenorakuten
Do you fix it already?

[2019-11-12 09:03] serathius commented on #131
@carlylelu appirence of this log does not mean that there is a problem, nor points to possible cause.
More info https://github.com/kubernetes-sigs/metrics-server/issues/349#issuecomment-550068449
This Issue is about host resolution. Example log `dial tcp: lookup <hostname> on 10.96.0.10:53: no such host`

[2019-11-12 09:44] ledroide commented on #247
Fixed.
I removed metrics-server ans reinstalled it.
It is ugly, but smoother or cleaner methods did not work at all.
Now :
[code]

[2019-11-12 11:51] William-Yi-Weng commented on #207
Hi @serathius ,
I meet the same issue. There are a lot of "userDefinedMetrics": null error in my log.

[code]

[2019-11-12 13:30] mathiasPop commented on #326
@serathius Thanks for taking the time:
The metrics server image: `k8s.gcr.io/metrics-server-amd64:v0.3.1`
Kubernetes version: `Server Version: version.Info{Major:"1", Minor:"12+", GitVersion:"v1.12.10-eks-825e5d", GitCommit:"825e5de08cb05714f9b224cd6c47d9514df1d1a7", GitTreeState:"clean", BuildDate:"2019-08-18T03:58:32Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}`

[2019-11-12 13:34] mathiasPop commented on #326
I did the basic installation that is required to get datadog running, here is the deployment:
[code]

[2019-11-12 14:17] lucj commented on #131
Got the same issue (host resolution) when installing server-metrics in a DO cluster. I think I did not have the issue a couple of days ago :(

[2019-11-13 05:38] koy1619 commented on #326
@mathiasPop  I had the same problem

`metrics-server-amd64:v0.3.6`

[code]

[2019-11-13 05:46] koy1619 commented on #207
I had the same problem

`metrics-server-amd64:v0.3.6`

[code]

[code]

[2019-11-13 06:44] koy1619 commented on #326
通过将master作为节点并打上污点运行来运行它（在主节点上运行kubelet，kube-proxy，calico或者flannel）。

原因是apiservice对象需要查找metric-serversvc才能获取指标。

[2019-11-13 16:44] mattrco opened #356 "Metrics server exiting with code "2""
Hi, we have been running metrics server for a few months without issue. We recently added more scrape targets, and I'm now seeing metrics server restarting:

[code]

There are no errors in the logs other than presumably non-fatal scrape errors:
[code]

How could I go about debugging this further? Thanks in advance.

[2019-11-14 02:58] valentin2105 commented on #232
Any solution out there ?

My metric server work for like 1 hour and then use the expired token and cause Helm deployment fail because the api.metrics can be fetched..

k8s v1.16.3

[2019-11-14 09:10] serathius commented on #232
Hey, @valentin2105
I'm not very familiar with go-client SA token rotation.
Could you provide a reproduction steps so I can verify that problem exists after recent update in dependencies?

[2019-11-14 10:30] cycraig opened #357 "Fails to deploy on Windows; addSelector to constrain to Linux nodes"
Deploying metrics-server on a mixed Kubernetes cluster with Linux and Windows nodes usually fails because it tries to run on a Windows node.

This generates an unhelpful error message when examining the failed events in `kubectl describe pods -n kube-system`, with the important part being:
[code]

Adding a `nodeSelector` constraint in `metrics-server-deployment.yaml` fixes this by ensuring it will

[2019-11-14 10:40] serathius commented on #357
I'm for the change as it's also used in addons in main kubernetes repository.
@cycraig would you be interested in contributing it yourself?

[2019-11-14 10:53] cycraig commented on #357
Sure. I assume only two files need this change?

- metrics-server/deploy/1.8+/metrics-server-deployment.yaml
- metrics-server/deploy/1.7/metrics-server-deployment.yaml

The `beta.kubernetes.io/os` label has been deprecated in favour of `kubernetes.io/os` in v1.14. Should the beta version still be used for backwards compatibility?

[2019-11-15 12:55] serathius commented on #187
Hey @pdbogen
Thanks for a great write up.
I talked with @kgolab who maintains [Vertical Pod Autoscaler](https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler), he confirmed that we should use Working Set.
[Kubernetes doesn't support enabling swap](https://github.com/kubernetes/kubernetes/issues/53533) so there is no need for exposing the choice

[2019-11-15 15:49] pdbogen commented on #187
Hm. Was the conversation with @kgolab in public somewhere? The conclusion that working set is the right number does not follow from the facts as I understand them, so I'm curious about their reasoning.

Working set represents only recently used memory pages. It excludes pages that the kernel has flagged as suitable for swap, regardless of whether swap is available or not.

So, for workloads that a

[2019-11-15 15:55] serathius commented on #187
My fault, I meant that I agree with you and we should use Resident set.
Vertical Pod Autoscaler adjust resources to avoid OOM. So like you wrote we need to use RSS

[2019-11-15 16:05] pdbogen commented on #187
Whew, OK. Awesome. I can submit a PR later today, if you'd like.

On November 15, 2019 3:55:49 PM UTC, Marek Siarkowicz <notifications@github.com> wrote:

[2019-11-15 16:16] serathius commented on #187
Sure.

[2019-11-16 07:24] neerajjain92 commented on #247
Solved by following steps :

1) Clone https://github.com/kubernetes-sigs/metrics-server
2) Disable the metrics-server addon for minikube in case it was enabled
`minikube addons disable metrics-server`
3)  Deploy the latest metric-server
` kubectl create -f deploy/1.8+/`
4) Edit metric-server deployment to add the flags
[code]
5) Re-enable metrics-server addon `minikube addons enable metrics-server

[2019-11-16 12:32] vinothkumar437 opened #360 "unable to fully collect metrics: [unable to fully scrape metrics from source kubelet_summary:kube-master"
Installed metrics-server getting below error, please help me to resolve the issue.

<pre>
[root@kube-master deploy]# cat 1.8+/metrics-server-deployment.yaml
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: metrics-server
  namespace: kube-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: metrics-server
  namespace: kube-system
  labels:
    k8s-app: metrics-server
spec:

[2019-11-18 10:07] harjas27 opened #361 "Kubelet returns 403 Forbidden on OpenShift Container Platform v3.10"
I tried to deploy metrics-server on OpenShift Container Platform v3.10
but `kubectl top node` command is  not working with response - error: metrics not available yet

The logs for the metrics server pod were similar to https://github.com/kubernetes-sigs/metrics-server/issues/77
I added `--source=kubernetes.summary_api:https://kubernetes.default?kubeletHttps=true&kubeletPort=10250&insecure=true` t

[2019-11-18 21:44] aksgithub commented on #361
@harjas27 what flags kubelet is configured with ?

[2019-11-18 22:02] aksgithub commented on #331
check if curl to kubelet(on a different node)  from node on which metrics server is running is working.
[code]
mostly, it's not a metrics server issue but underlying networking.

[2019-11-18 22:17] ankilosaurus opened #362 "Support client-ca-file authentication (Add flags to configure kubelet client)"
As contrary to documentation, kubernetes api server flags are not recognized by Metrics server.
For instance, I have working metrics server deployment with --kubelet-insecure-tls flag enabled. As a next step i want secure communication between metrics-server and kubelet but i am getting following error:
[code]
Same with --kubelet-certificate-authority and --kubelet-client-key.

Is this expected ?

[2019-11-18 22:18] aksgithub commented on #362
As per the code, it doesn't look like it's supporting standard api server flags. Am i missing something ?

[2019-11-18 22:29] valentin2105 commented on #232
Hi @serathius,
I have disabled TokenRotation for now as a workaround.
The reproduction steps are,

- Launch a cluster with BoundServiceAccountTokenVolume enabled, or AllAlpha enabled.
- Deploy metric-server on it
- It should work for a while and stop working when the token will expire

I don't know the default token rotation time, but after one hour, it should fail.

[2019-11-19 04:15] serathius commented on #362
Metrics-Server doesn't support verifying kubelet certificate nor client certificates. Would you be interested in contributing?

[2019-11-19 14:30] anton-johansson commented on #281
@serathius:

Okay, so I tried running the metrics-server on `hostNetwork` and it doesn't change anything. But again, I don't see why it should, because my masters cannot access any services defined in the cluster.

If I run this:
[code]

... I get the following response:
[code]

Note the status condition for `Available`.

[2019-11-19 14:33] serathius commented on #232
Thanks @valentin2105
I did some digging and found similar issue for `kube-proxy` https://github.com/kubernetes/kubernetes/issues/77651
Looks like fix for this https://github.com/kubernetes/kubernetes/pull/77613 should be available in metrics-server since v0.3.3 https://github.com/kubernetes-sigs/metrics-server/blob/v0.3.3/vendor/k8s.io/apiserver/pkg/util/webhook/authentication.go#L180

@mikedanese

[2019-11-19 14:42] serathius commented on #281
MetricsServer relies on https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/ to provide it's API
If your firewall is blocking communication between master node and cluster nodes, then you should consider using https://kubernetes.io/docs/concepts/architecture/master-node-communication/#ssh-tunnels.

[2019-11-19 14:56] anton-johansson commented on #281
There is no firewall blocking communication between master nodes and cluster nodes.

However, I am running `flannel` to configure my pod networking, and I have configured it as a `DaemonSet`, so it's not being configured on the master nodes (which I think is desirable?).

In other words, my masters can communicate freely with the cluster nodes, it just can't reach internal IPs such as Pod IPs or S

[2019-11-19 14:58] alex1zerg opened #363 "ll frm:latest"

[2019-11-19 15:03] anton-johansson commented on #281
I read a bit on the first link you gave there and found this:

That together with `hostNetwork` should probably do the trick. Let me try that!

[2019-11-19 17:05] #348 closed

[2019-11-19 17:48] serathius commented on #152
Fixed by https://github.com/kubernetes-sigs/metrics-server/pull/201

[2019-11-19 17:48] #152 closed

[2019-11-19 17:49] serathius commented on #37
Fixed by https://github.com/kubernetes-sigs/metrics-server/pull/201

[2019-11-19 17:49] #37 closed

[2019-11-19 18:00] serathius commented on #232
/remove-lifecycle stale

[2019-11-19 18:03] serathius commented on #237
Log  `no metrics known for pod` doesn't indicate the problem. Details: https://github.com/kubernetes-sigs/metrics-server/issues/349

[2019-11-19 18:03] #237 closed

[2019-11-19 18:05] #247 closed

[2019-11-19 19:13] moikot commented on #181
Maybe I'm missing something but why the issue was closed just by restating the problem?

[2019-11-19 19:58] aksgithub commented on #362
@serathius, thanks for your comment. If we bringup cluster with kubelets running ```--anonymous-auth=false```, metrics-server will not be able to talk to kubelet to fetch metrics. And the only way i see is to set --anonymous-auth=true in kubelet.

That looks like some disconnect. As, I am looking at flags section at -> https://github.com/kubernetes-sigs/metrics-server
which says,

```Metrics Serve

[2019-11-19 20:06] aksgithub opened #364 "README.md incorrectly mentions unsupported apiserver flags"
It seems metric server does not support all the standard Kubernetes API server flags.

Ex: Metrics-Server doesn't support verifying kubelet certificate nor client certificates.

[2019-11-20 01:07] kyle-ax commented on #237
@michael-pratt

What definition are you setting `hostNetwork.enabled=true` in? In the `metrics-server` Deployment or Service?

[2019-11-20 06:03] serathius commented on #362
Maybe documentation is little confusing, but I don't see the mismatch.
When it mentions `standard Kubernetes API server flags` it means flags that are exposed by apiservers like `bind-address`, `secure-port`, `cert-dir` (full list https://github.com/kubernetes/apiserver/blob/4756b09d7af299e0b2f66e68910fe28eb529fbc8/pkg/server/options/serving.go#L138)

All flags prefixed with `kubelet` are not apis

[2019-11-20 06:06] serathius commented on #364
How this issue differs https://github.com/kubernetes-sigs/metrics-server/issues/362 ?

[2019-11-20 06:08] serathius commented on #363
Hey @alex1zerg, could you provide any information or description for this issue?

[2019-11-20 06:13] serathius commented on #356
How much CPU have you assigned for MetricsServer?

As a system addon it's suggested to run MetricsServer as [`Guaranteed`](https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/#create-a-pod-that-gets-assigned-a-qos-class-of-guaranteed) pod (resource requests=limits).

Please ensure that you have 40mCores base + 0.5 mCores per node in cluster

[2019-11-20 08:08] RaymondKYLiu commented on #141
I ran into the same problem on AWS EKS with Secondary Cidr extended.
[code]

Because I enable Custom Network Config for the VPC CNI.
I follow @allansun to add `hostNetwork: true`, the issue was resolved.

[2019-11-20 13:50] serathius opened #365 "Use OSS image promoter"
Currently MetricsServer releases are still done using Google internal release pipeline, which requires all releases to go through Googler and doesn't support multi-architecture images (very requested feature for metrics-server).

#wg-k8s-infra is focused on  migrating projects to OSS image promoter that should solve issues mentioned above.
https://github.com/kubernetes-sigs/k8s-container-image-pro

[2019-11-20 13:52] serathius commented on #181
Sorry for not giving full explanation here. I created issue that explains what needs to be done to use multi-architecture image manifests.
Please look into https://github.com/kubernetes-sigs/metrics-server/issues/365

[2019-11-20 13:53] serathius commented on #365
/help-wanted

[2019-11-20 13:54] serathius commented on #365
/help

[2019-11-21 17:34] serathius commented on #365
/remove-help
/assign

[2019-11-21 22:33] zhangyu84848245 commented on #349
@serathius

I had the same problem before。
add

 resources:
          limits:
            cpu: 100m
            memory: 300Mi
          requests:
            cpu: 5m
            memory: 50Mi
I can run it， You try。

[2019-11-21 22:43] zhangyu84848245 opened #369 "Error: unable to load server certificate: open /usr/local/k8s-certs/metrics-server.pem: no such file or directory"
I add the certificate file through the parameter
-- TLS cert file
-- TLS private key,

but always report that the certificate file does not exist.

My file system has this certificate

[code]

metrics-server-deployment.yaml as follows
[code]

Who knows where I've got the wrong configuration？

[2019-11-22 01:49] danishkz94 opened #370 "HPA unable to read metrics on 1 cluster in GKE"
I have two clusters in GKE but HPA is only abe to read metrics on 1 of the 2 clusters.
there is a FailedDiscoveryCheck error, but all the permissions and firewall rules are established properly

$ kubectl top pod
Error from server (ServiceUnavailable): the server is currently unable to handle the request (get pods.metrics.k8s.io)

output from $ kubectl get apiservices v1beta1.metrics.k8s.io -o yam

[2019-11-22 11:40] oceaneLonneux commented on #247
Hello, I have the same problem...
I have deleted the metrics-server then re-installed it with the args mentioned by @neerajjain92 but I'm afraid nothing is happening.
` 1 desired | 1 updated | 1 total | 0 available | 1 unavailable`

[2019-11-22 16:13] oceaneLonneux opened #371 "Metrics-server : 0 available"
Hello! I'm trying to enable autoscaling policy for the pods in my 1.13 EKS cluster. I have been bumping into the same problem which is that the metrics-server is never available.
[code]
I have cloned the repo necessary on my own machine then `kubectl apply -f deploy/1.8+`.
I have added those lines to the metrics-server-deployment.yaml as well:
[code]
I have tried the args, then the command part bo

[2019-11-23 04:18] dudo commented on #37
So, I see this as closed, but I'm curious - should this fix this error too?

    error creating self-signed certificates: mkdir apiserver.local.config: read-only file system

[2019-11-24 03:21] binudba commented on #167
K8s v1.16.x and Metrics server 0.3.4, following fix worked.

      containers:
      - args:
        - --cert-dir=/tmp
        - --secure-port=4443
        - --kubelet-insecure-tls
        - --kubelet-preferred-address-types=InternalIP

[2019-11-25 06:32] cczz12345 commented on #130
watch this：https://github.com/kubernetes-sigs/metrics-server/issues/278

[2019-11-25 08:39] cycraig commented on #357
Resolved by #358, #367.

[2019-11-25 08:39] #357 closed

[2019-11-25 11:53] max-rocket-internet opened #372 "Crashes when k8s API is updated"
We are using AWS EKS and when AWS periodically updates the EKS service, we see metrics-service crash. For example, last week the service was updated from v1.13.11 to 1.13.12 and this caused the pod to crash. Here's the last state of the pod:

[code]

There's nothing really interesting in the logs at this time, just messages like these:

[code]

The cluster-autoscaler also crashed at the same time

[2019-11-25 11:54] max-rocket-internet commented on #372
This was using version `gcr.io/google_containers/metrics-server-amd64:v0.3.2`

[2019-11-25 11:56] max-rocket-internet commented on #372
Related: https://github.com/kubernetes/autoscaler/issues/2556

[2019-11-25 12:48] forsberg commented on #319
@errordeveloper If you download the source code for one of the releases of metrics-server, you will find it under `vendor/k8s.io/apiserver/pkg/endpoints/filters`. Pretty sure it's [this code](vendor/k8s.io/apiserver/pkg/endpoints/filters), although in some earlier version (line number doesn't match in the link)

[2019-11-25 14:02] udit0612 opened #373 "Curl command for filtering out metrics api on the basis of labels?"
I want to filter the metrics of all pods in **mynamespace** with label **mypod** .

`localhost:8002/apis/metrics.k8s.io/v1beta1/namespaces/mynamespace/pods `

How do I define the labels in the API to get filtered output?

[2019-11-26 13:08] illagrenan commented on #247
I had the same problem with Kubernetes 1.16 installed by kops on AWS. I found that a heapster is still installed on the server. When I removed the heapster (it was installed using helm), the command `kubectl top nodes` started to work.

[2019-11-26 21:06] alok87 commented on #212
this works thank you very much. saved some prod time :) https://github.com/kubernetes-sigs/metrics-server/issues/212#issuecomment-459321884

[2019-11-27 14:12] oceaneLonneux opened #374 "horizontal-pod-autoscaler : missing request for memory"
I am trying to implement autoscaling of pods in my cluster. I have tried with a "dummy" deployment and hpa, and I didn't have problem. Now, I am trying to integrate it into our "real" microservices and it keeps returning
[code]

Here is my hpa:
[code]
The deployment
[code]

I can see both memory and cpu when I do `kubectl top pods`.  I can see the requests and limits as well when I do `kubectl des

[2019-11-27 18:12] blaise-sumo commented on #193
@DirectXMan12 , I would like to update the docs, I looked in this repo and also in https://github.com/DirectXMan12/k8s-prometheus-adapter/tree/master/docs but I'm not sure if that is the correct place.

[2019-11-27 18:23] blaisep commented on #193
Since this thread appears in search results, the docs seem to be updated at:
https://kubernetes.io/docs/tasks/configure-pod-container/assign-cpu-resource/#cpu-units

[2019-11-27 20:28] rolinj commented on #157
Had the same issue and the solution that worked for me is to modify the **deploy/1.8+/metrics-server-deployment.yaml**  file as below. (separating commands and arguments respectively)
~ also no changes made to other files within **deploy/1.8+/**

`containers:
      - name: metrics-server
        image: k8s.gcr.io/metrics-server-amd64:v0.3.6
        command:
          - /metrics-server
        args

[2019-11-28 10:59] pierluigilenoci commented on #133
/remove-lifecycle stale

[2019-11-29 04:25] sarath4 opened #375 "Error: Get https://10.96.0.1:443/api/v1/namespaces/kube-system/configmaps/extension-apiserver-authentication: dial tcp 10.96.0.1:443: i/o timeout"
After the deployment i got the below error could you please on this.
[code]

[2019-11-29 07:44] freshman411 commented on #95
执行
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: view-metrics
rules:
- apiGroups:
    - metrics.k8s.io
  resources:
    - pods
    - nodes
  verbs:
    - get
    - list
    - watch

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: view-metrics
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view-metri

[2019-11-29 13:32] alvaroaleman opened #376 "Allowed client names are not loaded dynamically"
We noted errors like this in the metrics-server: ` Unable to authenticate the request due to an error: [x509: subject with cn=apiserver-aggregator is not in the allowed list`.

After fixing the apiserver aggregator config to allow that name, we still needed to restart the metrics server to make it pick up the change.

This seems to be caused by:
* https://github.com/kubernetes-sigs/metrics-server/

[2019-11-30 20:00] serathius commented on #360
Looks like problem is with dns resolution `lookup kube-node on 10.96.0.10:53: no such host`
Have you tried using `--kubelet-preferred-address-types` flag?

[2019-12-01 10:32] serathius commented on #369
You haven't mounted the `/usr/local/k8s-certs/` into the container.
You can read about it here https://kubernetes.io/docs/concepts/storage/volumes/#hostpath

[2019-12-01 10:33] serathius commented on #361
I don't know OpenShift at all, but heard that it's harder to run system components there.
Have you looked at their official documentation https://docs.openshift.com/container-platform/3.11/dev_guide/pod_autoscaling.html#req-for-using-hpas ?

[2019-12-01 10:41] serathius commented on #370
Looks like your apiserver cannot access your nodes due problem with ssh tunnels.
It could be network or configuration error. I would suggest recreating cluster.

[2019-12-01 10:43] serathius commented on #371
Have you looked at pod status or it's logs?

[2019-12-01 10:49] serathius commented on #372
Neither of provided logs would cause a crash. Like @losipiuk mentioned k8s controllers are expected to restart when apiserver goes down.

[2019-12-01 10:51] serathius commented on #373
Yes, metrics behave like k8s objects in apiserver. You can just use kubectl
`kubectl top pod -n mynamespace -l app=mypod`

[2019-12-01 10:57] serathius commented on #374
This problem is related to implementation of HPA and not metrics-server. Please try asking this question in https://github.com/kubernetes/kubernetes repository where people from SIG-autoscaling can answer your question.

I would look into exact pod spec in your production and check if they have requests. Not sure about HPA implementation but it's possible that HPA doesn't wont to scale if there is

[2019-12-01 11:01] serathius commented on #375
is `10.96.0.1` the address of your apiserver? Have you checked your network setup?

[2019-12-01 11:03] #376 closed

[2019-12-01 14:45] Arthur666 opened #378 "/apis/metrics.k8s.io/v1beta1: 403"
Title: /apis/metrics.k8s.io/v1beta1: 403

---
---
## Summary

Hi All,
     I can't get metrics from /apis/metrics.k8s.io/v1beta1/nodes or /apis/metrics.k8s.io/v1beta1/pods.

I see in the logs, with verbose level 2, entries about 403 Forbidden response HTTP status code and 503 service unavailable response HTTP status code.

Could somebody please help me to understand the root cause of these 403 and

[2019-12-01 15:08] Arthur666 commented on #378
@giner

[2019-12-02 05:24] sarath4 commented on #375
Yes 10.96.0.1 (Internal)is the apiserver

service/kubernetes        ClusterIP   10.96.0.1       <none>        443/TCP                       45d

NAME                     TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)                  AGE
service/kube-dns         ClusterIP   10.96.0.10      <none>        53/UDP,53/TCP,9153/TCP   45d
service/metrics-server   ClusterIP   10.98.174.142   <none>

[2019-12-02 08:52] max-rocket-internet commented on #372
Exactly, that's my point. Nothing is logged.

I'm not convinced 😃 We have in our cluster many other apps that are using the k8s API that do not crash at this time. e.g. ingress-controllers, datadog, kube-proxy, external-dns, node-problem-detector, aws-vpc-cni, prometheus and some custom controllers written in golang and python. None of them crash when API server is being updated.

[2019-12-02 09:00] udit0612 commented on #373
yes, but I asked  to do it with API  not with kubectl  command

[2019-12-02 09:43] Arthur666 commented on #378
## Summary
### 参考以下大神博客给予解决

https://linux48.com/container/2019-11-13-metrics-server.html

### 官方项目部署地址

https://github.com/kubernetes-sigs/metrics-server/tree/master/deploy

### 下载编排文件，使用1.8+的部署文件
[code]

### 生成metrics-server的证书
[code]

### 开启apiserver聚合服务

- 要安装mertics-server必须先开启聚合服务的参数
- 二进制部署安装，需要手动修改apiserver添加开启

#### kube-apiserver配置文件修改，
[code]
#### 注释：新增以下部分
[code]
## 新增配置后逐个重启apiserver

[2019-12-02 09:44] Arthur666 commented on #378
## 注意：
二进制安装需要在master节点安装kubelet、kube-proxy、docker-ce后将master节点加入进群worker node节点。否则有可能会无法连接metrics-server而报错timeout。

[2019-12-02 09:45] #378 closed

[2019-12-03 03:16] baijiu1 opened #379 "metrics-server:mkdir apiserver.local.config: read-only file system"
i trying create metrics-server/deploy/1.8+/ all files
i run this command:kubectl logs metrics-server-85f4bd67b5-wqcjp -n kube-system
logs:
Error: error creating self-signed certificates: mkdir apiserver.local.config: read-only file system
Usage:
   [flags]

Flags:
  ......
panic: error creating self-signed certificates: mkdir apiserver.local.config: read-only file system
goroutine 1 [running]:
mai

[2019-12-03 11:20] mvisonneau commented on #319
I have this exact behaviour on EKS 👍

[2019-12-03 14:08] errordeveloper commented on #319
@mvisonneau my hunch is that what fixed the problem was upgrade, IIRC when it didn't work that cluster was on 1.11, and then it got upgraded to either 1.12 or 1.13 and metrics server started working.

[2019-12-03 16:39] mvisonneau commented on #319
Interesting, thanks for the heads up @errordeveloper

I am already running on the latest version of EKS `1.14.7 - eks.3` and metrics-server `0.3.6` though :(

[2019-12-03 16:42] protetore commented on #207
We are facing the same issue with AKS.

[code]

[2019-12-03 16:44] protetore commented on #326
Same problem here in AKS.

[2019-12-03 19:23] errordeveloper commented on #319
Maxime, did you try creating a new cluster? It would be good to find a way
to reproduce this!

On Tue, 3 Dec 2019, 4:39 pm Maxime VISONNEAU, <notifications@github.com>
wrote:

[2019-12-04 14:32] #287 closed

[2019-12-05 16:42] Arnold1 commented on #212
hi, what is the solution for that atm? and why does the error show at all?

[2019-12-05 19:46] Arnold1 commented on #212
a upgrade from kubernetes 1.15.0 to 1.15.6 helped and fixed the issue

[2019-12-05 22:03] #283 closed

[2019-12-05 23:04] #282 closed

[2019-12-06 04:18] ctran commented on #157
Thanks, this is gold!!!

[2019-12-06 07:46] zhangxingdeppon commented on #145
@tvildo hi, buddy, why does the MTU configuration cause the problem? can you explain it for me? , I met the same problem, I want to kown the reason so that I can operation it , thanks

[2019-12-07 16:44] #276 closed

[2019-12-07 18:57] VladimirAkopyan opened #380 "Metrics Server - connecting to non-existing IP"
I have a bare-metal, single node MicroK8s Cluster, and have run into an issue with Metrics-server and IP address configuration.

I had misconfigured IPv6, and was getting a metrics-server error:
[code]

This was the InternalIP listed as Node's IP address:
[code]

I have disabled IPv6 completely, now my network interfaces are:
[code]
After restarting the cluster, it is reflected in the node descrip

[2019-12-08 03:51] VladimirAkopyan commented on #380
My bad, i had, mostly, badly misconfigured network

[2019-12-08 03:51] #380 closed

[2019-12-09 12:24] pierluigilenoci commented on #269
@avarf

[2019-12-09 12:25] pierluigilenoci commented on #269
/remove-lifecycle stale

[2019-12-09 13:57] serathius commented on #349
Hey @zhangyu84848245,
This message is related metrics-server not having cache pre-filled. Increasing resources like you suggested can reduce chances of log message appearing, but will not fully remove it (additional cpu will shorten time needed to generate self-signed cert)

[2019-12-09 15:28] serathius commented on #326
I'm pretty sure CAdvisor responsible for those metrics will skip adding CPU metrics if it didn't have time to do housekeeping (every 15s). So if you have dynamic cluster (containers starting frequently) this message can happen often (metrics server asking about CPU for containers younger then 15s).

This log message doesn't point to a problem for singular cases. @mathiasPop Can you confirm that th

[2019-12-09 15:34] serathius commented on #379
Hey @baijiu1,
This problem was already addressed by adding `--cert-dir=/tmp` flag to metrics-server manifests.
Please look into current version https://github.com/kubernetes-sigs/metrics-server/blob/master/deploy/1.8%2B/metrics-server-deployment.yaml

[2019-12-09 15:40] serathius commented on #373
you can make kubectl command more verbose to get HTTP request that is done.
[code]

URL: `http://localhost:8002/apis/metrics.k8s.io/v1beta1/namespaces/mynamespace/pods?labelSelector=app%3Dmypod` <- please ensure that `%3D` us properly encoded as `=`

[2019-12-09 15:44] serathius commented on #375
This means that your `metrics-server` cannot reach apiserver. Have you tried sshing to node or execing to container and testing the connection?

[2019-12-09 16:17] avarf commented on #269
Since we moved to K8s 1.16 I am using https://github.com/kubernetes-sigs/metrics-server/tree/master/deploy/1.8%2B

I didn't wait for the official chart. I just downloaded the 1.8 and changed it to use the new API.

[2019-12-10 01:45] baijiu1 commented on #379
thank you,It is of great use for deployment

[2019-12-11 04:52] udit0612 commented on #373
ok its working

[2019-12-11 04:52] #373 closed

[2019-12-11 09:33] #379 closed

[2019-12-11 20:40] mvisonneau commented on #319
I did another attempt on an new `1.14.8` - `eks.5` cluster, and got the same results!

[2019-12-12 01:51] kevinsingapore commented on #188
to reinstall the metrics-server again；
follow the way，i had sovle the error.

[2019-12-12 08:14] errordeveloper commented on #319
Maxime, do you have instructions to reproduce? Last time I tried with a
vanilla eksctl cluster and metrics-server installed by helm, I couldn't
reproduce the issue. It only came up in someone else's cluster I was
working with at the time.

On Wed, 11 Dec 2019 at 20:41, Maxime VISONNEAU <notifications@github.com>
wrote:

[2019-12-12 09:50] #350 closed

[2019-12-12 16:12] #187 closed

[2019-12-12 16:15] serathius opened #381 "Write Debugging instructions"
There are a log of Issues created by people asking on how to debug situations when Metrics API doesn't work. Would be great if we could provide couple of shell command that would help direct people to problem and could be used for Issue template

[2019-12-12 16:15] serathius commented on #381
/help

[2019-12-12 16:17] serathius opened #382 "Create issue template"
Writing a template for issues would definitly improve quality of bugs that are reported to repo
/help

[2019-12-12 16:20] #363 closed

[2019-12-12 16:24] serathius opened #383 "Expand e2e tests to last 3 versions of K8s"
Metrics Server tests should cover versions that are officially supported by k8s community

[2019-12-12 16:27] serathius commented on #320
https://github.com/kubernetes-sigs/metrics-server/pull/367 added a node selector to ensure that metrics-server will work in environment with mixed nodes.

Is this enough for your case or do you want to have metrics-server running on windows only cluster?

[2019-12-12 16:36] serathius commented on #383
/help

[2019-12-12 16:46] serathius opened #384 "Expand e2e tests to verify reported resources"
We have some basic e2e tests implemented https://github.com/kubernetes-sigs/metrics-server/pull/368
Would be good to expand those tests to check if correct values are returned.
We can use resource-consumer from k/k repository to create a workload with specified resource consumption
/help

[2019-12-12 16:59] pkelleratwork opened #385 "no metrics known for pod"
added "fix" to command section of deployment
[code]

metric server logs show
[code]

ingress hpa shows
[code]

have tried deleting pods for all as well as hpa

[2019-12-12 17:08] serathius commented on #385
Looks like your HPA correctly communicates to metrics-server, but metrics are not scraped.

Could you provide more metrics-server logs? I'm looking for a log that includes error from scraping summary API.

[2019-12-12 17:49] mvisonneau commented on #319
I retried using basic configuration of eksctl + chart values and managed to reproduce:

[code]

[2019-12-12 18:45] taylorjacklespriggs commented on #207
I have the same problem with EKS
[code]
[code]
`metrics-server-amd64:v0.3.6`

[2019-12-13 02:40] maximillianbrain1 commented on #383
I will try to attempt this.

[2019-12-13 03:08] MIBc commented on #290
@shundezhang do you have solved the problem ?

[2019-12-13 07:04] irajdeep commented on #384
@serathius I can work on this if no one else is working on it.

[2019-12-13 08:49] errordeveloper commented on #319
Thank you, Maxime! I don't have the time to look into this myself, but
hopefully someone else will find this and be able to dig into it.

On Thu, 12 Dec 2019 at 17:49, Maxime VISONNEAU <notifications@github.com>
wrote:

[2019-12-13 12:59] costimuraru commented on #319
Having the same issue in EKS

[2019-12-13 13:16] mvisonneau commented on #319
I do not have AWS support but might be interesting to open a ticket with them too 🤷‍♂

[2019-12-13 16:00] errordeveloper commented on #319
/cc @tabern @mhausenblas

[2019-12-14 05:58] winds6206 opened #389 "HPA 'FailedGetScale' no matches for kind "Deployment" in group "extensions""
Hi

I install metric-server into my Minikube, everything is OK but `kubectl get hpa` the target always unknown and cause it can't autoscaling.

By the way ,`kubectl top pod` is in order.

Minikube version: v1.5.2
Metric-server version: 0.3.6

Here is my step when I install metric-server
step1:
[code]

step2:
[code]
Add below
[code]

like this
[code]

My  test YAML
[code]

Is this a bug ?

[2019-12-14 06:51] shundezhang commented on #290
@MIBc yes, it was an MTU issue. Had to adjust that in calico config.

[2019-12-14 20:11] altreze commented on #133
`--kubelet-insecure-tls` used to solve the problem, but after installing `kube-state-metrics` something got broken. I am not sure what exactly.

Now I am receiving in the logs:
[code]

Even tough everything went fine after a reinstall:
[code]

My setup:
[code]

[2019-12-15 08:46] BlenderDude commented on #319
**TLDR**: I added the `username` property to the role mapping.

After a long night of trial and error, I finally got my metrics server to work on EKS without the x509 errors and WITHOUT specifying `--kubelet-insecure-tls`. I had a setup where I wanted codebuild to use helm to deploy to my cluster using a role that would link into the cluster's iam authenticator. I wanted to get HPA setup so I need

[2019-12-15 13:02] mvisonneau commented on #319
Wow! This is just brilliant, thank you so much for sharing these findings @BlenderDude!

I confirm that adding the username property to the role mapping fixes it for me as well!

[2019-12-15 23:55] costimuraru commented on #319
Amazing, @BlenderDude! This worked like a charm!! We had multiple roleArns in the aws-auth and except for the one with `username: system:node:{{EC2PrivateDNSName}}`, the others did not have a `username` specified. After adding the field to each one, the metrics-server started to work.
Thanks a bunch!
We also have a ticket opened with AWS for this issue, I will let them know about this workaround s

[2019-12-16 08:37] serathius commented on #389
If `kubectl top` works, but you HPA has `unknown` means that your controller-manager has problems with accessing `Metrics API`.

Can you provide logs from your `controller-manager`?

[2019-12-16 08:41] serathius commented on #349
/assign

[2019-12-16 12:55] winds6206 commented on #389
I use the command `kubectl logs -n kube-system kube-controller-manager-minikube` to fetch logs.

Here is my logs from `controller-manager`
[code]

[2019-12-16 13:02] serathius commented on #389
This points to problem with your HPA. Looks there is some API version mismatch between your `cpu-demo-deployment` deployment, apiserver and controller manager. It's not related to Metrics Server.

You should check your k8s version and when `Deployment` was moved to `apps/v1`. I don't know much about compatibility guarantees in this API

[2019-12-16 15:11] yeya24 commented on #382
Can I work on this? @serathius

[2019-12-16 15:15] serathius commented on #382
Sure, would be nice if you could look through some recent issues and collect what kind of logs/information is usually asked for. It would be super useful if the template had ready fields asking people to provide them.

[2019-12-16 15:26] lucj commented on #385
Hi, any update on that ?

Facing the same isssue on brand new 1.16.2 cluster.

E1216 15:23:24.537445       1 manager.go:111] unable to fully collect metrics: [unable to fully scrape metrics from source kubelet_summary:workers-p90e: unable to fetch metrics from Kubelet workers-p90e (workers-p90e): Get https://workers-p90e:10250/stats/summary?only_cpu_and_memory=true: dial tcp: lookup workers-p90e o

[2019-12-16 19:38] aksgithub commented on #362
Thanks for clarifying. I would like to work on supporting this.

[2019-12-16 19:39] aksgithub commented on #364
ok, we can close this issue.

[2019-12-16 19:39] #364 closed

[2019-12-17 02:12] winds6206 commented on #389
Thank for your help!

Now the HPA is in order.

I modify the hpa YAML , I change the API version from `apiVersion: extensions/v1beta1` to `apiVersion: apps/v1`.

That would be the same as `deployment` API version.

Here is my HPA YAML after I modified:
[code]

[2019-12-17 02:12] #389 closed

[2019-12-17 10:21] serathius commented on #383
@maximillianbrain1 Let me know if you need any help. You can reach me via k8s slack

[2019-12-17 10:48] aliartiza75 opened #390 "Missing metrics on IKS (IBM Cloud) v1.13.12+IKS"
Hi,

I have deployed a managed `k8s v1.13.12+IKS` cluster on IBM Cloud but the issue is that when i try to get the metrics using the command given below, I get errors:

### Metrics Server Configuration:

[code]

###
**Command 1**
[code]
output:
[code]

**Command 2**
[code]

output:
[code]

After looking around I found the following issues:

1. [issue 1](https://github.com/kubernetes-sigs/metrics-s

[2019-12-17 11:04] serathius commented on #390
Hey, similarly to issue you linked `Log no metrics known for pod doesn't indicate the problem. Details: #349`
This log is equivalent to 404 on HTTP server. Please provide other logs that include information about why scraping pod failed.

[2019-12-17 11:14] aliartiza75 commented on #390
metrics-server logs:

[code]
@serathius

[2019-12-17 11:21] aliartiza75 commented on #390
@serathius do let me know if you want something else from my side.

[2019-12-17 12:17] serathius commented on #390
Log `http: TLS handshake error from X.X.X.X:58590: EOF` points to a problem with TLS configuration. Random ports numbers point to those being a client connections (when you call `kubectl top node`). This means that your apiserver has problem with accessing your metrics-server.
This could be verified by bypassing apiserver proxy and send curl requests to MetricsServer directly.

Overall it looks li

[2019-12-17 17:04] aliartiza75 commented on #390
@serathius this is a managed kubernetes cluster, so i don't think so i can change anything because I don't want to break anything. :(

[2019-12-18 02:19] tdihp commented on #356
But what does exit code 2 mean? Having the same issue but without any log in 0.3.5

[2019-12-18 03:33] NEWgaofeng commented on #36
kubectl top pod cpu-demo --namespace=cpu-example
Error from server (NotFound): the server could not find the requested resource (get services http:heapster:)
why ?

[2019-12-18 03:58] NEWgaofeng commented on #188
InternalIP need view localhost ip ?

[2019-12-18 05:46] NEWgaofeng commented on #188
my yaml
__________________________________________________________________________
apiVersion: v1
kind: Pod
metadata:
  name: cpu-demo
  namespace: cpu-example
spec:
  containers:
  - name: cpu-demo-ctr
    image: vish/stress
    resources:
      limits:
        cpu: "1"
      requests:
        cpu: "0.5"
    args:
    - -cpus
    - "2"
_____________________________________________________________

[2019-12-18 08:35] serathius commented on #384
Sure, that would be great.

[2019-12-18 09:48] aneurinprice commented on #207
I have run into this today. Bare metal cluster deployed though RKE:

1 manager.go:111] unable to fully collect metrics: [unable to fully scrape metrics from source kubelet_summary:susan: [unable to get CPU for container "cdi-controller" in pod cdi/cdi-deployment-96948b8ff-xfvsv on node "192.168.1.1", discarding data: missing cpu usage metric, unable to get CPU for container "cdi-operator" in pod c

[2019-12-18 10:53] serathius commented on #36
@NEWgaofeng Please ensure that you have metrics server deployed and read comments above about why kubectl mentions heapster.

[2019-12-18 11:19] serathius commented on #362
Ok, makes sense to allow reconfiguration of kubelet client to match possible configuration of kubelet API.
Before starting work could you provide a list of flags that your planning to add.

Based on my experience on handling MetricsServer configuration issues it would be also useful to match them against kubelet flags. In best case scenario we could have instructions that ask users to check how ku

[2019-12-18 18:58] aksgithub commented on #362
Yes, it makes sense. I am thinking of adding following flags (same flags as in kube api server)
1. --kubelet-client-certificate and --kubelet-client-key - to feed kubelet client cert/key to metrics server.
2. --kubelet-certificate-authority - to validate kubelet server cert in metric server.

[2019-12-19 18:57] LucasSales commented on #129
Is necessary add the resources
example:
  resources:
    limits:
      cpu: 500m
      memory: 254Mi
    requests:
      cpu: 1000m
      memory: 1G

[2019-12-19 22:21] CH-anhngo commented on #385
We got the same issue after the bump to `v0.3.6 `  any update the fix or  work around for the issue yet ?

[2019-12-20 05:14] pythops opened #392 "Add pod security policy"
For the clusters with pod security policy enable, the metrics server needs a psp to run.
This is an example that works:

[code]

[2019-12-20 08:15] tomoe opened #393 "metrics-server keeps trying to fetch metrics for Completed/Error pods"
We keep seeing log message like ` unable to fetch pod metrics for pod default/job-1: no metrics known for pod` for pods in Completed/Error state.

In the following example, metrics-server is showing the error repeatedly for job-1 to job-6.

[code]

Here's the snippet of the metrics-server's container spec:

[code]

From [here](https://github.com/kubernetes-sigs/metrics-server/blob/019bda9fb8562dbc

[2019-12-20 08:32] scoopex commented on #340
Sure, but absolutely no usable documentation?

A minimal production setup without security tweaks to get "kubectl top pod" and a scheduler which uses resource consumption data for a on premise setup would be be very welcome by many users which are at the beginning of their k8s journey.

[2019-12-20 10:11] serathius commented on #392
Don't know much about psp, but I don't see any reasons why we shouldn't use them.

I would image that we can add `deploy/psp` with manifests and additional step in installation instruction about applying them.

Does this makes sense ? Would you be interested in contributing ?

[2019-12-20 10:21] serathius opened #394 "Metrics Server watches all pods in cluster (even those that are completed or Pending)"
Watching all pods doesn't have impact on Metrics API itself, but largely increases memory needed by metrics-server.

Example when running Jobs your cluster can get filled with Pods in `Completed` state. So even if your running 30 pods per node and metrics-server runs perfectly, running some jobs can lead to OOMs due doubling number of Pods in cluster.

This task can be hard to implement because Me

[2019-12-20 10:22] serathius commented on #394
/help

[2019-12-20 10:23] serathius commented on #393
Not 100% sure but I think that there must be a requests to Metrics API about those pods for metrics server to try to list them.

There is a similar issue with `PodLister` but is more about resource overhead of keeping Completed/Error pods in memory. https://github.com/kubernetes-sigs/metrics-server/issues/394

Do you have HPA configured for jobs that would query Metrics API?

[2019-12-20 10:32] serathius opened #395 "Configure rolling deployment without downtime"
We need:
* Readiness check configured (current healthy looks promising).
* Configure `maxUnavailable=0`
* Consider adding `PodDistuptionBudget`

[2019-12-20 10:33] serathius commented on #395
/help

[2019-12-20 11:59] pythops commented on #392
Yes sure. I'll make a pull request for that.

[2019-12-21 19:07] pythops commented on #392
Too complicated process to contribute. So if anyone wants to take this the changes and make a pull a PR that would be great

[2019-12-23 06:22] tomoe commented on #393
Sorry for the noise, I just found that the commit https://github.com/kubernetes-sigs/metrics-server/commit/0bf0c02b82bb236e8d6f145923a013f641f58b3e should fix this at v0.3.2 or later.

[2019-12-23 06:22] #393 closed

[2019-12-23 13:45] aguinaldoabbj commented on #300
Very same problem here with 1.16 and metrics-server 0.3.6 1.8+.

[2019-12-23 20:20] parinapatel commented on #394
@serathius I have similar use case for metric server where I just want to scrape certain pods either selected by label or annotation.  do we have an ETA for such feature  ?

[2019-12-24 06:22] maximillianbrain1 commented on #291
I want to attempt this.

[2019-12-24 08:00] 2018-11-27 commented on #230
Hello, I have this problem now. I looked up a lot of material on GitHub and saw this reply, but I still understand it. Can you reply me your detailed solution? Thank you very much.

[2019-12-24 08:50] zehuaiWANG opened #398 ""apiregistration.k8s.io/v1beta1" does not match the expected API version (apiregistration.k8s.io/v1)"
minikube version: v1.6.2
I follow the docs, but it seems that it doesn't work well.

$ kubectl create -f deploy/1.8+/
clusterrole "system:aggregated-metrics-reader" created
clusterrolebinding "metrics-server:system:auth-delegator" created
rolebinding "metrics-server-auth-reader" created
clusterrole "system:metrics-server" created
clusterrolebinding "system:metrics-server" created
Error from server

[2019-12-24 08:55] 2018-11-27 commented on #141
@f4ct0r I had the same problem, and I struggled for it.

[2019-12-24 09:08] 2018-11-27 opened #399 "apiservice cannot communicate with metrics server"
Under normal circumstances, the `kubectl top nodes` instruction can obtain the indicators of each node through metric server or heapster.

After I set up the metrics server, something unexpected happened when I executed the instruction:
[code]

Reading the wrong information seems to mean that the service is not available. So I checked apiservice:
[code]

Its status is False and FailedDiscoveryChec

[2019-12-24 09:31] 2018-11-27 commented on #399
My metrics server deployment command is like this：
[code]

[2019-12-24 11:35] zehuaiWANG commented on #398
I use minikube version: v1.2.0 also it have the same problem

[2019-12-25 01:47] 2018-11-27 commented on #399
Kubernetes version is v1.13.1

[2019-12-25 04:01] terrych0u commented on #230
Hi, @2018-11-27  Add allow https on your worker node from master node group, and that solved my problem,  just make sure your worker node and the master node can be communicated with each other by https.

[2019-12-25 07:33] ysicing commented on #300
Very same problem here with 1.17 and metrics-server 0.3.6 1.8+.

[code]

[2019-12-25 19:46] petertsu commented on #300
The following fixes the issue for 0.3.6 1.8+  with k8s v1.14.10

         - --kubelet-insecure-tls=true
          - --kubelet-preferred-address-types=InternalIP

[2019-12-27 10:58] serathius commented on #291
Go for it

[2019-12-27 11:04] serathius commented on #394
@parinapatel I'm not sure what exact feature you are proposing. Metrics Server is only meant to be default implementation of Metrics API (to provide CPU/Memory based autoscaling).
It's not meant for scraping pods, it only collects information from Kubelets about resource usage.

I don't think this Issue is related to your problem, can you create separate one with Feature Request?

[2019-12-27 11:08] serathius commented on #398
What version of k8s are you using?

Looks like "apiregistration.k8s.io" was graduated to "v1" and "v1beta" is no longer available.
We should update our manifests and check k8s minimal version that is required.

[2019-12-28 11:53] zehuaiWANG commented on #398
hi~ serathius. @serathius , thanks for your helping. I am not use it in kubernetes directly, I use it in the latest minikube. (minikube version v1.6.2). What more, I also try the v1.2.0 version, do as the README do, but it still display the same error.

[2019-12-30 12:23] aliartiza75 commented on #390
@serathius kindly give your input

[2019-12-30 13:15] serathius commented on #390
I don't think I we can do more without help of the cloud provider here. Metrics Server is part of Autoscaling pipeline which is not considered necessary for being certified by CNCF as Kubernetes compatible.

I think best way for you is to make the problem visible to your cloud provider by support tickets or forum post (don't now how it works on IBM cloud). I can provide documentation describing ho

[2020-01-02 08:52] hi1280 commented on #278
I created an environment with kubeadm on Vagrant.
The reason we had to use "hostNetwork: true" was because the ip of the node was included in the CIDR of the pod network.

[code]

After changing as follows, "hostNetwork: true" is no longer needed
[code]

[2020-01-02 09:54] aelmanaa opened #401 "Cpu,memory requests & limits not set"
Hello,

I've noticed that the QoS class of metrics-server is "BestEffort" wich is normal at the cpu, memory requests & limits are not set for metrics-server container.
Would it be possible to set it by default during the installation? The recommendation is to setup the requests & limits of all containers

thanks

[2020-01-02 09:58] lurenjia528 opened #402 "Incompatible with some kubelet args"
when kubelet add the args
 `--container-runtime=remote --container-runtime-endpoint=unix:///run/criproxy.sock --image-service-endpoint=unix:///run/criproxy.sock --enable-controller-attac    h-detach=false --feature-gates=RuntimeClass=false`

kubectl top po error

[code]

metrics-server logs
[code]

[2020-01-02 12:23] serathius commented on #401
Metrics server resources scale linearly with number of nodes in cluster. This means that without knowing the size of cluster before writing manifests we cannot write resource recommendations.

Recommended resources based on my latest scale testing:
* cpu - 40mCore base + 0.5 mCore per node
* memory - 40MiB base + 4 MiB per node

We could document it in deployment section.

Other solution for it is

[2020-01-02 12:28] serathius commented on #402
Metrics server needs a minute to scrape all nodes in clusters for metrics. Is the problem still persisting?
This log line can happen in normal operation of metrics-server and doesn't point to error. (More https://github.com/kubernetes-sigs/metrics-server/issues/349)

Could you provide more metrics server logs?