[2021-10-17 19:04] sftim commented on #849
Usual path for in-project docs is a directory named `docs`, a child of the root.

[2021-10-23 19:17] si458 opened #872 "forgot chart name in readme"
**What would you like to be added**:
the helm install line forgots to include the chart name in readme

**Why is this needed**:
[code]

/kind feature

[2021-10-25 07:44] yidong-pony-ai opened #874 "Cannot access high-availability.yaml"
I tried to install metrics server by the instruction but found the yaml is not accessible.

`kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/high-availability.yaml
`

[It](https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/high-availability.yaml) redirects to https://github.com/kubernetes-sigs/metrics-server/releases/latest/downlo

[2021-10-26 07:57] stevehipwell opened #876 "Improve Helm chart process"
**What would you like to be added**:

I'd like to improve the maintenance process for the Helm chart so that changes can be merged without triggering a chart release.

To do this the following changes would be required:

- Allow chart lint/test to run without a version change
- Only release the chart when _Chart.yaml_ has been modified
- Update contribution guide to ask that chart PRs don't modify

[2021-10-26 20:03] #876 closed, assigned to stevehipwell

[2021-10-26 20:32] #874 closed, assigned to nobody

[2021-10-27 16:13] #872 closed, assigned to stevehipwell

[2021-10-27 19:31] bbarnes52 opened #878 "Expose raw CPU data in metrics"
**What would you like to be added**:
Raw CPU data collected from the kubelet exposed in NodeMetrics and PodMetrics objects

**Why is this needed**:
The current metrics server implementation exposes the average CPU utilization over a window of time. The window is not configurable independently of the scrape interval; if the metrics server scrapes kubelets every 30s, the window over which CPU utiliz

[2021-10-29 01:03] jauyzed opened #879 "CVE-2021-38297: golang might require a patch?"
Not sure, but will the golang based image require a patch for this vulnerability?

https://nvd.nist.gov/vuln/detail/CVE-2021-38297

cc @liggitt

[2021-10-29 01:29] #879 closed, assigned to nobody

[2021-10-29 01:31] gabegorelick opened #880 "Helm chart and kustomize manifests have different labels"
**What happened**:

The helm chart uses the `app.kubernetes.io/name` label, while the kustomize manifests and the `components.yaml` release artifact use `k8s-app`.

Additionally, the helm chart sets `app.kubernetes.io/instance` and `app.kubernetes.io/version`, which the kustomize/components.yaml resources do not have.

Relevant code:
https://github.com/kubernetes-sigs/metrics-server/blob/b098d30e8

[2021-10-29 01:46] gabegorelick opened #881 "allowPrivilegeEscalation on Helm chart but not in kustomize or release manifests"
**What happened**:

`allowPrivilegeEscalation: false` is set on the helm chart, but not on the kustomize manifests or in the components.yaml release artifact.

https://github.com/kubernetes-sigs/metrics-server/blob/d40d3524bf21942755eb895512cfaac21665874d/charts/metrics-server/values.yaml#L44-L48

https://github.com/kubernetes-sigs/metrics-server/blob/b098d30e8c3d98bc740efd599518678d2892ed1d/manif

[2021-10-31 11:02] mator commented on #448
well, recently installed about 3 clusters with kubespray, it has metrics.api enabled by default, but one of my older cluster is still missing it...

[2021-10-31 12:19] serathius commented on #448
There are tens of different K8s distributions, each of them using different approach to deploy/upgrade. I don't think MS repository is best place to ask about kubespray.  Please consult with Kubespray documentation

No, k8s client requests are meant to go through apiserver. Without this flag requests will not be proxied to MS. Currently there is no other way to configure routing on apiserver.

[2021-11-03 18:15] Serializator commented on #848
/assign @Serializator

[2021-11-03 23:18] #848 closed

[2021-11-03 23:26] serathius commented on #881
Contributions are welcomed.

[2021-11-04 08:57] jmcxw opened #883 "URL for HA yaml not working"
Hello, the URL to the HA yaml for the metric server isn't working anymore...
https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/high-availability.yaml
BR

[2021-11-04 09:57] MattFame commented on #424
[code]
the above properties in metrics-server deployment helped me to solve the issue together with ```--enable-aggregator-routing=true``` in kube-api-server and ```--kubelet-insecure-tls``` in metrics-server deployment.

[2021-11-07 21:49] Serializator commented on #881
/assign @Serializator

[2021-11-08 13:44] #881 closed

[2021-11-11 02:38] Q-jy opened #889 "metrics-server-nanny log error"
Metrics server works, but there are some errors in metrics-server-nanny

[code]

Kubernetes version is 1.20.1

[2021-11-12 12:33] omniproc commented on #196
This is no solution but a security issue waiting to happen. Anyone interested in a actual solution still or do we simply disable TLS verification everywhere now gals?

[2021-11-12 12:34] yangjunmyfm192085 commented on #889
Could you provide more information about the configuration? and the vesion of metrics-server is v0.3.6? it's too old, It is recommended to upgrade to a new version

[2021-11-12 12:39] omniproc commented on #196
/reopen

[2021-11-12 12:41] omniproc opened #890 "Reopen #196"
Reopen issue #196  @k8s-ci-robot

[2021-11-12 12:51] Q-jy commented on #889
Yes, the version of metrics-server is v0.3.6. I get it from the link https://github.com/kubernetes/kubernetes/tree/v1.20.1/cluster/addons/metrics-server

And I changed some files like below.

metrics-server-deployment.yaml:

[code]
resource-reader.yaml:

[code]

[2021-11-12 12:56] omniproc commented on #196
Looking more into this the problem seems to be that by default this order is used, at least that#s what I see in the kubelet.

`--kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname`

However the docs clearly say the default order should be like this:

`--kubelet-preferred-address-types=Hostname,InternalDNS,InternalIP,ExternalDNS,ExternalIP`

Quote from [the docs](https://github.com/kub

[2021-11-12 13:00] #890 closed

[2021-11-12 13:04] serathius commented on #890
Please don't create spam issues, commenting and providing proper reasoning for reopening on the original issue should be sufficient.

[2021-11-12 15:41] omniproc commented on #890
@serathius i did so in the original issue. Where do you want the comment / reasoning to be put at?

[2021-11-12 23:12] yangjunmyfm192085 commented on #889
I think it's the logs of pod_nanny.
you can check your configuration, It should be caused by the following configuration, Modify it again should be works.
[code]

[2021-11-12 23:12] yangjunmyfm192085 commented on #889
/close

[2021-11-12 23:12] #889 closed

[2021-11-12 23:15] yangjunmyfm192085 commented on #883
same with
[#874](https://github.com/kubernetes-sigs/metrics-server/issues/874)  [#849](https://github.com/kubernetes-sigs/metrics-server/issues/849) .

[2021-11-12 23:15] yangjunmyfm192085 commented on #883
/close

[2021-11-12 23:16] #883 closed

[2021-11-15 09:59] serathius commented on #889
Configuration in https://github.com/kubernetes/kubernetes/tree/v1.20.1/cluster/addons/metrics-server is K8s internal setup for e2e tests and requires some templating of values. Is not supported via this repo.

[2021-11-15 16:50] shuaich opened #894 "Release v0.5.2"
## Installation
kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.5.2/components.yaml

## Changes since v0.5.1
### Fixes
* Remove elevated permissions `cap_net_bind_service` from metrics-server (@shuaich https://github.com/kubernetes-sigs/metrics-server/pull/887)

[2021-11-15 16:55] shuaich opened #895 "Release v0.4.5"
## Installation
kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.4.5/components.yaml

## Changes since v0.4.4
### Fixes
* Remove elevated permissions `cap_net_bind_service ` from metrics-server(@shuaich https://github.com/kubernetes-sigs/metrics-server/pull/888)

[2021-11-15 17:22] shuaich commented on #895
/assign @serathius

[2021-11-15 17:25] shuaich commented on #894
/assign @serathius

[2021-11-16 02:30] gabegorelick opened #896 "Drop capabilities"
**What would you like to be added**:

Add the following to the `securityContext` in the release manifests and Helm chart:
[code]

**Why is this needed**:

metrics-server should run with the limited set of permissions needed. Additionally, users often get into trouble when they drop capabilities but neglect to add `NET_BIND_SERVICE`.

See https://github.com/kubernetes-sigs/metrics-server/issues/782

[2021-11-16 08:21] serathius commented on #894
cc @dgrisonnet
Removing `cap_net_bind_service` was a major complaint about recent releases, only recently @shuaich has proposed https://github.com/kubernetes/kubernetes/pull/105957 that allowed us to remove it without introducing a breaking change on k/k repo. I discussed it with @shuaich that it's worth back-porting it to previous releases.

[2021-11-16 08:21] serathius commented on #895
cc @dgrisonnet

[2021-11-16 09:07] serathius commented on #896
Don't think NET_BIND_SERVICE is needed after https://github.com/kubernetes-sigs/metrics-server/pull/884

[2021-11-16 11:10] dgrisonnet commented on #894
Make sense to me, thank you for looking into that @shuaich!

Small formatting nit from my side, could you make it so that the changelog is similar to https://github.com/kubernetes-sigs/metrics-server/releases/tag/v0.5.1?

Looks good to me otherwise.

[2021-11-16 11:10] dgrisonnet commented on #895
Small formatting nit from my side, could you make it so that the changelog is similar to https://github.com/kubernetes-sigs/metrics-server/releases/tag/v0.5.1?

Looks good to me otherwise.

[2021-11-16 11:30] dgrisonnet commented on #896
I don't think so too since going forward metrics-server will not be using a privileged port anymore.

Closing this issue in favor of #894 #895 which are tracking the release of the fix.

/close

[2021-11-16 11:31] #896 closed

[2021-11-16 11:34] dgrisonnet commented on #791
Going forward, this capability will not be needed anymore after https://github.com/kubernetes-sigs/metrics-server/pull/884.

New releases of metrics-server containing the fix are on the way: https://github.com/kubernetes-sigs/metrics-server/issues/894 https://github.com/kubernetes-sigs/metrics-server/issues/895

/close

[2021-11-16 11:34] #791 closed

[2021-11-16 11:36] dgrisonnet commented on #782
Going forward, metrics-server shouldn't listen on a privileged port anymore after #884.

New releases of metrics-server containing the fix are on the way: #894 #895. Once they are released, could you please upgrade and check if you see continue to see the error in EKS?

[2021-11-16 11:44] serathius commented on #894
Decided to also backport fix to image platform metadata https://github.com/kubernetes-sigs/metrics-server/pull/897

[2021-11-16 11:45] serathius commented on #895
Decided to also backport fix for image platform metadata https://github.com/kubernetes-sigs/metrics-server/pull/898

[2021-11-16 11:49] serathius commented on #894
Merged, please include it in the Changelog proposal. I will cut the release in the meantime.

[2021-11-16 11:49] serathius commented on #895
Merged, please include it in the Changelog proposal. I will cut the release in the meantime.

[2021-11-16 11:53] pierluigilenoci commented on #782
Can't wait for the new versions to be released! ❤️

[2021-11-16 12:34] yevhenvolchenko opened #901 "Failed to fetch "v0.5.2" from request "/v2/metrics-server/metrics-server/manifests/v0.5.2"."
**What happened**:
Our Argocd, failed to pull `v0.5.2` from docker repo
Argocd conf:
[code]
K8s error:
[code]
@serathius

**What you expected to happen**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.):
- Container Network Setup (flannel, calico, etc.):
- Kubernetes version (use `kubectl version`):

- Metrics Server manifest

[2021-11-16 12:46] stevehipwell commented on #894
@serathius @dgrisonnet I'll open a PR for a chart release once the release is finished and the image is available.

[2021-11-16 12:50] yevhenvolchenko commented on #894
@stevehipwell Sup mate can you please release the image before putting its tag in a customisation
https://github.com/kubernetes-sigs/metrics-server/issues/901

Thanks in advance

[2021-11-16 12:53] stevehipwell commented on #894
@yevhenvolchenko I'm only dealing with the Helm chart, and my comment above is that I'm waiting for the image; not that it matters for Helm as the CI won't pass and allow us to release a chart unless the image is available.

[2021-11-16 12:55] stevehipwell commented on #894
@yevhenvolchenko I'd also suggest that using the latest link for manifests in a system such as Argo is asking for trouble, you probably want to depend on a specific version (e.g. https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.5.1/components.yaml).

[2021-11-16 12:56] yevhenvolchenko commented on #894
@stevehipwell Thanks, for a quick reply.
Can you do this sanity check for PRs like: https://github.com/kubernetes-sigs/metrics-server/pull/899/files ?

[2021-11-16 13:00] stevehipwell commented on #894
@yevhenvolchenko I'm pretty sure that this is expected behaviour and part of the Metrics Server release process as [documented](https://github.com/kubernetes-sigs/metrics-server/blob/master/RELEASE.md).

@serathius this is possibly another reason (alongside Helm chart releases) to change the default installation message? It's probably best practice to target specific versions but a "latest" copy c

[2021-11-16 13:07] yevhenvolchenko commented on #894
@stevehipwell Cool, I'll do a switch in favor of helm, if it assures that the image is already released.
Thanks again.

[2021-11-16 13:14] serathius commented on #901
We don't have guarantee that latest tags will have image released. This is because it's the tag that triggers CI, so it takes some time to build, push and promote the image.

[2021-11-16 13:14] #901 closed

[2021-11-16 13:29] serathius commented on #894
PR that releases image https://github.com/kubernetes/k8s.io/pull/3073

@stevehipwell Similar idea of moving installation instructions out of master branch is being discussed on https://github.com/kubernetes-sigs/metrics-server/issues/849

[2021-11-16 13:32] dgrisonnet commented on #804
Anything preventing us from cutting this release besides #893?

[2021-11-16 13:53] stevehipwell commented on #849
While this is discussed further I propose that the README starts to recommend using a versioned release manifest as these will be static. We could also add a "latest" version of the manifest to the `gh-pages` branch at the end of the release process when the image is available.

[2021-11-16 14:36] yangjunmyfm192085 commented on #804
as [#857](https://github.com/kubernetes-sigs/metrics-server/issues/857) mentioned,need we to implement :
[code]
?

[2021-11-16 15:14] shuaich commented on #895
/cc @dgrisonnet I have updated the format of changes log, but have no idea about what I should do on *Installation* section.

[2021-11-16 15:21] shuaich commented on #894
/cc @dgrisonnet I have updated the change log format to follow that of v0.5.1 release. Should I also add **Installation section**?

[2021-11-16 15:31] dgrisonnet commented on #895
I would suggest the following format:

## Installation
kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.4.5/components.yaml

## Changes since v0.4.4

### Fixes
* Remove elevated permissions cap_net_bind_service from metrics-server (@shuaich, #888)

[2021-11-16 15:33] dgrisonnet commented on #894
I would suggest the following format:

## Installation
kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.5.2/components.yaml

## Changes since v0.5.1

### Fixes
* Remove elevated permissions cap_net_bind_service from metrics-server (@shuaich, #887)

[2021-11-16 15:38] shuaich commented on #895
/cc @dgrisonnet Thanks

[2021-11-16 15:39] shuaich commented on #894
/cc @dgrisonnet Thanks a lot.

[2021-11-16 15:39] dgrisonnet commented on #804
I don't think that should be a blocker for this release, we can always tackle this improvement later. The recent optimizations made by @serathius should already be great enough for this release.

[2021-11-16 15:56] yangjunmyfm192085 commented on #804
ok, I think #893 is the only blocker.

[2021-11-16 16:42] gabegorelick commented on #896
It's great that `NET_BIND_SERVICE` is no longer needed, but shouldn't `drop: [all]` still be added to the manifests?

[2021-11-16 23:16] serathius commented on #196
Part of the docs you are referring to is about command line flags. It's true that command line flags defaults doesn't match does we use in manifests. We changed the config as it supports more clusters out of the box. This is because most cluster distributions configure Nodes with Hostname as address, but it is not resolvable address within cluster. We also found that using DNS can be problematic a

[2021-11-17 08:47] omniproc commented on #196
@serathius

OK I get the reasoning behind the decission to use that as default values. The thing that bothers me is that the implications aren't communicated well by the docs.
When you run into the issue mentioned above the first thing most people will do is google it - which leads them to this issue and similar issues. All serve the same "solution": disable TLS verification.
In my opinion at leas

[2021-11-17 09:35] serathius commented on #895
Release was done.

[2021-11-17 09:35] serathius commented on #894
Release was done.

[2021-11-17 09:40] #895 closed

[2021-11-17 09:40] #894 closed

[2021-11-18 08:38] stevehipwell opened #902 "Release Helm chart for v0.5.2"
Now that Metrics Server [v0.5.2](https://github.com/kubernetes-sigs/metrics-server/issues/894) has been released we need to support this version in the Helm chart. This issue tracks the release of the chart to support this version.

[2021-11-18 08:38] stevehipwell commented on #902
/assign @stevehipwell

[2021-11-18 08:39] stevehipwell commented on #902
/label chart

[2021-11-18 11:33] #902 closed

[2021-11-18 11:35] serathius commented on #902
Please notice that github action for release has failed to upload `components.yaml` with `Error undefined: No tag found in ref or input!`. https://github.com/kubernetes-sigs/metrics-server/runs/4250667096?check_suite_focus=true

Will upload it manually

[2021-11-18 11:36] stevehipwell commented on #902
I think you just beat me to it (https://github.com/kubernetes-sigs/metrics-server/pull/903#issuecomment-972785153).

[2021-11-18 11:37] serathius commented on #902
Upload done.

[2021-11-18 11:47] stevehipwell commented on #902
@serathius https://github.com/kubernetes-sigs/metrics-server/pull/904 should fix the manifest upload failure.

[2021-11-19 07:49] yangjunmyfm192085 commented on #804
@serathius @dgrisonnet I think the release conditions have been met of v0.6.0, Could we release v0.6.0 now?

[2021-11-19 09:00] serathius commented on #804
We should be ready to go, I will only repeat the scalability tests over the weekend.

[2021-11-19 18:51] shuaich commented on #804
Should we also add **Remove cap_net_bind_service**? Please refer to https://github.com/kubernetes-sigs/metrics-server/pull/884

/cc @yangjunmyfm192085 @serathius

[2021-11-20 01:31] yangjunmyfm192085 commented on #804
yeah. I have updated it.

[2021-11-20 08:54] vdellaglio commented on #196
For me what solved the issue was: https://particule.io/en/blog/kubeadm-metrics-server/

Long story short:
- edit kubelet-config configmap in kube-system
- edit nodes' kubelet yaml config file
- approve csr's
- (I did) recycled the metrics-server pod

[2021-11-23 09:43] infakt-HNP opened #905 "Bad link for High Availability"
Hello,
link https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/high-availability.yaml in documentation https://github.com/kubernetes-sigs/metrics-server is dead:

[code]

/kind support

[2021-11-23 14:25] dgrisonnet commented on #905
Hello @infakt-HNP, we are aware of this issue. The `high-availability.yaml` artifact will only be available once v0.6.0 of metrics-server is released. As part of #849, we are trying to find a way to avoid exposing future guidelines of the project before official releases.

/close

[2021-11-23 14:25] #905 closed

[2021-11-25 04:27] storehubdeploy opened #906 "hpa report error"
**What happened**:
hap report error "The HPA was unable to compute the replica count: unable to get metrics for resource cpu: unable to fetch metrics from resource metrics API: the server is currently unable to handle the request (get pods.metrics.k8s.io)"
**What you expected to happen**:

**Anything else we need to know?**:
before the hpa it works well, suddenly report error.  all hpa has the err

[2021-11-25 10:14] serathius commented on #906
If apiservice is available and kubectl top works it means that Metrics Server is working and problem is only with your controller manager configuration. As this is not bug in MS, I'm changing issue type to support.

To know more we need controller-manager logs related to failed `pods.metrics.k8s.io` requests. Please provided them so we can help more.

[2021-11-29 08:40] phani-rudra9 commented on #694
Hi, I am also facing the same issue any help?

"Failed to scrape node" err="Get \"https://172.16.144.138:10250/stats/summary?only_cpu_and_memory=true\": dial tcp 172.16.144.138:10250: connect: connection refused" node="fargate-ip-172-16-144-138.ap-south-1.compute.internal"

[2021-11-29 12:30] dgrisonnet commented on #804
@serathius if you haven't run the scalability tests yet, should we consider https://github.com/kubernetes-sigs/metrics-server/pull/829 as a candidate for the v0.6.0 release? @stevehipwell seems to be interested in this PR to improve the chart.

[2021-11-29 15:30] serathius commented on #804
Sure. Tried to do scalability tests last Sunday, but had problem with my cluster setup :(

[2021-11-30 00:36] sehz opened #907 "metric server not able to deploy on kind (M1 Mac)"
**What happened**:

Metric server not deployed successfully:
[code]

**What you expected to happen**:

Successful deployment

**Anything else we need to know?**:

Deployed using
[code]

But the metric server is not deployed:

[code]

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.):
[code]

- Container Network Setup (flannel, calico, etc.):

- Kubernetes version (

[2021-11-30 03:44] nodesocket opened #908 "pod level metrics are unavailable (arm64 arch)"
**What happened**:

`kubectl top pods` does not work. Errors with:

[code]

However, `kubectl top nodes` works as expected:

[code]

**What you expected to happen**:

Pod level metrics should be available and returned.

**Anything else we need to know?**:

**Version**: v0.5.2
**Environment**: Debian Bullseye on arm64
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.): On-prem via `k

[2021-11-30 09:25] serathius commented on #907
From fact that Metrics Server is in running state it's clear it can be deployed on M1 Macs. Fact that it is unready (fails Readiness probe) means that it cannot pull any metrics. This means that problem is with your cluster configuration and not MS itself. Marking as support request.

 Please read/provide Metrics Server logs to find what is missing.

[2021-11-30 09:27] serathius commented on #907
Ok, as you wrote that you are using kind cluster the solution is clear. Kind uses self signed certificates for nodes.

Solution is clear, please provide flag `--kubelet-insecure-tls` to Metrics Server.

[2021-11-30 09:27] #907 closed

[2021-11-30 09:30] serathius commented on #908
Presense of node metrics, but not pod means that you Kubelet is not able to get metrics from container runtime. Please check if values of Metrics exposed by Kubelet summary API.

[2021-11-30 18:59] sehz commented on #907
How do I configure that? It's not described in anywhere

[2021-11-30 19:40] nodesocket commented on #908
@serathius thanks for the reply.

How do I check this?

[2021-11-30 20:02] sehz opened #910 "Easy to configure Metric Server"
**What would you like to be added**:

Steps to deploy a metric server with an additional argument required to resolve:  https://github.com/kubernetes-sigs/metrics-server/issues/907

**Why is this needed**:
To make it easier to deploy metrics server

/kind feature

[2021-11-30 21:00] serathius commented on #908
https://github.com/kubernetes-sigs/metrics-server/blob/master/KNOWN_ISSUES.md#missing-metrics

[2021-11-30 22:21] nodesocket commented on #908
@serathius looks like I have data for pods. Let me know what else you need to further debug.

[code]

[2021-11-30 23:10] serathius commented on #908
Please paste content of pod metrics.

[2021-11-30 23:47] nodesocket commented on #908
@serathius here is the entire raw response from `kubectl get --raw /api/v1/nodes/kube-worker-bjcfq/proxy/stats/summary`

[code]

[2021-12-01 09:49] serathius commented on #908
Under `.pods[].containers[]` I would expect to see `cpu` and `memory` keys (same like under `node`).
This means that your node setup of Kubelet and Container Runtime prevents proper metric calculation. There is no much that we can do from Metrics Server side, I would filing an issue in the main kubernetes/kubernetes repository and get some help from SIG Node.

[2021-12-01 12:05] patsevanton opened #912 "How uninstall metric-server which installed by kubectl apply -f components.yaml ?"
Hello! Thanks for metrics-server.
I install metric-server on k8s 1.18
[code]
Get error
[code]

How uninstall metric-server which installed by kubectl apply -f components.yaml ?
Thanks a lot!

[2021-12-01 12:10] patsevanton commented on #912
[code]

[2021-12-01 12:10] #912 closed

[2021-12-01 23:07] nodesocket commented on #908
@serathius very strange. I am almost positive I had pod level metrics previously a few months back. I'm wondering if this is related to cgroups setting not configured correctly? I am running Raspberry Pi OS _(arm64 - Debian Bullseye 64bit)_ which technically is still in beta not released to the public yet.

[2021-12-02 09:32] serathius commented on #908
Based on previous cases I would agree that this is usually caused by cgroup configuration (V1 vs V2). It's not my area of expertise, but I think this is good track.

[2021-12-03 05:14] nodesocket commented on #908
@serathius I appreciate the help. This looks like all the cgroups are enabled??? Maybe??? 🤷🏻

[code]

[2021-12-03 11:04] serathius commented on #908
I have almost 0 knowleage relating to how Kubelet reads metrics from container runtime. Please consult SIG-Node about this

[2021-12-06 01:23] nodesocket opened #914 "Pod fails with remote error: tls: internal error on AWS EKS"
**What happened**:

Running on AWS EKS Kubernetes version `1.21.2`.

Pod `metrics-server` fails the readiness check. Returning a `500` error.

[code]

[code]

**What you expected to happen**:

Metrics server pod to successfully pass the readiness check and become available.

**Anything else we need to know?**:

**Environment**: Linux/amd64
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way

[2021-12-06 11:08] serathius commented on #778
This should implement `Redesign goroutine management to reduce scheduling cost (will require redesigning storage)` point from https://github.com/kubernetes-sigs/metrics-server/issues/857

[2021-12-06 11:09] serathius opened #915 "Unify data format between scraper and storage to avoid allocations when storing data"
Follow up from https://github.com/kubernetes-sigs/metrics-server/issues/857

/kind feature

[2021-12-06 11:09] serathius commented on #857
@dgrisonnet Yes, I will use 1.20 for future scalability tests.

Closing as the main performance work planned for v0.6.0 was done. Follows ups will be tracked in separate issues

[2021-12-06 11:09] #857 closed

[2021-12-06 11:30] serathius opened #916 "Results from v0.6.0 scalability tests - proposal to increasing CPU requests to 2m Core per node"
Let's start from good news, with latest changes v0.6.0 should introduce around 10% reduction in both CPU and memory used when compared to v0.5.2. This is great achievement thanks to @yangjunmyfm192085 on rewrite to new `/metrics/resource` endpoint.

Environment:
* Kubernetes v1.20.11 deployed on GCE
* 100 nodes
* 7000 pods of which 441 were system pods and 6559 application pods
* Application pods

[2021-12-06 12:24] david-uash opened #917 "Readiness probe failed: HTTP probe failed with statuscode: 500"
Events:
  Type     Reason     Age                 From               Message
  ----     ------     ----                ----               -------
  Normal   Scheduled  2m                  default-scheduler  Successfully assigned default/metrics-server-6467f65c76-z7t5v to ip-172-31-7-46
  Normal   Pulled     119s                kubelet            Container image "k8s.gcr.io/metrics-server/metrics-s

[2021-12-06 12:29] serathius commented on #917
Please provide description of the issue or I will be forced to close it.
Usage of `--kubelet-insecure-tls` is expected in clusters that don't provide proper certificates to Kubelet. Such clusters should not be used in production, as so we don't support them by default configuration.

[2021-12-06 15:13] yangjunmyfm192085 commented on #916
Thank you very much for your detailed scalability tests, @serathius.
I haven't noticed this change before.
I will also try to take time to study the possible causes.

[2021-12-06 15:20] dgrisonnet commented on #916
Yeah, I agree that these results need to be discussed and further investigated, having twice the CPU usage that we used to have is concerning considering the focus on optimization that this release saw.

One thing we might want to look for between these two sessions of testing is the rate of requests sent to metrics-server. If there is a noticeable difference between both versions, then something

[2021-12-06 18:14] shuaich commented on #916
/cc @serathius
Are there any documents that we can use as reference to reproduce these scalability test results?

[2021-12-06 19:00] nodesocket commented on #914
Don't think the problem is related to `metrics-server`. The problem is in the EKS cluster.

[2021-12-06 19:00] #914 closed

[2021-12-08 00:32] nodesocket commented on #908
In `/var/log/daemon.log` I do see the following which seems to indicate cannot get pod level metrics. Any indication how to go about fixing?

[code]

[2021-12-08 08:52] serathius commented on #908
Like mentioned above, I don't know Kubelet enough to help here, I would recommend filing an issue versus https://github.com/kubernetes/kubernetes

[2021-12-08 08:52] serathius commented on #908
Closing as the issue is related to Kubelet configuration and not Metrics Server related.

[2021-12-08 08:52] #908 closed

[2021-12-09 04:51] huxulm commented on #196
You said something but said nothing😅

[2021-12-13 14:12] testov2001 opened #918 "Failing or missing response after port change"
**What happened**:
Applied v0.5.2 to a newly created EKS cluster. Created a namespace and tried to delete it, the delete process got stuck.
Found that the problem was in kube-state-metrics thanks to [this](https://github.com/kubernetes/kubernetes/issues/60807#issuecomment-429754733) comment, so I executed:
`kubectl get apiservices v1beta1.metrics.k8s.io -o yaml`
To check if the problem is similar

[2021-12-13 21:46] serathius commented on #918
Can you provide results from `kubectl get all --all-namespaces -l k8s-app=metrics-server -o yaml` command?

[2021-12-14 08:52] testov2001 commented on #918
Yes, here is the output of the command:
[code]

[2021-12-15 09:50] fpetkovski commented on #801
/remove-lifecycle stale

[2021-12-15 12:16] serathius commented on #710
/remove-lifecycle stale

[2021-12-15 13:29] tooboredtocode opened #919 "k8s cluster cannot get the metrics-server image"
**What happened**:
k8s cluster cannot get the metrics-server image:
[code]

**What you expected to happen**:
the cluster should be able to pull the image

**Anything else we need to know?**:

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.): LKE
- Container Network Setup (flannel, calico, etc.): calico
- Kubernetes version (use `kubectl version`): 1.22.3

- Metric

[2021-12-15 13:38] serathius commented on #919
Metrics Server team doesn't maintain image registry infrastructure it uses. Please file an issue in main Kubernetes repository so someone from release/infra group can take a look.

[2021-12-15 13:38] #919 closed

[2021-12-15 13:39] serathius commented on #919
or https://github.com/kubernetes/k8s.io that maintains k8s.gcr.io configuration might also be a good place.

[2021-12-19 12:21] lbogdan commented on #792
Unfortunately the [linked issue](https://github.com/kubernetes/kubernetes/issues/103368) was closed for inactivity without any resolution, so until `sig-node` addresses the issue (which might never happen?), can we fix it in `metrics-server`? I (think I) figured out the part of code which needs changing, and I could come up with a PR, if maintainers agree with this approach.

[2021-12-24 12:33] jessequinn commented on #448
This is a valid point. I have hit this issue on Linode LKE. Any ideas? I have added hostNetwork: true, i have added the tls insecure etc. no go.

[2021-12-24 12:54] serathius commented on #448
@jessequinn Please consult Linode LKE documentation or file issue to them.

[2021-12-24 21:41] serathius commented on #916
Ok, I found that the problem was HPA qps. Looks like the distribution I used changed `horizontal-pod-autoscaler-sync-period` between v1.16 and v1.17. This resulted in v1.16 having 6.66 requests per second and v1.17 having 15 requests per second.

I think we should add qps as one of the scalability constrains with value of 6.66 for 100 deployments. Proposed value is based on default kube-controller

[2021-12-25 17:32] serathius commented on #916
Repeated scalability tests with proper qps. Average results from 2 repeated scalability tests:
* v0.6.0 - 100.78mCore CPU and 160.70MiB memory
* v0.5.2 - 124.52mCore CPU and 178.24MiB memory

This confirms and 10-20% of CPU reduction and 10% memory reduction. Looks like v0.6.0 is ready to cut.

[2021-12-25 17:32] #916 closed

[2021-12-25 17:52] serathius commented on #801
PTAL https://github.com/kubernetes-sigs/metrics-server/pull/829#issuecomment-1001051637

[2021-12-25 17:53] serathius commented on #804
Scalability tests succeeded. Before cutting v0.6.0 I would like to confirm with @dgrisonnet if https://github.com/kubernetes-sigs/metrics-server/pull/829 is needed.

[2021-12-26 08:02] steve-gray opened #920 "0.5.2 Doesnt Work on OKE/Kubernetes 1.21.5 ("Metrics Not Available...")"
**What happened**:
Working installation using 0.4.x, and I can `kubectl top pods -n nshere` and get statuses. However when upgrading to 0.5.2 __some__ namespaces, but not all dont't work, and I get errors such as:

[code]

**What you expected to happen**:
Metrics to work consistently.

**Anything else we need to know?**:

Rolling back to 0.4.5 works immediately, rolling forward to 0.5.2 will work

[2021-12-29 00:31] schlitzered commented on #917
i guess i just hit the same issue. when trying to deploy the metrics server, as described in the readme, the metrics-server pod will fail with "kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml"

downloading the components.yaml, and adding the "--kubelet-insecure-tls" option will "fix" the issue.

but i guess just disabling the ssl checking

[2021-12-29 07:47] jasonliu747 commented on #910
@sehz this might be helpful
https://github.com/kubernetes-sigs/metrics-server/issues/917#issue-1072092570

[2021-12-29 19:32] #917 closed

[2021-12-31 08:59] stevehipwell commented on #830
/remove-lifecycle stale

[2022-01-03 15:44] arman-tur commented on #920
I'm facing the same issue with 0.5.2 on OKE v1.20.8.  As soon as metrics-server is upgraded from 0.4.5 from 0.5.2 the metrics from several (not all) deployments are no longer available for HPAs: `failed to get cpu utilization: unable to get metrics for resource cpu: no metrics returned from resource metrics API`

[2022-01-06 13:42] travnewmatic commented on #196
i am curious to know what The Right Way to fix this is

its definitely possible to work around the issue with `--kubelet-insecure-tls` but that definitely doesnt feel like a good solution.

it seems like `kube-metrics-cert` expects some proper certificates for each node to exist before its added to the cluster?

[2022-01-07 09:22] charlielin commented on #196
Thanks! It WORKS!

[2022-01-10 13:38] serathius commented on #920
Can you pick a node where pods with missing metrics are running, run `kubectl get --raw /api/v1/nodes/$NODE_NAME/proxy/stats/summary` and paste results here?

[2022-01-10 18:53] dgrisonnet commented on #801
Closing as this can be solved by adding `--authorization-always-allow-paths=/metrics` as pointed out by @serathius.

[2022-01-10 18:53] #801 closed

[2022-01-10 18:57] dgrisonnet commented on #804
Based on your comment on the PR, I don't think we need the changes anymore, so let's finalize the release :tada:

[2022-01-11 15:37] heyitsmekishore commented on #448
how to solve this in AKS

[2022-01-11 15:41] serathius commented on #448
Please read comment above. Point about LKE applies also to AKS.

[2022-01-12 18:19] huizhifan commented on #764
Hi, after enabling the flag, I was able to solve this issue. Just curious what's the root cause. I checked the source code but was still not able to get the cause.
https://github.com/kubernetes/kubernetes/blob/8cc7d14588f688fec1d7b7da953e151158440b3a/staging/src/k8s.io/apiserver/pkg/util/proxy/proxy.go#L92

[2022-01-12 19:02] divick opened #922 "unable to fully scrape metrics from node ip-xxx-xxx-xxx-xxx.ap-south-1.compute.internal"
**What happened**:
I have created a k8s cluster using kops on AWS with managed addone for metrics server enabled and I see that the metrics server pods are continuously restarting. I see the error as in the title.

**What you expected to happen**:

I expected that the metrics server should have been up and running if installed /managed by kops.

**Anything else we need to know?**:

**Environment**

[2022-01-13 04:45] divick commented on #922
I could make it work by specifying

to metrics deployment. It seems it is not a metrics server issue but a kops issue. So closing this bug.

[2022-01-13 04:45] #922 closed

[2022-01-13 07:24] AllKai opened #923 "failed to get CPU utilization: missing request for CPU"
This version uses the latest 0.5.2 and cannot obtain CPU resources

[2022-01-13 07:27] AllKai commented on #923
failed to get CPU utilization: missing request for CPU

[2022-01-13 10:09] AllKai commented on #923
My Deployment Yaml:
![image](https://user-images.githubusercontent.com/48918555/149310015-269626f5-6016-45c7-baa0-8815357cad56.png)

HPA Error:
Events:
  Type     Reason                        Age                  From                       Message
  ----     ------                        ----                 ----                       -------
  Warning  FailedGetResourceMetric       109s (x2 over

[2022-01-13 21:46] avidspartan1 commented on #694
Are there any suggested workarounds for this issue, other than launching the metrics server on an EC2-managed node?

[2022-01-14 01:57] cmagorian commented on #443
We should reopen this. We upgraded our cluster in GKE to 1.22 and found that the metrics-server was unable to authenticate against the API server so our HPA's were unable to scale/descale.

[2022-01-14 06:48] yangjunmyfm192085 commented on #804
Hi, @serathius, Could we release v0.6.0?  I think there is no blocker now,  so should we be ready to release?

[2022-01-14 08:49] serathius commented on #694
I don't know enough about Fargate to give a definitive statement, however all solutions that use virtual/fake Kubelet have this problem that they fail to implement Kubelet API. Metrics Server cannot work with Fargate as it doesn't expose Kubelet Summary API where MS could get the metrics from.

Resolving this problem requires action on Fargate team to support Kubelet API.

Only possible workaround

[2022-01-14 08:52] serathius commented on #443
This is a support ticket, which means author for help with debugging their cluster configuration. It's not a bug on MS, but reconfiguration on user side.

@cmagorian For metrics server on GKE I would recommend to restart it and if that doesn't work to reach out to GCP support.

[2022-01-14 08:55] serathius commented on #804
Yes

[2022-01-14 09:13] serathius commented on #804
K8s v1.23.2 is planned to be released next week https://kubernetes.io/releases/patch-releases/#1-23

Is anyone aware of any changes that would be worth waiting for?

[2022-01-15 20:43] leandroaur commented on #77
Unfortunately I am still experiencing this issue for arm v7 (raspberry 4B) even though editing metrics server on both methods:
`        command:
        - /metrics-server
        - --source=kubernetes.summary_api:https://kubernetes.default?kubeletHttps=true&kubeletPort=10250&insecure=true`
 Or using

`        command:
         - /metrics-server
         - --kubelet-insecure-tls
         - --kubele

[2022-01-16 12:22] yangjunmyfm192085 commented on #923
@AllKai, I wonder if only v0.5.2 has this issue? Is v0.5.0 and v0.5.1 good?

[2022-01-16 12:27] yangjunmyfm192085 commented on #920
@steve-gray @arman-tur, Could you provide the information discussed according to @serathius?
by the way, I wonder if v0.5.0 and v0.5.1 are good？

[2022-01-16 13:42] yangjunmyfm192085 commented on #804
Maybe we can wait until 2022-01-19 to release?

[2022-01-17 05:55] yangjunmyfm192085 commented on #918
Hi, @testov2001  from your issue description, it looks like `https://10.5.67.7:4443` cannot be accessed. Can you check if port `4443` can be accessed normally in your environment?

[2022-01-17 09:05] avoidik commented on #576
would like to know it as well, I'm wondering whether a clean approach is even possible, the kubelet generated certificates will have 0600 permissions, so only the user running kubelet daemon will be able to read them.

https://github.com/kubernetes/kubernetes/blob/v1.23.1/staging/src/k8s.io/client-go/util/certificate/certificate_store.go#L196

[2022-01-17 10:52] serathius commented on #576
@avoidik that's a good question, I think it would be good to create a list of steps required to secure Metrics Server and verify it on some popular K8s distro.

cc @yangjunmyfm192085 @dgrisonnet

Proper K8s setup, certificates served by Kubelet are signed by cluster main CA. Metrics Sever doesn't need to access to them. When creating a TLS connection to Kubelet it should be able to confirm that se

[2022-01-17 10:58] avoidik commented on #576
I just wanted to reuse the same certificates specifically issued for/by kubelet, but it seems I would need to have another pair of certificates for metrics-server

[2022-01-18 12:20] yangjunmyfm192085 commented on #576
Generally, we do not need to add flags manually to configure the certificate required by mertrics-server to access kubelet. as @serathius discussed, `Proper K8s setup, certificates served by Kubelet are signed by cluster main CA. Metrics Sever doesn't need to access to them. When creating a TLS connection to Kubelet it should be able to confirm that served certificates are properly signed.`
But if

[2022-01-19 06:34] AllKai commented on #923
@yangjunmyfm192085 @serathius
![image](https://user-images.githubusercontent.com/48918555/150077108-40308c80-8b38-4051-868e-93988d3c7d6f.png)

[2022-01-19 06:36] AllKai commented on #923
@yangjunmyfm192085 The same problem!

[2022-01-19 06:43] AllKai commented on #923
@serathius @yangjunmyfm192085 memory-metrics is ok
![image](https://user-images.githubusercontent.com/48918555/150078145-e69b3e9a-b19c-48be-b79a-5d0581a2f93e.png)

[2022-01-19 08:12] minerba opened #926 "Linux top and kubectl top pod difference"
**What happened**: I Develope something By Use kubernetes metric api. I found that the result of the "top" command in the pod and the result of performing the "kubectl top pod" in the master node are different.

**What you expected to happen**: I don't know why result

**Anything else we need to know?**:

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.):kubeadm
-

[2022-01-19 09:25] yangjunmyfm192085 commented on #923
Could you execute the following command to confirm if mertrics-server is running properly?
[code]

[2022-01-19 09:33] AllKai commented on #923
@yangjunmyfm192085
![image](https://user-images.githubusercontent.com/48918555/150103268-c3473e3c-20cf-4e65-9f4d-2463b56df397.png)
it's ok

[2022-01-19 09:54] GuoChanghe0220 opened #927 "net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)"
This happens to the apiservices resource of metrics when I finish executing the yaml file。
This is the problem:
# kubectl describe apiservices  v1beta1.metrics.k8s.io
failing or missing response from https://10.102.139.182:443/apis/metrics.k8s.io/v1beta1: Get "https://10.102.139.182:443/apis/metrics.k8s.io/v1beta1": net/http: request canceled while waiting for connection (Client.Timeout exceeded w

[2022-01-19 10:02] sanwishe commented on #576
ok，i am working on this.

[2022-01-19 10:22] #926 closed

[2022-01-19 10:23] serathius commented on #926
Please read available documentation at https://github.com/kubernetes-sigs/metrics-server/blob/master/FAQ.md

[2022-01-19 10:29] serathius commented on #923
`horizontal-pod-autoscaler failed to get CPU utilization: unable to get metrics for resource CPU: no metrics returned from resource metrics API` Looks like an error in Metrics API.

Can you dump metrics exposed by MS?

[2022-01-19 10:29] #927 closed

[2022-01-19 10:30] serathius commented on #927
Please provide information needed to debug issue and reopen the issue:

**What happened**:

**What you expected to happen**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.):
- Container Network Setup (flannel, calico, etc.):
- Kubernetes version (use `kubectl version`):

- Metrics Server manifest

<details>
  <summary>spoiler

[2022-01-19 11:50] AllKai commented on #923
@serathius This is a SpringBoot Application. How to expose CPU metrics-api?

[2022-01-19 14:37] yangjunmyfm192085 commented on #923
From the information above, metrics-server is working normally.

[2022-01-19 14:39] serathius commented on #923
Ok, I again incorrectly read the error. The important one is `missing request for CPU`, you cannot configure HPA without requests.

[2022-01-20 00:29] AllKai commented on #923
What should I do now?

[2022-01-20 02:47] mozai opened #928 "[removed]"
[removed]

[2022-01-20 02:50] #928 closed

[2022-01-20 03:24] yangjunmyfm192085 commented on #923
Sorry, I haven't learned about the v2 version of hpa, what version are you using for kubernetes? My v1 version of hpa is running normally(kubernetes v1.22.3).
![image](https://user-images.githubusercontent.com/69306452/150265835-b7992c15-fdf9-49c8-abd5-86935c3c8d23.png)

[2022-01-20 03:40] AllKai commented on #923
@yangjunmyfm192085 i use version 1.23.1 and v1 not support memory-metrics

[2022-01-20 04:14] AllKai commented on #923
@serathius @yangjunmyfm192085 I finally know, when i use autoscaling/v1 everything is normal.
![企业微信截图_16426517753758](https://user-images.githubusercontent.com/48918555/150271938-83e027a7-c5f0-4ffd-8e89-7a548459ee75.png)
![企业微信截图_164265178937](https://user-images.githubusercontent.com/48918555/150271960-67e40d65-c957-46a5-91ab-aab3ab6741d2.png)
but i use autoscaling/v2[v2beta1,v2beta2] error will

[2022-01-20 05:50] yangjunmyfm192085 commented on #923
Hi, @AllKai
I create hpa with kubernetes version of 1.23 and it works fine(hpa apiVersion: autoscaling/v2).
I suggest:
- Follow the official guide to configure hpa `https://kubernetes.io/zh/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/`
- If there are still problems, maybe it should be reported to `sig-autoscaling`

[2022-01-20 06:32] AllKai commented on #923
@yangjunmyfm192085 Can you provide the hpa yaml you wrote?

[2022-01-20 07:24] yangjunmyfm192085 commented on #923
sure

[code]

[2022-01-20 07:27] AllKai commented on #923
@yangjunmyfm192085 Why can't I get CPU in our same way of writing?

[2022-01-20 10:37] serathius commented on #804
K8s 1.23.2 was released. Started the release process, tag was pushed and draft release is ready. Only change I have added is note about a breaking change in RBAC for image users.

[code]

[2022-01-20 12:50] AllKai commented on #923
@yangjunmyfm192085 @serathius I reboot my cluster,reinstall metrics-server:v0.5.2. It's normal now!!!!
![image](https://user-images.githubusercontent.com/48918555/150341856-3255682e-5b6e-458b-b424-85e6766a6d7f.png)
![image](https://user-images.githubusercontent.com/48918555/150341909-30f23341-d375-43b8-898c-e479e73b717c.png)

[2022-01-20 12:58] serathius commented on #804
Image promotion https://github.com/kubernetes/k8s.io/pull/3283

[2022-01-20 12:59] stevehipwell opened #932 "Release the helm chart from the release branches"
**What would you like to be added**:

I'd like the helm chart releases to come from release branches and not the default branch. I plan on opening a PR to do this ready for the [v0.6.0 release](https://github.com/kubernetes-sigs/metrics-server/issues/804).

**Why is this needed**:

This will allow us to work on the Helm chart and use it for E2E testing upcoming versions.

This was previously discu

[2022-01-20 13:00] stevehipwell commented on #932
/assign @stevehipwell

[2022-01-20 13:00] stevehipwell commented on #932
FYI @yangjunmyfm192085

[2022-01-20 14:15] yangjunmyfm192085 commented on #923
Great, this issue has been resolved. I will close it.
if it reappears again, you can report this issue to main kubernetes repo where someone from SIG Autoscaling can take a look.
/close

[2022-01-20 14:15] #923 closed

[2022-01-20 16:39] serathius commented on #804
Release was finished and issue can be closed.

[2022-01-20 16:39] #804 closed

[2022-01-20 17:54] invidian opened #933 "--logtostderr and --alsologtostderr flags no longer accepted in v0.6.0"
**What happened**:

After updating metrics-server container image to v0.6.0, my deployment crashes with the following log:
[code]

**What you expected to happen**:

metrics-server to keep accepting previously working CLI flags, which are also defined in `--help`, like `--logtostderr`.

**Anything else we need to know?**:

Bisecting points to 8297c94a65c28074db484540ee25442e5e4878b6.

/kind bug

[2022-01-21 06:06] yangjunmyfm192085 commented on #933
In my impression, this is the flag of klog, which should have been deleted in the latest version.
/cc @serathius
refer to:
`https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/2845-deprecate-klog-specific-flags-in-k8s-components`

[2022-01-21 09:03] serathius commented on #933
klog specific flags was deprecated in v1.23, K8s version that Metrics Server v0.6.0 bind it's dependencies. Removing those flags however was not intended, this happened due to changes in how flags are registered by `component-base/logs` package.

Overall I'm for removing klog flags, however only with proper previous communication. I think we should restore klog flags in v0.6.1 and announce their d

[2022-01-21 09:12] yangjunmyfm192085 commented on #933
/assign

[2022-01-21 12:44] serathius commented on #918
Thanks for confirming, would be good to document what ports are required for MS to work and add this case to KNOWN_ISSUES.

[2022-01-21 19:53] dgrisonnet commented on #933
Your suggestion sounds good to me @serathius

[2022-01-25 13:06] francardoso93 commented on #694
@serathius Daemonset is not supported by Fargate.

[2022-01-26 18:10] agilgur5 commented on #849
For WIP docs for next release vs. current/latest release, we could add a link in the `main` branch README to the latest release tag's README.

E.g. "This is the documentation for the next upcoming release, to see docs for the latest release, see the [latest release tag](https://github.com/kubernetes-sigs/metrics-server/tree/release-0.6)"

<hr>

Separately, in my experience, the main issue with ver

[2022-01-26 18:18] sftim commented on #849
I recommend putting the docs inside its own `docs` folder. The README on the primary can link into that folder on a release branch, if that's useful.

[2022-01-27 18:04] jcstanaway commented on #920
I'm seeing the same with v0.5.1 and k8s 1.20.13.

[code]

<details>
  <summary>kubectl get --raw /api/v1/nodes/$NODE_NAME/proxy/stats/summary</summary>

[code]
</details>

[2022-01-27 18:09] jcstanaway commented on #933
If we don't pass`--logtostderr`, where are logs sent to?

[2022-01-27 18:13] invidian commented on #933
`--logtostderr` is true by default right now :sweat_smile:

[2022-01-27 18:26] serathius commented on #920
Closing as @steve-gray is not responding and we should not allow for this thread to be hijacked. @steve-gray feel free to re-open when you provide the requested information.

@arman-tur @jcstanaway Please file a separate issue as this is not cluster misconfiguration and not Metrics Server bug. Combining multiple cases will not help as environments and causes for your issues is totally different. F

[2022-01-27 18:26] #920 closed

[2022-01-27 18:29] jcstanaway commented on #933
Took some digging, but found this comment buried in an example:

[code]

https://github.com/kubernetes/klog/blob/main/examples/log_file/usage_log_file.go

[2022-01-27 18:38] jcstanaway commented on #933
Also seeing v0.6.0 panic when passing `--v`:

[code]

[2022-01-28 09:28] stevehipwell opened #938 "Release Helm chart for v0.6.0"
**What would you like to be added**:

We need to release a Helm chart to support the `v0.6.0` release, this could be done with the work for #932.

**Why is this needed**:

The current chart only supports `v0.5.x` versions.

/kind feature

[2022-01-28 09:28] stevehipwell commented on #938
/assign @stevehipwell

[2022-01-28 10:08] #933 closed

[2022-01-28 10:29] serathius opened #941 "Release v0.6.1"
TODO:
* Backport https://github.com/kubernetes-sigs/metrics-server/pull/934 and https://github.com/kubernetes-sigs/metrics-server/pull/940 to release 0.6.1
* Write a release notes with deprecation notice about klog flags
* Do a release

[2022-01-28 15:22] yangjunmyfm192085 opened #943 "the `pull-metrics-server-test-version` test of metrics-server run failed so frequently recently"
the `pull-metrics-server-test-version` test of metrics-server fail so frequently recently, for the same reason
[code]
Maybe we need to find the reason for the failure

/kind support

[2022-01-28 15:27] serathius commented on #943
`./docs/command-line-flags.txt`

[2022-01-28 19:09] #932 closed

[2022-01-30 15:36] blackheaven opened #946 "Not workiend installation on EKS"
**What happened**:

I've tried to install mectrics-server on an AWS EKS cluster, and I can't get it work.

**What you expected to happen**:

**Anything else we need to know?**:

I've tried 0.5.2 too.

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.): EKS
- Container Network Setup (flannel, calico, etc.): default
- Kubernetes version (use `kubectl version`):

[code

[2022-01-31 10:55] stevehipwell commented on #938
@serathius how would you expect the changes to be made to the release branch? I was assuming a PR but wanted to check?

Ideally we can do this before the `v0.6.1` release?

Once the release has been made and we know it works correctly I'll add a couple of guards to the GH action so we can't accidentally release the chart.

[2022-01-31 15:58] serathius commented on #813
cc @dgrisonnet @shuaich
/remove-lifecycle rotten

[2022-02-03 09:18] wirwolf opened #947 "[Chart] Error: chart "metrics-server" matching 3.8.0 not found"
I try to install new chart version and I see the error.

[code]

I check to exist tag in https://kubernetes-sigs.github.io/metrics-server/index.yaml and did not found 3.8.0.

[2022-02-03 14:27] levlas opened #948 "Helm chart support for topologySpreadConstraints"
**What would you like to be added**:
Helm chart support for topologySpreadConstraints

**Why is this needed**:
Pod Topology Spread Constraints feature is stable since kubernetes 1.19
"to control how pods are spread across your cluster among failure-domains such as regions, zones, nodes, and other user-defined topology domains. This can help to achieve high availability as well as efficient resourc

[2022-02-03 14:36] stevehipwell commented on #947
@wirwolf  the last released chart is `v3.7.0`, this can be checked in the GH releases or at [Artifact Hub](https://artifacthub.io/packages/helm/metrics-server/metrics-server). The current version on `master` is `v3.8.0` but this is due to a change in our release process which will be updated once https://github.com/kubernetes-sigs/metrics-server/issues/938 has been closed.

I expect the version on

[2022-02-08 00:43] yangjunmyfm192085 commented on #946
looks like this is not accessible `https://10.0.3.135:10250/metrics/resource`
Could you confirm that 10.0.3.135:10250 can be accessed?

[2022-02-08 07:02] blackheaven commented on #946
You're right, I can't ping it.

[2022-02-08 11:18] serathius commented on #941
@yangjunmyfm192085 Thanks for help.

I think we are ready to cut the release. WDYT @dgrisonnet @yangjunmyfm192085 ?

[2022-02-08 11:40] dgrisonnet commented on #941
Sounds good to me :+1:

[2022-02-08 13:45] serathius opened #955 "Helm char 3.8.0 release was missing high-availability.yaml file"
**What happened**:

Last Metrics Server release added a new manifest `high-availability.yaml` as alternative configuration to `components.yaml`. In chart release 3.8.0 `components.yaml` was correctly uploaded by automation, however `high-availability.yaml` was missing so I needed to add it myself.

**What you expected to happen**:

Helm chart release job to also add `high-availability.yaml` to cha

[2022-02-08 14:26] serathius commented on #946
You might want to play with [--kubelet-preferred-address-types](https://github.com/kubernetes-sigs/metrics-server/blob/9bb47bb633bfe882e62d923327e87e83f8680edb/docs/command-line-flags.txt#L20) flag so Metrics Server uses different address to access the node instead of `10.0.3.135` which is not accessable. It might also be your firewall configuration.

Overall issue is related to problem with your

[2022-02-08 14:26] #946 closed

[2022-02-09 00:40] yangjunmyfm192085 commented on #941
Sounds good to me +1

[2022-02-09 09:32] serathius commented on #941
Proposed changelog:
[code]

[2022-02-09 12:11] stevehipwell commented on #938
The chart has been released.

[2022-02-09 12:11] #938 closed

[2022-02-09 12:16] stevehipwell opened #958 "Release Helm chart for v0.6.1"
**What would you like to be added**:

We need to release a Helm chart to support the `v0.6.1` release once it's ready (https://github.com/kubernetes-sigs/metrics-server/issues/941).

**Why is this needed**:

The Helm chart tracks the MS releases.

/kind feature

[2022-02-09 12:16] stevehipwell commented on #958
/assign

[2022-02-09 12:57] serathius commented on #955
Yes, I added it manually.

[2022-02-09 16:43] stevehipwell commented on #830
@serathius is this something that can be added now (if it's not already there)?

[2022-02-09 16:49] serathius commented on #830
Yes, feel free to send a PR.

[2022-02-09 16:51] serathius commented on #943
Was fixed by adding the file back.

[2022-02-09 16:51] #943 closed

[2022-02-09 16:52] serathius commented on #947
v3.8.0 was released

[2022-02-09 16:52] #947 closed

[2022-02-09 16:52] serathius commented on #941
Release done

[2022-02-09 16:52] #941 closed

[2022-02-09 16:58] serathius commented on #918
/help

[2022-02-09 17:13] serathius commented on #880
Best practices described in https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels where created by Helm users for helm users. I have never seen them used in practice by K8s contributors for core Kubernetes addons, possibly because both parties never meet and agreed on them.

From fast glimpse I would consider the proposed standard to be an anti-pattern as it stores applic

[2022-02-10 10:27] DanielHajduk2-TomTom opened #961 "[General Question]"
Hi, I just have a general question about Metrics API due to HA documentation of Metrics Server.

Does Metrics API change the instance its fetching metrics from for Metrics API if one is down and second one is running ? (failover mechanism)

[2022-02-14 12:35] stevehipwell commented on #782
@pierluigilenoci I think this should be able to be closed now?

[2022-02-14 13:18] pierluigilenoci commented on #782
@stevehipwell yep!

[2022-02-14 13:18] #782 closed

[2022-02-14 17:15] aniruddhj opened #962 "error: metrics not available yet"
Hi, I have a kubernetes cluster with below information:
[code]

I am trying to upgrade my mterics-server from 0.3.4 to 0.6.0 and getting in problems.
When I run kubectl top node I see the below information
[code]

 from the metrics pod logs I see errors:
[code]

In the documentation it mentions metrics 0.6 version supports k8s 1.19+ https://github.com/kubernetes-sigs/metrics-server#compatibility-m

[2022-02-14 19:10] serathius commented on #962
Release v0.6.0 only supports K8s 1.19+, removed asterisk from README.

[2022-02-14 19:10] #962 closed

[2022-02-15 13:14] gurbansuleyman commented on #543
when type the command kubectl top nodes then this problem appearing
Error from server (ServiceUnavailable): the server is currently unable to handle the request (get nodes.metrics.k8s.io)

[2022-02-18 21:49] mokhirashakira opened #963 "EKS Metrics Server can't scrape pod/node metrics - Unauthorized 401"
**What happened**:
Metric server is not able to read metrics with the `error: metrics not available yet`

* HPA's can't read metrics
* `kubectl top pod/nodes` return error: metrics not available yet

**What you expected to happen**:

Metrics server to scrape all pods and nodes.

**Anything else we need to know?**:

Everything is in the details section.

**Environment**:
- Kubernetes distribution (

[2022-02-20 11:26] serathius commented on #963
I'm not familiar with EKS, however I remember similar issue that solved the problem by adding some EKS specific configuration. I was not able to find it now, will continue looking.

[2022-02-22 07:00] jasonliu747 commented on #778
/remove-lifecycle frozen
@yangjunmyfm192085 Hi, thanks for your contribution, any update on this issue?

[2022-02-22 08:56] serathius commented on #778
/lifecycle frozen
cc @shuaichen

[2022-02-22 08:57] serathius commented on #778
/cc shuaich

[2022-02-22 08:57] serathius commented on #778
/cc @shuaich

[2022-02-22 10:30] #958 closed

[2022-02-22 10:36] serathius commented on #963
@stevehipwell I think that issue you linked is about kube-proxy which is unrelated to Metrics Server.

[2022-02-22 11:02] stevehipwell commented on #963
@serathius it's been a long time since I worked on this so I might have miss remembered which metrics component was impacted by this.

@mokhirashakira are you actually using Calico as your CNI?

[2022-02-22 14:20] mokhirashakira commented on #963
Sorry, no it's not Calico. It's the EKS CNI - https://docs.aws.amazon.com/eks/latest/userguide/pod-networking.html

[2022-02-22 14:26] fbacker opened #964 "Set namespace"
**What would you like to be added**:
Possibility to use namespace when creating manifests with template.

Example using the -n with helm template

```helm template metrics-server metrics-server/metrics-server --kube-version "1.20.7" --include-crds -n metrics-server -f "./values/testing.yaml"  > "./manifests-testing/manifest.yaml"```

This should set the `metadata:namespace`

**Why is this needed**

[2022-02-22 14:49] stevehipwell opened #965 "Release Helm chart for probe changes"
I'd like to release the code in PR #960.

I'd also like to correct the fact that I didn't push the changes to `master` before the last chart release.

[2022-02-22 15:31] stevehipwell commented on #965
I added fixes to the wrong PR, #966 should have just been a reference as this will only be closed when the change is merged to the release branch.

/reopen

[2022-02-22 17:28] stevehipwell commented on #830
@serathius it looks like there aren't any MS changes needed to use the structured logging, but I could be mistaken? I guess that _command-line-flags.txt_ needs updating?

I'm thinking that the Helm chart should have `logFormat` defaulting to `text` and `logLevel` defaulting to `2` which would allow strongly typing the config.

[2022-02-23 01:25] yangjunmyfm192085 commented on #830
/cc
I will try to add support for json format logs

[2022-02-23 05:59] yangjunmyfm192085 commented on #778
Sorry, I delayed this issue due to lack of time and other things. I modified it at  `https://github.com/kubernetes-sigs/metrics-server/compare/master...yangjunmyfm192085:rewriting- scraper?expand=1`  but not submit pr. I will submit the pr as soon as possible, and need help me to review whether the modification is reasonable. If there is no problem, I will do a comparison test.
@serathius , Of cou

[2022-02-23 09:01] serathius commented on #830
@stevehipwell Metrics Server was migrated to structured logging some time ago, however to support JSON we still need https://github.com/kubernetes-sigs/metrics-server/pull/968

As for verbosity, I would be more cautious about changing default user experience. We had previous cases where users misunderstood oververbose logs and continued to file issues with questions. For example: https://github.co

[2022-02-23 09:32] stevehipwell commented on #830
Thanks @yangjunmyfm192085.

@serathius sorry for the incorrect terminology, when I said structured logging I meant JSON logs. What is the current log level? I think I misread the klog docs as I thought level 2 was default, I want to keep the default but make it a structure Helm chart input.

[2022-02-23 09:47] #965 closed

[2022-02-23 09:53] stevehipwell commented on #964
@fbacker this is the idiomatic Helm pattern. You should still be using the `--namespace` flag to set the Helm release namespace as some resources (RBAC) need to reference the namespace but general resources don't add the namespace to metadata, this is expected to be added by `kubectl apply`.

That said; in a world without RBAC this pattern works fine, but as soon as we're creating RBAC resources t

[2022-02-23 10:18] serathius commented on #830
I think the default in the binary is 0, this means that only logs with `klog.Error`, `klog.V(0).Info` and `klog.Info` are written. Logs with `klog.V(1).Info` and higher are not.

[2022-02-23 10:21] stevehipwell commented on #830
@serathius the chart value should be `0` then, I don't want to change any defaults. I'd just like to enable requesting JSON logs and different log levels via simple chart values.

[2022-02-24 09:11] #830 closed

[2022-02-24 11:26] clcc2019 opened #971 "top node is unknown v0.6.1"
<img width="1189" alt="image" src="https://user-images.githubusercontent.com/46099295/155515377-279cd5c6-7f11-4500-a9f8-8223a1947a66.png">

<img width="1504" alt="image" src="https://user-images.githubusercontent.com/46099295/155515453-bd904371-eba8-4853-bcef-087dffff285c.png">
<img width="610" alt="image" src="https://user-images.githubusercontent.com/46099295/155515475-f2e9a1b4-e2ee-46f6-b056-42

[2022-02-24 18:19] mokhirashakira commented on #963
Not through Helm, it was installed using the following https://docs.aws.amazon.com/eks/latest/userguide/metrics-server.html

[2022-02-24 18:39] stevehipwell commented on #963
@mokhirashakira have you tried re-running the apply step with an up to date manifest? The file linked to is dynamic and needs to be kept up to date, the MS version in your report is `v0.3.6` while the current MS version is `v0.6.1`; looking at the release history `v0.3.6` is from October 2019 and was targeting K8s v1.14.

@serathius are the compatibilities on the README correct, does MS just use a

[2022-02-25 09:30] serathius commented on #971
https://github.com/kubernetes-sigs/metrics-server/blob/master/KNOWN_ISSUES.md#kubelet-doesnt-report-metrics-for-all-or-subset-of-nodes

[2022-02-25 09:30] #971 closed

[2022-02-25 10:37] serathius commented on #963
Yes, to my knowledge, however they are based on deprecation notices and we didn't do much testing.

Not sure what you mean by "well defined subset". As any binary we need to build with specific versions of dependencies. Before each release I try to make sure we pick up latest client-go version, however we cannot guarantee that it will be forever forward compatible.

True, one example is that both

[2022-02-25 12:11] stevehipwell commented on #963
Thanks @serathius, I think we can say that MS is pretty compatible forwards and backwards so the README compatibility matrix is correct to best effort.

I think there could also be other considerations in the manifests that mean that they might apply correctly to an EKS v1.21 cluster but not work or break when an older cluster is upgraded.

[2022-02-25 12:29] choppspavan commented on #269
I am facing the same issue with 0.6.0 , any resolution to fix the "unable to get metrics for resource memory: unable to fetch metrics from resource metrics API: the server could not find the requested resource"

[2022-02-28 12:25] yangjunmyfm192085 opened #973 "the pull-metrics-server-test-e2e-ha test fails frequently recently, and the reasons need to be analysed"
**What happened**:
the `pull-metrics-server-test-e2e-ha`  e2e tests of metrics-server  fails frequently recently, and the  reasons need to be analysed.
such as :
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_metrics-server/969/pull-metrics-server-test-e2e-ha/1498266418871799808
reason of failure:
[code]
**What you expected to happen**:
fix the e2e  ha tests.
**Anythin

[2022-03-01 04:30] choppspavan opened #974 "Getting "failed to get cpu utilization: unable to get metrics " when using kubectl top pods"
Hi ,
We installed metric-server v0.6.0 and facing the below issue while trying to do kubectl top pods .

LAST SEEN   TYPE      REASON                    OBJECT                                MESSAGE
24s         Warning   FailedGetResourceMetric   horizontalpodautoscaler/agent-infra   failed to get cpu utilization: unable to get metrics for resource cpu: no metrics returned from resource metrics AP

[2022-03-01 07:14] danerlt opened #975 "kubernets 1.12.5 install metrics-server tip Readiness probe failed: HTTP probe failed with statuscode: 500"
/kind support

My kubernets versio is 1.12.5 and I install metrics-server by version 0.5.2. I descrbe the pod ,its tips `Readiness probe failed: HTTP probe failed with statuscode: 500`.  I only change ` kubernetes.io/os: linux` to ` beta.kubernetes.io/os: linux` in components.yaml.

![image](https://user-images.githubusercontent.com/14197717/156122110-9e32b461-65b5-47d6-9c14-495ce7e2d09f.png)

[2022-03-01 10:44] serathius commented on #974
Read the https://github.com/kubernetes-sigs/metrics-server/blob/master/FAQ.md and [support issue template](https://github.com/kubernetes-sigs/metrics-server/edit/master/.github/ISSUE_TEMPLATE/support.md).
[code]

[2022-03-01 10:44] #974 closed

[2022-03-01 10:47] serathius commented on #975
[code]

[2022-03-01 10:47] #975 closed

[2022-03-01 13:47] danerlt commented on #975
thanks @serathius

[2022-03-02 03:05] libanglang commented on #973
test bug

[2022-03-04 10:11] MisterTimn opened #976 "Metrics not available in some namespaces (while /proxy/stats/summary shows all metrics)"
**What happened**: Metrics not available for pods in some namespaces, though raw metrics are available.

We noticed that we have podmetrics for all pods in certain namespaces and then no podmetrics for others.
 E.g.
[code]

However when we query the raw stats through k8s api for that namespace, we see there are metrics
[code]

We get metrics for all pods in that namespace through raw stats.

The m

[2022-03-04 11:02] serathius commented on #976
I expect that empty `linkerd-init` container metrics are responsible for Metrics Server discarding whole pod. To avoid reporting invalid metrics for pod (container restarting, metrics not yet collected) MS will ignore pods that have any container report zero values for usage.

See:
[code]

So problem is not related to namespace, but to linkerd mesh being enabled only in certain namespaces. If you

[2022-03-04 11:03] serathius commented on #976
Looks like case of https://github.com/kubernetes/kubernetes/issues/103368#

[2022-03-04 12:12] MisterTimn commented on #976
That makes a lot of sense
Confirmed through `-v=2` log
[code]

Workarounds would be switching to containerd runtime possibly? Or using the PodAndContainerStatsFromCRI alpha/beta?

[2022-03-04 19:41] francardoso93 commented on #374
I had all resources properly set in all containers and kept struggling with this. The only solution I found was to downgrade from apiVersion: autoscaling/v2beta2 to apiVersion: autoscaling/v2beta1

[2022-03-07 08:56] serathius commented on #915
/lifecycle frozen
/cc @shuaich

[2022-03-08 14:10] #918 closed

[2022-03-09 14:56] yangjunmyfm192085 commented on #976
/cc @stevehipwell  chart version:metrics-server-3.8.2,
and the mertrics-server version is  v0.6.1?
@serathius  If the metrics-server version is 0.6.1, we have switched to the resource metrics endpoint.

@MisterTimn Can you provide the information obtained by the following command?
 kubectl get --raw /api/v1/nodes/$NODE_NAME/metrics/resource

[2022-03-09 15:12] yangjunmyfm192085 commented on #976
I want to know the version of metrics-server corresponding to this environment

[2022-03-09 15:13] yangjunmyfm192085 commented on #976
I want to know the version of metrics-server corresponding to this environment

[2022-03-09 15:13] yangjunmyfm192085 commented on #976
I want to know the version of metrics-server corresponding to this environment

[2022-03-09 15:17] stevehipwell commented on #976
It's in the issue report (or is now).

[2022-03-10 11:03] yangjunmyfm192085 commented on #973
I analyzed the  recent CI records and the failure reasons are:
[code]

These two metrics are  from the apiserver, explained as follows

[code]

These two metrics are missing in the tests, indicating that a metrics-server pod has no metrics statistics about these.

Can we try to get metrics from metrics-server more times before getting prometheus metrics?

such as:
add
[code]
before
[code]
or Is th

[2022-03-10 16:37] dgrisonnet commented on #973
The thing that is odd is that this test never failed for the non-HA setup.

With your suggestion, I don't think we are guaranteed to hit both metrics-server instances. The kube-apiserver might very well forward both requests to the same instance of metrics-server which would result in the same problem

[2022-03-10 16:39] MisterTimn commented on #976
The version is indeed 0.6.1, latest chart version 3.8.2

I ran the command you requests @yangjunmyfm192085

[code]

[2022-03-10 16:54] dgrisonnet commented on #973
What we could maybe try to do though is call the API path of each metrics-server directly. Looking at the description of the metrics, that should be enough to make them appear consistently:

[code]

[2022-03-11 00:32] yangjunmyfm192085 commented on #973
ok, I'll follow this comment, try to test and update it.

[2022-03-11 02:54] yangjunmyfm192085 commented on #973
@dgrisonnet  I think it works.

[2022-03-11 08:07] dgrisonnet commented on #973
Nice thank you for testing :slightly_smiling_face:

[2022-03-11 12:38] yangjunmyfm192085 commented on #976
Sorry, This is my fault .The correct command is as follows

kubectl get --raw /api/v1/nodes/$NODE_NAME/proxy/metrics/resource

[2022-03-11 12:53] subrnath opened #982 "support of k8s 1.23"
Latest version of metric server supports till k8s 1.21 as per the compatibility matrix.

We are deploying a container through ansible based operator from quay,io on k8s 1.23 where metrics-server is installed with the image image: k8s.gcr.io/metrics-server-amd64:v0.3.6.

following error is coming when operator pod is trying to access k8s API server -

{"level":"error","ts":1646985248.079765,"logger

[2022-03-11 13:05] MisterTimn commented on #976
Ok, below you'll find the output of that command, but strangely, after leaving this cluster for a while, I am getting metrics through `kubectl top pod` now for this namespace with the init containers... Seems to have resolved itself somehow?

Anyway the command result:
[code]

[2022-03-11 13:11] yangjunmyfm192085 commented on #976
In the collected data, I did not find the linkerd-init container, please help to collect the data when the problem occurs, thank you.

[2022-03-11 13:31] #982 closed

[2022-03-14 10:43] serathius commented on #976
@MisterTimn This is expected, problem is caused by Kubelet reporting zeroed metrics for init container that are no longer running. Metrics Server discards whole pod assuming that pod is broken/crashlooping etcd. However, it's expected that Kubelet/container runtime will cleanup init container and no longer report them.

[2022-03-14 12:20] #973 closed

[2022-03-14 22:13] ejsmith commented on #810
No having `limits` set made it fail to deploy for me in a non-obvious way. Replicaset would not deploy nodes because I had default resource limits set in the namespace and the default limit was less than the request specified in the Deployment.

[2022-03-15 12:09] serathius commented on #810
Feel free to set the limits yourself.

[2022-03-16 10:44] grunlab opened #983 "metrics-server 0.6.x - regular container restarts linked to err="metric collection didn't finish on time""
Since I've upgraded metrics-server from 0.5.x to 0.6.x, metrics-server container is restarting frequently (it was not the case in 0.5.x):

Kubernetes version:
[code]

Metrics-server version:
[code]

For example, 15 restarts in 25 days:
[code]

metrics-server container logs just before the restart:
[code]

Is the error "metric collection didn't finish on time" normal ?
Can I increase the maxDuratio

[2022-03-16 14:17] serathius commented on #983
Looks like an interesting bug
/cc @yangjunmyfm192085  @dgrisonnet
cc @shuaich

[2022-03-16 15:08] grunlab commented on #983
OK, i've increased the log verbosity to 6.
I now wait the next container restart.

[2022-03-16 18:11] grunlab commented on #983
OK, the container has already restarted 3 times in between:

[code]

Last container shutdown was at Wed, 16 Mar 2022 17:27:36 +0100
[code]

Please find attached the logs (including the 3 restarts)
[metrics-server.zip](https://github.com/kubernetes-sigs/metrics-server/files/8268070/metrics-server.zip)

[2022-03-16 20:05] adil-bouchaara commented on #494
@humblefool007 you need to add username to the aws-auth configmap if you are accessing the cluster using roles, mentioned here  https://aws.amazon.com/premiumsupport/knowledge-center/eks-metrics-server/

[2022-03-17 00:29] yangjunmyfm192085 commented on #983
Yeah, I will also try to analyze it

[2022-03-17 03:50] yangjunmyfm192085 commented on #983
From the log, it prints
[code]
But `Scrape finished` is not printed.

Most likely the channel `responseChannel` is not full of 6 data. Which may block in the function `collectNode`. But what caused it has not been fully analyzed.
But there is a strange phenomenon, every time there is a problem, it will be accompanied by a large number of prints as follows
[code]
I don't know if it's related.

I wi

[2022-03-17 08:46] grunlab commented on #983
@yangjunmyfm192085 : I'm currently testing metrics-server 0.6.x on a test cluster where there is no real activity.

It is a little cluster composed of 3 masters and 3 workers hosted on small VMs (2 cores / 4GB RAM)

Cluster nodes:
[code]

Nodes current load:
[code]

Metrics-server load:
[code]

I noticed that metrics-server container restarts happen more or less when surrounding pods (in order nam

[2022-03-17 09:11] yangjunmyfm192085 commented on #983
One thing that doesn't match your analysis is that access to `https://x.x.x.x:10250/metrics/resource`  in the log are all ok. So there should be no data Scrape timeout problem
[code]

[2022-03-17 10:11] serathius commented on #494
Great to see some EKS specific documentation. I think we could consider adding this link in KNOWN_ISSUES for EKS users. cc @yangjunmyfm192085

[2022-03-17 10:16] yangjunmyfm192085 commented on #494
Sure. I think it's necessary, let me take a look

[2022-03-17 11:47] yangjunmyfm192085 commented on #494
/assign

[2022-03-17 15:42] dalgibbard opened #985 "Remove TLS1.2 Support"
**What would you like to be added**:
Deprecate TLS1.2, or 3DES/CBC ciphers support

**Why is this needed**:
Seeing that kubernetes 1.19+ (at least) supports TLS1.3, It make sense to deprecate TLS1.2
In particular, the current Metrics Server configuration includes 3DES and CBC ciphers which are associated with the LUCKY13 and SWEET32 vulnerabilities (library mitigations aside).
As a result, TLS sca

[2022-03-17 18:22] serathius commented on #985
Metrics Server depends on TLS and cipher configuration available in k8s apiserver library by default. What version of metrics server have you tested? Latest MS release should use same configuration as k8s 1.23.

[2022-03-17 19:23] dalgibbard commented on #985
Not working until Monday now, so can check then and report back.

Looking at this though: https://github.com/kubernetes/apiserver/blob/kubernetes-1.23.5/pkg/server/secure_serving.go#L50
Looks like default minTLS is 1.2, and ciphers are whatever the defaults are unless overridden.

I can appreciate the desire to track with the upstream here, though not sure if the upstream has the flexibility to ch

[2022-03-18 15:33] fsalazarh opened #987 "Default resource requests in values.yaml"
In the [documentation](https://kubernetes-sigs.github.io/metrics-server/) it says that the default resources from version 0.5.0 onwards are 100m cpu and 200Mi memory, however, in [values.yaml](https://github.com/kubernetes-sigs/metrics-server/blob/9c9d712d31742f7c32c023d7b36c49c2dc7033b5/charts/metrics-server/values.yaml#L120) the resources are set to empty using version 0.6.0 ([AppVersion](https:

[2022-03-18 15:42] serathius commented on #987
Please remember that metrics server and it's helm chart are separate thing. They don't guarantee same configuration.

Whether the chart should have requests, that's up to helm owners. cc @stevehipwell

[2022-03-18 15:48] serathius commented on #985
Metrics server is a small project, so I don't think we have capacity or expertise to provide more flexibility then dedicated kubernetes library for apiserver. Still it might be worth making this configurable by apiserver itself.

Have you considered creating similar issue to main kubernetes repository?

[2022-03-18 15:54] NearchPasipou opened #988 "Missing documentation about metrics-server metrics."
I have posted my question in
[#sig-instrumentation](https://kubernetes.slack.com/messages/sig-instrumentation) channel of [Kubernetes Slack](http://slack.k8s.io/)
and I was encouraged to open a ticket here.

See: https://kubernetes.slack.com/archives/C20HH14P7/p1647591479060359

So, while I read that I should not open Support Requests here I will do it since I was told to.

Question:

Answer:

Ple

[2022-03-18 15:58] serathius commented on #988
@dgrisonnet is there any tool for prometheus to collect definitions of metrics and generate documentation from it?

[2022-03-18 17:41] stevehipwell commented on #987
@fsalazarh it's idiomatic to not provide any default resource requirements in a Helm chart as they should be a conscious decision by the user.

[2022-03-18 18:25] serathius commented on #987
Sounds good

[2022-03-18 18:25] #987 closed

[2022-03-19 02:34] yangjunmyfm192085 commented on #983
After a recent analysis, it is most likely that, `	_, err = io.Copy(buf, response.Body)` , this operation is blocking,  Can you keep watching the `io` for a while? @grunlab @serathius

[2022-03-21 00:00] CatherineF-dev commented on #988
This can collect metrics instances for a prometheus job.
1. forward port 9090
2. `curl -G http://localhost:9090/api/v1/targets/metadata  --data-urlencode 'match_target={job="node-exporter"}'`

[2022-03-21 12:01] serathius commented on #983
I expect that `response.Body` can block until whole response was not returned, however I expect that this can should still return if the request times out. @yangjunmyfm192085 Can you double check if we correctly pass timeout or/and context with timeout when making request.

[2022-03-21 14:07] yangjunmyfm192085 commented on #983
Yeah. To verify this scenario. I set up an unreachable url to test, and sent two requests in total, one with `req.WithContext(ctx)` and one without `WithContext(ctx)`. The one with it can return normally, and the one without it will get stuck. This proves
`response, err := kc.client.Do(req.WithContext(ctx)) ` can still return if the request times out.

[2022-03-21 14:09] yangjunmyfm192085 commented on #983
The case of `response.Body` is not validated. I will design a scene test and verify it tomorrow.

[2022-03-22 03:59] yangjunmyfm192085 commented on #963
Hi, @mokhirashakira, Does the solution in the known issues solve your problem?
https://github.com/kubernetes-sigs/metrics-server/blob/master/KNOWN_ISSUES.md#unable-to-work-properly-in-amazon-eks

[2022-03-22 06:41] yangjunmyfm192085 commented on #983
@serathius ,  I did the following verification today:
- Use the command `tc qdisc del dev ens3 root netem loss xx%` on node `175.1.1.7`  to set the network packet loss rate
- Observe the following types of log output, all of which can detect timeout

Type 1:(Types of analysis we focus on)
[code]

Type2:

[code]

Type3:

[code]

[2022-03-22 16:55] dgrisonnet commented on #988
I don't know of any tool for that. The only good metrics documentation I have ever seen is this one from GKE: https://cloud.google.com/monitoring/api/metrics_kubernetes. Maybe you could try to figure out if this is built based on an OSS project that we could reuse here.

[2022-03-23 08:49] MisterTimn commented on #976
Is this something that will get changed in future versions? Because we cant rely on autopodscaling with the metrics server because of this, when instances get restarted/scaled we have no metrics and sometimes this 0 state can last up to 19 hours

For now we will use our Prometheus metrics and an adapter for the auto scaling instead.

[2022-03-23 08:57] serathius commented on #810
To give context about why I said that setting limits is not a best practice, even though most documentation says to do it. https://twitter.com/thockin/status/1134193838841401345?lang=en

[2022-03-23 09:20] yangjunmyfm192085 commented on #976
Relevant code modifications have been submitted, waiting for review

[2022-03-23 09:50] serathius commented on #988
Glad to see we got that right :P

[2022-03-23 13:11] RafaelMoreira1180778 opened #989 ""the HPA was unable to compute the replica count: failed to get memory utilization: missing request for memory/cpu""
### What happened?

I created a deployment, a service and an HPA. I deployed the metrics server and the HPA is throwing errors about requests not defined on the deployment when clearly the resources are requested and limited.

The errors thrown are:

[code]

The deployment has the resources well defined:
<pre>
<details>
$ kubectl get deployment pwa -n pwa -o yaml
apiVersion: apps/v1
kind: Deployme

[2022-03-23 13:24] yangjunmyfm192085 commented on #989
Hi, @RafaelMoreira1180778  Could you execute `kubectl top node` and `kubectl top pod -A` commands to verify that metrics-server is working properly?

[2022-03-23 13:26] RafaelMoreira1180778 commented on #989
Hi @yangjunmyfm192085, yest both work correctly:

[code]

[code]

[2022-03-23 13:28] yangjunmyfm192085 commented on #989
This shows that metrics-server is working properly. It seems that you need to seek help from hpa

[2022-03-24 06:12] TBeijen commented on #963
I experienced a similar problem on EKS v1.21: `v1beta1.metrics.k8s.io` shown as unavailable via `kubectl get apiservice`, hpa's not being able to scale.

Cloudwatch kube-controller-manager showed lines like:
[code]

In this case it were new clusters where some things were different compared to clusters we already have running where everything works fine:
* Provisioned using v18 of https://github.c

[2022-03-24 07:30] stevehipwell commented on #963
@TBeijen your issue is/was separate and is specifically about the changes that were made in the v18 release of the EKS module dropping almost all SG rules. I'm not sure if the module docs have been updated but it's covered in a number of issues. As an aside, and I'm sure you're aware of this, when using the AWS VPC CNI you don't need to use host network for MS as long as your SGs are configured co

[2022-03-24 08:28] TBeijen commented on #963
@stevehipwell Thanks for the confirmation. I was aware of the dropped sg rules, by reading the v18 docs so it _is documented_. I just failed to grasp the impact on Extension API servers straight away.

This quite well summarizes how node sg affects to what extent EKS API can access pods (https://docs.aws.amazon.com/eks/latest/userguide/cni-custom-network.html) and clarifies how the added sg rule i

[2022-03-24 09:44] stevenlii opened #990 "unable to fetch metrics from node c2: request failed - "403 Forbidden""
**What happened?**
I execute this:
`kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml
`
and args:
[code]
log shows:
`unable to fetch metrics from node c2: request failed - "403 Forbidden"

`**What did you expect to happen?**
How to resolve it?

**Anything else we need to know?**
`kubectl describe apiservice v1beta1.metrics.k8s.io`
[code]
I'

[2022-03-24 10:25] stevenlii commented on #990
add command doesn't work either
[code]

[2022-03-24 11:26] yangjunmyfm192085 commented on #990
Sorry, can you print out the logs of metrics-server? I want to know where is the fault

[2022-03-24 11:47] stevenlii commented on #990
And I change service to NodePort. So I clould access by
`https://myIp:nodePort/stats/summary`
and it shows:
`{
kind: "Status",
apiVersion: "v1",
metadata: { },
status: "Failure",
message: "forbidden: User "system:anonymous" cannot get path "/stats/summary"",
reason: "Forbidden",
details: { },
code: 403
}`

[2022-03-24 11:56] yangjunmyfm192085 commented on #990
From the log, there is no permission to access metrics(Of course, you can't access it directly below.)
Could you try to follow the steps below, see if it solves your problem
https://github.com/kubernetes-sigs/metrics-server/blob/master/README.md#requirements

[2022-03-24 12:36] stevenlii commented on #990
I have been verified the requirements
**The kube-apiserver must [enable an aggregation layer](https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/).**
my kube-apiserver configuration

[code]

**Nodes must have Webhook [authentication and authorization](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-authentication-authorization/) enabled.**

[2022-03-24 13:35] yangjunmyfm192085 commented on #990
ok, thanks for the verification. What is your environment?
Alternatively, you can get metrics with the following command
[code]

[2022-03-24 13:35] yangjunmyfm192085 commented on #990
NODE_NAME=<Name of node in your cluster>

[2022-03-24 20:33] pipiobjo opened #991 "Restart Loop with Kind (Kubernetes in Docker) Setup"
**What happened**:
Endless metrics-server pod restarts

**What you expected to happen**:
Successful started metrics server

**Anything else we need to know?**:

**Environment**:
- Kubernetes distribution: [kind](https://github.com/kubernetes-sigs/kind/releases/tag/v0.12.0)

[code]

- Kubernetes version (use `kubectl version`): v1.23.4
[code]

- Steps to reproduce:

<details>

[code]

</details>

-

[2022-03-24 21:20] pipiobjo commented on #991
I didnt match the container port ... sorry for the noise.
--secure-port=4443

[code]

[2022-03-24 21:20] #991 closed

[2022-03-24 22:32] k8s-gpubuilder commented on #448
I'm kind of amazed that in the standard install (kubeadm) in the year 2022, the metric server is still broken by design, right after installing it on a standard, vanilla uncustomized cluster. Why isn't this fixed already???
Why isn't enable-aggregator-routing=true enabled by default?

[2022-03-25 01:44] stevenlii commented on #990
Thank you very much. I run it and get returns like this, it seems metrics ok
[code]

[2022-03-25 02:07] stevenlii commented on #990
My environment：computer room self-build, which based cloud platform openstack, centos 7。
This issue  [95](https://github.com/kubernetes-sigs/metrics-server/issues/95 ) seems met the same question with me. I followed the last guy [yueyongyue](https://github.com/yueyongyue)‘s description , changed kubelet from `--authorization-mode=Webhook`  to `--authorization-mode=AlwaysAllow`, but I still not cle

[2022-03-28 02:22] yangjunmyfm192085 commented on #983
Hi, @grunlab, @serathius , I haven't made any progress on this issue lately.
Does this problem still exist in the environment? Could metrics-servcer get metrics normally if no Pod is restarting? @grunlab

[2022-03-28 07:52] yangjunmyfm192085 opened #992 "pull-metrics-server-verify logcheck failed"
**What happened**:
Update pr #972, verify check failed. Error message:

[code]
The reason has not been analyzed.
`make verify` is correct in my own environment.
**What you expected to happen**:
pull-metrics-server-verify logcheck success.
**Anything else we need to know?**:

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.):
- Container Network Setup (flannel, cali

[2022-03-28 07:57] yangjunmyfm192085 commented on #992
/cc @serathius , Have you met similar problems?

[2022-03-28 08:49] serathius commented on #992
cc @pohly

[2022-03-28 13:08] dalgibbard commented on #985
Raised against the APIserver upstream as linked; Ideally though, it would be good to see a "minimum tls version" flag perhaps, within the metrics server?
See a similar change made to the AWS Loadbalancer Controller; https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2547

[2022-03-28 13:10] grunlab commented on #983
@yangjunmyfm192085
The problem is still present.
Metrics-server container mainly restart when other pods are deployed/stopped on the cluster but it also happen (not so often) when nothing special happen on the cluster.
I suspect that the issue could be linked to some ponctual disk IO perf issues on the VMs hosting the cluster (VMs are hosted on a shared ESX infrastruture)
In between, I've deployed

[2022-03-28 18:49] evheniyt commented on #983
I also have a problem with metrics-server restarts
kubernetes version: v1.23.1
metrics-server version 0.6.1
[code]

Attaching full logs
[metrics.logs.zip](https://github.com/kubernetes-sigs/metrics-server/files/8365431/metrics.logs.zip)

[2022-03-29 05:16] yangjunmyfm192085 commented on #983
The logs show similar failures.

[2022-03-30 00:35] yangjunmyfm192085 commented on #992
@pohly, This problem seems to block the `test pull-metrics-server-verify` of metrics-server. Could you help analyze the reason? I have not find out why.
thanks

[2022-03-31 04:57] ankitakhot92 commented on #976
I see the same issue, Metrics server don't provide CPU and Memory stats of pods with init containers (using latest chart 3.8.2). @yangjunmyfm192085 what is the ETA of release with this fix ?

[2022-03-31 07:10] pohly commented on #992
The go.mod file seems to reference an older version: https://github.com/kubernetes-sigs/metrics-server/blob/5e14cc842eadb862cea12d092b6d882368df89da/go.mod#L20

Can you try with the latest one?

[2022-03-31 07:15] yangjunmyfm192085 commented on #992
Let me update it, thanks.

[2022-03-31 07:52] yangjunmyfm192085 commented on #992
I find it does not work
https://github.com/kubernetes-sigs/metrics-server/pull/994
Could you please take a look again?@[pohly](https://github.com/pohly)

[2022-03-31 07:57] pohly commented on #992
Did something change in the Prow job, like updating to Go 1.18?

[2022-03-31 08:14] yangjunmyfm192085 commented on #992
Haven't upgraded to Go 1.18, so don't know what's wrong?

[2022-03-31 08:17] pohly commented on #992
This is something that gets done across the board in test-infra automatically: https://github.com/kubernetes/test-infra/commit/d82a8e448da02ea9f8349cff22cae07463b9070d

The current kubekins-e2e image uses Go 1.18.

Anyway, that seems to be it. I was able to reproduce the failure with Go 1.18. Updating x/tools fixed it for me, let's see whether the job now passes: https://github.com/kubernetes-sigs

[2022-03-31 11:35] #992 closed

[2022-03-31 16:12] #985 closed

[2022-04-01 08:47] yangjunmyfm192085 opened #996 "The main branch and pr#972's scrape benchmark comparison results"
**What would you like to be added**:
The main branch and pr#972's scrape benchmark comparison results
**Why is this needed**:
Compare the performance changes after `rewriting scraper goroutine scheduling` modification

The scrape period is set to 5s, and the running time is 16s

main branch test results:

goos: linux
goarch: amd64
pkg: sigs.k8s.io/metrics-server/pkg/server
cpu: QEMU Virtual CPU ve

[2022-04-01 08:50] yangjunmyfm192085 commented on #996
/cc @serathius  @dgrisonnet , Judging from the benchmark results, no advantage of the modification is seen. Is there something wrong with my analysis?

[2022-04-02 07:54] tomsunyu opened #997 "K8s node memory high"
Hi:
    I executed the following command and returned the result:

[code]
Every node's total memory is 64GiB, but I found that the sum of pod memory of each node is far from the above results. Also I collect monitoring data of every node by node_exporter, there is a big gap with the above results.

Do you know why?

[2022-04-05 01:22] yangjunmyfm192085 commented on #997
an you describe in more detail?
Fill in the template information completely.
so that we can analyze it.

[2022-04-05 15:13] dgrisonnet commented on #997
Metrics-server and node_exporter are not using the same source of data to compute the node's memory usage. Metrics-server is taking the sum of the memory utilization of all the containers on the node whereas node_exporter takes the memory usage of the node from the procfs directly. Seeing big gaps between both data should mean that there is something on your machines that is taking a lot of memory

[2022-04-05 15:14] dgrisonnet commented on #997
/kind support

[2022-04-05 15:16] RafaelMoreira1180778 commented on #989
Hello @rastkov. Yes I managed to solve it.

My problem was: I created a deployment and a statefulset and, since I use CDK8s, by mistake I used the same labels for the template of the pods for the statefulset and the deployment. This means that when creating and HPA pointing to the deployment was picking up the pod of the statefulset.

In this case the HPA was working correctly since the statefulse

[2022-04-05 15:16] #989 closed

[2022-04-05 15:36] yangjunmyfm192085 commented on #989
@[RafaelMoreira1180778](https://github.com/RafaelMoreira1180778), Thanks for the reply. We will consider recording this scene in KNOWN ISSUES.

[2022-04-05 15:44] yangjunmyfm192085 commented on #976
@ankitakhot92 , This does not require any changes to metrics-server. What we modified is the code of kubelet, pr has not been approved yet, and this depends on the release of the kubernetes/kubernetes

[2022-04-05 17:02] archoversight opened #999 "metrics-server attempts to connect based upon hostname for kubelet instead of preferred address types"
**What happened**:

Started seeing log entries like the following:

[code]

**What you expected to happen**:

Metrics-server to use my `--kubelet-preferred-address-types=InternalIP,ExternalIP` setting to look only at `InternalIP,ExternalIP` which are all correct for that node:

[code]

metrics-server also seems to attempt DNS resolution and use the node's IPv4 address even though that is not a val

[2022-04-05 18:23] serathius commented on #999
Not sure what DNS resolution you mean, however looks like Metrics Server connects to ExternalIP even though InternalIP is preferred and provided in node status. It's important to note that ExternalIP is IPv6, which we have never tested.

Would be good to confirm if the issue is related to ExternalIP being IPv6.

[2022-04-05 19:14] hahewlet opened #1000 "Incorrect support information for K8s 1.22 in the Compatibility Matrix"
**What happened**:
HELM chart 5.3.5 failed to deploy in a K8s 1.22.6 cluster in EKS.

**What you expected to happen**:
I expected success because the Compatibility Matrix, https://github.com/kubernetes-sigs/metrics-server#compatibility-matrix for the Metric Server states the supported K8s version is *1.8+.

**Anything else we need to know?**:
Here is the error message when attempting to deploy the

[2022-04-05 20:52] serathius commented on #1000
Contributions are welcomed!

[2022-04-06 00:37] yangjunmyfm192085 commented on #999
Hi, @serathius @[archoversight](https://github.com/archoversight), metrics-server parses kubelet addresses in order, The default prioritys are: `corev1.NodeHostName` > `corev1.NodeInternalDNS` > `corev1.NodeInternalIP` > `corev1.NodeExternalDNS` > `corev1.NodeExternalIP`. Of course you can use `kubelet-preferred-address-types` to modify.
But what I want to know is, why is the ip corresponding to t

[2022-04-06 00:40] yangjunmyfm192085 commented on #999
Could you try to resolve your issue by add  the `kubelet-preferred-address-types` flag? @archoversight

[2022-04-06 01:12] yangjunmyfm192085 commented on #1000
@hahewlet, sorry, I  wonder where did you get your manifest file from?
The apiVersion of APIService in the official manifest file of 0.4.0 ~ 0.4.3 is `apiregistration.k8s.io/v1`, not `apiregistration.k8s.io/v1beta1`

`https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.4.0/components.yaml`
......
`https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.4.4/compone

[2022-04-06 02:47] javadoors commented on #828
I get the same error on v0.6.1,

[2022-04-06 02:48] javadoors commented on #828
the error shows below:
root@test-vm-luxin:/opt/paul/kubernetes# curl https://127.0.0.1:8001/stats/summary
curl: (35) error:1408F10B:SSL routines:ssl3_get_record:wrong version number

[2022-04-06 05:08] yangjunmyfm192085 commented on #828
This should be another issue about certificate.

[2022-04-06 15:12] hahewlet commented on #1000
@yangjunmyfm192085 The metric server was referenced by the helm chart release 5.3.5. So under the covers it is whatever manifest associated with the helm chart.

[2022-04-06 15:17] serathius commented on #1000
The compatibility matrix doesn't apply to helm chart, which is it's own thing.

[2022-04-06 15:17] serathius commented on #1000
cc @stevehipwell

[2022-04-06 16:43] stevehipwell commented on #999
I'm also seeing this issue or something very similar on IPv4 using AWS VPC CNI custom networking, which functions similarly to IPv6 in regards to pod IPs not being in the host IPv4 subnets.

[2022-04-06 17:15] stevehipwell commented on #999
I tried specifying `--kubelet-preferred-address-types=InternalIP` and it doesn't seem to make a difference. My error message is as follows and the 100.65.x.x IP which is being targeted is the IP of the secondary networking ENI attached to my node.

@yangjunmyfm192085 could you confirm that the internal IP flag is being respected when set as the only way I can see this happen is by doing a hostname

[2022-04-06 19:01] hahewlet commented on #1000
We aren't targeting the latest metric server version. Our tooling has a static call to helm chart 5.3.5 which deploys 0.4.1. This is a legitimate practice to install via any helm chart that remains available. We have no issues deploying in this manner until now. AWS just added support for K8s 1.22 and we ran into the reported error message.

In looking at artifact hub, I see that the more recent h

[2022-04-06 19:52] stevehipwell commented on #1000
@hahewlet the chart you're using is only tangentially related to this project; in as much as they use the binary artifact in their image. The chart and the image it uses are both maintained by Bitnami. You need to check out the Bitnami image compatibility and their chart compatibility, I highly doubt the chart is valid for v1.22 given it's age.

For clarification in a Helm chart you have to consid

[2022-04-06 21:09] archoversight commented on #999
Already set to `--kubelet-preferred-address-types=InternalIP,ExternalIP`... as described in my original report.

[2022-04-06 21:13] archoversight commented on #999
I would like to point out that the `internalIP` is IPv6 and the `externalIP` is IPv4. This is due to the fact that the nodes are running in a dual stack VPC subnet (IPv4 and IPv6 with an elastic IP attached to the node (which is marked as external)). That IPv6 address is both internal/external since it is a globally routable IP address.

[2022-04-06 21:14] archoversight commented on #999
Ahhhhhh, yes, I can confirm this as well:

[code]

This would seem to be an EKS 1.22 issue then.

[2022-04-06 21:17] #999 closed

[2022-04-07 00:30] yangjunmyfm192085 commented on #999
@stevehipwell  @archoversight , thanks for your test,  it really looks like a defect in EKS v1.22

[2022-04-07 07:24] serathius commented on #1000
Closing as this is not releated to official MS chart

[2022-04-07 07:24] #1000 closed

[2022-04-07 07:35] serathius commented on #999
Wow, great reproduction! Thanks @stevehipwell, we would have never figured out that this can happen without your help.

To my knowledge, dual stack networking is something new in K8s so it might be worth reporting the issue to k/k.

[2022-04-07 07:51] stevehipwell commented on #999
@serathius based on the reported issue it looks like the IPv6 address works fine and it's the incorrect `InternalIP` which doesn't match the node certificate. I'll be testing EKS IPv6 networking shortly so will make sure to revisit that part.

[2022-04-07 10:16] ankitakhot92 commented on #976
i see, thanks @yangjunmyfm192085. Is this the PR https://github.com/kubernetes/kubernetes/pull/108787 ?

[2022-04-07 10:31] yangjunmyfm192085 commented on #976
yeah.

[2022-04-07 11:55] MisterTimn commented on #976
As this seems to be a kubelet issue which is being worked on through https://github.com/kubernetes/kubernetes/pull/108787 I am closing this issue. Thanks everyone!

[2022-04-07 11:55] #976 closed

[2022-04-07 14:44] yangjunmyfm192085 opened #1002 "When metrics-server starts, there is an error log for sharedIndexInformer"
**What would you like to be added**:
metrics-server code optimization, no sharedIndexInformer  error log output
**Why is this needed**:
When metrics-server starts, there is an error log for sharedIndexInformer:
`W0407 14:33:59.626278       1 shared_informer.go:372] The sharedIndexInformer has started, run more than once is not allowed`

/kind feature

[2022-04-07 18:09] archoversight commented on #999
Yup, in my case its a single ENI that has an IPv6 and an IPv4 address, somehow the IPv4 private address is being advertised although the kubelet has a cert that is only valid for the IPv6 and the IPv4 externalIP. That IPv4 private address should NOT be advertised at all.

[2022-04-07 23:09] unacceptable commented on #58
For my friends on EKS make sure you have the username set (and not set to just the session name like I did):

[code]

[2022-04-07 23:11] unacceptable commented on #133
For my friends on EKS make sure you have the username set (and not set to just the session name like I did):

[code]

[2022-04-07 23:15] unacceptable commented on #541
For my friends on EKS make sure you have the username set (and not set to just the session name like I did):

[code]

[2022-04-08 03:13] #878 closed

[2022-04-08 12:02] serathius commented on #133
@unacceptable Recommend adding your solution to https://github.com/kubernetes-sigs/metrics-server/blob/master/KNOWN_ISSUES.md#unable-to-work-properly-in-amazon-eks

[2022-04-10 18:45] #880 closed

[2022-04-11 01:49] tomsunyu commented on #997
I also investigated the situation you said, but I find statistical results of metrics server's memory is bigger than node_exporter. This is where I can't figure it out.

[2022-04-11 01:53] tomsunyu commented on #997
Every kubernetes node's memory utilization by node_exporter is calculated as follows:
[code]

[2022-04-11 16:54] mokhirashakira commented on #963
Upgrading the metrics server to the latest version helped fix the issue. Thank you!

[2022-04-11 16:54] #963 closed

[2022-04-13 10:12] wang-mask commented on #907
i have the same problem, even i have provided flag --kubelet-insecure-tls to Metrics Server.

[2022-04-13 11:04] wang-mask commented on #907
have you solved this problem?

[2022-04-14 00:47] yangjunmyfm192085 commented on #907
@wang-mask, Could you provide the log information of metrics-server?
As far as I know, metrics-server has been running normally in kind environment

[2022-04-14 01:29] wang-mask commented on #907
here are the metrics-server logs:

And i use "kubectl describe " the  metrics-server pod, it says "Readiness probe failed: HTTP probe failed with statuscode: 500"

I use the same .yaml file to apply metrics-server, it works successfully on my intel macbook, but failed on my m1 macbook

[2022-04-14 01:46] yangjunmyfm192085 commented on #907
Sorry, I think some configurations in this environment are not right, I need to confirm with you
- From the error log of metrics-server, it is impossible to access metrics/resource endpoint
- It has only been switched since the v0.6.0 version, but the version  displayed by your description is v0.5.2
Question:
- Please confirm that you are actually using metrics-server v0.6.0 and above
- If so, ple

[2022-04-14 02:02] wang-mask commented on #907
I can sure, i'm using the v0.6.0 metrics-server, and the  components.yaml is from the https://github.com/kubernetes-sigs/metrics-server/releases. How can you tell my version is v0.5.2?

[2022-04-14 05:30] yangjunmyfm192085 commented on #907
From your comment
https://github.com/kubernetes-sigs/metrics-server/issues/907#issuecomment-1097918351

[2022-04-14 05:33] yangjunmyfm192085 commented on #907
[code]
I don't know what's wrong with this environment. But from your comment, the metrics-server version is v0.5.2

[2022-04-14 09:03] yangjunmyfm192085 commented on #1002
I researched this issue recently.
Reason:
https://github.com/kubernetes-sigs/metrics-server/blob/80cef22ba36f7b7b917ed82d63406d41a9d8c539/pkg/server/config.go#L60
and

https://github.com/kubernetes-sigs/metrics-server/blob/80cef22ba36f7b7b917ed82d63406d41a9d8c539/pkg/server/config.go#L69

use the same informer, both call the sharedIndexInformer's Run method, causing the log to be printed:
`The sha

[2022-04-14 10:40] yangjunmyfm192085 commented on #915
Hi, @serathius , Need help for this issue？

[2022-04-14 12:23] grunlab commented on #983
FYI, since I've deployed the Disk IO monitoring on all the cluster nodes, I didn't find any correlation between Disk IO pics and metrics-server container restart ... :-(

[2022-04-14 13:45] yangjunmyfm192085 commented on #983
Thanks for sharing the information

[2022-04-15 17:09] outcoldman commented on #907
With the Docker Desktop, they have switched to cgroupv2, and as I understand cgroupv2 is not supported by the metric server yet, based on https://github.com/kubernetes-sigs/metrics-server/blob/80cef22ba36f7b7b917ed82d63406d41a9d8c539/KNOWN_ISSUES.md

[2022-04-16 03:15] yangjunmyfm192085 commented on #907
`Known causes

Nodes use cgroupv2 that are not supported as of Kubernetes 1.21.`
this is the description in known issues. It depends on whether kubernetes supports cgroupv2 not metrics-server
In kubernetes v1.21 and previous versions, kubernetes does not support cgroupv2

[2022-04-16 07:20] outcoldman commented on #907
Not sure, what is the above means, latest Kubernetes of Docker Desktop is v1.22.5, and when you try to install metrics server you get the errors

[2022-04-16 07:30] yangjunmyfm192085 commented on #907
Thanks for your feedback, I didn't notice it, could you provide the detailed  logs? let me take a look

[2022-04-17 01:45] wang-mask commented on #907
@yangjunmyfm192085  sorry, i just have the same error logs with him, but my k8s version is v1.22.5

[2022-04-17 06:41] yangjunmyfm192085 commented on #907
ok, Could you try to execute the following command, can you get the correct value?
[code]

[2022-04-18 01:49] wang-mask commented on #907
I can get the correct value, like "container_cpu_usage_seconds_total{container="busybox",namespace="default",pod="pod-a"} 0.012976 1650245535292" , it shows the info of my pods. But it takes me a long time (about 20 s) to get the value. And my docker desktop resource is enough(4CPUs, 8 GB Memory)

[2022-04-18 02:10] yangjunmyfm192085 commented on #907
Very valuable analysis.
Could you try to set the `--metric-resolution` flag of metrics-server to 30s or longer to verify whether the data cannot be obtained due to the time-consuming access to the `metrics/resource` endpoint?
If it is this issue, need to focus on analyzing the time-consuming problem of access

[2022-04-18 02:32] outcoldman commented on #907
@yangjunmyfm192085 you are right, changing it from default `15s` to `30s` solved the issue

[2022-04-18 02:33] wang-mask commented on #907
After i set the --metric-resolution=40s.
The logs are:
[code]

And the pod show:
[code]

[2022-04-18 02:36] wang-mask commented on #907
@yangjunmyfm192085  oh, i check it again, it finally works. Thank you !!

[2022-04-18 02:37] yangjunmyfm192085 commented on #907
Before metrics-server is ready, it needs to collect data for two cycles. You can wait 80s to see the status

[2022-04-18 02:42] yangjunmyfm192085 commented on #907
@wang-mask @outcoldman, Thank you both for your feedback.
 Next, need to analyze why the access time is so long, or solve the issue directly by adjusting the parameters?

[2022-04-18 02:46] yangjunmyfm192085 commented on #907
/cc @serathius , I'm not sure if this is a typical issue, do we need to add it to known issues?

[2022-04-18 04:15] yangjunmyfm192085 commented on #983
Hi, @grunlab , Could you help to confirm whether the issue is similar to the following?
https://github.com/kubernetes-sigs/metrics-server/issues/907#issuecomment-1101017371

[2022-04-18 04:55] XBYAbner commented on #927
Environment:
- hard way
- calico
- Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.8", GitCommit:"7061dbbf75f9f82e8ab21f9be7e8ffcaae8e0d44", GitTreeState:"clean", BuildDate:"2022-03-16T14:10:06Z", GoVersion:"go1.16.15", Compiler:"gc", Platform:"linux/amd64"}
- Server Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.8", GitCommit:"7061dbbf75f9f82e8ab21f9be7e8ffca

[2022-04-18 05:40] yangjunmyfm192085 commented on #927
Hi, @XBYAbner , Could you fill in the required information according to the template of @serathius ?
Or at least adjust the log level of metrics-server and post the log information, thanks.

[2022-04-19 08:57] serathius commented on #1002
Starting informer twice seems like a valid reason for a `warning` log. Strange for me  is that `informer.Core().V1().Nodes()` starts the informer. Are we sure about this?

[2022-04-19 08:58] serathius commented on #915
I'm not working on it.
/remove-lifecycle stale

[2022-04-19 09:06] yangjunmyfm192085 commented on #915
/assign

[2022-04-19 09:23] yangjunmyfm192085 commented on #1002
Looks like we started here
https://github.com/kubernetes-sigs/metrics-server/blob/eac5deeb1338253dd7ad0a54e9ed79dba0c97cda/pkg/server/server.go#L95

[2022-04-19 11:34] serathius commented on #907
What exact issue you are talking about? Sorry, just got from my holidays and I don't have time to read whole thread. Can you provide a tldr?

[2022-04-19 11:35] serathius commented on #927
Please create a new issue and follow bug report template.

[2022-04-19 11:47] serathius commented on #1002
I think we can skip this call then.

[2022-04-19 11:54] yangjunmyfm192085 commented on #907
Hi, @serathius Hope you had a nice holiday.
I mean, according to the feedback of the issue, it takes more than 20 seconds to access the `/metrics/resource` endpoint.
Our default value of `--metric-resolution` flag is 15s
It takes a long time to access the `/metrics/resource endpoint`. I don’t know if it happens often

[2022-04-19 11:55] yangjunmyfm192085 commented on #1002
ok, Let me check if it works

[2022-04-19 11:57] yangjunmyfm192085 commented on #907
I'm wondering if https://github.com/kubernetes-sigs/metrics-server/issues/983 has a similar issue

[2022-04-19 12:03] serathius commented on #907
`/metrics/resource` taking more than 1 second is an issue on cluster side an not Metrics Server. Fact that changing metrics-resolution is coincidence, as fact that request timeout in Metrics Server is calculated based on it is not great and we should consider fixing this.

In this case it's not metrics server fault and it's ok that it is not working. What I would expect though, that Metrics Server

[2022-04-19 12:05] yangjunmyfm192085 commented on #907
Yeah. I think this should be optimized

[2022-04-20 02:22] yangjunmyfm192085 opened #1006 "Optimize the timeout setting and timeout logging of metrics-server accessing the /metrics/resource endpoint"
**What would you like to be added**:
Judging from the recent issue feedback, there are some cases where a endpoint access ` /metrics/resource`  timed out.
The timeout time in the current metrics-server is not configurable, it is related to the time of metric-resolution
issue such as:
https://github.com/kubernetes-sigs/metrics-server/issues/907

**Why is this needed**:
- We need to consider providi

[2022-04-20 13:15] grunlab commented on #983
@yangjunmyfm192085

The issue looks not similar to [#907](https://github.com/kubernetes-sigs/metrics-server/issues/907#issuecomment-1101017371)

I'm getting the containers resources instantly on each cluster nodes when running this:
[code]

I've also tried to increase the ```--metric-resolution``` from 15s to 30s ... same issue, metrics-server container is still restarting frequently :-(

[2022-04-20 14:50] yangjunmyfm192085 commented on #983
ok, so it looks like it might not be the same issue

[2022-04-20 16:24] alvaropalmeirao opened #1008 "metrics-server 0.6.x - "Skipping container usage metric" err="unexpected decrease in cumulative CPU usage value""
Since I've upgraded metrics-server from 0.5.x to 0.6.x, the metrics-server container is giving me these errors:
[code]

Kubernetes version:
[code]

Metrics-server version:
[code]

Any clue on this?

Thank you for your support.

[2022-04-21 00:24] yangjunmyfm192085 commented on #1008
Haven't been able to recover?
`kubectl get --raw /api/v1/nodes/$NODE_NAME/proxy/metrics/resource` 可以获取到正确的数据吗?

[2022-04-21 09:42] alvaropalmeirao commented on #1008
How can i see if was able to recover?

Data from kubectl get --raw /api/v1/nodes/$NODE_NAME/proxy/metrics/resource:

[code]

[2022-04-21 11:27] yangjunmyfm192085 commented on #1008
- Error `"unexpected decrease in cumulative CPU usage value` means that the data obtained by the metrics-server from the kubelet has a smaller value than the old data,  this shouldn't happen.
- If this happens, it means that there is an abnormality in the data obtained by the kubelet from the container, this is not a metrics-server issue
- ` recover` I mean, Is the metrics-server working properly

[2022-04-21 11:44] yangjunmyfm192085 commented on #1008
From the data you get, there is something wrong. Is this data complete?

The above description is `container_cpu_usage_seconds_total`, but the actual data is `pod_memory_working_set_bytes`
[code]

[2022-04-24 12:57] #906 closed

[2022-04-25 12:43] jkaniuk commented on #710
/remove-lifecycle rotten

/cc @krzysied

[2022-04-25 13:09] #1002 closed

[2022-04-25 13:27] #1006 closed

[2022-04-25 18:12] hussam-qasem commented on #525
Simply run:
[code]
Make sure to adjust the namespace accordingly, e.g. `default` or `kube-system`

[2022-04-26 11:51] Swaps76 commented on #448
I'm running an EKS cluster and installed the metrics server - I added these two arguments to the components.yaml and applied;

[code]
The pod starts however the api-service fails;
[code]
Running a describe on the apiservice gives either;
[code]
I've checked the api-server logs in cloudwatch and I can see the following flag is set;
[code]

I've been through the troubleshooting guide and checked the

[2022-04-26 13:08] yangjunmyfm192085 commented on #448
Can you provide the status of the metrics-server and the logs of the metrics-server?

[2022-04-26 13:27] serathius commented on #448
If `--enable-aggregator-routing="true"` there should a simple conclusion. Your problem is unrelated to the issue discussed here. Please file a separate issue to avoid obscuring fix proposed here that others might use.

[2022-04-27 09:30] #983 closed

[2022-04-27 09:31] Swaps76 opened #1010 "metrics-server on EKS - api-service is in FailedDiscoveryCheck"
I'm running an EKS cluster and installed the metrics server - I added these two arguments to the components.yaml and applied;
[code]
The pod starts however the api-service fails;
[code]
Running a describe on the apiservice gives either;
[code]
I've checked the api-server logs in cloudwatch and I can see the following flag is set;
[code]
I've been through the troubleshooting guide and checked the s

[2022-04-27 11:55] Swaps76 commented on #1010
I've rebuilt my EKS cluster using the ekscli utility and I got a slightly different error when installing the metrics server;

[code]

So i amended the components.yaml so the service was using port 443 not port 4443 and now the metrics-server is running.

Note - my OP pertained to a terraform build, so likely something in my config was wrong.

[2022-04-27 11:55] #1010 closed

[2022-04-27 12:52] yangjunmyfm192085 opened #1012 "Update go version to 1.18.1"
**What would you like to be added**:
Update go version to 1.18.1
**Why is this needed**:
Go supports fuzzing in its standard toolchain beginning in Go 1.18.
Judging by pr [#1009](https://github.com/kubernetes-sigs/metrics-server/pull/1009), we are missing fuzzing. so need to Update go version to 1.18.1 to add go fuzz tests.

/kind feature

[2022-04-27 12:53] yangjunmyfm192085 commented on #1012
/cc @serathius

[2022-04-27 12:57] bishenghua opened #1013 "Kubectl top nodes works, but kubectl top pods returns an error"
<img width="1896" alt="image" src="https://user-images.githubusercontent.com/1465604/165523481-e7d7a90a-cb49-475f-8d7e-bb3b4cb810b3.png">

[root@bsh-86 ~]# kube-apiserver --version
Kubernetes v1.23.5
[root@bsh-86 ~]# kubectl get node -o wide
NAME           STATUS   ROLES    AGE   VERSION   INTERNAL-IP    EXTERNAL-IP   OS-IMAGE                KERNEL-VERSION           CONTAINER-RUNTIME
172.20.58.86

[2022-04-27 13:26] yangjunmyfm192085 commented on #1013
Hi, @bishenghua Can you fill in the details according to the issue template?
Because I can't see any log information of metrics-server, and don't know what's the problem

[2022-04-27 14:49] roopakrastogi opened #1014 "OpenAPI spec for "v1beta1.metrics.k8s.io" failed with: failed to retrieve openAPI spec, http error: ResponseCode: 500, Body: Internal Server Error: "/openapi/v2": the server could not find the requested resource."
**What happened**:

**OpenAPI spec for "v1beta1.metrics.k8s.io" failed with: failed to retrieve openAPI spec, http error: ResponseCode: 500, Body: Internal Server Error: "/openapi/v2": the server could not find the requested resource.**

kube-apiserver logs
[code]
kube-controller logs
[code]

**What you expected to happen**:
HPA functionality

**Anything else we need to know?**:

Metrics-server is

[2022-04-27 15:16] serathius commented on #1014
In manifests you can see you run `8s.gcr.io/metrics-server-amd64:v0.3.6` which is very old version that doesn't work newer K8s versions.

Please read https://github.com/kubernetes-sigs/metrics-server#compatibility-matrix

[2022-04-27 15:16] #1014 closed

[2022-04-27 16:53] jicowan commented on #694
Prometheus is able to scape metrics from EKS Fargate pods, as is ADOT. There are several restrictions that are imposed when you use Fargate. For example, you can't mount a host path or use hostNetwork, or run a container as privileged. These controls in place to protect the Fargate platform from untrusted/malicious code. @nwsparks alludes to this in his response.

[2022-04-28 00:32] yangjunmyfm192085 commented on #1012
yeah, We only use it for fuzzing

[2022-04-28 00:42] yangjunmyfm192085 commented on #1013
Thanks for the information.
From the log analysis, the pod data obtained by metrics-server is 0. Could you use the following command to get the result?
[code]

[2022-04-28 03:08] divinesocial commented on #917
@david-uash thanks a lot for adding the information to fix this problem.
i was losing my mind over this

[2022-04-28 03:09] Divine1 commented on #917
@david-uash
thanks a lot for adding the information to fix this problem.
i was losing my mind over this

[2022-04-28 03:21] bishenghua commented on #1013
This is the result:
<img width="857" alt="image" src="https://user-images.githubusercontent.com/1465604/165669870-09a4be20-c3ed-4fd6-bf6b-1f42fefc104b.png">

[2022-04-28 04:18] yangjunmyfm192085 commented on #1013
The metrics-server collects data from the kubelet `/metrics/resource` endpoint. Judging from the information just reported. The kubelet does not count the metrics information of the pods.
This should not be a bug of metrics-server

[2022-04-28 04:22] yangjunmyfm192085 commented on #1013
/remove-kind bug
/kind support

[2022-04-28 04:35] bishenghua commented on #1013
Ok, thanks.

[2022-04-28 08:11] #1012 closed

[2022-05-01 02:12] timofey-drozhzhin commented on #1014
Are you sure the `spec.containers.resources.requests.cpu` value is specified inside the deployment?

In order for server-metrics to calculate the % of the cpu used by the pod, it needs to know the amount of cpu that was allocated for that pod. Same goes with memory.

I would try deploying this HPA demo by DigitalOcean to see if the metrics show up:
[code]

[2022-05-01 03:44] shashankn91 commented on #792
@lbogdan  I don't think you will get a response to a closed ticket. You might want to create a new ticket and suggest your approach to maintainers. If the change is not huge why don't you create a PR and seek approval from maintainers? It will be great for everybody.

[2022-05-01 11:26] lbogdan commented on #792
Hey @shashankn91 , thanks for the heads-up!

This has actually been fixed in 1.23, and doing a bit of digging, I tracked it back to this PR: https://github.com/kubernetes/kubernetes/pull/103424 , refactoring `removeTerminatedContainerInfo()` (which seemed to not work correctly as per [this comment](https://github.com/kubernetes/kubernetes/issues/103368#issuecomment-999863070)) with `filterTerminat

[2022-05-02 14:30] yangjunmyfm192085 opened #1017 "Optimization: When the pod data obtained from the kubelet /metrics/resource endpoint is abnormal, we should skip this data without affecting the data parse of other nodes/pods"
**What would you like to be added**:
When a pod start/stop occurs in the cluster, it will not cause  data scrape failure of the metrics-server
**Why is this needed**:
Currently, when data  obtained from the kubelet's `/metrics/resource` endpoint to be parsed, if parse an entry fails, the whole data scrape will fail. We expect abnormal entries to be skipped, do not affect the data scrape of other n

[2022-05-03 09:07] Al4DIN commented on #976
I've the same issue on kubectl `v1.22.5` client & `v1.22.1` for the server, I can only retrieve metrics from node and some pods from my `kube-system` since I installed my metrics-server on this namespace but can't get other pods metrics.
I'm using `k8s.gcr.io/metrics-server/metrics-server:v0.4.1`
And this is my metrics-server pod logs :
``

[2022-05-03 16:17] logicalhan commented on #1017
/sig instrumentation

[2022-05-04 08:34] Al4DIN opened #1018 "Metrics are just available for nodes and kube-system namespace"
Hello @serathius , @yangjunmyfm192085
I've the same issue on kubectl `v1.22.5` client & `v1.22.1` for the server, I can only retrieve metrics from node and some pods from my `kube-system` since I installed my metrics-server on this namespace but can't get other pods metrics.
I'm using `k8s.gcr.io/metrics-server/metrics-server:v0.4.1`
This is the result of my `kubectl get --raw /api/v1/nodes/miniku

[2022-05-04 10:03] yangjunmyfm192085 commented on #1018
You can check if it exists https://github.com/kubernetes-sigs/metrics-server/issues/976#issuecomment-1059061172 mentioned in the case.

[2022-05-04 10:16] Al4DIN commented on #1018
Thank you for your reponse, here's my command result, and since I'm using minikube on Windows
`kubectl get --raw /api/v1/nodes/$NODE_NAME/proxy/stats/summary`
[code]

[2022-05-04 15:22] #948 closed

[2022-05-05 00:31] yangjunmyfm192085 commented on #1018
Yeah, Your analysis is correct.
Then this is not a metrics-server issue.
It is recommended to open an issue in kubernetes/kubernetes and try to analyze this issue.

[2022-05-05 00:32] yangjunmyfm192085 commented on #1018
/kind support

[2022-05-05 08:35] Al4DIN commented on #1018
Okay, thank you.
I'm closing this issue.

[2022-05-05 08:35] #1018 closed

[2022-05-05 14:21] yangjunmyfm192085 opened #1020 "Consider adding fuzzing to other parts of metrics-server in addition to decodeBatch"
**What would you like to be added**:
We've tried adding fuzzing to the decodeBatch function, but this is done after the decodeBatch function bug. Fuzzing should also be added to other functions to try to find hidden bugs.
**Why is this needed**:
Add fuzzing to other parts of metrics-server

/kind feature

[2022-05-05 14:23] yangjunmyfm192085 commented on #915
/unassign
Currently working on fuzzing, haven't had time to work on this issue yet

[2022-05-06 15:01] rittneje opened #1021 "Update PodDisruptionBudget to policy/v1"
**What would you like to be added**:

https://github.com/kubernetes-sigs/metrics-server/blob/master/manifests/components/high-availability/pdb.yaml

Please update the PodDisruptionBudget to use policy/v1.

**Why is this needed**:

The policy/v1beta1 api version is deprecated in Kubernetes 1.21 and will be dropped in 1.25. https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.2

[2022-05-06 19:04] thesalmonidae commented on #917
I have exactly same issue, but the "--kubelet-insecure-tls" or "--kubelet-insecure-tls=true" does not fix the failing readiness probe.

[2022-05-06 19:54] serathius commented on #917
Readiness probe failed is a just a symptom of internal issue. Incorrectly configured cluster certificates is one of the causes that can be addressed by passing `--kubelet-insecure-tls` flag, however you cannot know the fix without doing some debugging.

**Please read metrics server logs!!**
Without doing so you are just guessing and picking random solutions from internet.

[2022-05-07 01:51] yangjunmyfm192085 commented on #1021
The kubernetes version supported by the current metrics-server 0.6.x version is 1.19+
In what version to update to policy/v1, depends on requirement.
@serathius @dgrisonnet

[2022-05-07 10:25] thesalmonidae commented on #917
I was able to try this again. So by to logs I found two issues:

1. No certificate, ignore TLS
2. Scraping takes too long (I have no clue why), increase scraping interval

[code]

[code]

[2022-05-08 17:27] serathius commented on #917
Please don't post unrelated comments on closed issue.

[2022-05-10 08:26] stevehipwell commented on #1021
@rittneje this is already supported in the Helm chart.

https://github.com/kubernetes-sigs/metrics-server/blob/master/charts/metrics-server/templates/_helpers.tpl#L71-L78

@yangjunmyfm192085 I'm pretty sure it was v1.21 which introduced `policy/v1` for `PodDisruptionBudget`.

[2022-05-11 00:29] yangjunmyfm192085 commented on #1021
@stevehipwell , yeah, you are right.
@serathius ,  @dgrisonnet , Do we need to upgrade `PodDisruptionBudget` to `policy/v1` in the main branch?
This means that the new metrics-server needs to be supported by kubernetes version 1.21 and later
If it's reasonable, I'll do it

[2022-05-11 07:14] #1021 closed

[2022-05-11 07:28] yangjunmyfm192085 commented on #710
I have been researching how to add performance testing to metrics-server test process.
The process of using kind test has been implemented.
I will continue to complete `Document how to access and use scalability test results` recently.

[2022-05-11 07:31] serathius commented on #1018
Nice, looks like something we could document as a known issue.

[2022-05-11 07:33] Al4DIN commented on #1018
The problem is that an old issue that It's still not pushed in the release version of Minikube.

[2022-05-11 08:11] serathius commented on #1018
I mean yes, it would be ideal for owners of K8s distribution to fix/document their distro. From Metrics Server side we only can ask Minikube nicely and document it ourselves.

[2022-05-11 09:31] yangjunmyfm192085 commented on #1018
Yeah, we should  document it as a known issue and I'll update the known issue.

[2022-05-11 17:00] hasakura12 opened #1024 "EKS v1.22 "Error from server (ServiceUnavailable): the server is currently unable to handle the request (get nodes.metrics.k8s.io)""
**What happened**:

I created AWS EKS cluster (v1.22). I haven't configured/touched anything on the cluster yet.

I installed metrics-server using k8s-sigs helm chart as well as yaml, resulted in the same error

[code]

[code]

[code]

[code]

[code]

**What you expected to happen**:
Metrics server should return metrics

**Anything else we need to know?**:

**Environment**:
- Kubernetes distributi

[2022-05-11 21:59] pcgeek86 commented on #196
I'm having the same error with Kubernetes metrics-server version 0.6.1 running on Linode Kubernetes Engine (LKE) k8s version 1.23.

Installation command:

[code]

In the Metrics Server Pod logs, I just see this:

[code]

[2022-05-11 23:19] pcgeek86 opened #1025 "Metrics server throwing X509 error in logs, fails to return Node or Pod metrics"
**What happened**:

First, deploy a Linode Kubernetes 1.23 cluster, then ....

Install the Metrics Server.

[code]

Attempt to query Pod/Node metrics.

[code]

Review the logs for the Metrics Server deployment object.

[code]

[code]

**What you expected to happen**:

Metrics server works properly.

**Anything else we need to know?**:

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm,

[2022-05-12 00:42] yangjunmyfm192085 commented on #1024
see if this helps you
https://github.com/kubernetes-sigs/metrics-server/blob/master/KNOWN_ISSUES.md#unable-to-work-properly-in-amazon-eks

[2022-05-12 07:55] hasakura12 commented on #1024
Should be fine right?

[code]

[2022-05-12 09:00] stevehipwell opened #1026 "[feat]: Use port `10250` on the Metrics Server pod to use existing firewall rules"
**What would you like to be added**:
If we change the default port for the Metrics Server pod to `10250` then it would be covered by default firewall rules and work on most clusters out of the box. This is exactly what projects such as Cert Manager and Prometheus Operator do with their web hooks to make them just work.

The general pattern for cluster to pod communication seems to be to use port `

[2022-05-12 09:01] stevehipwell commented on #1026
CC @serathius

[2022-05-12 11:05] hasakura12 commented on #1024
I used Terraform AWS EKS module: https://github.com/terraform-aws-modules/terraform-aws-eks

[2022-05-12 11:20] stevehipwell commented on #1024
@hasakura12 I'm assuming that you used v18? Did you add security groups to enable node to node communication? The "community" module defaults don't work for any node to node communication other than CoreDNS, which is less than helpful (the new AWS TF blueprints aren't any more use as they use the "community" module too). If you got this working you'd still have an issue due to the cluster to node

[2022-05-12 11:41] Dentrax opened #1027 "ux: improve scrape error messages (log + wrap with additional error details)"
**What would you like to be added**:

Improve the following error message to get better readability:

[code]

I don't understand why I'm getting `request failed` error.

* Request to where?
* 404 of what?

We're proposing to wrap additional errors and adding some logs (request path, response details, wrapping with fmt.Errorf, etc.) would be useful:

* https://github.com/kubernetes-sigs/metrics-ser

[2022-05-12 11:52] serathius commented on #1026
This is what we did in https://github.com/kubernetes/kubernetes/pull/105957 so +1 for this change. Making MS configuration simpler by reducing ports needed to be enabled is definitely a good goal.

[2022-05-12 12:32] serathius commented on #1026
Sure, please be sure to:
* Update all ports to 10250 (depending on apiserver configuration it could route requests to service/endpoints or container)
* Update firewall requirements in README.

[2022-05-12 12:38] hasakura12 commented on #1024
@stevehipwell spot on!

I was just comparing SGs between old TF module and the latest and discovered 1025-65535 TCP port ingress rule was lacking in the latest SG.

This and setting `containerPort=10250` fixed the issue. Without setting containerPort didn't work, I guess because Control plane would communicate to kubelet using 10250 and we want metrics server to eavesdrop on that 10250 port?

Anyw

[2022-05-12 12:52] stevehipwell commented on #1026
So just for clarity, I'm expecting to change the default value of ` --secure-port` to `10250` but not make any other changes to the Go code. In the manifests and Helm chart I'll be changing Metrics server to use `10250` for  ` --secure-port` and the deployment port but I'll be leaving the service port as 443, which is in line with the other users of this pattern.

[2022-05-12 12:56] stevehipwell commented on #1024
@hasakura12 that's the rule that used to let Metrics Server communicate between nodes on the kubelet port. There would also have been another rule allowing the control plane to connect to `4443` on the nodes which isn't needed when you run Metrics Server on `10250`.

[2022-05-12 15:05] stevehipwell commented on #1026
@serathius I'm pretty sure that `443` will be open by default in most if not all clusters, for example GKE has it open for Metrics Server. This is how the other projects operate and they are activly using the service to load balance the requests from the control plane.

[2022-05-12 15:17] serathius commented on #1026
I'm not sure if we can about what crazy things people do, so definitely don't think that people have port 443 opened. I also would be worried about assuming that people follow GKE as example, got burned on this to many times (FYI I work on GKE :P). There is a surprising amount of people that setup Kubernetes the hard way and expect everything to work out of the box.

My hope with that change that

[2022-05-13 07:03] nBoeninger commented on #1025
Hello, i'm currently facing the same issue, i'm running kubernetes via docker desktop with version v1.22.5.

[2022-05-13 08:22] stevehipwell commented on #1026
@serathius I agree with the sentiment but does port `443` need to be open anywhere to use it on a `Service`? My mental model has kube-proxy translate the call to the service `kube-system/metrics-server:443` to an `EndpointSlice` which uses the container port (which is why services can always use low ports)?

[2022-05-13 08:42] serathius commented on #1026
My understanding is (definetly not k8s network expert), is that `kube-system/metrics-server` service is translated into domain `metrics-server.kube-system` (or something like that). Domain is then resolved by `kube-dns` to service IP, which is separate IP pool than container one. So the request is send by application to Service IP, only when request gets to host VM, IP forwarding rules controlled

[2022-05-13 08:56] stevehipwell commented on #1026
I'm pretty sure that a request to the metrics server service would be resolved to `metrics-server.kube-system.svc.cluster.local:443` and when the request is made it would be intercepted by iptable, IPVS or eBPF rules which would redirect the traffic to a backend on the container port ([iptables reference](https://kubernetes.io/docs/concepts/services-networking/service/#proxy-mode-iptables)). Assum

[2022-05-16 07:12] alex-berger commented on #948
Waiting for a new (Helm Chart) release, which contains this changes.

[2022-05-16 20:02] JawnnyB commented on #448
For @heyitsmekishore and anyone else using AKS -- I was able to solve this by having MSFT support set --enable-aggregator-routing to true for the clusters exhibiting this issue.

Per an extended conversation with support it appears this option will be set to true by default starting with AKS 1.23.  Hope it helps anyone struggling with this.

[2022-05-17 16:08] alvaropalmeirao commented on #1008
Hi,

I had cut the output on the previous response. Here is the full output:
[code]

Metrics-server pod is running without any problems. This message on the log is the only thing that I found suspicious

[2022-05-18 03:36] yangjunmyfm192085 commented on #1008
I think you are right. when `the deployment has no pods running or the pod is not in a ready state.`
For pods that are not running, the metrics of CPU/mem cannot be counted. This should be normal.

[2022-05-18 07:09] BitProcessor opened #1030 "AWS EKS 1.21: stale service account token"
**What happened**:
We are running metrics-server on AWS EKS 1.21 and have gotten below mail from AWS (removed the irrelevant parts).

[code]

**Environment**:
- Kubernetes distribution:  EKS 1.21
- Kubernetes version: v1.21.9-eks-0d102a7

**Helm release**:
[code]

[2022-05-18 08:13] serathius commented on #1030
cc @stevehipwell

[2022-05-18 08:17] BitProcessor commented on #1030
@serathius ; should be `0.6.1`
https://github.com/kubernetes-sigs/metrics-server/blob/abacf42babf4b4f623e992ff65761cd3902d0994/charts/metrics-server/values.yaml#L5-L9
and
https://github.com/kubernetes-sigs/metrics-server/blob/abacf42babf4b4f623e992ff65761cd3902d0994/charts/metrics-server/Chart.yaml#L6

Double-checked on the cluster in question:
`k8s.gcr.io/metrics-server/metrics-server:v0.6.1`

[2022-05-18 08:18] stevehipwell commented on #1030
@serathius this is the latest version, v0.6.1, unless @BitProcessor has changed the image version manually?

AFAIK our EKS token reports haven't shown Metrics Server as an issue, we're only getting warned a Fluent Bit.

[2022-05-18 08:20] stevehipwell commented on #1030
@serathius it's also worth pointing out that based on the client-go version Metrics Server should be working correctly.

[2022-05-18 08:27] BitProcessor commented on #1030
@stevehipwell @serathius here's a similar issue: https://github.com/fluxcd/flux/issues/3610 (was also listed in the above report btw, removed it because irrelevant for this repo).

There seems to be more to it than only the SDK version, see https://github.com/fluxcd/flux/issues/3610#issuecomment-1125217274

[2022-05-18 11:54] armujahid commented on #1024
I also need to add this rule to allow 4443 port access from controlplane/master nodes to worker nodes
[code]

P.S. rules listed at https://github.com/aws-ia/terraform-aws-eks-blueprints/blob/40b35707d00ea619348a60d242c97f78a18abf2e/examples/complete-kubernetes-addons/main.tf#L107 can be used to solve most issues. Ofcourse rules can be restricted to increase security if required.

[code]

[2022-05-18 14:19] alvaropalmeirao commented on #1008
Ok, i will close this issue now.

[2022-05-19 01:18] liubo20210831 commented on #448
I also encountered the same problem, but I used version 0.5.0, which is normal.
`kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.5.0/components.yaml`

[2022-05-19 01:19] liubo20210831 commented on #448
I also encountered the same problem, but I used version 0.5.0, which is normal.
`kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.5.0/components.yaml`

[2022-05-20 20:31] marvin-w commented on #448
I was running into the same issue and found this issue. For me the error was that the security group for the nodes was missing an ingress allow rule to port 4443 from the cluster security group.

[code]

Adding this here so other people will find it.

[2022-05-20 21:19] slashak74 commented on #448
Thanks @marvin-w  you made my day . btw i'm using metrics-server helm 3.8.2 the latest one .

[2022-05-20 23:37] spowelljr opened #1031 "metrics-server changes with k8s v1.24.0"
Hello, metrics-server is one of the addons for [minikube](https://github.com/kubernetes/minikube), I'm in the process of updating our default k8s version to v1.24.0 and all of our metrics-server integration tests were failing. The pod was never coming up and was repeatedly outputting:
[code]

We've been passing `--metric-resolution=15s` with previous versions of k8s, but once I updated it to `17s`

[2022-05-21 03:02] yangjunmyfm192085 commented on #1031
It takes at least two `metric-resolution` cycles for metrics-server to be ready. When the value of flag`metric-resolution` is large, it is normal for metrics-server pod startup time to become longer

[2022-05-21 05:44] jmcgrath207 opened #1032 "unable to load configmap based request-header-client-ca-file"
This started to occur when I upgraded my Kubenetes from 1.20 to 1.23.5.

[code]

/kind support

[2022-05-22 01:36] ciorisgithub commented on #917
@serathius, I think @thesalmonidae 's response is actually relevant. I had the same problem after adding metrics-server on a docker desktop Kubernetes cluster - used the latest available version 0.6.1. While --kubelet-insecure-tls fixed the cert issue, the second problem can happen when running on a slower hardware. To me adding --metric-resolution=30s to increase the scraping interval was also re

[2022-05-22 06:42] JoshuaAndrew commented on #1032
I have the same problem @jmcgrath207

[2022-05-22 12:53] farmerluo commented on #1032
I have the same problem too

[2022-05-25 08:17] serathius commented on #1032
I expect that request to https://172.20.0.1/api/v1/namespaces/kube-system/configmaps/extension-apiserver-authentication to be done during K8s client creation (not a kubeclient expert). Error `dial tcp 172.20.0.1:443: i/o timeout`  means that Metrics Server running on nodes is unable to connect you apiserver. I expect that you have a networking issue.

[2022-05-25 14:26] ptravishill commented on #448
This fixed my issue with AWS EKS.

[2022-05-26 00:22] jmcgrath207 commented on #1032
I went ahead and tried those command here.

[code]
Running Curl in the Cluster
[code]

[2022-05-26 02:44] jmcgrath207 commented on #1032
So I went ahead and place the metrics server on a older node with the node selector and seems to work now.

values.yaml
[code]

[2022-05-26 02:44] #1032 closed

[2022-05-28 10:00] #910 closed

[2022-05-31 06:42] AndrewSav commented on #983
Good to know that the fix is released, but do we know what was causing the issue? Specifically, why only some people is observing the issue and others are not?

[2022-06-01 09:12] yangjunmyfm192085 opened #1034 "CI fail: verify: golangci-lint not found"
**What happened**:
Run `pull-metrics-server-verify`, an error occurred
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_metrics-server/1033/pull-metrics-server-verify/1531881722621202432
[code]
It should be that `https://install.goreleaser.com/github.com/golangci/golangci-lint.sh` cannot be accessed.
The following URL can be accessed
`https://raw.githubusercontent.com/go

[2022-06-03 10:50] serenagrl opened #1036 "kubectl top pod -A returns "No resources found""
Hi,

I am currently expeiencing an issue where `kubectl top nodes` returns metrics but `kubectl top pods -A` returns "No resources found". I would like to know if there are any solutions or workarounds to rectify it. Thank you.

[code]

The pod log shows multiple "Failed getting complete container metric" and "Failed getting complete Pod metric" entries.

[code]

Installation method from modifying

[2022-06-06 00:54] yangjunmyfm192085 commented on #1036
hi, @[serenagrl](https://github.com/serenagrl), From metrics-server logs and raw metrics obtained by kubelet, you can see that the value of memory is 0, which causes kubectl top pods -A returns "No resources found".
`@Steven Powell` found a similar issue with you.
On the slack sig-instrumentation channel, the conclusion of his question is: `I was able to figure out that the bug was with cri-docker

[2022-06-06 11:20] tkrishtop commented on #1025
Hi, @pcgeek86 I was able to reproduce your issue on the latest minikube v1.25.2 (Kubernetes v1.23.3 on Docker 20.10.12): the metrics-server pod does not start because of X509 error and then `kubectl top node` results in `Error from server (ServiceUnavailable): the server is currently unable to handle the request (get nodes.metrics.k8s.io)`.

The workaround that fixed the issue for me was to add `-

[2022-06-06 12:02] yangjunmyfm192085 opened #1037 "Prepared for Release v0.6.2"
/cc @serathius @dgrisonnet

## Installation
kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.6.2/components.yaml

## Changes since v0.6.1

### Improvements

* Update golang to 1.17.13 (https://github.com/kubernetes-sigs/metrics-server/pull/1071, @ialidzhikov)
* Update some vulnerable dependencies (https://github.com/kubernetes-sigs/metrics-server/pull/1132, @

[2022-06-06 12:37] serathius commented on #1025
Default metrics server configuration requires proper certificate configuration as documented in https://github.com/kubernetes-sigs/metrics-server#requirements.

K8s (dev/non-prod) distributions like minikube and apparently Linode, don't provide a proper Certificate setup that would allow secure communication to Kubelet. Please use `--kubelet-insecure-tls` to disable certificate validation.

To ant

[2022-06-06 12:41] serathius commented on #1037
Fixed the description by editing the top comment. LGTM.

[2022-06-06 14:38] Jejuni commented on #1031
I'm having exactly the same problem on docker after upgrading to 1.24.0.
Before that (1.23.x) everything was fine.
I'm running `--kubelet-insecure-tls` as an arg.

Problem happens both with the latest helm chart of metrics-server (3.8.2) as well as with the chart included in kubernetes-dashboard (3.5.0)
Pod comes up and is alive, but always reports it is not ready:

[code]

[2022-06-06 14:48] serathius commented on #1031
Expect this is dupe of https://github.com/kubernetes-sigs/metrics-server/issues/983

[2022-06-06 14:50] #1034 closed

[2022-06-06 15:36] #964 closed

[2022-06-09 11:27] yangjunmyfm192085 opened #1039 "Automate testing scalability of Metrics Server add statistics on cpu and memory"
**What would you like to be added**:
Automate testing scalability of Metrics Server  add statistics on cpu and memory
**Why is this needed**:
For https://github.com/kubernetes-sigs/metrics-server/pull/972#discussion_r836418847 there is no good benchmark to implement.
Want to test the performance of https://github.com/kubernetes-sigs/metrics-server/pull/972 in the automate testing scalability of Me

[2022-06-09 11:27] yangjunmyfm192085 commented on #1039
/cc @serathius @sanwishe

[2022-06-13 15:41] manfredlift commented on #990
I have the same issue. The only thing that changed was that I upgraded from `0.4.1` to `0.6.1`. When I revert back to the old version everything works.

I am passing `--kubelet-insecure-tls` flag.

[2022-06-14 04:19] hjflz8821 commented on #1030
@BitProcessor
I received the same warning. Have you solved this problem,is there any updates, and is this related to fluent bit?

[2022-06-14 07:47] mohammadkhavari opened #1046 "Metric server is failing to get Memory Usage"
**What happened**:
Metric server is failing to report pods metrics:

kubectl top pod
error: Metrics not available for pod default/consul-f99d7d6ff-5ghxk, age: 269h15m31.270817426s

however it works for nodes:

kubectl top node
NAME      CPU(cores)   CPU%   MEMORY(bytes)   MEMORY%
khavari   543m         9%     9147Mi          42%

**What you expected to happen**:

**Anything else we need to know?**

[2022-06-14 08:02] serathius commented on #1046
Please read https://github.com/kubernetes-sigs/metrics-server/blob/master/KNOWN_ISSUES.md#kubelet-doesnt-report-pod-metrics

[2022-06-14 08:30] stevehipwell commented on #1030
@hjflz8821 Fluent Bit wasn't using a Kubernetes SDK so they needed to make a change to their custom code, if you're using the client-go SDK there isn't meant to be any change needed.

What version of Metrics Server are you running and on which EKS version? Could you supply the part of the email related to Metrics Server?

[2022-06-14 15:32] mohammadkhavari commented on #1046
@serathius
Thanks for your consideration
I have fetching metrics to figure out whether the problem originates from kubelet or not, but by checking summary API I have found that kubelet is incompletely reporting metrics.
It is not reporting memory usage.

`kubectl get --raw /api/v1/nodes/$NODE_NAME/proxy/stats/summary > stst-summary.log`

<img width="530" alt="Screen Shot 2022-06-14 at 7 51 29 PM"

[2022-06-14 22:46] jmvcollaborator commented on #545
just get the file from all the versions components.yaml add and apply:

     k8s-app: metrics-server

    spec:

      containers:

      - args:

        **- --kubelet-insecure-tls**

[2022-06-15 03:05] hjflz8821 commented on #1030
@stevehipwell
I'm using a lower version, I don't know if it's related to this, but my client judges that there is no need to update the Metrics Server about this warning and This question is more likely to be related to fluent-bit
v0.3.6

[code]

Environment:

Kubernetes distribution: EKS 1.21
aws-for-fluent-bit: 2.26.0 (now)

[code]
 this is a part of the cloutwatch log，I'm not sure if this makes

[2022-06-15 03:34] yangjunmyfm192085 commented on #1046
If the version of metrics-server is 0.6.x, I think you should use the command
[code]

[2022-06-15 06:17] stevehipwell commented on #1030
@hjflz8821 the version of Metrics Server you're running is 3 years old and built against a version of client-go which predates the refresh token implementation.

[2022-06-15 08:14] hjflz8821 commented on #1030
@stevehipwell
Thanks a lot for your answer

so if I upgrade the version to V0.6.1, it will most likely solve this problem, because the latest version is equipped with a higher version of client-go

[2022-06-15 08:16] stevehipwell commented on #1030
@hjflz8821 that would be my expectation.

[2022-06-15 11:30] Flydiverny commented on #1030
We were also running a very old metrics-server in our case, and have been tracking this issue after upgrading. But I'm not sure how to verify that the new version actually handles refreshing. I mean we could wait 90 days and see if things start to die but I'd prefer not to 😄 I don't really expect AWS to send out another email either 🤔

[2022-06-15 15:37] Flydiverny commented on #1030
Cheers :) I was a bit lazy, AWS provides some useful docs here:
https://docs.aws.amazon.com/eks/latest/userguide/service-accounts.html#identify-pods-using-stale-tokens

Running the
[code]

CloudWatch logs insights query clearly shows if you have stale tokens in use!

We are using `metrics-server/metrics-server` helm chart version 3.8.2 and it is working as intended! :)

![image](https://user-image

[2022-06-15 20:10] mohammadkhavari commented on #1046
This Issue is not from metric-server side.
both /metrics/resources and stats/summary are logging zero container memory_working_set_bytes however pod's memory_working_set_bytes is not zero.

`container_memory_working_set_bytes{container="etcd",namespace="kube-system",pod="etcd-khavari"} 0 1655320691867
...skip...
pod_memory_working_set_bytes{namespace="kube-system",pod="etcd-khavari"} 1.07737088e+0

[2022-06-15 20:10] #1046 closed

[2022-06-15 21:02] rmendal commented on #990
Ran into the 403 forbidden issue in our eks cluster. Upgrading from 0.5.1 to 0.6.1 and noticed the breaking change in the release notes for 0.6.0 that changes a resource in the cluster role. I added `nodes/stats` back to the cluster role and things work for me now.

[code]

[2022-06-15 21:04] manfredlift commented on #990
Thanks @rmendal, I had the same issue.

[2022-06-16 00:39] yangjunmyfm192085 commented on #990
Why metrics-server v0.6.x still needs `nodes/stats` in eks cluster?

[2022-06-16 00:52] yangjunmyfm192085 commented on #990
I don't understand why?
@serathius @stevenlii   Do you have any suggestions?

[2022-06-16 11:28] rmendal commented on #990
@stevehipwell - All of our clusters are provisioned using Terragrunt and the [cloud posse eks module](https://github.com/cloudposse/terraform-aws-eks-cluster). We're using v0.42.1 release. I can confirm it creates the default security group as defined [here](https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html) and we've not altered that at this time.

As for the metrics server ins

[2022-06-16 12:32] stevehipwell commented on #990
@rmendal this might be un-related but for Metrics Server to function correctly the control plane needs to be able to reach the node on port 4443 and the nodes need to be able to communicate with each other on port 10250. You can reduce this to just port 10250 by changing the container port and `--secure-port` arg to `10250` in the manifest you're applying.

As an aside I'm not sure if the AWS docu

[2022-06-16 14:34] jon-butterworth opened #1055 ""request failed, status: \"404 Not Found\"""
**What happened**:
metrics-server starts but won't pass ready check.

**What you expected to happen**:
It should work

**Anything else we need to know?**:
Deployed from latest helm chart.

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.): GKE
- Container Network Setup (flannel, calico, etc.): Calico
- Kubernetes version (use `kubectl version`): 1.19

- Metrics Ser

[2022-06-16 14:36] jon-butterworth commented on #1055
I thought this may be to do with `kube-proxy` binding to `127.0.0.1` but, that's not the case. It's bound to `0.0.0.0`

[2022-06-16 15:11] yangjunmyfm192085 commented on #1055
As can be seen from `metrics-server-679944f8f6-mrnvr metrics-server E0616 14:28:55.242985 1 scraper.go:140] "Failed to scrape node" err="request failed, status: "404 Not Found"" node="ip-10-1-3-224.eu-west-1.compute.internal"`, it should not be the issue of the metrics-server itself,  the `ip:port//metrics/resource` accessed by the metrics-server does not exist.
Please check whether the address/po

[2022-06-16 15:16] yangjunmyfm192085 commented on #1055
you can refer Requirements part of
https://github.com/kubernetes-sigs/metrics-server/blob/master/README.md

[2022-06-16 15:18] yangjunmyfm192085 commented on #1055
/kind support
/remove-kind bug

[2022-06-16 18:16] rmendal commented on #990
@stevehipwell so our sec group for the cluster still has an inbound all/all rule but I decided to add an explicit inbound rule for 10250 and then removed `node/stats` from the cluster role, restarted the metrics server pod and lo and behold, I still have metrics and no 403 forbidden errors.

However, I then removed the `node/stats` line from the cr in another cluster which DOESN'T have the explici

[2022-06-17 09:10] #1026 closed

[2022-06-24 04:06] gamba47 commented on #448
Here you can find what it's behind the scenes.

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#kubelet-serving-certs
https://kubernetes.io/docs/tasks/extend-kubernetes/configure-aggregation-layer/

[2022-06-24 19:13] jsalatiel commented on #1037
When will the helm chart be updated?

[2022-06-27 06:43] serathius commented on #849
/lifecycle frozen

[2022-06-29 10:07] dgrisonnet commented on #1037
LGTM

[2022-07-03 08:34] oleksiivelychko opened #1056 "Metrics servers deployment fails "no metrics to serve""
**What happened**: "Failed probe" probe="metric-storage-ready" err="no metrics to serve"

**What you expected to happen**: Successfully deployment

**Anything else we need to know?**: Apple M1

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.): Docker Desktop 4.9.1
- Container Network Setup (flannel, calico, etc.): nothing
- Kubernetes version (use `kubectl version

[2022-07-03 22:51] JohnRusk commented on #187
@pdbogen I really love the analysis you posted above, and I often refer people to it as documentation of how the RAM metrics work.

I feel like there may be two small typos in it though, in the places I've bolded here:

If you agree, and if you have a moment, could you please edit your message to correct those two typos.  Then, when I refer folks to it, I won't have to explain the typos :-)

[2022-07-04 00:34] zouchengli commented on #1031
Is there no direct solution?

[2022-07-04 00:57] yangjunmyfm192085 commented on #1031
Hi, @zouchengli  https://github.com/kubernetes-sigs/metrics-server/pull/1009  This issue has been resolved and a new version will be released

[2022-07-04 01:15] yangjunmyfm192085 commented on #1037
Hi, @serathius  Should we release v0.6.3?

[2022-07-04 07:08] gspgsp commented on #375
e, the same problem:

[root@k8smaster cni]# kubectl logs -n kube-system  kube-flannel-ds-ckdxh
Defaulted container "kube-flannel" out of: kube-flannel, install-cni-plugin (init), install-cni (init)
I0704 06:49:21.884890       1 main.go:207] CLI flags config: {etcdEndpoints:http://127.0.0.1:4001,http://127.0.0.1:2379 etcdPrefix:/coreos.com/network etcdKeyfile: etcdCertfile: etcdCAFile: etcdUsername

[2022-07-04 11:11] HrijulAG commented on #1056
I'm facing this issue as well. Went through every similar issue and tried the following things:
- Adding `--kubelet-insecure-tls` to args
- Increasing `--metrics-resolution` to 30s or even more
- Using `--kubelet-preferred-address-types=InternalIP`.

Absolutely nothing works. I don't know what to do anymore.
Kubernetes version is the same and I am also on Apple M1.

[2022-07-05 17:15] mjeffrey18 commented on #41
I'm using Keda and found this worker well. Basically restarting everything (assuming you have fixed any issues)

Your namespaces may be different

[code]

[2022-07-06 05:55] oleksiivelychko commented on #1056
I've added `--kubelet-insecure-tls` argument and disable firewall but I got same result.

[2022-07-07 11:29] yangjunmyfm192085 commented on #1056
You can also try to see if it is the same problem as the following
https://github.com/kubernetes-sigs/metrics-server/issues/907#issuecomment-1101025657

[2022-07-07 13:29] yangjunmyfm192085 commented on #1056
It seems that I need to add it to the known-issues of metrics-server.

[2022-07-07 20:02] oleksiivelychko commented on #907
The increasing metric-resolution up to 40ms didn't help me.

[2022-07-07 20:11] oleksiivelychko commented on #1056
The increasing of **metric-resolution** up to 40ms helped me. But I cant't get access to logs of **metric-server** pod now. I got **Waiting for logs...**. @yangjunmyfm192085 It's ok?

[2022-07-08 06:34] oleksiivelychko commented on #1056
@yangjunmyfm192085 It isn't related to metrics-server because I'm able to see logs of pods using **kubectl logs** command. I tried to see logs in tail mode <0> and it works correctly. So, I changed **k9s.logger.sinceSeconds** option in my k9s configuration and now I see logs instantly when I press <l> logs button.

At last I got CPU/RAM metrics but I'm still having next logs on the start of pod:
`

[2022-07-08 06:34] #1056 closed

[2022-07-08 06:45] yangjunmyfm192085 commented on #1056
ok. This is normal. Because metrics-server needs at least 2 scrape cycles to get data.

[2022-07-10 11:56] #961 closed

[2022-07-11 09:09] Alceatraz opened #1059 "Unable to authenticate the request - certificate has expired or is not yet valid with --kubelet-insecure-tls enabled"
Hello, And I not sure if this is a BUG or Compatibility issue, So I open an support request.

[code]

As the compatibility matrix  0.6x for 1.19+, So  v0.6.1 should work in 1.19.

I managed success install metrics-server on another cluster ( That one run K8S 1.24). But not this one:

The error message:

[code]

So obviously cert expired, But:

[code]

All certs are valid. So before this issue allo

[2022-07-11 09:15] yangjunmyfm192085 commented on #1059
I noticed the error message:
`current time 2022-07-11T08:59:43Z is after 2022-06-10T10:35:56Z`
Are there any time inconsistencies in the environment?

[2022-07-12 00:05] Alceatraz commented on #1059
Nope. Some old certs expired at that date, but renewed by kubeadm.

[2022-07-12 15:27] pdbogen commented on #187
@JohnRusk thanks for the suggestions; I've updated the comment accordingly. I'll note the original typos came directly from the linked LWN article- I found a better source (kernel documentation for cgroup memory accounting) that agrees with your recommendation, so I both fixed the typos and updated the reference.

[2022-07-13 09:29] yimiaoxiehou commented on #300
hey, guys. i also miss this problem  on  docker(19.3.14) and k8s(v1.20.9).

i find that is becouse my docker root dir is changed no default(/var/lib/docker)
that make kubelet can not read cgroup info . after add args for kubelet  `--docker-root=/mydocker-root` . the problem fixed.

[2022-07-14 20:58] radhikamattoo commented on #1031
Hi @yangjunmyfm192085 ! Any update on when the new version will be released?

[2022-07-15 02:25] yangjunmyfm192085 commented on #1031
We are waiting for the release of metrics-server 0.6.2.
@serathius  I shouldn't have permission to release the version, right?
Could we release version 0.6.2?

[2022-07-15 23:19] ShiningBeam commented on #375
Ty💜

[2022-07-15 23:49] ShiningBeam commented on #375
thank you! It's been a journey

[2022-07-16 10:57] ShiningBeam commented on #375
Beginning to come to conclusion,one’s don't like me
😘

[2022-07-18 13:48] joemilacek opened #1060 "Document the reason for >100% memory usage"
**What happened**:
kubectl top nodes
NAME                                         CPU(cores)   CPU%   MEMORY(bytes)   MEMORY%
ip-10-143-4-57.us-east-2.compute.internal    211m         21%    2838Mi          240%
ip-10-143-4-98.us-east-2.compute.internal    2551m        85%    12346Mi         93%
ip-10-143-5-15.us-east-2.compute.internal    599m         19%    9894Mi          75%
ip-10-143-5-223.us

[2022-07-18 22:26] natery2000 opened #1061 "kubectl top pod responding with "Metrics not available for pod xxx""
**What happened**:
After applying the deployment for metrics-server, and adding the `--kubelet-insecure-tls` arg to the container, I am seeing "Metrics not available for pod xxx" as output to `kubectl top pod`.

**What you expected to happen**:
Metrics to successfully be reported for pods.

**Anything else we need to know?**:

[code]

I am able to successfully see the metrics for my node(via `kube

[2022-07-19 02:13] junior commented on #1037
Do we have any timeframe on when the 0.6.2 will be released? New chart will follow?

[2022-07-19 22:19] tkrishtop commented on #1060
Hi @joemilacek could you please share the output of the following command on your cluster?

[code]

[2022-07-20 00:57] yangjunmyfm192085 commented on #1061
Could you follow the way provided in the known issues

 `NODE_NAME=<Name of node in your cluster>

Could you get the correct container cpu and memory values?

kubectl get --raw /api/v1/nodes/$NODE_NAME/proxy/metrics/resource`
https://github.com/kubernetes-sigs/metrics-server/blob/master/KNOWN_ISSUES.md#kubelet-doesnt-report-pod-metrics

[2022-07-20 07:08] m-barthelemy opened #1062 "CVE-2022-1996"
Our security scans report that metrics-server 0.6.1 is impacted by CVE-2022-1996 (https://nvd.nist.gov/vuln/detail/CVE-2022-1996) for using Go-restful.

Would the project consider updating this dependency?

/kind support

[2022-07-20 07:21] yangjunmyfm192085 commented on #1062
/cc

[2022-07-20 07:21] yangjunmyfm192085 commented on #1062
/assign

[2022-07-20 08:44] m-barthelemy commented on #1062
Noted, thanks for the explanation!

[2022-07-20 12:25] natery2000 commented on #1061
@yangjunmyfm192085 the command you provided returns data in the pods section.

<details>
  <summary>kubectl get --raw /api/v1/nodes/docker-desktop/proxy/metrics/resource</summary>

[code]

</details>

[2022-07-20 13:19] yangjunmyfm192085 commented on #1061
Thanks for the information..
From the information above, we can see that the memory utilization of the containers are 0.
The data obtained by metrics-server from the kubelet is incomplete. so it appeared
"Metrics not available for pod xxx" as output to kubectl top pod.

[2022-07-20 13:21] yangjunmyfm192085 commented on #1036
Is it a similar issue as https://github.com/kubernetes-sigs/metrics-server/issues/1036 ?

[2022-07-20 13:45] hahasheminejad commented on #443
Just in case someone else has this issue on EKS, if you access your cluster through a role, make sure that you have set the username field and the mapping.

`kubectl describe -n kube-system configmap aws-auth`

[code]

Source: https://aws.amazon.com/premiumsupport/knowledge-center/eks-metrics-server/

[2022-07-20 18:00] natery2000 commented on #1061
So if one of the metrics is not returning for that command, the whole `kubectl top pod` fails? Is there something obvious I have misconfigured, or an FAQ that would help me diagnose the problem?

[2022-07-20 22:30] yangjunmyfm192085 commented on #1061
If the cpu or memory of a container in a pod is 0, the metrics of the pod cannot be obtained.
Data is fetched from the kubelet endpoint.
It may be useful to go to the sig-node of kubernetes/kubernetes for help

[2022-07-21 07:55] pierluigilenoci opened #1063 "Migrate from Pod Security Policy to SecurityContext"
**What would you like to be added**:

[Pod Security Policies](https://kubernetes.io/docs/concepts/security/pod-security-policy/) are deprecated and will be removed in Kubernetes v1.25.

Migration to another alternative is necessary.
To date there are some alternative solutions:
- [Pod Security Admission](https://kubernetes.io/docs/concepts/security/pod-security-admission/)
- [OPA Gatekeeper](https

[2022-07-22 04:13] yangjunmyfm192085 commented on #1061
/remove-kind bug
/kind support

[2022-07-22 10:03] #1062 closed

[2022-07-25 09:27] praveenkumarKajla commented on #443
enable port 4443 in your eks node security group where source is the cluster security group.

[2022-07-29 16:56] samirshaik13 opened #1064 "metric server deployed in EKS fails to scrape nodes"
Deployed metrics-server on EKS cluster spun up using Terraform following instructions in this blog - https://docs.aws.amazon.com/eks/latest/userguide/metrics-server.html

Running following command would fail.
[code]

Looking at the logs it was clear metrics-server is unable to scrape nodes as shown below.

[code]

Following command indicated apiservice was failing. This documentation helped to a g

[2022-07-29 23:41] yangjunmyfm192085 commented on #1064
This is the port on which metrics-server listens.
we need to make sure that this port can communicate normally.
Of course, you can also update the port by modifying the yaml file when deploying metrics-server.
by the way, The main branch has been modified to 10250
Maybe this can help you
https://github.com/kubernetes-sigs/metrics-server/blob/master/README.md#requirements

[2022-07-29 23:51] samirshaik13 commented on #1064
Understand the metrics server as per the current configuration listens on port 4443. But is there a reason why default deployment puts apiservices for metrics server in error and as soon as port is changed to 443, the API services feels like satisfied? Even with this change not all my nodes are being scraped, but the command 'kubectl top nodes' work, showing metric for only one node among the thre

[2022-07-30 20:14] weicao commented on #1061
I met the same bug, after some searching, I found a related [issue](https://github.com/kubernetes/kubernetes/issues/110611).

Root cause:
This problem is caused by a bug in [Mirantis/cri-dockerd](https://github.com/Mirantis/cri-dockerd), which is the replacement of the deprecated dockershim. Specifically, this bug is fixed in cri-dockerd v2.3.0, (see [this commit 5576d3c5d4b030b2feb24ebb79640932c5

[2022-08-02 08:26] mikelo opened #1065 "OOM metrics undetected"
**What happened**:
I wanted to deliberately create a pod that would go "out of memory" but it seems to run fine.

[code]
apply the following deployment:

[code]
**What you expected to happen**:
the pod should switch to status "OOMKilled" right after starting, but instead it runs fine

**Anything else we need to know?**:
I created a sister issue https://github.com/kubernetes-sigs/kind/issues/2848 w

[2022-08-02 08:35] yangjunmyfm192085 commented on #1065
Sorry. I don't understand how this issue is related to metrics-server.
Do you mean the pod uses more memory than the limit, the status should be `OOMKilled`?
 This is not a function of metrics-server

[2022-08-02 08:36] yangjunmyfm192085 commented on #1065
/kind support
/remove-kind bug

[2022-08-02 10:25] sanwishe commented on #1065
@mikelo
Could you please provide the actual utilization of memory of the stress container?

[2022-08-02 15:17] mikelo commented on #1065
kubectl get --raw "/apis/metrics.k8s.io/v1beta1/namespaces/default/pods/" | jq
[code]

[2022-08-02 15:25] yangjunmyfm192085 commented on #1065
I think the memory usage counted here is about 19M, so there is no oom.
By the way, this metric is not associated with metrics-server.

[2022-08-02 16:05] tkrishtop commented on #1065
Hi @mikelo!

You have a classical example in the [kubernetes docs](https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/#exceed-a-container-s-memory-limit).

[code]

The logs above are from minikube, I could check if the behavior is the same for kind.

[2022-08-03 06:24] mswilson4040 commented on #1018
Is there an equivalent setting for docker desktop? Having the same issue.

[2022-08-03 07:06] mswilson4040 commented on #1061
I'm having the same issue. `kubectl top node` works perfectly fine. `kubectl top pod -A` returns "No resources found"

Digging directly into an existing namespace with pods gives me

I am using Docker Desktop 4.10

[2022-08-03 18:09] mswilson4040 commented on #1036
Same issue here

`kubectl top node` works like a charm. `kubectl top pods -A` returns No Resources Found. Which is false.

In the dashboard UI, the graphs on the Node work, but not on the Pod.

[2022-08-04 13:58] mikelo commented on #1065
yes I agree, but in theory the application should take up 104M and hence go OOM... if this is kind issue I should close this one

[2022-08-05 06:56] yibishufange commented on #1013
i have met the same question， how did you solve it?

[2022-08-05 07:32] yibishufange commented on #1036
what about ` kubectl get --raw /api/v1/nodes/k8s-master/proxy/metrics/resource` still cannot get pod metrics，how to deal with the problem? @yangjunmyfm192085

[2022-08-05 08:25] yibishufange commented on #1036
@yangjunmyfm192085 any suggested idea or direction？

[2022-08-05 08:35] yangjunmyfm192085 commented on #1036
Judging from this issue, no metrics for pods have been obtained
https://github.com/kubernetes/kubernetes/issues/111713.

Could you find the corresponding error log in the kubelet log?

[2022-08-05 08:59] yibishufange commented on #1036
On linux, systemctl or journalctl can be used to get kubelet log, but on mac os, how can i get kubelet log? @yangjunmyfm192085

[2022-08-05 09:07] yangjunmyfm192085 commented on #1036
sorry, not very familiar with mac os. But I remember that kubelet can set the output of the log through configuration flags.

[2022-08-05 14:53] Snuger commented on #997
I have the same problem  The difference is too big

[root@his-master01 server-sourece]# kubectl top node
NAME           CPU(cores)   CPU%   MEMORY(bytes)   MEMORY%
**20.76.25.170   327m         4%     8180Mi          53%**
20.76.25.171   252m         3%     4918Mi          15%
20.76.25.205   311m         3%     7913Mi          52%
20.76.25.206   316m         3%     7648Mi          50%

[root@his-n

[2022-08-05 15:24] mswilson4040 commented on #1036
I opened a ticket with Docker (I'm using the Docker Desktop Kubernetes setup). They told me they don't support Kubernetes, they just deploy it with Docker Desktop if you enable it. They said they should be releasing something soon that fixes it since the issue is around and update to dockerd. They did not provide a timeline for the update.

[2022-08-08 00:37] yangjunmyfm192085 commented on #1024
Thanks @hasakura12 and @channyein87 , I think this issue has been resolved and can close.
/kind support
/remove-kind bug
/close

[2022-08-08 00:37] #1024 closed

[2022-08-08 00:44] yangjunmyfm192085 commented on #1064
Did the solution to the following issue help you?
https://github.com/kubernetes-sigs/metrics-server/issues/1024

[2022-08-08 01:56] yibishufange commented on #1036
@mswilson4040 will you please put your ticket info or url here, thanks?

[2022-08-08 10:52] pierluigilenoci commented on #1063
@stevehipwell could you please take a look?

[2022-08-08 11:39] stevehipwell commented on #1063
@pierluigilenoci are you suggesting that the security context for the pod and primary container need updating or are you asking for something else? AFAIK the security admission control is namespace based so out of the scope of a chart, but the chart should be following best practices and potentially offer a non-mutating PSP version to use as a pre-migration step.

[2022-08-08 17:58] stevehipwell commented on #1063
@pierluigilenoci I think the security context needs to come form the Metrics Server maintainers, the Helm chart copies what's in the manifest and also provides the ability to set the pod security policy in addition. AFAIK this change isn't required to enable pod admission, it just means that it needs to be configured correctly (as it will need to be for multiple other pods running in `kube-system`

[2022-08-08 20:53] mswilson4040 commented on #1036
Their ticket info is all through zendesk and I don't have a public link that I can share. I'll share what has been communicated to me so far (I got a follow up from them today).

_Hi Marc, thanks for reaching out to us.

We don't  actually support Kubernetes directly, we just include public releases in our Installer packages.  It does look like this issue is resolved with an update to cri-dockerd.

[2022-08-08 23:14] natery2000 commented on #1061
@weicao thank you so much for that writeup! It worked perfectly!

[2022-08-08 23:14] #1061 closed

[2022-08-08 23:30] mswilson4040 commented on #1061
FWIW I talked with Docker about this and sent them this GitHub Issue. They did say they are aware of the issue and mentioned the suggested comment above was not a good idea nor is it supported by Docker.

---

[2022-08-09 01:51] yibishufange commented on #1036
@mswilson4040 what about your docker-desktop & k8s version info. For me, i have tried k8s 1.24.2 & 1.24.0, and i could't get pod metrics either.

[2022-08-09 01:53] mswilson4040 commented on #1036
I am using Docker Desktop 4.10 / Kubernetes 1.24.2

[2022-08-09 02:00] yibishufange commented on #1036
@mswilson4040 i am downgrading docker-desktop 4.7.1 & kubernetes 1.22.5, pod metrics can be  normally get both on mac & windows.

[2022-08-09 13:24] pierluigilenoci commented on #1063
@stevehipwell obviously, the request must be evaluated by the maintainers and implemented in the chart only after it is approved.

I would also like to have the opinion of @serathius about it.

[2022-08-09 13:56] stevehipwell commented on #1063
@pierluigilenoci the chart usually tracks the installation manifest, so changes would be expected there first which would then be implemented as the defaults in the chart. This issue is currently labelled for the chart but I think it's really about Metrics Server in general.

[2022-08-09 14:58] pierluigilenoci commented on #1063
@stevehipwell do you think it might make sense to create a new issue for this more general aspect?

[2022-08-09 15:06] stevehipwell commented on #1063
@pierluigilenoci that might be a good idea, maybe pitched more about reducing default permissions ready for pod security admission? This issue could then be renamed to track getting any changes into Helm?

[2022-08-10 03:25] serenagrl commented on #1036
Since I was setting up a bare metal kubernetes, I just use containerd instead of cri-dockerd to avoid the problem.

[2022-08-10 07:09] Noksa opened #1066 "Metrics are not shown for all pods on OCI OKE and metrics-server slows down k8s API server"
**What happened**:
I've installed the latest `0.6.1` version of metrics-server on my OCI OKE cluster (`1.22.5` version)
**What you expected to happen**:
Metrics from all pods are shown, but many pods are missing:
[code]

**Anything else we need to know?**:
Also I see a lot of requests to API server, which cause API lags.
Due to such lags (timeout) I encounter the following problems:
* port-forward

[2022-08-15 07:59] sdghchj opened #1067 "Add nodeName into the 'Host' header when send a request to get metrics of an edge node."
**What would you like to be added**:
Add nodeName into the 'Host' header when send a request to get metrics of an edge node.

**Why is this needed**:
In the scenario of edge computing, some nodes are located in certain different edge LANs, so these nodes may have the same local IP.  All the edge nodes connect to a proxy server in cloud, and all requests from the the metrics server will be DNATed t

[2022-08-16 07:19] marseel commented on #710
/remove-lifecycle stale

[2022-08-18 00:41] mcorries commented on #1059
Hi I have exact same error and been unable to resolve, did you manage to fix it?

[2022-08-20 11:51] #988 closed

[2022-08-22 09:06] hamza3202 opened #1078 "Metrics server keeps restarting"
**What happened**: Metrics server keeps restarting multiple times during the day

**What you expected to happen**: A stable metrics server that doesn't restart

**Anything else we need to know?**:
The reason for the restarts is failing liveness probe(Readiness probe also fails).

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.): EKS
- Container Network Setup (flan

[2022-08-22 20:58] vishalsaugat commented on #1061
Thanks @weicao . It's working for me now after being stuck on it for 3-4 days

[2022-08-23 01:32] yangjunmyfm192085 opened #1079 "Support logs in JSON format for release 0.6"
**What would you like to be added**:
Support logs in JSON format for release 0.6
**Why is this needed**:
as @hamza3202 mentioned in pr https://github.com/kubernetes-sigs/metrics-server/pull/968. In release-06 we do not support logs in json format

/kind feature

[2022-08-23 01:32] yangjunmyfm192085 commented on #1079
/assign

[2022-08-23 02:24] yangjunmyfm192085 commented on #1078
Is the above log from metrics-server? It looks like there is a problem with the authorization of the webhook. Can you see useful information in the apiserver log?

[2022-08-23 15:10] nabad600 opened #1081 "Metrics server not running"
Hi,

I have deployed the metrics server but it's not running
![image](https://user-images.githubusercontent.com/67466982/186194284-cb38e719-8d32-435b-a471-7342e4acbb01.png)

I have added the below lines after "args" in "components.yaml "
[code]

then it worked. Below is the screenshot for reference.
![image](https://user-images.githubusercontent.com/67466982/186195156-7698593b-7309-4bdc-bdf5-01736

[2022-08-24 00:44] yangjunmyfm192085 commented on #1081
Maybe this is what you need

[code]
https://github.com/kubernetes-sigs/metrics-server/blob/master/README.md#requirements

[2022-08-25 13:11] hamza3202 commented on #1078
Yes, the above log is from the metric server. It happens intermittently. I will look into the API server logs to see if i can find something relevant.

[2022-08-26 00:49] Gab-Menezes commented on #1081
I'm having the same problem, tried to pass `--kubelet-insecure-tls` in the args but it didn't work. I have also tried using the suggested fix but it didn't work.
Log when describing the metrics-server pod (note that the  `--kubelet-insecure-tls` was passed):
[code]

[2022-08-26 00:51] yangjunmyfm192085 commented on #1081
Can you provide the logs of metrics-server?

[2022-08-26 00:53] Gab-Menezes commented on #1081
kubectl logs -n kube-system pods/metrics-server-658867cdb7-9g2px
[code]

[2022-08-26 00:55] Gab-Menezes commented on #1081
Maybe the problem is that the IP `192.168.65.4` is being used, but on windows the internal ip is not used. Instead we use `localhost`

[2022-08-26 02:05] yangjunmyfm192085 commented on #1081
[code]
Accessing the kubelet's /metrics/resource endpoint timed out.

There is a similar issue here, I don't know if it can help you
https://github.com/kubernetes-sigs/metrics-server/issues/907

[2022-08-26 02:42] Gab-Menezes commented on #1081
Increasing the `metric-resolution` made the pod ready, but after it executing `kubectl get --raw /api/v1/nodes/docker-desktop/proxy/metrics/resource` returned: `Error from server (NotFound): the server could not find the requested resource`. The problem is before changing the value I was able to hit the endpoint (response time of ~20s as described in the issue).
The other problem is hpa is complai

[2022-08-26 05:58] yangjunmyfm192085 commented on #1081
If executing `kubectl get --raw /api/v1/nodes/docker-desktop/proxy/metrics/resource` returned: `Error from server (NotFound): the server could not find the requested resource`, Please check whether the kubelet is running normally, whether there are repeated restarts, etc.

[2022-08-27 01:50] yangjunmyfm192085 commented on #1081
/kind support

[2022-08-27 01:52] yangjunmyfm192085 commented on #1064
/triage needs-information

[2022-08-27 12:38] avivgold098 commented on #988
Those are `Kubernetes` general metrics, like Kubelet (cAdvisor), CA.

The `metrics-server` has specific metrics for his communication with:
* kubelet - `metrics_server_kubelet_request_total`
* api-server - `apiserver_request_total`

@NearchPasipou I can't find documentation regarding those metrics. My team is working observing those we probably contribute those later

[2022-08-29 04:30] yangjunmyfm192085 commented on #1081
Hi, @Gab-Menezes, Has the issue been solved?

[2022-08-29 10:23] #996 closed

[2022-08-29 17:30] Gab-Menezes commented on #1081
Sorry, I forgot about this issue, but no. I can't figure out how to check kubelet status on windows.

[2022-09-05 06:22] puitiza commented on #1061
Thanks, @weicao. I can't go to my bed if I don't understand why it doesn't work for `kubectl top pod -A`
After run all steps.
<img width="641" alt="image" src="https://user-images.githubusercontent.com/24264799/188372945-1a2cc410-fd06-4321-a40f-bb57ebf665e2.png">

On the other hand, if someone knows how to solve this, I'm using docker-desktop cluster
<img width="1609" alt="image" src="https://user

[2022-09-05 07:56] hecheng64 commented on #1018
Have you found a solution to this problem？

[2022-09-05 12:01] hussam-qasem opened #1083 "High-availability using Helm"
**What would you like to be added**: Add [`high-availability.yaml`](https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/high-availability.yaml) to [Helm repo](https://artifacthub.io/packages/helm/metrics-server/metrics-server).

**Why is this needed**: Gives users an option to install the [`high-availability.yaml`](https://github.com/kubernetes-sigs/metrics-server/releases/l

[2022-09-05 15:01] osaffer opened #1084 "v1beta1.metrics.k8s.io failed with: failing or missing response from"
**What happened**:

Logs from api-server:

E0905 14:47:55.129404       1 controller.go:116] loading OpenAPI spec for "v1beta1.metrics.k8s.io" failed with: failed to retrieve openAPI spec, http error: ResponseCode: 503, Body: service unavailable
, Header: map[Content-Type:[text/plain; charset=utf-8] X-Content-Type-Options:[nosniff]]
I0905 14:47:55.129411       1 controller.go:129] OpenAPI Aggregati

[2022-09-06 07:26] xonstone opened #1085 "Create a new Helm chart release"
Hi

Seeing that there are multiple changes to the Helm chart pending to be released it would be nice to have a new release.

Thanks in advance.

[2022-09-06 15:27] osaffer commented on #1084
It can be closed.
Kubernetes is behind a corporate proxy.
I changed the CNI from weave to Cilium, I forgot to put the new CIDR in no proxy inside kube-apiserver.

All is good now

[2022-09-06 15:27] #1084 closed

[2022-09-07 01:54] hecheng64 commented on #1018
How to solve this problem

[2022-09-07 10:50] mj3c commented on #1061
So with the new [Docker Desktop 4.12.0 release](https://docs.docker.com/desktop/release-notes/#docker-desktop-4120), this should no longer be an issue, since they upgraded the cri-dockerd version to 0.2.5 which includes the fix @weicao mentioned. **However**, I am still seeing the same error, even after upgrading to this new release.

Here's the output I get:

[code]

But the metrics do exist when

[2022-09-07 20:54] melnik13 commented on #196
I'd only like to mention that the [article](https://particule.io/en/blog/kubeadm-metrics-server/ ) contains a piece of advice to edit `/var/lib/kubelet/config.yaml`, which is not always absolutely correct. In some clusters (e.g. created by Kubespray) kubelet uses `/etc/kubernetes/kubelet-config.yaml`.

Thus, one can make changes to `/var/lib/kubelet/config.yaml`, restart kubelet and then get surpr

[2022-09-08 09:58] serg4kostiuk commented on #1081
Hey @yangjunmyfm192085,
I have the same issue.
Getting ` failed to get cpu utilization: missing request for cpu` for hpa.
[code]
hpa debug
[code]
metrics-server logs
[code]
Any ideas guys how to debug or fix it?

[2022-09-08 10:28] yangjunmyfm192085 commented on #1081
Hi @serg4kostiuk
Thanks for the feedback.
You can refer to the known issues below to confirm whether the metrics obtained from the kubelet are incomplete?

https://github.com/kubernetes-sigs/metrics-server/blob/master/KNOWN_ISSUES.md#kubelet-doesnt-report-pod-metrics

[2022-09-08 12:12] serg4kostiuk commented on #1081
thanks, @yangjunmyfm192085, already did it.
 the output:
[code]
metrics
[code]
I use actually 0.6.1 version of metrics-server, but the output for 0.5.1 is following:
[code]
and cgroups check
[code]

[2022-09-08 14:56] yangjunmyfm192085 commented on #1081
Hi, @serg4kostiuk
From the data obtained above, it looks normal. Could `kubectl top pod -n bart`  display pod metrics correctly?

[2022-09-09 11:13] serg4kostiuk commented on #1081
sure, @yangjunmyfm192085
[code]
[code]

[2022-09-09 12:57] yangjunmyfm192085 commented on #1081
Thanks for the feedback. metrics-server appears to be in normal state. Is there still any problem with hpa?

[2022-09-09 14:28] goenning commented on #87
KEP link above is broken, I found this one: https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/1013-metrics-watch-api/README.md

[2022-09-14 01:21] yangjunmyfm192085 opened #1087 "Added e2e test support for kubernetes v1.25 version"
**What would you like to be added**:
kubernetes v1.25 version has been released, metrics-server needs to add test support for version 1.25
**Why is this needed**:
kubernetes v1.25 version has been released, metrics-server needs to add test support for version 1.25

/kind feature

[2022-09-14 07:39] yangjunmyfm192085 commented on #1087
/assign

[2022-09-14 08:07] #1087 closed

[2022-09-14 13:57] serg4kostiuk opened #1089 "Metrics-server doesn't share CPU metrics for second HPA"
Hi guys, my case is next:
I have:
 - two different deployments (two pods and two containers inside each pod).
 - two HPAs for each deployment.
 - one metrics-server pod in the same (with deployments) namespace.
The problem is - the metrics server doesn't send the CPU metric to one of the HPA. I say CPU, because during my test I tried to set the autoscaler threshold to check CPU+Memory and memory v

[2022-09-15 03:49] yangjunmyfm192085 commented on #1089
Hi, @serg4kostiuk, Thanks for the feedback.
The prerequisite for metrics-server to work properly is that the `metrics/resource` endpoint of nodes can be accessed normally.
But judging from the metrics-server logs provided, there is a probability of failure to access the `metrics/resource` endpoints of some nodes.
There are four main types of errors

- `PROTOCOL_ERROR`
node `10.100.100.79` and node

[2022-09-15 20:58] ledroide commented on #990
Adding the line `node/stats` solved the issue for me.

However, it had worked during months, before I encountered the metrics-server failure. I don't understand why this line suddenly disappeared from the ClusterRole/system:metrics-server

[2022-09-16 08:31] abhiTamrakar commented on #1037
Hi, Any ETA on when we can get this released? We are blocked due to this issue, please do let us know if there is a workaround.
We tried increasing metrics-resolution time but it didn't helped.

[2022-09-17 23:59] mprimeaux commented on #576
Has any progress been made, here or elsewhere, since @sanwishe commented on January 19?

[2022-09-18 16:26] shubhamsaroj commented on #247
[code]

[2022-09-19 09:33] tkrishtop commented on #1060
I'd like to add an update on why kubectl shows that memory usage is larger than 100% and how to fix that.

## Why is the percentage larger than 100%

`kubetcl top node` displays by default the ratio node_memory_working_set_bytes / Allocatable memory.

To verify it, please run `kubectl get --raw /api/v1/nodes/<NODE_NAME>/proxy/metrics/resource | grep node_memory_working_set_bytes` to retrieve node_

[2022-09-19 11:32] AndrzejWisniewski opened #1091 "Add schedulerName field support in deployment.yaml"
**What would you like to be added**:

I would like to ask you to add `schedulerName` field in [deployment,yaml](https://github.com/kubernetes-sigs/metrics-server/blob/master/charts/metrics-server/templates/deployment.yaml) file (as parameter to use it [as all others parameters](https://github.com/kubernetes-sigs/metrics-server/tree/master/charts/metrics-server))

**Why is this needed**:

We just n

[2022-09-20 15:51] jeanmercierswile opened #1092 "Does metrics-server scrape node metrics too early ?"
Hello !

I would like to share a problem about node scraping :
metrics-server seems to scrape node before it's in nodeready state.

Logs are showing scraping error of a new node during a minute and then scraping is done correctly.
<img width="1090" alt="Capture d’écran 2022-09-20 à 17 46 08" src="https://user-images.githubusercontent.com/60874473/191304309-66bb4a88-412b-4f7a-87a9-db4835b9297e.pn

[2022-09-20 18:17] jfining opened #1093 "Missing port property in helm chart's apiservice template"
**What happened**: Installing the helm chart with the following values results in the APIService created with the incorrect default port (443).
[code]

This results in the APIService entering a failed state:
[code]

**What you expected to happen**:
The APIService should be created referencing the port used in `.Values.service.port`

**Anything else we need to know?**:
To fix this, the apiservice.y

[2022-09-21 08:11] yangjunmyfm192085 commented on #1092
Hi, @jeanmercierswile, Thanks for the feedback, I'm sure that metrics-server just lists all the nodes in the cluster from kubernetes, and then scrapes it, it doesn't judge the status of the nodes.
I wonder,  Is it necessary for us to filter node states?  /cc @serathius

[2022-09-21 08:13] yangjunmyfm192085 commented on #1093
/cc @stevehipwell

[2022-09-21 12:31] mzaian commented on #990
Because this below:
Breaking changes
Metrics Server now requires access to nodes/metrics RBAC resource instead of nodes/stats. No changes needed if you use official manifests, however please update RBAC resources if you just use Metrics Server image with custom manifests.
From: https://github.com/kubernetes-sigs/metrics-server/releases/tag/v0.6.0

[2022-09-22 07:58] jeanmercierswile commented on #1092
Hello and thank you @yangjunmyfm192085 !
Does it deserve a feature request if these error logs are useless ?

[2022-09-26 03:28] jicowan opened #1094 "Is Metrics Server affected by CVE-2022-3172?"
There is a new CVE affecting the aggregation API, https://groups.google.com/g/kubernetes-announce/c/aaOLnyQPXFg/m/oi5CC2XPAAAJ. Is the Metrics Server impacted?

/kind support

[2022-09-26 04:39] ledroide commented on #990
@mzaian : We had to roll back from v0.6.1 to v0.5.2 because of error "Failed to scrape node" reported in
 #1031 and that is fixed for v0.6.2 - that is not available yet.

[2022-09-26 06:28] yangjunmyfm192085 commented on #1094
original issue
https://github.com/kubernetes/kubernetes/issues/112513
I understand that metris-server just starts an apiserver and does not use the Aggregated API server itself.

/cc @serathius @dgrisonnet

[2022-09-26 07:17] serathius commented on #1094
Agree with @yangjunmyfm192085, this CVE is about apiserver redirecting to any URL. Metrics Server doesn't redirect, it's one of the targets of apiserver.

[2022-09-26 07:17] #1094 closed

[2022-09-26 13:56] stevehipwell commented on #1093
I'll take a look at this when I'm back in the office next week.

[2022-09-26 14:23] liangyuanpeng commented on #1039
/remove-lifecycle stale

[2022-09-26 19:56] ggpaue opened #1095 "Any plan for a new metrics server release？"
**What would you like to be added**:
Hi, do you have any plan to release a new metrics server after v0.6.1?
**Why is this needed**:

/kind feature

[2022-09-27 14:04] liangyuanpeng commented on #1095
Follow up in  #1037

[2022-09-27 14:05] liangyuanpeng commented on #1037
Any else we need?
/ping @serathius

[2022-09-30 06:17] bishenghua commented on #1013
Yon can use this command to get the result.
kubectl get node -o wide
NAME           STATUS   ROLES    AGE    VERSION   INTERNAL-IP    EXTERNAL-IP   OS-IMAGE                KERNEL-VERSION           CONTAINER-RUNTIME
172.20.58.86   Ready    <none>   137d   v1.23.6   172.20.58.86   <none>        CentOS Linux 7 (Core)   4.19.94-300.el7.x86_64   docker://20.10.14

My system returned "CONTAINER-RUNTIME

[2022-09-30 17:39] #1017 closed

[2022-09-30 20:49] gseidlerhpe opened #1096 "Many critical/high CVEs in v0.6.1 image do to outdated golang and related packages"
**What happened**:
JFrog vulnerability scan of current image k8s.gcr.io/metrics-server/metrics-server:v0.6.1 finds many critical and high CVEs:

**What you expected to happen**:
Image is free of critical / high CVEs.

**Anything else we need to know?**:
jf version 2.24.2

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.):
- Container Network Setup (flannel, calico,

[2022-10-02 12:55] yangjunmyfm192085 commented on #1096
/cc @serathius Will we release 0.6.2 soon?
I can  upgrade the version of golang and api

[2022-10-03 14:01] stevehipwell commented on #1093
@jfining we'd happily take a PR for this if you'd like to open one?

[2022-10-03 14:02] stevehipwell commented on #1093
/label helm-chart

[2022-10-03 14:26] yangjunmyfm192085 commented on #1093
/helm-chart

[2022-10-04 07:26] nicoclau opened #1098 "metrics-server v0.6.1 : Readiness probe failed: HTTP probe failed with statuscode: 500 with docker desktop and option --kubelet-insecure-tls=true"
[code]

With the logs

[code]

Could you tell me what I can do to resolve the problem ?
Thanks

/kind support