[2020-01-02 16:48] aelmanaa commented on #401
thanks for your answer.
We are using AKS , metrics-server is automatically deployed during the cluster creation. Hence, do you suggest that we update the cpu,memory requests & limits after the cluster is created? (which will kill running metric-server pod and run a new one)

[2020-01-02 17:53] serathius commented on #401
Yes, I would set resources based on maximum cluster size you are expecting.

[2020-01-03 00:57] lurenjia528 commented on #402
[code]

[code]

[code]

metrics-server logs
[code]

the pod on  master3 ,node-1 ,node-3 can not scrape,
[code]
[code]
[code]

on master3,node-1,node-3 ,the kubelet args,i add
`KUBE_CRIPROXY="--container-runtime=remote --container-runtime-endpoint=unix:///run/criproxy.sock --image-service-endpoint=unix:///run/criproxy.sock --enable-controller-attach-detach=false"`,and other machine i don't add cri

[2020-01-03 01:00] lurenjia528 commented on #402
[code]

[code]

metrics-server version 0.3.6

[2020-01-03 10:29] serathius commented on #402
Ok, metrics-server doesn't report errors about scraping those nodes. This would mean that scrapes succeed but return no data.

Can you show results from summary api of nodes without CRI?
[code]

[2020-01-03 21:14] laurelnaiad commented on #385
I imagine there are other incarnations, but here is mine, which also happens to come out of the ingress-nginx land... perhaps all tied back to the issue of initContainers.

[code]

[2020-01-03 22:19] CH-anhngo commented on #385
THanks for your response.
Turned out that something got changed from prometheus exporter in ourcase is kube eagle causing the metrics are not emits.

[2020-01-04 05:41] lurenjia528 commented on #402
[code]

master3(with cri)  pods is null
[code]

node-4(without cri)  pods is not null
[code]

metrics-server logs
[code]

calcio on node-4(without cri)
[code]

calico on master3(with cri)
[code]

what is the problem？

[2020-01-05 15:52] mojiewhy commented on #157
What is SG?

[2020-01-05 17:59] seh commented on #157
Probably "[security group](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-security-groups.html)," in the context of AWS EC2.

[2020-01-07 12:12] #383 closed

[2020-01-07 12:12] serathius commented on #383
Thanks, for contributing!!

[2020-01-08 12:40] serathius commented on #398
I don't it's a problem of minikube by itself by the kubernetes version it installs.

[2020-01-08 12:54] zehuaiWANG commented on #398
but I use the minikube version what the README methed and it still wrong

[2020-01-08 12:54] zehuaiWANG commented on #398
I don't think it's the problem of minikube

[2020-01-10 07:11] timusri opened #403 "Metric server failed to fetch list of containers. Reason: context deadline exceeded. Last server error: <nil>"
Hi I am trying to deploy a VPA object for one of my deployment but when describing the conditions are failing with error

[code]
Here is my VPA file:

[code]
One more scenario I found is that when I run the VPA with updatePolicy mode as "Off" I got a different error in the status of VPA.

[code]
Cluster details : version: 1.13.11-gke.14
Stackdriver Kubernetes
Engine Monitoring: Disabled Legacy Sta

[2020-01-10 07:55] Nurlan199206 commented on #300
@petertsu works on 1.16... thank you

[2020-01-10 08:09] serathius commented on #403
`Fetching history failed: Failed to fetch list of containers. Reason: Failed to listTimeSerises with retries. Last server error: rpc error: code = InvalidArgument desc = Name must begin with '{resource_container_type}/{resource_container_id}', got: projects/`

This looks like a VPA error. Have you asked VPA people?

[2020-01-10 08:16] serathius opened #404 "Use WSS memory and provide adequate documentation explaining why"
On sig-instrumentation meeting (09.01) we agreed to use WSS memory and making sure that we have proper documentation about the decision.

I think the best place to document it would be in [Resource Metrics Pipeline](https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/)
We should add references to it from MetricsServer and Metrics API repo.

/cc @dashpole
/cc @branc

[2020-01-10 09:31] timusri commented on #403
@serathius I thought its related to the metric server as during the fetching history in recommendation it is throwing this.
Sure I post a issue there as well

[2020-01-10 10:14] timusri commented on #403
Created new issue in kubernetes autoscaler repo
[https://github.com/kubernetes/autoscaler/issues/2725#issue-547988301](https://github.com/kubernetes/autoscaler/issues/2725#issue-547988301)

Thanks @serathius

[2020-01-10 10:14] #403 closed

[2020-01-10 10:30] mattymo opened #405 "metrics-server should fetch kubelet metrics via kube-apiserver"
Prometheus can fetch metrics from kubelet for cAdvisor via the path `/api/v1/nodes/${1}:4194/proxy/metrics`, for example. Since kubeadm can't automatically provision and renew kubelet certificates, we are forced to use bizarre 3rd party operators, such as https://github.com/kontena/kubelet-rubber-stamp to get metrics-server to work without accepting a self-signed certificate. The kube-apiserver ce

[2020-01-10 18:37] Trackhe opened #406 "endpoints for service/metrics-server in "kube-system" have no addresses with port name """
I didnt find a solution for this Error.

[code]

my deploy yaml.
[code]

kubernetes dashboard says 0/1 nodes are available: 1 node(s) had taints that the pod didn't tolerate.

i m using flannel in default configuration.
on raspbian 10
on the raspberry pi 4

service

Internal Endpoints
External Endpoints
Age
check_circle
metrics-server
kube-system
kubernetes.io/cluster-service: true
kubernetes.io/n

[2020-01-10 20:44] Trackhe commented on #73
same issue. raspbian10 all is updated but same problem

[2020-01-11 00:24] #406 closed

[2020-01-11 17:28] #277 closed

[2020-01-11 17:28] #268 closed

[2020-01-13 08:58] huangycc commented on #207
Hi @serathius ,

Kubernetes version (use kubectl version): Kubernetes v1.11.10

    ],
    "ephemeral-storage": {
     "time": "2020-01-13T08:56:13Z",
     "availableBytes": 28316934144,
     "capacityBytes": 205110317056,
     "usedBytes": 237568,
     "inodesFree": 55306894,
     "inodes": 55724432,
     "inodesUsed": 24
    }
   },
   {
    "podRef": {
     "name": "mpserver-9ff5c99cb-zbfw6",

[2020-01-13 09:12] serathius commented on #405
Access to `proxy` is equal to root access and should not be given to any workload running in cluster. Adding this feature would require a major discussion with people from security.

[2020-01-13 09:13] cp1408 commented on #375
i am also facing same error...with same logs

[2020-01-13 13:17] mengjinmm opened #407 "unable to fetch pod metrics for pod kube-system/myapp: no metrics known for pod"
Use hpa for stress testing,hpa's yaml file is as follows

apiVersion: autoscaling/v2beta1
kind: HorizontalPodAutoscaler
metadata:
  name: m-62da378b1ced488cbf6ae9bb2f52a363
  namespace: kube-system
spec:
  scaleTargetRef:
    apiVersion: extensions/v1beta1
    kind: Deployment
    name: m-62da378b1ced488cbf6ae9bb2f52a363
  maxReplicas: 10
  minReplicas: 1
  metrics:
  - type: Resource
    resource

[2020-01-13 13:20] mengjinmm commented on #407
metrics-server log

E0113 13:04:16.700318       1 reststorage.go:144] unable to fetch pod metrics for pod aps-serving/m-62da378b1ced488cbf6ae9bb2f52a363-bf6ccbffc-2jfm7: no metrics known for pod
E0113 13:04:16.700366       1 reststorage.go:144] unable to fetch pod metrics for pod aps-serving/m-62da378b1ced488cbf6ae9bb2f52a363-bf6ccbffc-lp4wf: no metrics known for pod
E0113 13:04:16.700376       1

[2020-01-13 13:46] mengjinmm commented on #407
metrics-server logs

E0113 13:30:33.188694       1 reststorage.go:144] unable to fetch pod metrics for pod aps-serving/m-62da378b1ced488cbf6ae9bb2f52a363-bf6ccbffc-svbmj: no metrics known for pod
E0113 13:30:33.188732       1 reststorage.go:144] unable to fetch pod metrics for pod aps-serving/m-62da378b1ced488cbf6ae9bb2f52a363-bf6ccbffc-2g767: no metrics known for pod
E0113 13:30:34.969808       1

[2020-01-14 02:12] dlevene1 opened #408 "metrics-server - long startup time"
Hi,

We are using metrics server with kubespray/k8s 1.13.8 and for some weird reason, upon initial deploy all is good but if every metrics server containers are deleted/restarted the metrics-server container fails to start due to the timeouts on the readiness and liveness probe.

I can increase the initialDelaySeconds to 300, and that resolves the issue - but with --v=10 There is no suggestion as

[2020-01-15 11:13] #404 closed

[2020-01-15 18:53] shubham95 opened #409 "Kubectl top pods/node at what interval it collects stats"
Kubectl top pods/node   at what interval it collects stats because graph plot of CPU /Memory is Discrete Type (Constant for Long time)

[2020-01-16 14:06] errordeveloper commented on #319
I can confirm that setting `username: cluster-admin` worked, I still have confirmed why this doesn't occur in all of the cluster that are setup in the same way, and whether the value of `username` actually matters, I just set it to the same name as the effective clusterrole is in this case.

[2020-01-16 18:05] lvs071103 opened #410 "Error from server (ServiceUnavailable): the server is currently unable to handle the request (get nodes.metrics.k8s.io)"
[code]
metrics-server-deploy.yaml:

[code]
metrics-server pod log:

[code]

remove --kubelet-insecure-tls flag report error:

[code]

kubernetes version 1.17.0

[2020-01-16 19:37] cucosion commented on #375
Same error.
Error: Get https://10.96.0.1:443/api/v1/namespaces/kube-system/configmaps/extension-apiserver-authentication: dial tcp 10.96.0.1:443: i/o timeout
I can ssh from nodes to master.
My setup is centos 8, kubernetes 1.17, metrics-server-amd64:v0.3.6
[root@k8s-master 1.8+]# kubectl get nodes
NAME         STATUS   ROLES     AGE     VERSION
k8s-master   Ready    master    4d22h   v1.17.0
k8s-n

[2020-01-17 02:49] gouki777 commented on #410
you need mount k8s front-proxy-ca.pem to metrics-server-xxx.
And deploy  add - --requestheader-client-ca-file=/front-proxy-ca.pem
<pre>
        command:
        - /metrics-server
        ...............
        - --requestheader-client-ca-file=/front-proxy-ca.pem
</pre>

[2020-01-17 06:55] vishal8k commented on #157
How to check this? I have my cluster hosted on Azure AKS

[2020-01-17 07:31] lvs071103 commented on #410
--requestheader-client-ca-file=/front-proxy-ca.pem  flag in kube-apiserver config

[2020-01-17 09:58] lvs071103 commented on #410
already solved

[2020-01-17 09:58] lvs071103 commented on #410
thanks

[2020-01-17 09:58] #410 closed

[2020-01-17 21:28] leezout commented on #407
Same problem here with **k8 1.16.4** and **metrics-server-amd64:v0.3.6**

Although I can run kubectl top pods, kubectl top nodes which give me results but I still get the messages _"unable to fetch pod metrics for pod xxx"_ or even all my nodes.

[2020-01-19 15:44] dudicoco opened #411 "aggregated-metrics-reader"
What is the use for the aggregated-metrics-reader clusterrole?
It is not bound to a service.

[2020-01-20 18:53] maximillianbrain1 commented on #289
I am going to pick this one up.

[2020-01-20 20:20] shoichiro commented on #375
I am also facing same error with v1.13.5 and v1.15.8

[code]

[code]

[2020-01-21 08:06] serathius commented on #289
Great, please ensure that "/metrics" endpoint is RBAC protected. It could be that the built in apiserver will handle it out of the box, but I haven't test it.

[2020-01-21 09:04] serathius commented on #409
https://github.com/kubernetes-sigs/metrics-server/blob/master/cmd/metrics-server/app/start.go#L59
`metrics-resolution` flag

[2020-01-21 09:06] serathius commented on #408
How much resource requests have you set?
Metrics server needs some time to generate certificates at bootstrap, but I have never seen it took longer then 2 minutes. Please ensure that metrics server is not CPU starved.

[2020-01-21 11:09] dlevene1 commented on #408
We are using kubespray to deploy the cluster - from this the deployment metrics-server doesn't have any limits set, but it is passing some to the nanny pod - which are quite small.
https://github.com/kubernetes-sigs/kubespray/search?q=metrics_server_cpu&unscoped_q=metrics_server_cpu

We regularly use a pipeline to re-build on PR/merges and on this pipeline and on this I can see cpu limiting being

[2020-01-21 11:15] cucosion commented on #375
I did spend some time to troubleshoot and i found out that my DNS was not working i did spent some time to make it work without success and I decided to reinstall everything on CentOS 7 and now everything works fine.

[2020-01-21 12:08] serathius commented on #408
Interesting looks like kubespray uses the manifests based on https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/metrics-server
Which is configuration that I'm maintaining and should be for correct and work up to 5k nodes.

In this issue I extracted equations for resources. https://github.com/kubernetes-sigs/metrics-server/issues/401

[2020-01-21 22:51] shoichiro commented on #375
I fixed this problem. This is innternal network error, not metrics-server error. I chang the pod netowking from calico to canal. the following is Kubernetes v1.15 example.

[code]

[2020-01-22 01:27] dlevene1 commented on #408
I reviewed the clusters that are failing to startup with inthe liveness/readiness probes and indeed they are sitting at 100% limiting based off of..
![image](https://user-images.githubusercontent.com/10554724/72856938-00c47b80-3d0c-11ea-93bd-3ecf8e16e211.png)

When i increase the initialdelay timeouts to 300s, they sit there for quite sometime before it settles down.
![image](https://user-images.g

[2020-01-22 15:23] maximillianbrain1 commented on #289
Will do.

[2020-01-22 15:58] Cxpher commented on #407
I'm running K8s 1.15.3 and metrics-server

Similar issue but i get a response that says request failed - "401 Unauthorized", response: "Unauthorized", unable to fully scrape metrics from source kubelet_summary

I've got args in my metrics-server-deployment manifest already defined but still no dice.

- --kubelet-insecure-tls
- --kubelet-preferred-address-types=InternalIP

Using self-signed cert an

[2020-01-23 15:48] kanthasamyraja commented on #36
Hi @serathius ,
Heapster mentioned as retired and suggesting to use metrics-server. metrics-server document shows kubectl top not implemented. Any other way to get it work.

[2020-01-23 16:38] serathius commented on #36
Kubectl works with metrics-server for long time, documentation is out of date.

[2020-01-23 16:41] serathius commented on #36
https://github.com/kubernetes/kubernetes/pull/60716/files

[2020-01-23 16:41] serathius commented on #36
Created issue https://github.com/kubernetes/kubectl/issues/806

[2020-01-23 18:23] vpalmisano commented on #375
Got the same error on a bare metal installation (Debian 10). I have found a solution here: https://github.com/projectcalico/calico/issues/2322#issuecomment-515554705

[2020-01-26 23:25] terencebor commented on #247
Thanks @latchmihay your solution works for me

[2020-01-27 01:13] Guervyl commented on #247
The problem happened to me and none of the suggestion above worked because the problem wasn't metrics. The problem was because the 443 and 80 was busy. I had apache server running. If yo have any application running on those ports try to kill them before anything.

[2020-01-28 15:38] jiphex commented on #319
I don't know if other comments in this thread are relevant specifically to this issue, as my issue is reproducible on RKE on an entirely bare-metal cluster, specifically not on AWS. If I can apply the same config you've setup in your AWS config to this metrics-server deployment then it may be related.

[2020-01-28 18:10] errordeveloper commented on #319
@jiphex yeah, the fix we are discussing is about `aws-auth` config map and it's 100% EKS-specific. It's possible that RKE has some kind of an auth component that works in way that is similar to EKS, and also in effect what metrics-servers sees is a `username` missing from client certificates.

[2020-01-28 18:10] errordeveloper commented on #319
One thing for is that maintainers should look into making this error more specific.

/cc @DirectXMan12

[2020-01-30 20:29] fefer opened #415 "metrics-server with CrashLoopBackOff"
Hi,

I´m not able to run the metrics-server pod, it gets to crashloopbackoff error. Running "kubectl get pods -n kube-system" I see the following output:
[code]
Then, running "kubectl describe pods metrics-server -n kube-system" I see the following:
[code]
Can someone help me figuring out what is wrong? I´ve seen a lot of similar cases, but none of them worked. Furthermore, I´m running all inside

[2020-01-30 22:28] serathius commented on #415
Looks like container returns error.
Can you provide logs?

[2020-01-31 13:04] fefer commented on #415
Hi serathius,

Thank you for your feedback, below is the log:
[code]

[2020-01-31 13:09] serathius commented on #415
Looks lie a simple fix. Your missing flag `--cert-dir=/tmp`
New metrics-server image uses read only file system for security. When generating certs we need to do it on dedicated temp volume. Looking at your manifest, you already mount it: `/tmp from tmp-dir (rw)`

[2020-01-31 13:45] weshouman commented on #406
How did you solve it :?

[2020-01-31 16:25] Trackhe commented on #406
I don't know for sure.
try:
metrixserver deployment yml.

        - '--kubelet-insecure-tls'
        - '--kubelet-preferred-address-types=InternalIP'

and reboot it. try to redeploy metrix and flannel. have patience. try error. ^^'

[2020-01-31 18:02] Trackhe opened #416 "Error: unknown flag: --kublet-insecure-tls"
my first problem was:
exec user process caused "exec format error" need metrics-server-aarch64:v0.3.6 version.

standard_init_linux.go:211: exec user process caused "exec format error"
it downloads amd64 but the docker node is aarch64

in replicaset image:
k8s.gcr.io/metrics-server-amd64:v0.3.6
i think this is the problem here?!

how i can build it for arm64?

update: i change it in the developmen

[2020-01-31 18:22] #416 closed

[2020-02-01 02:25] antonyaugustus commented on #410
can you give some details?

[2020-02-01 09:08] fefer commented on #415
Sorry, but I'm really new into kubernetes. Where should I put this flag? I've tried to edit the yaml of the deployment, but it did not work:
[code]

[2020-02-01 23:19] Yurez13 commented on #410
yes please, the same error

[2020-02-02 13:17] Trackhe opened #417 "Skipping metric because of error: Metric label not set."
kubernetesui/dashboard:v2.0.0-rc3
 k8s.gcr.io/metrics-server-arm64:v0.3.6
kubernetesui/metrics-scraper:v1.0.3

kubectl top pods seems not working.
`Error from server (ServiceUnavailable): the server is currently unable to handle the request (get pods.metrics.k8s.io)`

watch kubectl get pods --all-namespaces
[code]
metrics server log:
[code]
dashboard-metrics-scrapper log:
[code]
kubernetes-dashboa

[2020-02-03 06:03] aliartiza75 commented on #390
after a little bit of investigation, I found out that the issue is with the IBM IKS cluster. Same thing works on other vendors.

[2020-02-03 09:33] rdrgporto commented on #399
Hi @2018-11-27,

Have you solved this issue ? I have the same behaviour **behind proxy server** on:

- Kubernetes **1.15.4**
- Metrics Server **v0.3.6**
- Kubernetes Dashboard **v2.0.0-rc2**
- Metrics Scraper **v1.0.2**

Thanks in advance,

Rodrigo

[2020-02-03 13:02] 2018-11-27 commented on #399
I'm sorry, this problem has been put on hold.

------------------ Original ------------------
From: Rodrigo <notifications@github.com&gt;
Date: Mon,Feb 3,2020 5:33 PM
To: kubernetes-sigs/metrics-server <metrics-server@noreply.github.com&gt;
Cc: _zyk <137326237@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [kubernetes-sigs/metrics-server] apiservice cannot communicate with metric

[2020-02-03 17:12] nicoclau opened #418 "How to securely configure metrics server; Removing kubelet-insecure-tls"
Hello, I use docker for windows, and activated kubernetes.
I installed metrics-server v1.8+, but the metrics can't work:

kubectl.exe top no

error: metrics not available yet

no matter how long.

I had to fiddle the metrics-server-deployment to add the command

--kubelet-insecure-tls

It works. But I need to know:

- Why --kubelet-insecure-tls made it work
- What to do in production as it is wron

[2020-02-03 19:39] Trackhe commented on #417
I remake the setup and it works i dont know what hapend before.
https://github.com/Trackhe/Rasbian64bitKubernetesServerDualstack

[2020-02-03 19:39] #417 closed

[2020-02-04 09:41] serathius commented on #418
What metrics-server configuration works is decided by configuration of kubelet. Possibly you didn't correctly setup kubelet authorization/secure endpoint.

If your using cluster provided by some SaaS offering, then checkout their documentation/reach out to them. I would not expect that you could change kubelet config.
If you are using some OSS kubernetes distro, look into their documentation for s

[2020-02-04 15:35] dudicoco opened #419 "Does metrics server support multiple replicas?"
Hi,

I could not find this in the documentation so perhaps it should be clarified there.
Can the metrics server be deployed with multiple replicas, or can it only run with 1 replica similar to controllers?

Thanks

[2020-02-04 17:03] s-f-n opened #420 "Next Release"
Hi,

Could you please let me know if a new release is scheduled for metrics-server?

Thank you

[2020-02-04 19:29] fefer commented on #415
Ok. So, by reinstalling kubernetes using ```kubeadm init``` without any flag and installing ```calico``` I was able to install metrics-server and now the ```kubectl get pods --all-namespaces``` seems to be fine, with all pods with a status of "Running" and Ready "1/1", as below:

[code]

However, after making a deploy of php-apache to try to autoscale I´m still getting it like this:

[code]

metri

[2020-02-06 19:12] fefer opened #424 "Metrics Apiservice "connect: no route to host""
I´m trying to deploy metrics to kubernetes and something really strange is happening, I have one worker and one master. I have the following pods list:

[code]

When I try to get the metrics I see the following:

[code]

Lastly, I see the log (v=6) the output of metrics-server:

[code]
Using the log output with v=10 I can see even the details of health of each pod, but nothing while running the ``

[2020-02-06 20:33] serathius commented on #424
`Get https://10.110.144.114:443/apis/metrics.k8s.io/v1beta1: dial tcp 10.110.144.114:443`
Points to your apiserver is having problems with reaching your metrics server pod. This is related not to metrics-server itself, but how your network is setup.

Usually it's caused by master node not running in container virtual network or some problems with virtual network itself.

I would suggest debugging

[2020-02-06 20:37] serathius commented on #420
No fixed schedule. Usually we cut new release when major bug/important feature is implemented. Is there any particular reason why you want this information?

[2020-02-06 20:46] serathius commented on #419
Metrics server does two jobs:
* Serves Metrics from cache as API
* Scrapes metrics from kubelet to fill the cache

Metrics Server should be able to run with multiple replicas (not 100% sure as I don't fully know code for kube-aggregator, kubernetes library used to register API). With two replicas requests will be load balanced between them.

Every replica will scrape all nodes in cluster. Which me

[2020-02-06 20:49] fefer commented on #424
curling the address shows just:
curl: (7) Failed to connect to 10.110.144.114 port 443: No route to host

I cannot see any pod or something else related to this address. Do you know where this IP address is configured?

[2020-02-06 20:51] serathius commented on #411
Not my region of expertise, please read about aggregated api servers:
* https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/aggregated-api-servers.md
* https://kubernetes.io/docs/tasks/access-kubernetes-api/setup-extension-api-server/

[2020-02-06 20:54] serathius commented on #415
"dial tcp: lookup master-node on 10.96.0.10:53: server misbehaving" <- network issue.
Please verify your network setup. This looks like your DNS doesn't work

[2020-02-06 20:55] serathius commented on #415
Other thing, if your having problems with metrics-server configuration distributed with kubeadm, please consider submitting Issue there.

[2020-02-06 21:01] serathius commented on #409
Default: 60s

[2020-02-06 21:01] #409 closed

[2020-02-06 21:05] #411 closed

[2020-02-06 21:05] #418 closed

[2020-02-06 21:07] serathius commented on #424
It should be either IP of your metrics-server or IP of Service

[2020-02-06 21:11] serathius commented on #407
discarding data: no non-zero timestamp on either CPU or memory
Means that there is problem with node, not metrics-server. Please verify metrics values returned by Kubelet and forward this problem to https://github.com/kubernetes/kubernetes repository.

[2020-02-06 21:11] #401 closed

[2020-02-06 21:12] serathius commented on #395
/help

[2020-02-06 21:17] serathius commented on #399
Have you looked into port numbers that your using?
ApiService sends requests to `https://10.108.222.161:443`
Metrics Server logs bind on `[::]:4443`
Flag you specified to apiserver is ` --secure-port=8443`

[2020-02-06 21:19] serathius commented on #408
Yes, I think it's a good idea to remove CPU limits.

[2020-02-06 21:19] #419 closed

[2020-02-06 21:22] #133 closed

[2020-02-06 21:25] serathius commented on #175
/help

[2020-02-06 21:28] #212 closed

[2020-02-06 21:30] #269 closed

[2020-02-06 21:30] #270 closed

[2020-02-06 21:31] #281 closed

[2020-02-06 21:32] fefer commented on #424
Thank you for your reply, it´s kind of strange, none of them match it. The service:

[code]

The metrics-server:

[code]

[2020-02-06 21:32] #299 closed

[2020-02-06 21:32] #300 closed

[2020-02-06 21:32] #307 closed

[2020-02-06 21:37] serathius commented on #319
Looks like problem was resolved.

@errordeveloper please submit a separate issue about making error message more specific.

[2020-02-06 21:37] #319 closed

[2020-02-06 21:38] #327 closed

[2020-02-06 21:39] #361 closed

[2020-02-06 21:53] onedr0p commented on #299
Any reason all these issues were closed? we're still seeing issues...

[2020-02-06 22:12] serathius commented on #299
Original author was not providing any updates and "no metrics known for node" log was explained. If you have a similar problem feel free to open new Issue.

[2020-02-06 22:18] serathius commented on #424
I would recommend to read about Api Server aggregation and what Network requirements it has. I don't think I can help more without deep understanding of your cluster and network setup.

[2020-02-06 22:20] onedr0p commented on #299
That's hardly a reason to close all these issues, yes, they are duplicates and they should be closed.  But the amount of people having these issues in each one doesn't justify closing all of them.

[2020-02-07 09:08] pierluigilenoci commented on #133
@serathius why closed?

[2020-02-07 09:09] pierluigilenoci commented on #212
@serathius is this fixed?

[2020-02-07 09:09] pierluigilenoci commented on #269
@serathius fixed?

[2020-02-07 09:10] pierluigilenoci commented on #300
@serathius fixed?

[2020-02-07 09:16] luarx commented on #133
@serathius is it fixed?

[2020-02-07 11:06] onedr0p commented on #300
No fix, clearly this is a wontfix issue.

[2020-02-07 13:13] jiphex commented on #319
FWIW I don't believe the issue I raised has been resolved, the other comments refer specifically to an EKS issue, which may be related to the original issue I reported which has nothing to do with EKS.

[2020-02-07 14:12] serathius opened #425 "Adopt Kubernetes issue triage policy"
Metrics Server repository is filled with support request by cases of clusters that have problems with network setup or apiserver aggregation configuration. Handling those issues is problematic as
* They are outside of scope of metrics server and require deep node/network knowledge
* Require very intensive debugging sessions to find network problem. Debugging through github issues is very ineffecti

[2020-02-07 14:32] s-f-n commented on #420
Understood.

I am mainly interested in the change in https://github.com/kubernetes-sigs/metrics-server/pull/352 to get a release built on Go 1.12.12 for various security fixes.

Thank you

[2020-02-07 14:57] errordeveloper commented on #319
Yes, at very least someone should update the docs or do something to that
extent. Right now this is "an issue with a known unexplained workaround",
not a solved issue by any means.

On Fri, 7 Feb 2020, 1:13 pm James Hannah, <notifications@github.com> wrote:

[2020-02-07 16:14] serathius commented on #425
With @brancz thumbs up, I will start the process of closing support tickets.

[2020-02-07 16:16] serathius commented on #424
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)
[code]

[2020-02-07 16:16] #424 closed

[2020-02-07 16:17] #420 closed

[2020-02-07 16:17] serathius commented on #415
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:17] #415 closed

[2020-02-07 16:18] serathius commented on #408
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:18] #408 closed

[2020-02-07 16:18] serathius commented on #407
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:18] #407 closed

[2020-02-07 16:18] serathius commented on #399
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:18] #399 closed

[2020-02-07 16:19] serathius commented on #390
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:19] #390 closed

[2020-02-07 16:19] serathius commented on #385
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:19] #385 closed

[2020-02-07 16:19] serathius commented on #375
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:19] #375 closed

[2020-02-07 16:19] serathius commented on #374
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:19] #374 closed

[2020-02-07 16:20] serathius commented on #371
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:20] #371 closed

[2020-02-07 16:20] serathius commented on #370
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:20] #370 closed

[2020-02-07 16:20] serathius commented on #369
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:20] #369 closed

[2020-02-07 16:20] serathius commented on #360
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:20] #360 closed

[2020-02-07 16:20] serathius commented on #356
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:20] #356 closed

[2020-02-07 16:21] serathius commented on #331
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:21] #331 closed

[2020-02-07 16:21] serathius commented on #326
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:21] #326 closed

[2020-02-07 16:21] serathius commented on #325
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:21] #325 closed

[2020-02-07 16:21] serathius commented on #317
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:21] #317 closed

[2020-02-07 16:21] serathius commented on #278
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:21] #278 closed

[2020-02-07 16:22] serathius commented on #207
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:22] #207 closed

[2020-02-07 16:22] serathius commented on #157
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:22] #157 closed

[2020-02-07 16:22] serathius commented on #130
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:22] #130 closed

[2020-02-07 16:25] serathius commented on #133
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:25] serathius commented on #269
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:25] serathius commented on #212
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:30] serathius commented on #300
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:30] lucj commented on #385
@serathius I do not thing this is a support request. As metrics-server is failing to be deployed in this particular context, it looks like a bug to me (especially as it needs to be fixed with the above command).

[2020-02-07 16:31] serathius commented on #402
Closing per [Kubernetes issue triage policy](https://kubernetes-contributor.netlify.com/guide/issue-triage/#determine-if-its-a-support-request)

GitHub is not the right place for support requests.
If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubl

[2020-02-07 16:31] #402 closed

[2020-02-07 16:34] serathius commented on #385
It's a cluster configuration or network problem, like you said problem with deploying in particular context.
This should be addressed by better instructions/documentation. Not debugging particular environment by maintainers.

Please try to use Stack Overflow or #sig-instrumentation slack channel to asking for help with debugging.

[2020-02-07 16:34] onedr0p commented on #300
Ok cool, create a new rule and close all "support issues". Sounds like a good idea to me! /s

You should just turn off Issues on this Github Repo if that is how you feel, this isn't a support issue, it's clearly a **BUG** with metrics-server.

[2020-02-07 17:05] brancz commented on #425
Sounds good :+1:

[2020-02-07 17:17] DerrickMartinez commented on #326
I just have a major prod issue. Way longer than just starting.. See logs (18 hours worth)

  Warning  FailedGetResourceMetric  2m33s (x4265 over 18h)  horizontal-pod-autoscaler  missing request for cpu

[2020-02-07 17:20] DerrickMartinez opened #428 "Errors: `discarding data: missing cpu usage metric, unable to get CPU for container`"
Versions:
Kubernetes 1.16.4
metrics-server: v0.3.6

Just had a prod outage this morning, turned out that metrics server was unable to get metrics. `unable to get CPU for container "prod-api" in pod prod/prod-api-blue-7f66b8f7f5-sp47w on node "10.189.24.201", discarding data: missing cpu usage metric`

This has been going on for the last 18 hours. (Over night and then had the outage first thing thi

[2020-02-07 18:02] lucj commented on #385
I was talking about a particular context but in fact it's not that particular ;) as I got the problem while deploying the metric server on a new DigitalOcean managed cluster. I think you'r right and might be linked to the internal configuration of the cluster.
I'll ask on the sig and will update here if this can help others.

[2020-02-07 19:19] DerrickMartinez commented on #300
Major issues with metrics-server now, I'm looking to get off of it in my environments

[2020-02-07 19:36] serathius commented on #300
Thanks for your feedback. Sorry for closing this issue, but those policy are there for a reason. There are better ways to solve current problems with metrics server then trying to debug every cluster setup.

This issue is good example of author abandoning it without giving any specifics. Without specifics on how to reproduce the issue it's impossible to find and fix bugs.

Closing this issue doesn

[2020-02-07 19:43] serathius commented on #425
All issues were closed. I will be following up on this issue to prepare better documentation with a goal of empowering users to debug their own problems.

[2020-02-07 19:43] #425 closed

[2020-02-07 20:05] serathius opened #429 "Write comprehensive documentation to empower user to self debug metrics-server problems"
/kind documentation
/help

Metrics server is pretty unique k8s addon as it's super reliant on cluster and network configuration. It's also very hard to correctly configure due lack of documentation. There is also a big gap in understanding what network configuration is needed to run it making it very frustrating for people that use Kaas (Kubernetes as a service) products that just don't support it

[2020-02-07 20:05] serathius commented on #429
/cc @brancz

[2020-02-07 21:51] serathius commented on #326
Logs "missing cpu usage metric" for longer running pods mean problem with Kubelet metrics.
Please contact sig-node to solve this issue.

[2020-02-07 22:03] serathius commented on #319
Sorry for not noticing that issue was hijacked by EKS @jiphex. Metrics Server depends on https://github.com/kubernetes/apiserver to serve its API and configure certificates. I would encourage you to ask there.

[2020-02-07 22:22] #428 closed

[2020-02-07 22:25] DerrickMartinez commented on #428
FYI... Root cause.

prod/prod-api-blue-7f66b8f7f5-sp47w (running) could not get results because there was a
prod/prod-api-blue-test-connection (completed) due to a helm test.

There is a bug but not sure where. Pretty sure it's not metrics-server. In a nutshell, hpa tries to evaluate on `prod-api-blue-7f66b8f7f5-sp47w` and then somehow it matches on `prod-api-blue-test-connection`, which it can't.

[2020-02-08 01:46] ricpf commented on #247
didn't had to update the deployment tough. --insecure tls and kops update cluster did the trick for me thank you

[2020-02-10 05:41] bhargaviaaa opened #433 "How to get Pod and node CPU usage in % from metric server"
Hi,
How to get Pod CPU usage in percentage. Currently metric server is giving value in n. I changed to %, using 100m = 10%. But this calculation is giving value that is more than 100%.

[2020-02-10 08:59] pierluigilenoci commented on #300
@mishaque ?

[2020-02-10 14:54] discostur opened #435 "metrics.k8s.io/v1beta1 - not compatible with k8s 1.17.2"
Hi,

we upgraded our cluster to k8s v1.17.2 and we are seeing the following errors:

[code]

[code]

Metrics server should be installed via Helm:

[code]

**Environment**:
[code]

/kind bug

[2020-02-10 15:01] serathius commented on #435
Metrics server is tested and should be working on 1.17. I would look into things that changed during your cluster upgrade other then version. Could be that defaults changed. Please provide logs from metrics server

[2020-02-10 15:03] discostur commented on #435
I think is must be related to metrics server because if i delete the metrics server chart all errors are gone away ...

[2020-02-10 15:06] serathius commented on #435
Please direct any problems with metrics server chart to helm repository where it's written. https://github.com/helm/charts/tree/master/stable/metrics-server
/triage support

[2020-02-10 15:31] discostur commented on #435
ok i will close this here and create a new one in the helm repo. as i wrote it is related to the api version:

[code]

[2020-02-10 15:31] #435 closed

[2020-02-10 15:40] serathius commented on #433
Metrics server doesn't provide resource utilization metric (e.g. percent of CPU used).
Kubectl top and HPA calculate those values by themselves based on pod resource requests or node capacity.
100m = 10% comes from running pods in "default" kubernetes namespace. If no CPU resources were set pods get 100m CPU request.

[2020-02-10 15:40] #433 closed

[2020-02-12 13:57] dudicoco commented on #411
@serathius I've went through the docs and didn't find a reference for such role.

@giner  and @astefanutti since you are the main contributors for the file can you please explain the role's purpose?

[2020-02-16 06:15] aneesh121 commented on #188
Adding hostNetwork: true in the spec fixed my issue !

[code]
Duplicate of #157

[2020-02-18 23:12] mbabauer commented on #247
This setup worked for me, except I left the secure-port at 4443, which was how it was installed via the deployment script.  Now I can get top on both node and pods.

[2020-02-19 03:40] weshouman commented on #131
One small detail that may get overlooked, in case a proxy is used, that could be caused by forgetting to add the 10.0.0.0/8 to the no_proxy list.

[2020-02-19 16:03] syscll commented on #362
I am trying to get this working in my clusters and am also confused by the wording of the docs:

Yet when I mount the CA file, i still receive x509 validation errors which leads me to believe this flag is being ignored as you mentioned in your https://github.com/kubernetes-sigs/metrics-server/issues/362#issuecomment-555325223

This is very confusing and the docs are definitely contradictory.

[2020-02-20 02:22] rajuaddalaOracle opened #442 "building v0.3.6 is failing"
Need to build v0.3.6  locally.
I downloaded version and when I run make it is failing,

 make
which: no golangci-lint in (/home/opc/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/opc/.local/bin:/home/opc/bin)
go run vendor/k8s.io/kube-openapi/cmd/openapi-gen/openapi-gen.go --logtostderr -i k8s.io/metrics/pkg/apis/metrics/v1beta1,k8s.io/apimachinery/pkg/apis/meta/v1,k8s.io/apimachinery

[2020-02-20 09:42] serathius commented on #442
What golang version are you using? Versions < 1.11 will not work. I would recommend using `1.13` as this is used in CI.

[2020-02-20 14:13] rajuaddalaOracle commented on #442
I am using go version go1.13.7 linux/amd64

[2020-02-20 19:59] rajuaddalaOracle commented on #442
This is what I have to do make this work:

export GOPATH=$(pwd)/go
 export PATH=$PATH:$GOPATH/bin
 mkdir -p ${GOPATH}/src/github.com
cd go/src/github.com/
 git clone https://github.com/kubernetes-sigs/metrics-server.git

 cd metrics-server/
 git checkout v0.3.6
  rm -fr kubernetes-incubator/metrics-server/
  mv metrics-server/ kubernetes-incubator/

 cd kubernetes-incubator/metrics-server/

  make

[2020-02-21 04:05] zoukanghua commented on #410
could you give us your solution?

[2020-02-21 09:55] serathius commented on #442
Sorry that tagging commit with broken local build. Local build is more used for development then as externally supported way of building metrics server.

Before trying to fix release, I would like to better understand why you want to use it.
* Are you just interested in binary for 0.3.6? You could extract it from officially supported image `k8s.gcr.io/metrics-server:v0.3.6`.
* Could you build from

[2020-02-21 15:34] rajuaddalaOracle commented on #442
Thank you for the response.
Within our org, we have to build binary from source and then use built binary.
We only have approval for v0.3.6 and hence have dependency on v0.3.6

[2020-02-22 04:48] kurtostfeld opened #443 "metrics-server with k8s 1.14.9 eks.8: Unable to authenticate the request due to an error: x509: certificate signed by unknown authority"
**What happened**:
I get errors in metrics-server. See logs below.
**What you expected to happen**:
I expected metrics-server to work.
**Anything else we need to know?**:
This should be a very simple vanilla eks cluster setup with eksctl.
I installed metrics-server using the simple instructions at
https://docs.aws.amazon.com/eks/latest/userguide/metrics-server.html

I've done lots of searches and

[2020-02-22 16:04] serathius commented on #443
/triage support

[2020-02-22 17:07] serathius commented on #442
Ok, managed to build version v0.3.6
[code]

[2020-02-22 17:33] serathius commented on #443
Looks like there are two problems:
* Metrics server trying to resolve "ip-10-0-138-86." instead of "ip-10-0-138-86.us-west-2.compute.internal"
* Incorrect certificate configuration

I will look into domain resolution.

Second problem looks like one with EKS configuration.
Best would be to reach to authors of the instructions that you used or EKS support.

[2020-02-22 21:11] smitthakkar96 commented on #443
[code]
 And kubelet-preferred-address-types=InternalIP will solve your problem

[2020-02-23 09:00] serathius commented on #443
Hey @smitthakkar96 thanks for help.
I'm currently looking for someone knowledgeable about running metrics server on EKS.
https://github.com/kubernetes-sigs/metrics-server/issues/429
Would you be interested in writing "Known Issues" section for EKS?

[2020-02-23 09:36] smitthakkar96 commented on #443
@serathius I have been working with EKS since last few months, this is the only issue I faced so far, not sure if I am the right person to help

[2020-02-23 12:06] FrimIdan commented on #443
@smitthakkar96 Can you elaborate on how the 'ClusterRoleBinding' will help here. Is it a specific solutions to EKS?

[2020-02-23 23:59] wu105 commented on #193
I can understand the concept of units, requests, limits and actuals, but have a hard time to reconcile the 'kubectl top' output with that of "traditional linux commands", e.g., uptime (load everages of past 1, 5, and 15 minutes), free (memory used, free, shared, buff/cache, available), top ('uptime' + 'free -k', then VIRT/RES/SHR memory and %CPU/%MEM on processes).

One question on the kubectl top

[2020-02-24 04:23] kurtostfeld commented on #443
@smitthakkar96 I tried adding that option and it didn't seem to make any difference.

I also tried deleting/rebuilding the entire EKS cluster with the slightly newer Amazon eks.8. Same result. I updated the original post with the new version and with updated log output (same general errors, probably different internal Amazon ips.)

[2020-02-24 08:42] serathius commented on #443
Looks like your `authentication.go:65] Unable to authenticate the request due to an error` error comes from here https://github.com/kubernetes-sigs/metrics-server/blob/v0.3.6/vendor/k8s.io/apiserver/pkg/endpoints/filters/authentication.go#L65
It's an error from apiserver library. This means that your control plane fails to authenticate to your metrics-server.

Do you know how authentication is con

[2020-02-24 08:46] s-urbaniak commented on #443
@kurtostfeld it might be that API server certificates have rotated and metrics-server being a federated API server doesn't trust those any more (as indicated by `x509: certificate signed by unknown authority`). Does restarting metrics-server help?

[2020-02-24 08:57] serathius commented on #193
Hey @wu105,
`kubectl top` was not designed to be standalone tool to debug resource usage or be replacement to `traditional linux command`.
It's a additional  tool for *core metrics pipeline*.

Main purpose of metrics pipeline is delivering metrics for autoscaling purposes. Values exposed are curated to autoscaling and OOM detection. Building autoscaling pipeline that can scale to thousands of node

[2020-02-24 08:59] serathius commented on #193
I would encourage you to look into monitoring systems like Prometheus that are closer to what your describing.

[2020-02-24 14:02] ljmict commented on #410
I also encountered a similar problem and don't know how to solve it.

`[root@k8s-node01 ~]# kubectl get pods -n kube-system -o wide
NAME                              READY   STATUS    RESTARTS   AGE     IP             NODE                    NOMINATED NODE   READINESS GATES
coredns-76b74f549-schwm           1/1     Running   2          5h32m   10.224.13.13   k8s-node01.ljmict.com   <none>

[2020-02-24 14:26] serathius commented on #410
Hey @ljmict
Please open a separate issue.

[2020-02-24 18:18] wu105 opened #447 "kubectl top nodes/pods values vs uptime/free/top"
**What would you like to be added**:
This is spun off #193

I can understand the concept of units, requests, limits and actuals, but have a hard time to reconcile the 'kubectl top' output with that of "traditional linux commands", e.g., uptime (load everages of past 1, 5, and 15 minutes), free (memory used, free, shared, buff/cache, available), top ('uptime' + 'free -k', then VIRT/RES/SHR memory a

[2020-02-24 18:19] wu105 commented on #193
Submitted #447

[2020-02-24 19:08] smitthakkar96 commented on #443
What I proposed doesn't work anymore. I have been struggling too with the same problem. @s-urbaniak restarting metrics server doesn't help

[2020-02-24 19:13] aksgithub commented on #362
@syscll can you share kubelet configuration? what flags are configured on kubelet ?

[2020-02-24 20:39] syscll commented on #362
[code]

[2020-02-24 21:53] kurtostfeld commented on #443
A coworker of mine fixed it by changing adding a --username of "eks-admin" to the iamidentitymapping entries. I never would have guessed trying that. We aren't doing anything custom with certs or security. I'll add more detail when he explains.

[2020-02-24 22:16] serathius commented on #447
Thanks for you feedback @wu105,

From what I understood your main problem is lack of proper tools to investigate reason for node crashes and resource spikes. I don't think metrics will be a good tool for your problem. To do a proper root causing you need to look into layers below Kubernetes (e.g. kernel logs, memory pressure).

Kubernetes is a container management solution that is independent of p

[2020-02-25 03:21] ljmict commented on #410
Okay thank you!

[2020-02-25 03:28] ljmict opened #448 "kubectl top node Error from server (ServiceUnavailable): the server is currently unable to handle the request (get nodes.metrics.k8s.io)"
/triage support

[2020-02-25 03:51] ljmict commented on #448
I'm using Kubernetes v1.17.2, and metrics-server can run normally.
[code]
Use `kubectl top node`
[code]
Show logs
[code]
The network is connected.
[code]

[2020-02-25 06:53] ljmict commented on #448
`systemctl status kube-apiserver -l`
Feb 25 14:42:25 k8s-master01.ljmict.com kube-apiserver[7849]: E0225 14:42:25.096040    7849 available_controller.go:419] v1beta1.metrics.k8s.io failed with: failing or missing response from https://10.96.56.228:443/apis/metrics.k8s.io/v1beta1: Get https://10.96.56.228:443/apis/metrics.k8s.io/v1beta1: net/http: request canceled while waiting for connection (Clie

[2020-02-25 07:02] ljmict commented on #448
already solved.
Add`--enable-aggregator-routing = true`to the kube-apiserver option.

[2020-02-25 07:03] #448 closed

[2020-02-25 10:27] mmazek commented on #443
This sounds crazy, but I simply used the solution explained here: https://github.com/kubernetes-sigs/metrics-server/issues/319#issuecomment-565789353
For some reason, not specifying `username` property in the IAM role mapping generates those cert issues.

[2020-02-25 11:13] serathius commented on #443
Great!
Would you be interested in describing your solution in Metrics Server documentation?

Making this solution more discover-able would really help others. There is abundance of Kubernetes distribution, each of them somewhat different, requiring adaptation to run metrics-server. As no-one has access to every possible distribution (e.g. cloud), each experience that lead to solving problem is val

[2020-02-25 11:47] smitthakkar96 commented on #443
@mmazek it doesn't solve the problem.

[2020-02-25 11:51] mmazek commented on #443
It most certainly solved the problem for us. We don't even have to overwrite the metrics-server command with flags like `--kubelet-insecure-tls`.

[2020-02-25 19:25] serathius opened #449 "Revise prometheus metrics"
As suggested by @s-urbaniak in https://github.com/kubernetes-sigs/metrics-server/pull/387
We should leverage the best practices we defined in https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/20181106-kubernetes-metrics-overhaul.md#motivation and start dependency injecting the prometheus registry into components.

/kind feature

[2020-02-25 19:25] serathius commented on #449
/help

[2020-02-25 21:16] serathius commented on #392
/help

[2020-02-25 21:18] serathius commented on #382
Implemented via https://github.com/kubernetes-sigs/metrics-server/pull/426

[2020-02-25 21:18] #382 closed

[2020-02-26 11:23] ari-becker opened #451 "ImagePullPolicy should be IfNotPresent, not Always"
**What happened**:

The provided deployment manifests list the `ImagePullPolicy` for the `metrics-server` container as `Always`

**What you expected to happen**:

As the manifest specifies the tagged `v0.3.6` release, I don't expect the `v0.3.6` tag to change. If there is a new release, I expect a new release to be given a different tag e.g. `v0.3.7`. Therefore, attempting to pull `v0.3.6` over an

[2020-02-26 11:52] #451 closed

[2020-02-26 17:25] wu105 commented on #447
Well, kubernetes is supposed to manage the resources and achieve high utilization, with the power to kill pods when necessary.  The node crashes we have left no traces behind that we can find.  They tend to happen during higher load, usually high memory and low cpu utilizations, moderate networking and disk i/o, can be spiky, probably typical for java build jobs.   There is a question lurking in t

[2020-02-27 13:33] mcginne commented on #447
I'm also interested in this to some extent. I'm curious, what value for CPU% busy `kubectl top nodes` is reporting. When running some tests I can see with both `top` on the host and the prometheus query:
`100 - (avg by (instance) (irate(node_cpu_seconds_total{mode="idle"}[10m])) * 100)`

That the node is pretty close to 100% utilised - but `kubectl top nodes` is reporting ~60-70%. busy.

In my cas

[2020-02-28 11:30] nemo83 commented on #443
I'm running kube14 on AWS and installed chart via helm (the helm stable repo). For me, in order to make the kubelet issue disappear was enough to add the `kubelet-preferred-address-types=InternalIP`.

[2020-02-29 12:09] serathius commented on #447
@wu105

This is something that Kubernetes can help you achieve but it not guaranteed by just migrating to it.
High utilization depends on proper scheduling of pods, which directly depends on setting resource requests and limits. Without those Kubelet cannot properly configure how those resources are shared, leading to starvation or node crashed (e.g. kubelet not reserving resources for itself).

T

[2020-03-01 01:01] serathius commented on #289
Looks like I found the bug
Fix https://github.com/kubernetes-sigs/metrics-server/pull/453

[2020-03-01 01:55] wu105 commented on #447
Well, let us start with something we have evidence: When too many java jobs ended on some nodes, the node runs at high load factor and not responsive.  There were two expectations: 1. kubernetes is expected to kill some of the jobs but it did not, 2. kubernetes is expected to distribute the jobs to begin with but some nodes ended with more than others, 3. kubernetes is expected to wait to start so

[2020-03-01 11:17] serathius commented on #384
Hey @irajdeep, any progress on it? Do you need help?

[2020-03-03 13:08] Eldar-Ahmadov commented on #448
Could you please add more context to it? I'm currently having the same issue.
I'm using k3s in HA mode and when I run **kubectl top node** from one master it's ok, but when I switch to another master (point to another master in kube config) I get the same issue:

*Error from server (ServiceUnavailable): the server is currently unable to handle the request (get nodes.metrics.k8s.io)*

What did `ena

[2020-03-04 18:34] dj80hd commented on #415
Upgrading metrics-server v0.3.6 -> v0.3.7 fixed this for me.

[2020-03-06 04:26] tanjunchen opened #457 "unable to fully collect metrics:no route to host"
The cluster environment built by kubeadm in local.

[code]

kubeadm version: &version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.3", GitCommit:"b3cbbae08ec52a7fc73d334838e18d17e8512749", GitTreeState:"clean", BuildDate:"2019-11-13T11:20:25Z", GoVersion:"go1.12.12", Compiler:"gc", Platform:"linux/amd64"}

kube-apiserver.yaml

[code]

kubectl api-versions

[code]

NetWorkPolicy
see https://docs.p

[2020-03-06 20:06] serathius commented on #457
Implies that you have a network problem

metrics server needs to have access to your nodes.
In your cases it tries to connect to 192.168.17.132:10250
Questions for you:
*  Is the IP that it trying to connect correct?
* Why it cannot connect?

[2020-03-07 10:14] serathius commented on #365
Looks like image promoter is online. I prepared a plan for migration
@s-urbaniak Does it make sense for you?

[2020-03-07 10:35] serathius commented on #365
/cc @dims
Can you create k8s-infra-staging-metrics-server@kubernetes.io google group?

[2020-03-07 10:36] serathius commented on #365
/cc @dims
Can you create staging repo for metrics-server?

[2020-03-07 11:52] serathius commented on #442
Verified that binary correctly builds.

[2020-03-07 11:52] #442 closed

[2020-03-07 11:56] serathius commented on #443
@kurtostfeld looks like you managed to solve the problem. Could you provide explanation how so other can benefit.

I will be closing issue when explanation is provided. If your having similar problem please open separate issue.

[2020-03-07 12:04] serathius commented on #314
I tested certificate rotation using KIND cluster.
[code]
Everything worked.
Cloud you provide a instructions on reproducing the problem?

[2020-03-07 13:04] dims commented on #365
@serathius please file a PR similar to the ones before. groups.yaml is for the group itself and then there's a script for the staging.

https://github.com/kubernetes/k8s.io/pull/628/files
https://github.com/kubernetes/k8s.io/pull/637/files

[2020-03-07 13:32] serathius commented on #365
Thx @dims, PR was created early. I wasn't sure if group was created thou.
I confirmed that google group exits.

[2020-03-07 14:28] dims commented on #365
seems to be present and correctly configured @serathius

[code]

[2020-03-07 14:31] serathius commented on #365
Thx

[2020-03-08 18:51] aksgithub commented on #362
try with --anonymous-auth=true

[2020-03-09 02:34] tanjunchen commented on #457
yes I agree that it is network problems.
Is there any good way to test if the network is connected?
![image](https://user-images.githubusercontent.com/19339970/76178136-605de400-61f1-11ea-816c-5466e18ada44.png)

![image](https://user-images.githubusercontent.com/19339970/76178180-81bed000-61f1-11ea-826b-8b7081969aea.png)

[2020-03-09 03:09] gavinfish commented on #457
/cc

[2020-03-09 09:23] s-urbaniak commented on #365
@serathius i am :+1: on moving to https://github.com/kubernetes-sigs/k8s-container-image-promoter :tada:

[2020-03-09 09:32] serathius commented on #365
What about cutting 0.3.7 release?
There were a lot of changes after 0.3.6, so I would not feel comfortable to cut new release from master.
Still, would be nice to start using new pipeline to improve quality of release process.

[2020-03-09 09:38] s-urbaniak commented on #365
Indeed, there has been a lot of refactorings. Suggestion: if we cut a new release, i'd cut two separate ones. One containing the refactorings only with the current pipeline, and another one that does the image promoter migration. Having both things in one release could result in a mix of issues.

[2020-03-09 10:17] tanjunchen commented on #457
before this command
[code]
will fail

after this command
[code]
will success

@serathius   thanks your comment.

This is a network problem. I recorded the problem here.
If you have similar problems, you can refer to whether there is a network conflict.

Is the  `--pod-network-cidr`  initialized correctly?

/close

[2020-03-09 10:17] #457 closed

[2020-03-09 10:30] serathius commented on #457
Great, thanks @tanjunchen for posting the fix. I will try to incorporate it in https://github.com/kubernetes-sigs/metrics-server/issues/429

Would you be interested in contributing it and writing instructions for running Metrics Server on kubeadm?
Would be great if we can gather experience from people actually running it.

[2020-03-09 12:49] tanjunchen commented on #457
ok . I will do it

[2020-03-09 13:06] serathius commented on #429
Thanks for offering help with kubeadm.
/assign @tanjunchen

[2020-03-09 16:10] mayquanxi commented on #247
I had the same problem, and I had fix it by add args as you, thankyou

[2020-03-09 20:22] serathius commented on #365
Yes, in issue description I proposed cutting 0.3.7 release

[2020-03-11 10:08] rishi-anand opened #463 "host_ip/stats/summary not reachable in logs"
**What happened**:
https://<host_ip>:10255/stats/summary is not reachable. However, I am able to call proxy endpoint `https://<host_ip>:10255/proxy/stats/summary`
[code]

**What you expected to happen**:
Expected metrics-server to collect cpu & memory metrics.

**Anything else we need to know?**:

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.): Cluster-Api in Vs

[2020-03-11 10:45] serathius commented on #463
`dial tcp: lookup ip-10-0-1-92.eu-west-2.compute.internal on 10.96.0.10:53: no such host` points to DNS problem.
/triage support

Questions:
* Can you resolve `lookup ip-10-0-1-92.eu-west-2.compute.internal`?
* Should you configure Metrics Server to use IP addresses instead of host names?

[2020-03-11 16:26] serathius commented on #365
Worked with @justinsb and confirmed that staging repo exists.
Thanks Justin for help!
/unassign @justinsb

[2020-03-11 17:06] max-rocket-internet commented on #372
/remove-lifecycle stale

[2020-03-12 05:45] regardfs commented on #247
@sreedharbukya thanks a lot!!!

[2020-03-12 07:59] zzvara commented on #417
I have the same issue, reinstalling it does not help. However, I have it installed in `kube-system`, but I suspect that it should not make a difference in operational stability.

[2020-03-14 14:28] serathius commented on #365
Pushed release-0.3 branch. Would be nice to mark it as protected. Only repo admin can do this
/assign @brancz

[2020-03-14 16:58] serathius commented on #365
Ok, branch release-0.3 is protected.
Dont't know if @brancz did this or looks like Github marked it automatically after sending PR for it
/unassign @brancz

[2020-03-15 08:38] Sh4d1 opened #466 "Create a fat manifest for metrics server"
**What would you like to be added**:
A fat manifest for metrics server, allowing to pull the same image for multiple arch
**Why is this needed**:
It is easier to have multi arch cluster with a fat manifest

/kind feature

[2020-03-15 10:05] serathius commented on #466
Thanks for sending PR. This was on my plate for a long time, blocked by image promoting process.
I would wait until https://github.com/kubernetes-sigs/metrics-server/issues/365 on implementing fat manifests.

[2020-03-15 11:44] serathius commented on #466
Confirmed that this will work with promotion process. I also added it to 0.3.7 milestone as it would be a great improvement for 0.3.

[2020-03-15 12:26] matanmaman opened #469 "AWS EKS instructions is downloading a non-sync k8s version batch of files"
AWS manual -  https://docs.aws.amazon.com/eks/latest/userguide/horizontal-pod-autoscaler.html

Instructs to download:
DOWNLOAD_URL=$(curl -Ls "https://api.github.com/repos/kubernetes-sigs/metrics-server/releases/latest" | jq -r .tarball_url)

It downloads a tar file with different versions of k8s api.

Some files are with rbac.authorization.k8s.io/v1 like resource-reader.yaml

And some are with rb

[2020-03-15 13:05] serathius commented on #466
@Sh4d1 could you also cherry pick this PR to release-0.3?

[2020-03-15 13:11] serathius commented on #469
I checked out current master branch for usage of rbac.authorization.k8s.io/v1beta1. Didn't find it. Could you provide a GitHub link to manifest using outdated RBAC?

Node: Kubernetes community doesn't support AWS instructions for installing metrics-server. Please contact author about errors there.

We provide our own instructions. I would gladly collect ideas on how to improve them.

[2020-03-15 13:12] Sh4d1 commented on #466
Yep, #470 :)

[2020-03-15 13:12] serathius commented on #469
/triage support

[2020-03-15 13:31] serathius commented on #466
Thanks for all the help!
/close

[2020-03-15 13:31] #466 closed

[2020-03-15 13:54] matanmaman commented on #469
Github URL - https://api.github.com/repos/kubernetes-sigs/metrics-server/releases/latest
Curl using the URL - DOWNLOAD_URL=$(curl -Ls "https://api.github.com/repos/kubernetes-sigs/metrics-server/releases/latest" | jq -r .tarball_url)

[2020-03-15 14:14] serathius commented on #469
Sorry, currently manifests are not part of the release. Please use manifest from master.

[2020-03-15 14:16] matanmaman commented on #469
Thanks any way :-)

[2020-03-15 14:35] serathius opened #471 "Treat deployment manifests as part of the release"
**What would you like to be added**:
I propose to change the deploy instructions to stop deploying manifests from master,

We should compile manifests from "deploy/kubernetes" into single file and include it in release notes. Release instructions should be changed to deploy from latest version of this file.

**Why is this needed**:

This is something that I noticed that other repositories have ada

[2020-03-15 14:37] serathius commented on #469
Created feature request to installation from latest release. https://github.com/kubernetes-sigs/metrics-server/issues/471
Until this feature is approved and implemented I cannot treat this as a bug. Please report it to author of AWS instructions that they are incorrect.

[2020-03-15 14:37] #469 closed

[2020-03-15 15:52] serathius opened #472 "Prepare to additional 0.3.* release"
Issue forked from https://github.com/kubernetes-sigs/metrics-server/issues/365

When discussing changes in image building process, me and @s-urbaniak agreed that we need to cut additional release for it.  As there a lot of changes on master we will branch it from 0.3.6 tag.

This new 0.3.7 release will focus on build process improvements. No fixes or binary changes are planned for release.

Change

[2020-03-15 15:53] serathius commented on #365
Created separate issue for 0.3.7 release https://github.com/kubernetes-sigs/metrics-server/issues/472

[2020-03-15 16:12] serathius commented on #87
@x13n could you provide an update?

[2020-03-15 16:13] serathius commented on #19
/remove-lifecycle stale

[2020-03-15 16:17] serathius commented on #289
Bug was closed
/close

[2020-03-15 16:17] #289 closed

[2020-03-15 19:36] serathius commented on #349
Possible solutions (in order of implementation complexity):
* [Preferred] Don't treat missing metrics as errors (remove log calls)
* Dont' report error for newly created nodes/containers (`time.Now().Sub(startTime) < metricResolution + cAdvisorHousekeepingTIme`)
* Don't report error if node with metrics was not scraped before container start (keep start time per node and check `scrapeTime.Sub(star

[2020-03-16 08:43] x13n commented on #87
I think watch support in metrics API is required to graduate them to v1, so it has to be done sooner or later anyway. I had to focus on other work though and am not actively working on this.

[2020-03-17 08:30] brancz commented on #365
Looks like github automatically did this :)

[2020-03-17 17:21] sarandia opened #473 "Metrics API returns PodMetrics with empty list of containers"
**What happened**:
kubectl get --raw /apis/metrics.k8s.io/v1beta1/namespaces/NAMESPACE/pods/POD_NAME

{"kind":"PodMetrics","apiVersion":"metrics.k8s.io/v1beta1","metadata":{"name":"POD_NAME","namespace":"NAMESPACE","selfLink":"/apis/metrics.k8s.io/v1beta1/namespaces/NAMESPACE/pods/POD_NAME","creationTimestamp":"2020-03-16T06:18:44Z"},"timestamp":null,"window":"30s","containers":[]}

I tried gettin

[2020-03-18 20:08] serathius commented on #473
I run some tests on 1.17 using manifest
[code]
Running
`kubectl get --raw /apis/metrics.k8s.io/v1beta1/namespaces/default/pods/crashlooper-589bb8f8b8-6cs6w`
Returns:
[code]

[2020-03-18 20:39] serathius commented on #473
Pod can use CPU and memory long before it becomes ready. Did you mean Crashlooping pods in this case?

Even if pod is crashlooping it uses resources, maybe minuscule but still some. Do you think that we should metrics for pods that are crashlooping?

[2020-03-18 21:05] serathius commented on #87
/lifecycle frozen

[2020-03-18 22:11] sarandia commented on #473
I think it makes sense for the metrics API to return a valid PodMetrics object if the pod is still consuming some resources even though it's crashlooping.

I am not entirely certain when the empty response was triggered. By further inspecting this pod, I found that it was OOM killed. Perhaps that can cause the metrics server to have an empty response?

[2020-03-19 14:29] scoopex commented on #340
Ping

[2020-03-19 14:44] serathius commented on #340
README.md was rewritten to be more explicit requirements on cluster configuration. PTAL and let me know what you think.

[2020-03-20 08:06] andrewm41 opened #474 "x509: certificate signed by unknown authority (--kubelet-insecure-tls didn't help)"
Hello, on baremetall Kubernetes version 1.16.2, I'm trying install metrics-server v0.3.6 and get these errors in metrics-server logs

`
E0320 08:04:20.914963       1 authentication.go:65] Unable to authenticate the request due to an error: [x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate "fro

[2020-03-20 08:43] serathius commented on #474
/triage support

[2020-03-20 09:19] serathius commented on #474
This looks like a problem with API not communicating with kubelet. I don't know how you configured your certificate chain, but I would look into configuring Metrics Server API. https://github.com/kubernetes-sigs/metrics-server/blob/v0.3.6/vendor/k8s.io/apiserver/pkg/server/options/serving.go#L138

[2020-03-20 09:27] heicci commented on #56
Hi,
I have similar environment were nodes have ipv4 and ipv6 addresses.
I am using metric-server 0.3.6 and metric server tries to scrape nodes using ipv4 address even though ipv6 should be used. Any ideas why this is happening?

[2020-03-20 09:34] serathius commented on #56
Please create a separate issue and provide your metrics server configuration and node object address list.

[2020-03-20 09:55] andrewm41 commented on #474
I did no special certificate chain configuration, it is right out of the box.

Thank you for the link, I'll try to change Metric Server API configuration.

[2020-03-20 10:57] heicci commented on #56
I have ipv6 address second in the list. Is that the issue? I will open new issue after studying this more.

[2020-03-20 11:37] serathius commented on #56
Without seeing your configuration I can only guess that:
*You used default resolver configuration that uses Hostnames and your DNS is returning IPv4 address not IPv6
Please provide me with information needed to debug issue

[2020-03-20 12:59] andrewm41 commented on #474
btw,
is `--kubelet-insecure-tls` respected by metrics-server?

it seems like the option that should solve the issue but it does nothing

[2020-03-20 20:20] serathius commented on #471
/assign @s-urbaniak

[2020-03-21 11:55] serathius commented on #474
As --kubelet-insecure-tls name suggest it changes configuration of requests to kubelet, not MS certificates validation.

[2020-03-21 12:48] serathius commented on #473
I tried to reproduce it with OOMing container
[code]
But never got empty list of containers. Possibly my container takes to long to OOM (couple of seconds).

MS doesn't do any usage metering itself. It just translates metrics from Summary API.

I think in this case Summary API reported a pod with empty list of containers.  You could try to report this problem to Kubelet, but they also don't calcul

[2020-03-23 09:12] andrewm41 commented on #474
front-proxy-ca is automatically generated while installing kubernetes if it not exists, it is used to sign front-proxy-client certificate

but in the link
https://github.com/kubernetes-sigs/metrics-server/blob/v0.3.6/vendor/k8s.io/apiserver/pkg/server/options/serving.go#L138
it is said about metrics-server certificates, and if I don't use those options then self-generated certificate is used for m

[2020-03-23 17:55] abdennour commented on #196
Did you do something like this :
command:
- /metrics-server
- --kubelet-preferred-address-types=InternalIP

Remove `--kubelet-preferred-address-types=InternalIP`

[2020-03-23 23:08] zshihang commented on #232
metrics server v0.3.6 contains the auto load logic in https://github.com/kubernetes/kubernetes/pull/71713/commits/dba85e58debadfcb66aff2b68ba8bcc2eafeac2d

[2020-03-24 07:35] abdennour commented on #443
@nemo83  Confirmed! For EKS you just need to customize the Helm value `args` to be `kubelet-preferred-address-types=InternalIP`.

**values.yaml**
[code]

then

[code]

## Reference

- [The Ultimate EKS Course](udemy.com/course/aws-eks-kubernetes/?referralCode=C8E1E37FB75A998FAE09)

[2020-03-24 07:47] abdennour commented on #188
@aneesh121  you save 2 days. Thanks!

Anyone provision the cluster with **kubeadm**, please start by checking the answer https://github.com/kubernetes-sigs/metrics-server/issues/188#issuecomment-586673541

[2020-03-24 09:21] serathius commented on #232
Thanks for confirming @zshihang
/close

@msau42 @valentin2105 Please use v0.3.6.
Feel free to reopen if there are any issues with it

[2020-03-24 09:21] #232 closed

[2020-03-26 06:58] gsxmax opened #476 "Transient Tunnel disconnection happened and recovered quickly, but it caused 15 minutes outage for the underlying components like metric-server."
Hi Team,
Currently we are facing an issue about metrics server when we use AKS. Transient Tunnel disconnection happened and recovered quickly, however, it would lead about 15 minutess downtime of metrics server. During that time, we may not able to use kubeclt top command, and would recevice error like: Error from server (ServiceUnavailable): the server is currently unable to handle the request (g

[2020-03-28 15:39] serathius commented on #476
This looks like a problem of your apiserver not being able to reach metrics server. MS extends k8s apiserver using https://github.com/kubernetes/kube-aggregator. So problem is not directly related to MS, but with Kubernetes Apsierver Aggregation implementation.

Have you looked in apiserver logs to confirm that tunnel disconnections doesn't disrupt apiserver reverse proxy in any way that would pro

[2020-03-28 15:47] serathius commented on #471
/assign @kawych

[2020-03-29 16:33] serathius commented on #349
/cc @kawych

[2020-03-29 20:40] JoseThen commented on #349
Thank you for this @serathius , I was concerned about the issue but noticed it would stop logging after some time, everything is so far looking good 🙇

[2020-03-30 07:48] gsxmax commented on #476
Yes, api-server was working properly during that time. We could use kubectl get command and got the output. However, when we used kubectl top command, failed to get any result.

[2020-03-30 16:56] endrigoshi opened #477 "Unable to collect pod CPU and Memory Utilization every 1s."
Hi all!
I am new to using k8s and metrics-server so maybe I am doing something wrong but I would like some clarification. In overall, I would like for the metrics-server to collect information about the CPU and Memory utilization every 1s, which I will then query using a script and save the data locally.

**What happened**: Changed the parameter `--metric_resolution=1s` in the `metrics-server-depl

[2020-03-30 18:32] serathius commented on #477
https://github.com/kubernetes-sigs/metrics-server/blob/master/FAQ.md#how-often-metrics-are-scraped

[2020-03-30 18:33] serathius commented on #477
+ Window is not correctly calculated

[2020-03-30 18:34] serathius commented on #477
/triage support

[2020-03-30 18:35] serathius commented on #477
Closing issue as original question was answered. If you have follow up question feel free to reopen.

If want to propose an improvement, please create a separate issue.

[2020-03-30 18:35] #477 closed

[2020-03-30 19:11] serathius commented on #291
@maximillianbrain1 any progress?
/remove-lifecycle stale

[2020-03-30 19:18] serathius commented on #175
Deduping with https://github.com/kubernetes-sigs/metrics-server/issues/362
Other issue is more active

[2020-03-30 19:18] #175 closed

[2020-03-30 19:18] serathius commented on #362
@aksgithub are you still planning to working on this issue?

[2020-03-30 19:23] uthark commented on #362
@serathius I can pick it up, we still need this feature.

[2020-03-30 19:47] serathius commented on #362
Thanks for volunteering, let's give @aksgithub time to respond, if they want to work on it.

[2020-03-31 23:18] ankilosaurus commented on #362
@serathius, I have changes currently sitting in my local ws which needs some testing. I can get back to it in next week or two.

[2020-04-01 04:03] SHUFIL commented on #300
in my case am using kops in aws , and  kubectl top pod  getting fine, but metric-server log always given below error `

` .due to this error  my auto-scaling not working.

for resolving i have  added below line in metric-server-deployent yml file , but its still getting issue, can you please help me.

     command:
     - --kubelet-insecure-tls=true
     - --kubelet-preferred-address-types=Interna

[2020-04-01 05:03] juan-lee commented on #476
@gsxmax can you give the exact time you hit the issue? Also, how exactly did you observe the 15m of downtime? I work on AKS and I'd like to help you get to the bottom of this.

[2020-04-01 06:25] serathius commented on #300
@SHUFIL Even thou your problem looks similar, it can have totally different cause.
Please open a separate issue, where you can provide more details about your setup.

[2020-04-01 11:59] xuchenCN commented on #199
@DirectXMan12 Could give some way to configure which metrics are scraped and shwon?

[2020-04-01 12:06] serathius commented on #199
@xuchenCN Metrics Server serves only for exposing core metrics to allow HPA,VPA use this information.

Adding additional metrics would require redefining scope of core-metrics https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/core-metrics-pipeline.md

Please remember that MS is not a generic source of metrics. If you want monitor containers please us

[2020-04-01 16:25] LykinsN commented on #310
What's the current status of this ask? We're encountering the same issues as the OP and it's mandated that we 'remediate' this, such that there are no impacted ports being reported back to our vulnerability scanner. At this point, I've implemented a subset of allowed ciphers for `kubelet`, `kube-apiserver`, as well having upgraded OpenSSL to `1.1.1d`. However, I'm still seeing the vulnerabilities

[2020-04-01 16:44] serathius commented on #310
My understanding is that it needs to be first fixed in https://github.com/kubernetes/apiserver
PRs are welcome

[2020-04-01 18:50] bitva77 commented on #474
I have a bare-metal Kubernetes installation as well and am getting this same message with metrics-server trying to run.  I've done nothing special with Kubernetes and certificates....it's a default kubeadm installation.

[2020-04-01 20:48] prominatedk commented on #97
/open

[2020-04-01 20:50] serathius commented on #97
@prominatedk feed free to open new issue

[2020-04-02 15:54] maximillianbrain1 commented on #291
I am currently stuck. I posted in #sig-instrumentation asking for help, and did not receive any.

[2020-04-02 16:17] serathius commented on #291
Due timezone difference it's sometimes catch someone.
Feel free to ask questions here so your question is not lost.

[2020-04-03 13:16] seanturner83 commented on #405
This makes a lot of sense, been using a forked version with this functionality for some time courtesy of the Jetstack team.

[2020-04-03 17:19] serathius commented on #365
First successful run of CloudBuild pipeline !!
https://pantheon.corp.google.com/cloud-build/builds/2865b8e7-99de-4ef9-a14c-932b533f1e42?project=k8s-staging-metrics-server

[2020-04-03 21:33] serathius opened #482 "Travis CI doesn't report results"
On couple of recent PRs there is a missing raport from Travis CI. For example https://github.com/kubernetes-sigs/metrics-server/pull/481 has failing tests https://travis-ci.org/github/kubernetes-sigs/metrics-server/jobs/670686705.

This means that failing tests are no longer bloker for merging PRs.

Currently I was not able to pinpoint root cause. There is no logs or warning that would inform abou

[2020-04-03 21:35] serathius opened #483 "Migrate presubmits to Prow"
**What would you like to be added**:
We should migrate your presubmits tests to Prow.

**Why is this needed**:
Recent problems with Travis CI https://github.com/kubernetes-sigs/metrics-server/issues/482

/kind feature

[2020-04-03 21:37] serathius commented on #482
/sig testing

[2020-04-04 15:48] dims commented on #365
@serathius looks like a google-internal url :)

[2020-04-04 16:56] serathius commented on #365
Fixed, still only MS owners can see it. :(

[2020-04-04 17:00] dims commented on #365
cool. confirmed that i can see the url :)

[2020-04-04 21:42] maximillianbrain1 commented on #291
The issue is due to the fact that the healthhz package of the api server does not expose a function to add only a readiness check. The only exported method, AddHealthChecks, adds the check as a Heath check, Readiness check, and a Liveness check. It is possible to add it as a check before we construct the GenericAPIServer object, but after the refactor, that is does not feel right to me since we ha

[2020-04-05 08:48] serathius commented on #365
Here is public build info https://prow.k8s.io/?repo=kubernetes-sigs%2Fmetrics-server

[2020-04-05 14:17] serathius commented on #291
Ok, looks like a problem with code integration. I think best would be to discuss on the code directly.

Can you update your PR to show your progress? https://github.com/kubernetes-sigs/metrics-server/pull/412

It's ok to have work in progress PRs. You just add "[WIP]" prefix to PR name.

[2020-04-05 14:36] serathius commented on #483
/sig testing
/help

[2020-04-05 14:43] serathius commented on #443
Closing as reporter is no longer responding. If someone else has problem with EKS please create separate issue.

[2020-04-05 14:43] #443 closed

[2020-04-05 15:00] serathius commented on #405
I remember discussing similar problem with @brancz about Prometheus. Both MS and Prometheus should be run within cluster and connect directly to nodes.

Still from time to time someone requests about allowing configuration using apiserver proxy. Some problems with this:
* Bad security practice (proxying in apiserver is feature reserved for cluster admin and is equal to root access from security st

[2020-04-05 15:03] serathius commented on #398
Minikube installation instructions are no longer supported.

[2020-04-05 15:03] #398 closed

[2020-04-05 15:04] serathius commented on #394
/remove-lifecycle stale

[2020-04-05 15:05] serathius commented on #381
/remove-lifecycle stale

[2020-04-05 15:53] serathius opened #487 "Change default address resolution in manifests"
When determining URL to scrape metrics from node, MS uses address resolution.
Node objects can include multiple addresses that MS could potentially use. Address Resolution dictates order in which they are picked. This mechanism was taken from kube-apiserver, thus MS default order is the same as apiserver.

Current resolution order:	`HostName, InternalDNS, InternalIP, ExternalDNS, ExternalIP`
https

[2020-04-05 15:54] serathius commented on #487
/cc @s-urbaniak @kawych
Does this make sense for you?

[2020-04-06 01:42] gsxmax commented on #476
@juan-lee Thanks for looking at into this.  Mar 24 21:25:41 UTC 2020 is the time. We could use kubectl top commands after 21:40. Additionally, no restart happened for the metrics pod and tunnel-front pods.
We could find in the API-server log that GET proxy log returned 200 at 21:36, however we still got 503 at 21:37 when it tried to GET metrics server.

[2020-04-06 09:31] brancz commented on #405
Agreed with @serathius .

[2020-04-06 09:59] carlpett commented on #419
@serathius Currently GKE at least deploys metrics-server with a system-cluster-critical priority, preventing cluster autoscaler from evicting it from nodes that might end up running just the metrics-server (which seems to happen unexpectedly often). Would running it with multiple replicas and a disruption budget be a feasible way to drop that priority class (probably still having a class to make s

[2020-04-06 10:18] serathius commented on #419
Hey @carlpett,
If your goal is to have totally uninterrupted metrics api, you still require properly implemented readiness probes, which MS currently doesn't have. I'm planning to improve it in MS v0.4.0 release.

[2020-04-06 10:24] carlpett commented on #419
Thanks for the fast response! Yes, that makes sense.

[2020-04-06 18:14] serathius commented on #483
/assign

[2020-04-06 21:09] spiffxp commented on #482
This appears to be an issue on Travis' side https://travis-ci.community/t/github-status-not-posted-on-commits-on-repositories-using-legacy-service-integration/7798/10

[2020-04-06 21:32] serathius commented on #482
Thanks for finding this.

Looks like "kubernetes-sigs" organization didn't grant access to Travis CI.
Is there any reason we cannot authorize it? (access for "kubernetes" org was given)

[2020-04-07 08:55] cvmmojo commented on #133
still facing this issue

[2020-04-07 09:07] serathius commented on #133
@cvmmojo feel free to create an Issue where you can provide detailed info

[2020-04-08 09:21] #365 closed

[2020-04-09 01:55] kevinsingapore commented on #247
do u have solve it?

[2020-04-09 07:03] serathius commented on #247
@kevinsingapore

I recommend to create separate issue, as in this issue we didn't even manage to fix original problem that reporter had.

Signifies that there is a problem with metrics-server, but says nothing about what's the problem. Meaning that this issue isn't really helpful for others (e.g. @ledroide just recreated MS).

Could try some suggestions from this issue, still it would be better to

[2020-04-09 07:10] serathius commented on #471
All tasks were done

[2020-04-09 07:10] #471 closed

[2020-04-09 08:08] serathius commented on #482
/cc @loburm

[2020-04-09 17:01] serathius opened #491 "Release 0.3.7"
Release process
* [x] An issue is proposing a new release with a changelog since the last release
* [x] At least one OWNER must LGTM this release
* [x] A PR that bumps version hard-coded in code is created and merged (https://github.com/kubernetes-sigs/metrics-server/pull/492, https://github.com/kubernetes-sigs/metrics-server/pull/504)
* [x] An OWNER creates a draft GitHub release
* [x] An OWNER c

[2020-04-09 17:02] serathius commented on #491
/cc @s-urbaniak

[2020-04-09 21:21] serathius commented on #487
/cc @loburm

[2020-04-10 04:16] spiffxp commented on #482
Adding an integration needs to go through github admin team, file an issue: https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-integration&template=integrations.md&title=

[2020-04-11 10:02] serathius commented on #472
Started release process using RELEASE.md instructions here https://github.com/kubernetes-sigs/metrics-server/issues/491

[2020-04-11 10:02] #472 closed

[2020-04-13 10:54] jetjo commented on #410
i added, but same error
Error: unable to load client CA file: unable to load client CA file: open /front-proxy-ca.pem: no such file or directory, where this file must place, i have only 'crt' file ith this name
kuberneters v1.18.0
my conf is:

command:
     - /metrics-server
     #- --kubelet-insecure-tls
     - --kubelet-preferred-address-types=InternalIP
     - --requestheader-client-ca-file=/fr

[2020-04-13 11:02] jetjo opened #493 "unable to load client CA file"
when metric-server pod is start i see this in log file:
Error: unable to load client CA file: unable to load client CA file: open /front-proxy-ca.pem: no such file or directory, where this file must place, i have only 'crt' file ith this name

kuberneters v1.18.0

my conf is:

command:
- /metrics-server
#- --kubelet-insecure-tls
- --kubelet-preferred-address-types=InternalIP
- --requestheader-clie

[2020-04-13 12:31] humblefool007 opened #494 "[EKS]: x509 certificate signed by unknown authority"
E0413 12:28:25.449973       1 authentication.go:65] Unable to authenticate the request due to an error: x509: certificate signed by unknown authority

version of metrics-server: 2.8.9
EKS version: 1.14+

[2020-04-13 22:38] brianpursley commented on #395
I'll take a look at this one

/assign

[2020-04-14 16:19] harkayal commented on #494
Me too, I tried to add the following args, but it doesn't work:

--v=2
--kubelet-insecure-tls=true
--kubelet-preferred-address-types=InternalIP

A version of metrics-server: 2.9.0
EKS version: 1.14+

[2020-04-14 18:17] serathius commented on #493
/triage support

I'm not use that you need to configure `--requestheader-client-ca-file=/front-proxy-ca.pem`. You mention that metrics are not collected. But do you see any errors? How do you know if it's not working?

About `--requestheader-client-ca-file` flag. You are trying to provide flag, but didn't mount this in container. Error message `open /front-proxy-ca.pem: no such file or directory`

[2020-04-14 18:17] serathius commented on #494
/triage support

[2020-04-14 18:28] serathius commented on #494
Could you please check this solution about changing "aws-auth" https://github.com/kubernetes-sigs/metrics-server/issues/319#issuecomment-565789353

[2020-04-14 18:30] serathius commented on #482
Looks like travis worked for PR https://github.com/kubernetes-sigs/metrics-server/pull/495#event-3231997634

[2020-04-14 18:40] #395 closed

[2020-04-16 15:12] serathius commented on #483
Presubmits work!

[2020-04-16 15:12] #483 closed

[2020-04-16 15:14] serathius commented on #482
Now we additionally run tests on Prow

[2020-04-16 15:14] #482 closed

[2020-04-16 15:58] serathius commented on #491
/cc @loburm

[2020-04-16 19:00] dcrearer commented on #300
adding

 - --kubelet-insecure-tls=true
 - --kubelet-preferred-address-types=InternalIP

to the metric deployment yaml corrected this issue for me as well

[2020-04-16 20:19] ccampo133 commented on #494
Confirmed that adding the missing `username` property to the `aws-auth` configmap does the trick when using IAM roles, as called out in https://github.com/kubernetes-sigs/metrics-server/issues/319#issuecomment-565789353.

This definitely seems like a bug though because it shouldn't be necessary when using roles.

Running EKS v1.14.9-eks-502bfb

[2020-04-16 20:56] serathius commented on #494
Let's wait for @humblefool007 to confirm if this solves his problem.

As for if we should treat is as a bug, I haven't used EKS so I cannot say for certain, but this looks like a problem with AWS authorization. I don't think we can do much from MS perspective.

 If the fix is confirmed then we could document this fix in Known Issues https://github.com/kubernetes-sigs/metrics-server/blob/master/FAQ

[2020-04-16 21:01] serathius commented on #493
Just noticed that you mentioned that you have `front-proxy-ca.crt`, why then your specifying metrics server to use `/front-proxy-ca.pem`?

[2020-04-16 21:07] serathius commented on #474
Please remember that there is a difference between Kubernetes as project and Kubernetes distributions like kubeadm. Nothing special in kubeadm doesn't mean nothing special for Kubernetes.

@andrewm41 you mentioned that front-proxy-ca is automatically generated. Could you try to mount it in deployment and add flag to MS `--requestheader-client-ca-file=/front-proxy-ca.pem`
Could you try to

[2020-04-16 23:34] bitva77 commented on #474
@serathius understood, so what requirements does metrics-server have in order to work correctly?  It's apparently not compatible with Kubernetes installed with kubeadm.

[2020-04-17 06:22] serathius commented on #474
MS depends on https://github.com/kubernetes/kube-aggregator to expose API. Using api aggregation requires additional configuration to apiserver https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/#kubernetes-apiserver-client-authentication
From what I understand depending on your CA setup in apiserver, you may also need some configuration on Extension apiserver side

[2020-04-17 07:18] shiveshabhishek opened #506 "Unable to pull image: k8s.gcr.io/metrics-server:v0.3.7"
**What happened**:
The image in the metrics server deployment [here](https://github.com/kubernetes-sigs/metrics-server/blob/3fed714a690ff8c33232c0b21ef73753e2baeae9/deploy/kubernetes/metrics-server-deployment.yaml#L35) is not getting pulled. I found this 5-6 hours ago.

**What you expected to happen**:
Image k8s.gcr.io/metrics-server:v0.3.7 should get pulled

**Anything else we need to know?**:
Co

[2020-04-17 07:33] serathius commented on #506
Please use manifests that are attached to release.
You can download them by running
[code]

[2020-04-17 07:36] shiveshabhishek commented on #506
Thanks @serathius , is this temporary or should I use it for later as well?

[2020-04-17 07:41] serathius commented on #506
This is long term. Rationale: https://github.com/kubernetes-sigs/metrics-server/issues/471
This will ensure that manifests will change only with release, leading to higher quality and stability.

Note: I think we can make this change more noticeable by moving "deploy" directory.
/cc @loburm
WDYT?

[2020-04-18 04:56] ronaldpetty commented on #506
Not critical, but the suggested args to metric-server container (the very next line) would require downloading the yaml not applying it first (tls,ip, etc.).  Maybe we should add a warning or something to clarify?

[2020-04-18 06:53] serathius commented on #506
@ronaldpetty PTAL https://github.com/kubernetes-sigs/metrics-server/pull/509

[2020-04-18 07:22] ronaldpetty commented on #506
Thanks @serathius didn't see that.

[2020-04-18 07:30] serathius commented on #506
Because I created it after your suggestion :P

[2020-04-18 20:49] aegershman opened #512 "Note regarding the use of "1.8+" in deploy folder path structure"
Note **this definitely is not a bug or support problem**, it's just something I noticed as a potential edge-case inconvenience or oddity to consumers who either aren't consuming from the github releases, or are using some kind of automation/tooling which doesn't do URL encoding very well. It's ultimately a total non-issue, really.

**What happened**:

I was deploying the `metrics-server` 0.3.7 `de

[2020-04-18 20:52] aegershman commented on #512
eh, honestly this is such a non-thing that I'm going to close this. Thanks all

[2020-04-18 20:52] #512 closed

[2020-04-19 05:28] sondnpt00343 commented on #321
From your error message I think you already have `ClusterRole` and` ServiceAccount`.
Your problem is the lack of `ClusterRoleBinding` between` ClusterRole` and `ServiceAccount`.
You can add it by applying the following yaml:

`apiVersion: rbac.authorization.k8s.io/v1
kind: "ClusterRoleBinding"
metadata:
  name: kubernetes-dashboard
  namespace: kubernetes-dashboard
roleRef:
  apiGroup: rbac.author

[2020-04-19 05:29] sondnpt00343 commented on #321
From your error message I think you already have `ClusterRole` and` ServiceAccount`.
Your problem is the lack of `ClusterRoleBinding` between` ClusterRole` and `ServiceAccount`.
You can add it by applying the following yaml:

[code]

[2020-04-19 08:43] serathius commented on #512
Hey, v0.3.7 release is in progress.
Repo was tagged, but release is not publish as images there are some steps left. Process is tracked here https://github.com/kubernetes-sigs/metrics-server/issues/491

Usage of "deploy/1.8+" and "deploy/kubernetes" is no longer recommended. https://github.com/kubernetes-sigs/metrics-server/pull/509/files?short_path=04c6e90#diff-04c6e90faac2675aa89e2176d2eec7d8

[2020-04-19 18:26] aegershman commented on #512
Absolutely, I was bending things out of shape and being silly instead being practical with what makes the most sense. Thanks for the response & apologies for any issue/email noise 👍

[2020-04-20 02:57] kluzny commented on #474
I am experiencing the same issue when I use the self signed certificate. I have tried specifying the front-proxy-ca.crt from a config map, but then the service is unresponsive.

[code]

After specifying the crt, everything looks ok from the pod logs:

[code]

but describing it shows the service is unhealthy

[code]

[code]

Other details: arm, kubeadm, weave, single master

I don't see any other e

[2020-04-20 06:28] kluzny commented on #474
My issues turned out to be related to debian stretch, iptables upgrade was causing traffic to not correctly route between pods and services. So the service booted without errors, but no traffic could route across pods.

https://github.com/coredns/coredns/issues/2693#issuecomment-543208513

[2020-04-20 07:57] serathius commented on #491
ping @s-urbaniak

[2020-04-20 08:10] serathius commented on #491
Looks release of new images is blocked on https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/Vanity-Domain-Flip.md

[2020-04-20 09:24] serathius commented on #349
ping @s-urbaniak

[2020-04-20 12:32] s-urbaniak commented on #349
I agree with just going forward with option 1. I think options 2. and 3. should be solved via a higher level alerting system.

[2020-04-20 17:04] serathius commented on #487
ping @s-urbaniak

[2020-04-21 06:40] itmandy opened #522 "Where can I find the metrics API reference"
**Where can I find the metrics API reference, thank u**

[2020-04-21 06:45] serathius commented on #522
https://github.com/kubernetes/metrics

[2020-04-21 06:45] #522 closed

[2020-04-21 11:49] serathius commented on #506
Closing as https://github.com/kubernetes-sigs/metrics-server/pull/509 making it obvious that manifests from "deploy" directory should not be used

[2020-04-21 11:49] #506 closed

[2020-04-21 18:49] tushi0407 commented on #338
I am also getting the same issue.But in my case infra is handled by infra team and they make it mandatory to make images as non root user.I am stuck there as i am not sure how i can make my angular app using non root user.Here is my docker file :

FROM  docker.com/node:latest as node
WORKDIR /app

COPY . .
RUN npm install
#RUN npm build --prod
RUN npm run ng build -- --prod

#stage 2 : to run appl

[2020-04-22 04:04] wujianqiangwjq commented on #410
I also encountered a similar problem and don't know how to solve it.

[2020-04-22 05:05] Zhengxiaoxiang opened #525 "endpoints for service/metrics-server in "kube-system" have no addresses"
apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apiregistration.k8s.io/v1beta1","kind":"APIService","metadata":{"annotations":{},"name":"v1beta1.metrics.k8s.io"},"spec":{"group":"metrics.k8s.io","groupPriorityMinimum":100,"insecureSkipTLSVerify":true,"service":{"name":"metrics-server","name

[2020-04-22 06:23] wujianqiangwjq commented on #410
can you tell me how to solve the problem?

[2020-04-22 06:33] serathius commented on #448
One of the requirements to run Metrics Server is configuring apiserver aggregation layer. You can read about it here https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/

[2020-04-22 06:35] serathius commented on #410
Issue with solution https://github.com/kubernetes-sigs/metrics-server/issues/448

[2020-04-22 06:38] serathius commented on #525
/triage support
Please provide information needed to debug the problem:
* DIstribution of Kubernetes (kubeadm, EKS, AKS)
* Kubernetes version
* Metrics Server manifests
* Metrics Server logs
* Apiserver logs about metrics API

WIthout necessery information this issue will be closed.

[2020-04-23 21:08] veton commented on #131
In recent versions of metrics-server, where there is no "command" or "metrics-server-deployment.yaml", the following helped me
1. Open deployment editor
`kubectl -n kube-system edit deploy metrics-server`
2. Add a few args:
[code]

[2020-04-24 07:12] #487 closed

[2020-04-28 10:26] s-urbaniak commented on #491
approved the changelog :+1: :-)

[2020-04-28 14:53] rdelpret opened #526 "Support pulling in kustomization.yaml by tag ref"
**What would you like to be added**:

I would like to be able to reference this kustomization.yaml file by tag:
https://github.com/kubernetes-sigs/metrics-server/blob/master/manifests/base/kustomization.yaml

I maintain my argocd + prometheus operator installation in a similar fashion, when I want to upgrade I just update the tag and redeploy with argocd.

[code]

Currently I have to do something

[2020-04-28 14:57] serathius commented on #526
You didn't explain what's the problem?
There is no tags with kustomize as we didn't had any releases since introducing it.

[2020-04-28 15:04] rdelpret commented on #526
It's not a problem its just an enhancement request :) if this is something that will happen next release you can close this issue.

[2020-04-28 15:06] serathius commented on #526
Please use master until we have a release ready.

[2020-04-28 15:06] #526 closed

[2020-04-28 15:15] rdelpret commented on #526
Thank you @serathius !

[2020-04-30 12:50] Incarnation-p-lee opened #529 "[Question] How can I access Metrics Server endpoint from other pod in same cluster"
Search this question from stackover flow and found one [here](https://stackoverflow.com/questions/58649021/access-to-metric-server-from-a-pod), but it doesn't describe how and why about it, as well as not very clean far from offical document. So is there guidence when user would like to access metrics-server directly instead of API-Server ?

Thanks a lot.

/triage support

[2020-04-30 12:57] serathius commented on #529
Access to MS should be done through API-Server, so if your writing operator/controller it should always go through API-Server.
Communicating directly would be only useful for confirming problem with apiserver proxy when debugging Metrics API.

Could you describe your use case so I can maybe suggest something different?

[2020-04-30 14:24] Incarnation-p-lee commented on #529
@serathius  Thanks a lot for quick response. Yes, by design we should leverage API-Server. But in some cases, if I have quit request traffic agnist that, it may throttled by master node. And in some network partition case, I would like to get some data from MS when API-Server is na for a while. Currently the scenario only need to read apis.

[2020-04-30 14:29] serathius commented on #529
To execute requests MS also requires access to API-Server (e.g. authorize request or fetch pod labels). Querying MS directly will not help you avoid problem due network partition or API-server request throttling.

[2020-05-01 03:56] Incarnation-p-lee commented on #529
@serathius
Thanks a lot for explaining this, very clean. I think I got the point of this design, should leverage it from API-Server.

[2020-05-01 09:16] #529 closed

[2020-05-07 22:31] shimont opened #530 "components.yaml URL Forbidden"
**What happened**:
I tried to run
```kubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.3.6/components.yaml```
**What you expected to happen**:
I will be able to download the yaml file

**Anything else we need to know?**:
Seems like a permission issue with S3
**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.): AWS EKS
- Container

[2020-05-08 00:27] shimont commented on #530
Seems like the issue was fixed

[2020-05-08 00:27] #530 closed

[2020-05-09 18:21] lakshmikanthKGit opened #531 "Metric server installation failed"
/triage support

Post deploying metric server check api deployment having errors.
[code]
Logs from Metric pod
[code]
[code]

api service is configured with aggregation layer
[code]

[2020-05-10 11:14] rahulyadav130 commented on #67
unable to fetch metrics from Kubelet kubemaster.local (kubemaster.local): Get https://kubemaster.local:10250/stats/summary/: dial tcp: lookup kubemaster.local on 10.32.0.10:53: no such host]

[2020-05-11 08:43] serathius commented on #67
@rahulyadav130 This issue is about problem with certificate problem, your problem looks like a DNS configuration one. Feel free to open a separate issue for it.

[2020-05-11 10:46] pierluigilenoci commented on #491
@serathius but the release is done or not? Because I see it here https://github.com/kubernetes-sigs/metrics-server/releases but looks incomplete and this issue is still open.

[2020-05-11 10:51] serathius commented on #491
There is a git tag, but release was not published. This is because currently publishing images in k8s.gcr.io is blocked. Please look at the list of tasks in this Issue.

[2020-05-11 11:36] thanhlong9x opened #532 "metric-server dial tcp 10.96.0.1:443: i/o timeout"
Hi, I'm test cilium network. And my metric-server always stuck in CrashLoopBackOff state. I showed log of metric-server and I see "Error: Get https://10.96.0.1:443/api/v1/namespaces/kube-system/configmaps/extension-apiserver-authentication: dial tcp 10.96.0.1:443: i/o timeout". I want to know how to fix this problem and cilium network is the reason, isn't it ?
Thanks for watching my problem.

[2020-05-11 11:49] serathius commented on #532
During start Metrics Server tries to contact Kubernetes Apiserver. In your case https://10.96.0.1:443. To fix it you need to make sure that your Apiserver is reachable from your nodes.

[2020-05-12 02:14] thanhlong9x commented on #532
Hi @serathius, I checked logs on api-server and my api-server can't retrieve openAPI spec. As below
![Uploading metric-server.PNG…]()

[2020-05-12 08:31] serathius commented on #532
Ok, this just that you have node<-> master communication broken.

[2020-05-12 10:49] thanhlong9x commented on #532
@serathius  Thank you, I fixed this bug follow same issue before.

[2020-05-12 15:44] nerusnayleinad commented on #299
For those, who have tried everything, and it is not working yet, check the `apiVersion` of the object the `HPA` is hooked to. This is what I mean.

[code]
If not, it is going to return `no metrics known for pod`.

And if you want to also solve `--kubelet-insecure-tls` flag issue, you can get the CA cert of the cluster, create a secret from it, and add it to the metrics server pod. Then to refer to

[2020-05-14 03:28] lampnick commented on #157
It works, thanks!

[2020-05-15 03:16] #532 closed

[2020-05-16 06:27] tvkit commented on #212
@zahid0  [response above worked for me.](https://github.com/kubernetes-sigs/metrics-server/issues/212#issuecomment-459321884)

Was a little confused about the _ClusterRoleBinding_, but eventually discovered it was already setup in my Kops deployment within the _kube-system_ namespace.

`k get ClusterRoleBinding kops:system:kubelet-api-admin -o yaml -n kube-system`

Went back-n-forth a few times on

[2020-05-18 03:18] laik commented on #473
i have a similar problem

[code]

[2020-05-18 08:07] serathius commented on #473
@laik I don't think this is the same case. Here Ziyuan reported that there is pod object with empty list of containers. Which is not correct as pod cannot exist without container.
In your case the result is empty meaning that Metrics Sever was not able to scrape any pods. It's the difference between empty response and incorrect response.

[2020-05-19 01:52] laik commented on #473
@serathius
metrics-server logs

[code]

[2020-05-19 08:14] serathius commented on #473
Please create separate issue to avoid adding unrelated logs to this one. Also for problems with Metrics Server configuration feel free to ask on sig-instrumentation slack

[2020-05-19 08:45] laik commented on #473
OK

[2020-05-22 14:42] lucj commented on #385
I tried the updated installation with the following yaml but it's still failing on a brand new 1.17.5 DO cluster.

[code]

It's working fine with the above fix though (command added in the Deployment). Any idea if the problem comes from DigitalOcean cluster setup ?

[2020-05-24 02:28] QianChenglong commented on #494
#### Unable to authenticate the request due to an error: x509: certificate signed by unknown authority

[code]

Because Metrics Server is an aggregated server for kube-apiserver. So as an aggregated server need sets `--requestheader-client-ca-file` for validate request which send by kube-apiserver. [headrequest(front-proxy)](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#a

[2020-05-25 07:23] Poor12 opened #535 "Metrics-server scrape data from kubelet with different ports"
/triage support

For some reason,the port of the kubelet on the nodes in the k8s cluster I deployed cannot be the same,some are 10250,some are another.I want metrics-server to grab data from nodes with several different ports.I checked the configuration options and source code. It seems that metrics-server does not support this feature.Is that right?

Thx for any help.

[2020-05-25 08:38] serathius commented on #535
Your right, Metrics Server can only use ports 10250 (kubelet read only port) or 10255 (kubelet secure port) and you can only select one for all nodes within cluster. This should be a feature request. This is not an easy problem as it requires introducing some kubelet config discovery system, otherwise you would need to hardcode every node in Metrics Server config which is not great as nodes are ep

[2020-05-25 08:41] serathius commented on #531
Have you tried passing `--requestheader-client-ca-file` flag to metrics server?

[2020-05-25 10:26] serathius commented on #494
Hey  ShenZhen@China, thanks for writing instructions for Kubeadm but this bug is about EKS. I don't think that in EKS you would be able to access front-proxy CA the same way.

[2020-05-25 12:23] QianChenglong commented on #494
Sorry about that, it seems same.Most likely it was caused by not configuring this.

[2020-05-26 07:46] Poor12 commented on #535
Hello,I have changed some codes to realize this feature. But IDK how to binary deployment metrics-server for testing my codes. I can not find the document. Can you tell me how to figure it out?@serathius

[2020-05-26 08:07] serathius opened #536 "Flaky e2e tests"
Last 2 PRs that change documentation has e2e tests failing
/king bug

[2020-05-27 07:07] rodrigorpo commented on #247
I had a similiar problem on minikube running on windows 10 home. Your tutorial helped me.
Thank you, @neerajjain92 !

[2020-05-27 09:21] serathius commented on #535
For development I build normal container and test it on `kind` cluster.

Please look into `Makefile` there are commands like `make container` for building container, and `test-e2e` that will setup a `kind` cluster for you and run e2e test. It will automatically cleanup the cluster after, you can disable it by removing `trap delete_cluster EXIT` line from https://github.com/kubernetes-sigs/metrics-

[2020-05-27 10:39] serathius commented on #535
Could you describe changes that your proposing and how they will be implemented (e.g. new flags added)

[2020-05-27 20:34] Dominik2000 opened #537 "Metrics server unable to scrape"
**What happened**:
component.yaml:
[code]

I added the two parameters `--kubelet-preferred-address-types=InternalIP` and `--kubelet-insecure-tls`

Installed the metrics server 0.3.6 with component.yaml and this error occurs:

`E0527 20:27:31.758316       1 manager.go:111] unable to fully collect metrics: [unable to fully scrape metrics from source kubelet_summary:k8s-master-02: unable to fetch met

[2020-06-01 06:24] Poor12 commented on #535
I expand the getNodes func to make it be able to fetch kubeletEndpoints.Later I will send a pr.

[2020-06-02 00:55] AlexEyler opened #539 "Metrics server fails to collect metrics for Windows pods/nodes"
**What happened**:
Running `kubectl top node` results in this error for our Windows agents:
Error from server (NotFound): nodemetrics.metrics.k8s.io "7813k8s004" not found

**What you expected to happen**:
I'd expect to see some stats for the Windows agents

**Anything else we need to know?**:
Metrics for linux pods/nodes work fine

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, th

[2020-06-02 08:22] serathius commented on #539
In Metrics Server depends on scraping Kubelet to get metrics. In logs you can see responses from Kubelet: `500 Internal Server Error`

content:
[code]

[2020-06-02 15:04] #535 closed

[2020-06-02 23:34] marosset commented on #539
I think this is fixed by https://github.com/kubernetes/kubernetes/pull/90554 which has an outstanding backport request to 1.18.
@AlexEyler would you be able to see if this is resolved in k/k master?

[2020-06-03 09:01] progapandist commented on #131
@veton 's answer is the most on-point and up to date, thank you! 🙏

[2020-06-04 16:02] #320 closed

[2020-06-04 17:41] MichaelJDrK opened #540 "/healthz never recovers from failed state"
**What happened**:

We're running metrics-server v0.3.6 with a readinessProbe:

[code]

We have Kubernetes-Clusters provisioned by kops, currently on Version 1.16.9 and 1.17.6, with 3 masters each.

During a rolling update of the masters group, the metrics server often flaps to red (readinessProbe failed) and stays red. This means, rolling update will stop, because the metrics server (being in the

[2020-06-04 18:59] AlexEyler commented on #539
@marosset I'll look into this, can I just deploy a 1.19 kubelet.exe/kubeproxy.exe into the Windows VM? I haven't tried this before.

[2020-06-05 18:43] marosset commented on #539
@alexeldeib  Sorry I don't fully understand your question,
You'd want to go through all of the steps to join Windows nodes to an existing K8s cluster.
Alternatively you could start with a node that is already joined to a cluster, stop the kubelet service, overwrite kubelet.exe with one from https://dl.k8s.io/v1.19.1-beta.1/kubernetes-node-windows-amd64.tar.gz
The specifics on how to do that depend

[2020-06-06 09:14] scoopex commented on #340
/reopen

The description is still note detailed enough or does not work.

[code]

Users which do not have detailed understanding of metrics-server have no real change to get this running in a secure way on their installation.
I think it would be nice to have a complete installation description which describes all mandatory steps to run metrics-server on a secure
production environment from vanilla

[2020-06-08 19:55] mhewedy commented on #299
I did edited the deployment and followed your instructions but not worked for me:

[code]

and secret:
[code]

[2020-06-09 07:46] nerusnayleinad commented on #299
But you gotta start the metrics server. You are missing `/metrics-server` in the beginning. Otherwise, you are just passing random arguments to the principal endpoint of your container.

[2020-06-09 18:15] davetayls commented on #491
Hey, has there been any progress on the blocked items in this release?

[2020-06-09 18:21] serathius commented on #491
Domain flip is scheduled for June 22.

[2020-06-09 19:28] serathius commented on #540
In 0.3.6 we '/healthz' was not correctly defined to be a readiness probe, that's why it was not used in manifests.
We are working on adding readiness probe in 0.4.0.

I'm  not sure about

Metrics Server queries apiserver when serving a request, this makes apiserver a hard dependency. It's resonable to assume that if readiness probe should fail if application cannot serve request due hard dependenc

[2020-06-09 19:30] serathius commented on #539
Closing as problem was identified as a problem in Kubelet

[2020-06-09 19:30] #539 closed

[2020-06-09 19:31] serathius commented on #537
Have you considered checking your network?
[code]
points to problem with network

[2020-06-10 09:07] MichaelJDrK commented on #540
Thanks for the clarification, we'll remove the readinessProbe until 0.4.0

Concerning the API server request: Of course I was only talking about an HA master setup. And I wanted to say, that the metrics-server should be self-healing, at least after all masters are back. I assumed that the metrics-server stopped working even after a master is back, according to the /healthz endpoint, but that was a

[2020-06-10 09:18] serathius commented on #540
Removing readinessProbe it's up to you. For sure "/healthz" needs improvement.

So the underlying problem is that "/healthz" never recovers after a problem with apiserver (like during upgrade). This for sure should not happen, this is really surprising to me, but I never depended on "/healthz".
/kind bug

Could you provide Metrics Server logs generated during master upgrade?

[2020-06-11 08:21] max-rocket-internet commented on #372
OK maybe let this issue close then if it's not a big deal for others 🙂

[2020-06-11 22:21] agilgur5 opened #541 "`manager.go` "x509: certificate signed by unknown authority, unable to fully scrape metrics from source""
I've exhausted all the options and tried A TON of different possible fixes (been at it for more than a full day) but _none_ worked, so I am thinking this may be a bug here and writing here

**What happened**:

I deployed `metrics-server` onto a `kops` cluster on AWS using the Helm chart with no changes. `metrics-server` errors with the full logs listed below. Summarized by the title and a short sn

[2020-06-14 02:20] robertzhangwenjie commented on #525
I have the same problem, my debug info as below:

kubernetes version: v1.16
Installation method: binary

metrics-service-deployment.yml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: metrics-server
  namespace: kube-system
  labels:
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: metrics-server-con

[2020-06-14 13:16] hanumanthan commented on #540
hi @serathius As a new contributor is this bug something that I can pick up ?
If yes would need some help on what is to be fixed and some pointers the code. Thanks 😄

[2020-06-15 08:57] serathius commented on #349
Looks like work was done

[2020-06-15 08:57] #349 closed

[2020-06-15 08:59] serathius commented on #540
Hey @hanumanthan,
I think we need to propose design for both Metrics Server health endpoints and probes. There was already issue related to that https://github.com/kubernetes-sigs/metrics-server/issues/291 but it doesn't look like it's worked on.
Currently I don't have enough time to work on the design, if your interested feel free to write some proposal.  But I expect this will be pretty hard for

[2020-06-15 14:22] serathius opened #542 "Implement kubernetes probes"
/kind feature
Goal of this issue is to create proper definitions of health and readiness for metrics server and implement Kubernetes probes based on them.

## Background

Code in metrics server does two following processes:
* Periodically scrapes all the nodes in cluster for metrics which is uses to fill internal cache
* Serves Metrics API by joining list of nodes/pods fetched from Apiserver with

[2020-06-15 14:22] serathius commented on #291
Closing for https://github.com/kubernetes-sigs/metrics-server/issues/542

[2020-06-15 14:22] #291 closed

[2020-06-15 14:53] floryut opened #543 "FailedDiscoveryCheck Get https://<metrics-server-ip>/apis/metrics.k8s.io/v1beta1: Forbidden"
**What happened**:
[code]

Because of this
[code]

There is also this error
[code]

I've tried `--enable-aggregator-routing=true` on apiserver, `hostNetwork: true`  on metricsServer manifest, I'm even starting the pod with  `--kubelet-insecure-tls`
but nothing change my apiservice (and so my api-server log) still display
[code]
I've even allow unauth access to be sure RBAC was not the cause...
[co

[2020-06-16 10:13] wuestkamp commented on #447
I get to the same `kubectl top` values with these prometheus queries:

[code]

[2020-06-16 19:58] wu105 commented on #447
@wuestkamp Great!  That is what 'kubectl top node' is reporting!

Talking about metrics from Prometheus, on the risk of being off topic, node_filesystem_size_bytes, node_filesystem_free_bytes, and node_filesystem_avail_bytes are reporting on the /var/lib/docker device, matching `df -B1` output:
[code]

By the way, the node_filesystem_*_bytes metrics are labeled with the host / device, which would

[2020-06-17 17:32] egernst commented on #181
@serathius  - While there may have been enabling done to allow manifests in the future, AFAIU there still are not multi-arch manifests published for metrics-server, which is problematic.

Usually I end up just creating my own based on the individual arch images to work around, but in this case I see a further issue: the published arm64 image is still marked as x86:

$ docker image inspect k8s.gcr.

[2020-06-17 17:44] serathius commented on #181
Sure, multi arch images should be supported by 0.3.7 release which was cut and is expected to be released next week. More details https://github.com/kubernetes-sigs/metrics-server/issues/491
Image should be available under gcr.io/k8s-staging-metrics-server/metrics-server:v0.3.7

[2020-06-17 17:48] serathius commented on #181
Hmm looks like images still are not marked correctly?
[code]

[2020-06-17 17:48] dims commented on #181
[code]

[2020-06-17 17:52] serathius commented on #181
@dims for rescue !!
Why then architecture differs when inspecting image directly? @egernst If that's a problem for you feel free to file a bug about 0.3.7 image. Contributions are also welcomed

[2020-06-17 17:58] egernst commented on #181
The v0.3.7 staging looks good @serathius; I'll use this for the short term, and look forward to the release.  Thanks.

[2020-06-19 13:28] etherandrius opened #544 "Reason for insecureSkipTLSVerify in APIService"
Currently (v0.3.6) APIService `v1beta1.metrics.k8s.io` enables `insecureSkipTLSVerify: true`

If we disable it we are not able to retrieve any metrics.
`Error from server (ServiceUnavailable): the server is currently unable to handle the request (get nodes.metrics.k8s.io)`

1. Why is it necessary to enable `insecureSkipTLSVerify` ?
2. Why is this not a security issue ?

The manifest in question:
[

[2020-06-21 10:30] serathius commented on #543
I see two potential problems:

Network/TLS problem when connecting to Metrics Server:
[code]

RBAC permission problem
[code]

I would start from looking into the first one. I would look into directly connecting to Metrics Server without apiserver proxy.

[2020-06-21 10:48] serathius commented on #544
Thanks for asking this question. If your interested in security of metrics server I would really appreciate your feedback about current configuration, options and documentation available. It would be really great if we could improve things.

Ad 1
Requests for metrics in k8s (e.g. `kubectl top`) are sent to apiserver which proxies them to Metrics Server. This is done via kubernetes api agregation (

[2020-06-21 10:51] serathius opened #545 "Improve documentation about making MS more secure"
We should do a better job informing users how to secure communication between apiserver and Metrics server. It should mention disabling `insecureSkipTLSVerify`

/kind documentation
/help

[2020-06-21 10:51] serathius commented on #544
Created https://github.com/kubernetes-sigs/metrics-server/issues/545

[2020-06-21 12:45] serathius commented on #542
/help

[2020-06-22 05:20] hanumanthan commented on #542
I am interested to pick this up.

@serathius Is my understanding correct ?

We need to implement
1. Liveness(/healthz) endpoint - a 200 response when there was a successful scrape in last 30sec
2. Readiness(/readyz) endpoint - a 200 response when MS has started up, made a successful scrape and has retrieved metric for atleast one node.

Questions
1. For liveness, is scrape in last 30 sec considere

[2020-06-22 08:36] serathius commented on #542
/cc @logicalhan

[2020-06-22 18:24] etherandrius opened #546 "Expose healthz via http port"
**What would you like to be added**:
`/heathz` endpoint to be exposed via an http endpoint.

**Why is this needed**:
We want run a health sidecar to monitor metrics-server health. In https mode this sidecar requires to use certificates, however no certificates can work - as they would need to be signed by localhost (a definite no go). This can be overcome but providing http endpoint would save fut

[2020-06-22 21:04] logicalhan commented on #542
Oh thanks :)

"/healthz" is actually deprecated in favor of "/livez" now.

Yes, there are [standard kubernetes configuration options](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/). You can set `initialDelaySeconds` to specify how long you expect the boot sequence to take (i.e. probing won't start until this time elapses). You can set `Period

[2020-06-23 05:39] hanumanthan commented on #542
The design mentions that the `/readyz` should have a hard-dependancy on api-server. After MS becomes ready (returns 200 for `/readyz`), the api server becomes unavailable some point in the future, then `livez` will always return error as no scrape is successful. In this case kubelet will restart MS which won't become ready as the hard dependancy is unavailable. This is my understanding. Want to cl

[2020-06-23 08:45] serathius commented on #542
Liveness of container should not depend on external services (assuming that container can recover from network problems). Apiserver being down should not cause a MS restart (it behaves like that currently and this is not correct). Here proposed definition requires at least one successfully scraped node, meaning that it should not fail on Apiseriver down if we discovered at least one node.

Possibl

[2020-06-24 11:39] Devying commented on #146
I Got this

`
W0624 11:37:52.647355       1 configmap_cafile_content.go:102] unable to load initial CA bundle for: "client-ca::kube-system::extension-apiserver-authentication::client-ca-file" due to: configmap "extension-apiserver-authentication" not found
W0624 11:37:52.647424       1 configmap_cafile_content.go:102] unable to load initial CA bundle for: "client-ca::kube-system::extension-apiserv

[2020-06-24 11:41] Devying opened #547 "x509: certificate signed by unknown authority"
metrics-server pod logs
[code]

/king bug

[2020-06-24 12:11] serathius commented on #547
Bugs that don't use issue template and don't provide required information for debugging will be closed

[2020-06-26 04:01] Rock981119 commented on #247
It worked, Thx.

[2020-06-29 07:49] yishaihl commented on #237
hey, where i should put this command? inside the metric-server deployment yaml?

[2020-06-29 16:12] jiphex commented on #494
So the instructions provided by @QianChenglong fixed the issue I raised in #319 (this is on an RKE cluster, nothing to do with ECS) - adding the `--requestheader-client-ca-file` argument referencing the kube CA cert fixed my issues. Not sure if this needs to go over to  RKE or a fix is needed in this repo, maybe related to https://github.com/rancher/rke/issues/866

[2020-06-29 20:54] rata commented on #237
Yes

[2020-07-04 14:58] serathius commented on #449
/remove-lifecycle stale

[2020-07-04 21:23] pythops commented on #392
/remove-lifecycle stale

[2020-07-08 03:20] uthark commented on #362
/remove-lifecycle stale

[2020-07-10 17:18] ubhide commented on #537
I have seen those errors intermittently as well. There were no network errors, however, interestingly enough, the host was somewhat under-provisioned and the metrics-server seemed to be starving for RAM. After manually increasing the RAM on that host, the metrics-server stabilized and was able to report on all components normally.

[2020-07-11 01:11] yiyigit opened #549 "/apis/metrics.k8s.io/v1beta1/nodes/ cpu meaning"
Hi,
I've searched everywhere but still couldn't find what it means when a cpu usage ends with 'n'. I would like some clarification.
So I am calling `http://localhost:<kubectl_proxy_port>/apis/metrics.k8s.io/v1beta1/nodes/<node_name>` and get this. I know the cpu capacity right now. How do I interpret "cpu": "69763326n", what does "n" stand for here?
I used to call `http://localhost:<kubectl_proxy_

[2020-07-11 07:38] serathius commented on #549
https://github.com/kubernetes-sigs/metrics-server/blob/master/FAQ.md#what-metrics-are-exposed-by-metrics-server

[2020-07-11 10:59] qhh0205 opened #550 "Authorization: metrics-server did not get correct username from kube-apiserver that lead authorization failed"
**What happened**:
I have installed the metrics-server, but when i exec `kubectl top pod` command, that report error about authorization:
[code]
I have read the doc about the metrics-server authentication and authorization: User(kubectl)--->kube-apiserver--->metrics-server, doc link: https://kubernetes.io/docs/tasks/extend-kubernetes/configure-aggregation-layer/

As error report above, it seems th

[2020-07-11 11:19] serathius commented on #550
I'm not extension server expert, but I found this in documentation:
[code]
Have you looked into configuring `--requestheader-username-headers` and `extension-apiserver-authentication` configmap?

[2020-07-11 11:22] serathius commented on #550
@kubernetes-sigs/kubernetes-sig-api-machinery to confirm

[2020-07-11 11:27] qhh0205 commented on #550
The extension-apiserver-authentication congimap in kube-system:
[code]

[2020-07-11 11:33] qhh0205 commented on #550
[code]

[2020-07-11 14:50] enj commented on #550
See https://kubernetes.io/docs/tasks/extend-kubernetes/configure-aggregation-layer/#ca-reusage-and-conflicts on how to correctly configure the CA bundles so they do not conflict.

[2020-07-12 02:07] qhh0205 commented on #550
I have read that doc about resuage root ca, but it seems that my issue is not related to root ca conflicts. The root ca conflicts only affect the User(kubect) to kube-apiserver authentication, not affect the metrics-server retrieve username from kube-apiserver headers, in other words, despite the ca conflict, the metrics-server retrieve username is kubectl client's cert CN name, not the kube-apise

[2020-07-13 16:39] #549 closed

[2020-07-13 16:59] mauilion commented on #550
This work in kind.sigs.k8s.io. Here are is the effective config for this:
apiserver args:
[code]
certs:
[code]
I used your configuration for the components.yaml with the following difference:
[code]

[2020-07-15 09:54] #340 closed

[2020-07-23 07:18] kmmanto opened #551 "kube_pod_container_resource_requests_cpu_cores value does not tally with kubectl"
**What happened**:
From `grafana/prometheus`, the cpu core request(per node) is lower than the kubectl one.
In effect, the cluster would seem to have a lot of cpu cores free than what it actually has.

**What you expected to happen**:
Values from metrics should be equal or close to `kubectl describe node` figure

**Anything else we need to know?**:

**Grafana/Prometheus**
CPU Core Request
30580m

[2020-07-23 12:33] hasakura12 commented on #447
I have a similar issue with metrics shown by `kubectl top pod` vs `kubectl get hpa`:

[code]

However, HPA shows only 7m (4%), hence doesn't scale up
[code]

Any ideas as to why??

[2020-07-23 12:41] serathius commented on #447
@hasakura12 Please reach out to SIG Autoscaling similar problems. You can reach out to them via K8s Slack. My suggestion would be to look into resource requests, but please don't continue this topic on unrelated issue.

[2020-07-23 15:08] serathius opened #552 "Test and document high availability configuration"
Follow up from https://github.com/kubernetes-sigs/metrics-server/blob/master/FAQ.md#can-i-run-two-instances-of-metrics-server

When writing this I only verified that MS works and requests are sent only to one of the replicas (guess that apiserver keeps connection open thus avoiding load balancing).

We should verify if running 2 instances can provide benefit of high availability and document it. W

[2020-07-23 16:42] #491 closed

[2020-07-23 16:47] imranismail opened #555 "Image not found for v0.3.7"
[code]

/king bug

[2020-07-23 16:50] serathius commented on #555
You're fast, image location was moved, try
[code]

I though I fixed all image references in Release notes and repo. Please let me know if we are still referencing `k8s.gcr.io/metrics-server:v0.3.7`

[2020-07-23 16:54] imranismail commented on #555
@serathius I'm still getting not found error with the latest path

[code]

[2020-07-23 17:03] serathius commented on #555
Ugh, sorry for that. Possibly Vanity domain flip was not rolled out in your region.
It should be finished tomorrow. If you want to use image earlier you could try:
`{asia,eu,us}.gcr.io/k8s-artifacts-prod/metrics-server/metrics-server:v0.3.7` where `{asia,eu,us}` should be region of your preference.

[2020-07-24 15:17] serathius commented on #542
Hey @hanumanthan,
This issue is part of milestone for v0.4.0, that we will be preparing to release. I think your work on probes is really important for next release.
Will you be able to work on your PR to finish it?

[2020-07-24 15:22] serathius commented on #362
@ankilosaurus At this point I think it's reasonable for @uthark to take over this issue.
This issue is part of milestone for v0.4.0, that we will be preparing to release. I think having client-ca authentication is important for next release. Please let me know if you need any help.

[2020-07-24 15:25] serathius commented on #449
@s-urbaniak
Having quality metrics is very important for next release. I added this issue to v0.4.0 milestone, that I will be preparing to release in near feature.
Will you be able to work on this?

[2020-07-24 15:26] serathius commented on #362
/help
@uthark please confirm that your still interested in working on it.

[2020-07-25 08:31] serathius commented on #555
There was a confirmation that Domain flip has been finished. Sorry for too early announcement, problem should not occur anymore.

[2020-07-25 08:31] #555 closed

[2020-07-25 08:40] serathius opened #556 "Define Metrics Server SLI (Service Level Indicator) and create appropriate metrics"
Improving MS monitoring should start from defining SLIs. It should help with finding blind spots in internal monitoring and help improve resiliency of service. It would be also beneficial to use SLIs during scalability tests, providing clear goals that we want to keep when adjusting resource usage.
/kind feature

[2020-07-25 08:45] serathius opened #557 "Define & document scalability tests scenarios"
We should have clear documentation about how scalability tests are conducted making them reproducible and open. It should also help with tracking performance improvements.

/kind feature

[2020-07-25 08:52] serathius opened #558 "Run scalability tests and update resource requirements"
After scalability tests scenarios are defined https://github.com/kubernetes-sigs/metrics-server/issues/557 we should use them to qualify new release and adjust resource requirements.

/kind feature

[2020-07-25 09:52] serathius opened #559 "Implement using /metrics/resource Kubelet endpoint"
Since Kubernetes version 1.14, kubelet supports new resource endpoint /metrics/resource returning core metrics in Prometheus format.

[code]

We should test on different k8s versions as there was some bugs and changes in endpoint:
* [1.14] [Add /metrics/resource/v1alpha1 endpoint](https://github.com/kubernetes/kubernetes/pull/73946)
* [1.17] [Mark resource metrics as ALPHA](https://github.com/kube

[2020-07-25 09:52] serathius commented on #559
/cc @dashpole
/help

[2020-07-25 09:54] serathius commented on #559
@dashpole , do you have any recommendation about handling different Kubelet versions with changes in endpoint?

[2020-07-25 10:39] serathius commented on #559
I would propose first to implementing this endpoint for newest 1.19 version, measure performance benefits and decide if it's useful to implement handling older version. It should be possible to check node version and scrape this endpoint only for >1.19 nodes.

[2020-07-25 13:01] serathius commented on #556
/assign

[2020-07-25 16:10] serathius commented on #556
## Background

Metrics server exposes metrics about all pods and all nodes running in cluster. Metrics server exposes two types of metrics Working Set Size (WSS) for memory, and CPU usage. To collect those metrics, it scrapes periodically all nodes Kubelet Summary API. Kubelet reports metrics either from cAdvisor (when using docker) or CRI. Metrics server stores those metric values in memory and s

[2020-07-25 17:52] serathius commented on #556
/help
for implementation of metrics

[2020-07-25 17:58] serathius commented on #556
/cc @s-urbaniak @logicalhan @dashpole
For review

[2020-07-25 23:55] hanumanthan commented on #542
Hi @serathius I would love to but given my personal circumstances, I wont be able to work on this for a while.

[2020-07-27 00:53] nodesocket opened #560 "Publish v0.3.7 to gcr.io/google_containers/metrics-server-amd64"
Hello, can you please push and publish `v0.3.7` to `gcr.io/google_containers/metrics-server-amd64`?

[2020-07-27 00:59] nodesocket commented on #560
I guess the url changed to:

[code]

Updating to the following in my Helm chart worked:

[code]

[2020-07-27 00:59] #560 closed

[2020-07-27 04:38] tirelibirefe commented on #300
even if you close these support requests, there is a major issue, it doesn't work.
Although I set --kubelet-insecure-tls=true --kubelet-preferred-address-types=InternalIP, it still gives `"unable to fetch pod metrics for pod..."` error.

[2020-07-27 04:45] tirelibirefe opened #561 "unable to fetch pod metrics for pod"
`unable to fetch pod metrics for pod`

unable to fetch pod metrics for pod
**What happened**: I installed metrics-server.

**What you expected to happen**: I expect it works.

**Anything else we need to know?**: I don't know. I didn't do anything special.

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.): kubespray Kubernetes on vsphere
- Container Network Setup (

[2020-07-27 09:00] serathius commented on #300
Hey @tirelibirefe
Thanks for bringing this up, I understand that having Metrics Server not work out of the box is not a great experience. Unfortunately due overwhelming size of Kubernetes Apiserver & Kubelet configuration it's impossible to achieve a solution that works for everyone.

Configuring Metrics Server requires substantial knowledge about how Kubelet is configured in your cluster. For exa

[2020-07-27 09:03] serathius commented on #561
Please provide missing information in template, most importantly provide full MS logs.

[2020-07-27 19:10] ktumu0225 commented on #349
@serathius Is this fix available with newly released v0.3.7? Or it will be part of upcoming release v0.4.0?

[2020-07-28 09:04] serathius commented on #556
I think main problem with crashlooping pods is how fast their status changes, from container status pod they could appear as not running, but they be picked up by cAdvisor. Do you know if cAdvisor/CRI would report metrics for crashlooping pods? Main worry here is that it would falsely bring up SLI value; they would count as metric points in nominator, but not be a running pod in denominator. I wou

[2020-07-28 16:45] dashpole commented on #556
I believe they do generally report metrics for crashlooping pods, but only if we query while the pod is active.  Would it be easier to calculate completeness if the kubelet reported 0 usage for crashlooping containers?  Would that break any assumptions MS has today?  Not being able to differentiate crashlooping containers vs buggy metrics seems to make MS job unnecessarily difficult.

[2020-07-28 17:48] serathius commented on #556
Metrics Server doesn't report metrics of non running pods. All metrics returned by Kubelet are stored in memory, but when returning query result we filter out pods in non running phase..

I'm not sure how would this work. I assume that pods can take couple of seconds before crashing. So pod life cycle looks like: start -> active for 5s -> crash -> crashloop backoff -> start (repeat). Would you pro

[2020-07-28 17:57] dashpole commented on #556
I agree with this approach.  I'm suggesting the kubelet should report metrics for non-running containers in running pods, but not report metrics for containers in non-running pods.  Pods are technically in a running state after all containers successfully start, even if they fail soon after.

[2020-07-28 17:58] serathius opened #567 "Rewrite MS to use cumulative metric"
There are two types of CPU usage metrics exposed by Kubelet usageCoreNanoSeconds and usageNanoCores. First type is cumulative usage calculated from the start of the container, second one is average usage from the window. When using cAdvisor this period is between 10-20s, depending on load (average 15s). Starting from 0.3 Metrics Server started using usageNanoCores as with 1 minute scraping window,

[2020-07-28 18:57] sstoyanovucsd opened #568 "v0.3.7 tagged metrics-server-deployment.yaml refers to a broken image URL"
The image URL referred to in metrics-server-deployment.yaml included in tag v0.3.7 is wrong:
`image: k8s.gcr.io/metrics-server:v0.3.7`

should be:
`image: k8s.gcr.io/metrics-server/metrics-server:v0.3.7`

The above has been fixed in commit "6de3149ef965bdde5f029577cf73b2dbc7a3ec86".  Please update the v.0.3.7 tag to include the commit.

/king bug

[2020-07-28 19:15] serathius commented on #568
Done

[2020-07-28 19:15] #568 closed

[2020-07-29 14:36] dudicoco opened #569 "Implement prometheus metrics endpoint"
**What would you like to be added**:
Expose Prometheus metrics within the metrics server

**Why is this needed**:
Currently there is no way to monitor the metrics server deployment for any errors.

/kind feature

[2020-07-29 14:50] dudicoco commented on #552
@serathius can you please elaborate on the test that you have performed?

[2020-07-29 16:27] serathius commented on #552
Nothing complicated.
I run MS with two replicas with higher verbosity to get http access logs. I checked logs of both ms and found that only one was serving requests.

[2020-07-29 16:39] serathius commented on #569
I think Metrics Server is already exposing Prometheus metrics on "/metrics" endpoint and it works on v0.3.7 (I recently was measuring requests latency).

Access to it requires authorization via kubernetes service account with permissions for "/metrics" resource.

[2020-07-29 16:52] #569 closed

[2020-07-29 23:38] robrys commented on #476
I'm seeing the same issue and have opened a support ticket with the Azure team.

The tunnelfront logs will show something like:
[code]

At that point, metrics-server will hang for 15 minutes and be totally unresponsive.
Interestingly, `kubectl get apiservices` will show metrics-server becoming unresponsive only for about a minute (Available: False), before it returns to Available: True even though

[2020-07-29 23:39] robrys commented on #476
/remove-lifecycle stale

[2020-08-02 06:54] DirtySoc commented on #73
I'm seeing a similar issue now. I don't think the current image for the deployment is detecting arm based architectures and pulling the correct image. The errors are the same:

[code]

Running on a RPi 4 with Ubuntu Server 20.04

[2020-08-02 07:17] DirtySoc commented on #73
I was able edit the deployment to this:

[code]

This allowed the metrics-server pod to pull successfully and run.

[2020-08-02 13:49] arenstar commented on #561
I am getting the same issues on a medium size cluster with 230 pods.

The HPA complains

  Warning  FailedComputeMetricsReplicas  13m (x54 over 18d)   horizontal-pod-autoscaler  invalid metrics (1 invalid out of 1), first error is: failed to get cpu utilization: did not receive metrics for any ready pods

[2020-08-03 17:22] serathius commented on #394
/remove-lifecycle rotten

[2020-08-03 17:22] serathius commented on #384
/remove-lifecycle rotten

[2020-08-03 17:22] serathius commented on #19
/remove-lifecycle rotten

[2020-08-04 02:53] jensenity commented on #543
same issue here as well.

Followed all the guides and tutorials on AWS EKS metric server + Kubernetes Dashboard + metric server deployment and i still get this kind of error ```kubectl get --raw /apis/metrics.k8s.io/v1beta1
Error from server (ServiceUnavailable): the server is currently unable to handle the request```

[2020-08-04 05:38] uthark commented on #362
@serathius I'll work on it.

[2020-08-04 12:50] s-urbaniak commented on #449
@serathius yeah, i'll give it a spin! :tada:

[2020-08-05 07:36] #362 closed

[2020-08-05 07:58] serathius opened #571 "Implement flag validation"
Currently MS doesn't do any flag checking. Some flags are conflicting and some are required in groups. Currently users can set flags that would break other features and will not be informed about it. Examples:
* kubelet-certificate-authority and  kubelet-insecure-tls conflict
* kubelect-client-key and kubelet-client-certificate require both to be set

/kind feature

[2020-08-05 22:00] rocktavious commented on #552
@serathius is there anything i can do to help test this - we are running the configs from the kustomize version and it only has 1 replica and a PDB that doesn't allow the pod to go away during a drain of the node its on.  This seems like invalid setup because it will indefinitely prevent the node in the k8s cluster from being drained.  My initial thought was to scale MS up to 2 and change the PDB

[2020-08-06 06:53] serathius commented on #552
Hey @rocktavious, thanks for reporting problem with pdb. I don't think running 2 MS replicas should be needed. Could you file a separate Bug for PDB?

[2020-08-06 07:18] jenting commented on #545
I had a repo https://github.com/jenting/secure-metrics-server to deploy metrics-server in secure, hope it would help :smile:

[2020-08-06 08:05] serathius commented on #545
Thanks @jenting, it looks really interesting. I will talk with someone more familiar with apimachinery to confirm this is aligned with current best practices. Would you be interested in contributing this to MS documentation?

[2020-08-06 08:08] jenting commented on #545
To here https://github.com/kubernetes-sigs/metrics-server/blob/master/FAQ.md#how-to-run-metrics-server-securely, right?

[2020-08-06 08:16] serathius commented on #545
Yes, before starting work let me get lgtm from someone from SIG-apimachinery & SIG-security. I think your instructions are very good, still it's could be possible to improve them with some feedback from area experts.

[2020-08-06 08:18] serathius commented on #545
@logicalhan, are you know who is best to ask about securing kube-apiserver -> extension apiserver communication and what is current recommended approach?

Would it be ok for us to recommend manual certificate creation like described here https://github.com/kubernetes-sigs/metrics-server/blob/master/FAQ.md#how-to-run-metrics-server-securely

[2020-08-06 14:39] dudicoco commented on #552
I don't think the PDB issue is a bug, PDB should not be used with 1 replica exactly for the reason mentioned about.

[2020-08-06 14:40] serathius commented on #552
If current configuration includes PDB with 1 replica, which is incorrect then this is a bug in our configuration :P

[2020-08-06 14:52] dudicoco commented on #552
@serathius thanks for there clarification, so this configuration is causing the issue: https://github.com/kubernetes-sigs/metrics-server/blob/master/manifests/base/pdb.yaml

[2020-08-06 14:59] rocktavious commented on #552
FWIW - i scaled MS in my cluster to 2 configured the PDB to use .spec.minAvailable = 1 and everything works fine.

I'm not sure there is any downside to running 2 MS since the k8s API is gonna resolve the APIService to one of the 2 pods and this just makes sure that it's HA and never has downtime during a pod rescheduling event (such as draining a node like i was)

[2020-08-06 15:10] serathius commented on #552
I think best situation would be that we configure PDB that it protects from rescheduling downtime even with one replica.

Normal cluster operation like drain or eviction should not impact MS availability if PDB is correctly configured. In such situation I would expect that PDB could be configured to force creation of second new replica before deleting the old one. This avoiding this problem with o

[2020-08-06 15:19] rocktavious commented on #552
`I would expect that PDB could be configured to force creation of second new replica before deleting the old one.` this is not how PDBs work - they just protect agains the scheduler performing evictions. They don't protect against a `kubectl rollout restart deployment metrics-server` nor do they protect against `kubectl delete pod <name of metrics server pod>`

I tested both of the above.  I also

[2020-08-06 15:29] serathius commented on #552
Have you tested it against MS image build from master?

[2020-08-06 16:45] rocktavious commented on #552
k8s.gcr.io/metrics-server:v0.3.6

[2020-08-06 16:47] rocktavious commented on #552
looks like there is 0.3.7 and the image moved i could try k8s.gcr.io/metrics-server/metrics-server:v0.3.7 if you like

[2020-08-07 06:23] serathius commented on #571
/help

[2020-08-07 06:26] serathius commented on #567
/help

[2020-08-07 06:27] serathius commented on #552
current master manifests are meant to be used with current master image gcr.io/k8s-staging-metrics-server/metrics-server:master

[2020-08-07 07:28] AkashSarda commented on #571
Can I work on it?

[2020-08-07 08:12] serathius commented on #571
Sure

[2020-08-07 12:15] AkashSarda commented on #571
/assign

[2020-08-10 10:02] #372 closed

[2020-08-12 08:08] stevehipwell opened #572 "Official Helm Chart"
**What would you like to be added**:

An official _Helm Chart_.

**Why is this needed**:

Because the stable repo is due to be retired and an official _Helm_ chart is really useful for the community.

**Prior art**:

https://github.com/kubernetes-sigs/descheduler/pull/298
https://github.com/kubernetes/autoscaler/pull/3341

/kind feature

[2020-08-12 23:35] david-kirby commented on #319
@costimuraru Did you ever hear back on from AWS on why this is? I too was experiencing the x509 and simply added a `"username": "cluster-admin"` for each entry under the `mapRoles` path and now metrics-server is running correctly

[2020-08-13 15:02] alittlec opened #573 "ARM64 build"
**What would you like to be added**:
Support for ARM64, ideally a multi-arch build

**Why is this needed**:
To allow metrics-server to run on ARM64

/kind feature

[2020-08-13 15:03] #573 closed

[2020-08-13 15:03] alittlec commented on #573
created in error

[2020-08-14 17:15] Constantin07 opened #574 "/version doesn't return anymore version in v0.3.7"
**What happened**:
In the latest docker image `k8s.gcr.io/metrics-server/metrics-server:v0.3.7` it's not returned the version by the binary
so cannot identify which one is running.
[code]

**What you expected to happen**:
To return version like in previous `v.0.3.6`:
[code]

**Anything else we need to know?**:
This info is useful for testing which version of binary is running in the system.

**Env

[2020-08-14 17:22] Constantin07 commented on #574
Is there any flag available for version checking ?

[2020-08-17 08:53] thesuperzapper commented on #419
@serathius how is this coming along? I would love to lower the chance of losing metrics during a pod eviction.

[2020-08-17 09:03] serathius commented on #419
@thesuperzapper This issue is closed, you can read more about HA setup here https://github.com/kubernetes-sigs/metrics-server/issues/552

[2020-08-17 09:30] snowplayfire opened #575 "How to calculate cpu usage?"
[code]
`"cpu": "43481n"`, is it a counter from cgroup? or is it an average within a time window?

if it is an average, how to calculate this average in metrics-server?

/triage support

[2020-08-18 08:48] thesuperzapper commented on #552
Just for the record, the `metrics-server` is also important for `HorizontalPodAutoscaler`, so many users view `metrics-server` as a critical service.

[2020-08-19 16:17] thanos1983 commented on #493
In case that helps I have also exactly the same problem. I have raised a ticket on stackoverflow also [x509: certificate signed by unknown authority metrics-server](https://stackoverflow.com/questions/63471962/x509-certificate-signed-by-unknown-authority-metrics-server?noredirect=1#comment112270981_63471962).

I am also passing the following args:

[code]

But still the error as it was initially d

[2020-08-20 09:19] thanos1983 opened #576 "Documentation on how to enable TLS on metrics"
**What would you like to be added**: Analytical steps for begginers how to configure TLS from Master to Workers

**Why is this needed**: All the tickets that I have found e.g. [x509: certificate signed by unknown authority metrics-server](https://stackoverflow.com/questions/63471962/x509-certificate-signed-by-unknown-authority-metrics-server) or [Metrics server issue with hostname resolution of ku

[2020-08-20 19:35] robbiezhang commented on #310
Can we reopen this issue?
The generic apiserver support to override tls cipher suite.
https://github.com/kubernetes/apiserver/blob/e9efb24530b35b891051ceb7723873845f5e852e/pkg/server/config.go#L260

apiserver and kubelet support to pass in custom tls cipher suites
https://github.com/kubernetes/kubernetes/pull/48859

[2020-08-20 19:37] robbiezhang commented on #310
Seems like we can already override. I'll have a try to confirm.
https://github.com/kubernetes/apiserver/blob/e9efb24530b35b891051ceb7723873845f5e852e/pkg/server/options/serving.go#L176

[2020-08-20 19:43] serathius commented on #310
/reopen

[2020-08-20 19:45] serathius commented on #310
@robbiezhang Thanks for pointing this out. Are you interested in proposing a list of ciphers and sending a PR that configures them?

[2020-08-21 07:39] yyf1986 commented on #561
I use k3s, when I can get node metrics,but can not get pod metrics.

[2020-08-23 19:10] Vishnuvardhan777 commented on #167
I am facing the same issue.
EKS 1.17 and Metrics server 0.3.6 (image : k8s.gcr.io/metrics-server-amd64:v0.3.6)

I have download yaml from [https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.3.6/components.yaml]
and added flag
          - --kubelet-insecure-tls
          - --kubelet-preferred-address-types=InternalIP

1.  **_kubectl top nodes_**
_Error from server (ServiceUnavai

[2020-08-24 15:34] easimon opened #577 "Remove (unnecessary) arch limitations in components.yaml"
**What would you like to be added**:

Since metrics-server is now available as a multi-arch docker image, I'd like to have the following lines removed from the deployment manifest included in [components.yaml](https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.3.7/components.yaml).

Alternatively it could be reworked with `nodeAffinity` rules to explicitly list all supported os

[2020-08-24 20:49] serathius commented on #577
Looks like something we missed when working on multi-arch images. I think it would also make sense to fix 0.3.8 release. @easimon would you be interesting in contributing this?

[2020-08-25 07:09] easimon commented on #577
Taking a closer look, it seems like the `arch` node selector is already gone in the source since https://github.com/kubernetes-sigs/metrics-server/commit/ff18752168539db25479b7851c3166712063e554.

So currently it seems more like a human error made when crafting the release, nothing to fix in the given code.

[2020-08-25 07:21] serathius commented on #577
Thanks for checking. I fixed the 0.3.7 release. Please take a look and check if everything is ok.

[2020-08-25 07:23] serathius commented on #575
It's average calculated by Kubelet, expected window is last 10-20s.

[2020-08-25 07:30] serathius commented on #545
ping @logicalhan

[2020-08-25 07:32] easimon commented on #577
The `arch` selector is now gone. Works for me 👍, thanks

[2020-08-25 07:44] serathius commented on #574
Looks like this was broken during https://github.com/kubernetes-sigs/metrics-server/pull/480
Flag `--version` can be used for version checking, but it shares source with `gitVersion` from `/version` endpoint. This means it will also not work on 0.3.7
I will start discussion about cutting new release either 0.3.7 or 0.4.0.

[2020-08-25 07:47] #577 closed

[2020-08-25 16:15] logicalhan commented on #545
@liggitt probably has a better idea about this than me.

[2020-08-26 07:26] SawyerLan opened #578 "metrics-server data not right"
### I use kubect top show , pod memory used 3363Mi
`[root@client ~]# kubectl top pod -n hcloud-pro |grep stock
hcloud-h3-stock-center-deployment-6d48ffb8c-4gmr6                 5m           3266Mi
hcloud-h3-stock-center-deployment-6d48ffb8c-px8bt                 4m           3363Mi `

### But, use docker stats show container memory is not 3363Mi ，it is **_1002MiB_**
`[root@node01 ~]# docker ps |gr

[2020-08-27 11:56] almato-mdm-support opened #579 "unable to fully collect metrics ... request failed - "403 Forbidden""
Hi people,

I hope you can help. We are running a k8s cluster in version 1.18.2. Since the upgrade on one cluster the metrics can't be collected from the nodes except the master.

All the others respond with:
E0827 11:42:16.423075       1 manager.go:111] unable to fully collect metrics: [unable to fully scrape metrics from source kubelet_summary:$SOME_HOST: unable to fetch metrics from Kubelet $SO

[2020-08-27 12:49] HisokaHous commented on #131
Thanks, that solved my problem too

[2020-08-27 13:31] almato-mdm-support commented on #579
Ok, I discovered that the bearer-token the metrics server uses isn't valid on the other servers.

[2020-08-27 14:06] almato-mdm-support commented on #579
Found it.

On CentOS I had to remove in /etc/systemd/system/kubelet.service.d/11-kubeadm.conf the line containing
authorization-mode=Webhook

And it worked at once. No auth-probs anymore.

[2020-08-27 20:49] #463 closed

[2020-08-29 20:02] ravigude commented on #543
I am having the same issue as well. AWS EKS metric server + Kubernetes Dashboard + metric server + Cilium.
```error: unable to retrieve the complete list of server APIs: metrics.k8s.io/v1beta1: the server is currently unable to handle the request```

[2020-08-30 16:06] ravigude commented on #543
The following worked. Let us know if it helped for you as well. EKS + cilium + metrics-server.
```helm install metrics-server stable/metrics-server --set hostNetwork.enabled=true```

[2020-09-01 12:46] s-urbaniak commented on #449
We have precendences in the eco-system on how to dependency-inject registries in kubelet [1]. I will work towards that idiom.

[1] https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/server.go#L389-L394

[2020-09-01 12:46] christianri opened #581 "Missing pod metrics on Docker 1.18 (kubeadm K8s version 1.19)"
**Steps to reproduce**:
- Deploy metrics server to a Kubernetes 1.19 cluster
- Adjust the log level, I use --v=4
- To suit my cluster, I had to add `--kubelet-preferred-address-types=InternalIP` and `--kubelet-insecure-tls` to the args for the deployment
- Check the logs of the server pod when running `kubectl top nodes` and `kubectl top pods`

**What happened**:
- `kubectl top nodes` works fine a

[2020-09-01 12:55] serathius commented on #581
Looks like duplicate of https://github.com/kubernetes/kubernetes/issues/94281

[2020-09-01 13:07] christianri commented on #581
The Kubernetes 1.18 cluster where it works has the following docker version:
[code]
The cluster node where it does **not** work, has the following, same, docker version:
[code]

[2020-09-01 15:09] christianri commented on #581
I can confirm that an upgrade to docker 19.3.12 resolves the issue.
Feel free to close, as Kubernetes in its documentation states: `Version 19.03.11 is recommended`.
Source: https://kubernetes.io/docs/setup/production-environment/container-runtimes/

[2020-09-01 15:20] serathius commented on #581
Thank you for confirming

[2020-09-01 15:20] #581 closed

[2020-09-02 07:50] zouchengli commented on #237
Thank you

[2020-09-02 14:29] lauer commented on #129
Had same problem. Solved it with this command:

`helm upgrade --install metrics stable/metrics-server --namespace kube-system --set hostNetwork.enabled=true --set args={kubelet-insecure-tls}`

[2020-09-02 17:06] #314 closed

[2020-09-02 17:06] #381 closed

[2020-09-02 21:37] gouterelo commented on #281
Hwo do you add that line to the api server ??? or you make a new cluster and added in kubeadm init?

[2020-09-07 10:44] mayankkapoor commented on #300
This worked for me on a ClusterAPI cluster with k8s v1.19 and Calico. `--kubelet-insecure-tls=true` helps with the kubelet insecure certificate, and `--kubelet-preferred-address-types=InternalIP` helps with Calico CNI.

[2020-09-07 12:04] anton-johansson commented on #281
@gouterelo, that really depends on how you create your cluster. I have not worked with `kubeadm`, so Ic an't say. :(

[2020-09-07 12:16] xoxbet commented on #131
Adding `--kubelet-preferred-address-types=InternalIP` flag helped me to fix metrics-server 0.3.6 after enabling NodeLocal DNS Cache.

[2020-09-09 15:33] s-urbaniak commented on #449
cc @dgrisonnet how do you feel of tackling this one? :-)

[2020-09-10 15:14] dgrisonnet commented on #449
Sounds interesting, I can give it a try :)

[2020-09-15 09:40] lucj commented on #237
I have this error every time I deploy the metrics-server on DigitalOcean. Adding the following in the Deployment spec fix the thing.

[code]

[2020-09-17 08:48] #474 closed

[2020-09-18 06:11] jan-est opened #582 "IP handling with Dualstack Kubernetes"
**What happened**:
'kubectl top nodes' does not work
Result: error: metrics not available yet

**What you expected to happen**:
'kubectl top nodes' should provide metrics of nodes

**Anything else we need to know?**:
If the deployment happens to have the node InternalIPs listed in the opposite order (i.e. first IPv6), then the metrics server can collect the metrics.  The order of the IPs is almost

[2020-09-18 09:57] kyriefly opened #583 "Error from server (ServiceUnavailable): the server is currently unable to handle the request (get nodes.metrics.k8s.io)"
创建成功  但是一直false
![image](https://user-images.githubusercontent.com/66997396/93584584-15aaf900-f9d8-11ea-9af5-66390d3d2d01.png)
![image](https://user-images.githubusercontent.com/66997396/93584684-396e3f00-f9d8-11ea-9357-9c67c0896dd6.png)

[2020-09-18 16:19] #493 closed

[2020-09-18 18:21] #429 closed

[2020-09-18 23:14] shivaniarbat commented on #583
Facing the similar issue !!

[2020-09-19 12:01] AkashSarda commented on #571
@serathius are there any reference docs I can use to setup?

[2020-09-20 10:56] AkashSarda commented on #571
@serathius : can I get some more examples of conflicts documented somewhere?

[2020-09-20 18:27] shivaniarbat commented on #583
add below **`command`** by editing the [metrics server deployment](https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.3.7/components.yaml) from `components.yaml` file.
[code]
WAIT FOR THE DEPLOYMENT TO ENTER RUNNING STATE

**ON MASTER NODE**
[code]
[code]
[code]
**ON ALL WORKER NODES**
[code]
[code]
Check the logs once for any errors. If none,

*Check the metrics*
[code]
SAMPLE

[2020-09-20 19:37] vaassi opened #586 "Kubernetes 1.19.x pod metrics empty"
**What happened**:
after I upgrade kubernetes from 1.18 to 1.19.2 version
kubectl top node works, but kubectl top pods not work anymore

**kubectl top pods -n kube-system**
[code]

 **kubectl get --raw "/apis/metrics.k8s.io/v1beta1/pods/" | jq**
[code]

**kubectl -n kube-system logs metrics-server-56df6d849-c92fx**
[code]

**What you expected to happen**:
metrics for pods must not be empty

**Anyt

[2020-09-22 15:17] godomainz opened #588 "Kubernetes 1.18.8 Error from server (NotFound): the server could not find the requested resource (get services http:heapster:)"
I'm getting this error -->  **Error from server (NotFound): the server could not find the requested resource (get services http:heapster:)**

When I run kubectl top node, kubectl top po

What am I missing here ?

[code]

[code]

**metric-server.yaml**

---
[code]

[2020-09-22 21:43] serathius commented on #542
np, thanks for confirmation.

[2020-09-23 16:47] serathius commented on #586
Guess https://github.com/kubernetes/kubernetes/issues/94281

[2020-09-23 16:49] serathius commented on #586
Please confirm that's a duplicate by scraping "/stats/summary" from your kubelet

[2020-09-24 01:46] zhou880220 commented on #247
I had the same problem，this is my config:
[root@k8s-master data]# kubectl get pods --all-namespaces
NAMESPACE              NAME                                         READY   STATUS    RESTARTS   AGE
default                whoami-7c8d684c55-vmc9x                      1/1     Running   1          20h
kube-system            coredns-6d56c8448f-g98fb                     1/1     Running   3          2

[2020-09-24 07:36] serathius commented on #557
/assign

[2020-09-24 07:36] serathius commented on #558
/assign

[2020-09-24 08:00] serathius commented on #572
I was a little big skeptical for creating separate distribution of manifests in addition to Kustomize. Not everyone uses helm, so Kustomize made more sense as there was Metrics Server chart already maintained by community.

Looking at links you provided, I like the approach taken of separating chart owners and releases from main release. Charts linked are also pretty high quality.

I would be for

[2020-09-24 08:28] vaassi commented on #586
This is my version of docker and pod metrics not work

docker --version
`Docker version 19.03.12, build 48a66213fe`

[2020-09-24 16:27] serathius opened #596 "Automate license validation"
All golang files in Kubernetes repositories should have license on a header.

We should add static analysis that validates that removing chance of forgetting about this. I have seen that this validation is already automated in k/k repository.

/kind feature

/cc @dgrisonnet
Maybe you would be interested in working on this?

[2020-09-25 07:44] dgrisonnet commented on #596
I will give it a go.

[2020-09-25 13:41] #596 closed

[2020-09-25 16:36] peteroneilljr commented on #525
/remove-lifecycle stale

I'm also having this issue, has anyone fixed it?

[2020-09-25 20:03] #542 closed

[2020-09-26 10:38] serathius opened #601 "Release 0.4.0"
Preparing to cut new release, I expect that cut will be done within 2 weeks.

/cc @s-urbaniak @dgrisonnet
Please check if release notes

Before cutting release I want to
* Include last changes in [v0.4 Milestone](https://github.com/kubernetes-sigs/metrics-server/milestone/14)
* Merge some current hanging PRs that will be useful for maintaining `release-0.4` branch (https://github.com/kubernetes-si

[2020-09-28 06:36] olemarkus commented on #572
I am one of the maintainers of the helm/stable repo chart and would be happy to maintain the chart as part of this repo instead.

[2020-09-28 07:28] stevehipwell commented on #572
@olemarkus you might want to keep an eye on https://github.com/helm/chart-releaser-action/issues/37 which would allow you to keep the chart name _metrics-server_ but have additional information in the tag name (e.g. _metrics-server-chart-vX.Y.Z).

[2020-09-28 07:30] s-urbaniak commented on #601
/lgtm

[2020-09-28 07:51] dgrisonnet commented on #601
Some of the metrics you've marked as removed got renamed. Wouldn't it be easier for the users to transition to the new release if we specify that? Like you did in #590 description. Also, it might be worth mentioning the label renaming in the changelog.

Other than that, this looks good to me. Great work!

[2020-09-30 05:11] RamanaChowdam opened #603 "unable to fetch pod metrics"
i am installed metric server from aws documentation, when i look on metric server logs it giving some errors. but HPA is able to get  resource utilization, and top pods also showing resources utilizaition.below are the error logs getting from metric server

E0929 10:10:07.183040       1 reststorage.go:160] unable to fetch pod metrics for pod default/podname: no metrics known for pod
E0929 10:10:07

[2020-09-30 15:19] #449 closed

[2020-09-30 16:51] cmurray47 commented on #603
+1 I am also facing this issue EKS 1.15, metrics server 0.3.1

Increasing verbosity to 10 still gives no more information than the line @RamanaChowdam put above. "no known metrics for pod"

Some pods are collected successfully. kubectl top pods and kubectl top nodes works fine.
As suggested in many of the other issues threads, any combination of the below added to the args of the metricserver depl

[2020-10-01 09:16] serathius commented on #603
https://github.com/kubernetes-sigs/metrics-server/issues/349

[2020-10-01 19:40] pinkertonpg commented on #552
Can we just remove the PDB entirely from the manifests? As pointed out above, it's useless for a single-pod deployment and actually prevents `kubectl drain` from working on a node running metrics-server with the default deployment setup. I understand that a fix is to run multiple metrics-server pods, but I feel like the base manifests in this repo should Just Work out of the box, rather than requi

[2020-10-02 11:41] jnummelin opened #604 "label selector acting against k8s conventions"
**What happened**:

[code]

But the actualy object does not have that label:
[code]

**What you expected to happen**:

`kubectl get PodMetrics -l app=test` to actually only return the object which has the label set.

**Anything else we need to know?**:

I guess this might be actually working as designed as the label selector seems to give back `PodMetrics` object if the label matches some pods. (I

[2020-10-03 17:50] scottrigby commented on #572
👍  a working demo steps for all the Helm GitHub actions is here: https://github.com/helm/charts-repo-actions-demo

[2020-10-03 17:56] scottrigby commented on #572
I've linked this issue in the table at https://github.com/helm/charts/issues/21103.

@serathius There is also a `kubernetes` organization on the CNCF Artifact Hub (https://artifacthub.io), which hosts CNCF packages like Helm charts, OLM Operators, Falco Rules, and OPA Policies. Would you and/or other metrics-server maintainers like to be added to that so you can manage the metrics-server charts re

[2020-10-03 18:02] scottrigby commented on #572
@olemarkus if you are going to be helping with this – or whoever is – you can look at other previous migrations from stable, such as https://github.com/prometheus-community/helm-charts, https://github.com/grafana/helm-charts, and https://github.com/jenkinsci/helm-charts.

These examples all followed current best practices by importing git history (I've laid out example steps here: https://github.c

[2020-10-06 08:40] olemarkus commented on #572
Looked easy enough. Filed #606 as a start.

The old merge request PR references are naturally broken in the history, but I see other migrations have ignored that part as well.

[2020-10-06 08:53] serathius commented on #572
PTAL @s-urbaniak

[2020-10-06 08:58] olemarkus commented on #572
The one thing that is a bit unclear here is how to handle chart releases vs metrics-server releases. I guess that is what  helm/chart-releaser-action#37 tries to support.

[2020-10-06 09:41] s-urbaniak commented on #572
I agree with the statements of @serathius. We, for instance, do not use helm charts either, but rather rely on jsonnet for managing our manifests. As stated there are also kustomize, etc, hence I am very sympathizing with the following statement:

An experience point from maintaining prometheus-operator (https://github.com/helm/charts/tree/master/stable/prometheus-operator). The helm charts are ma

[2020-10-06 19:07] Arsen-Uulu opened #607 "metrics-service is crashing"
/triage support

I have deployed metrics-server using latest components.yaml with 0.3.7 image version from [here](https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.3.7/components.yaml)

I'm getting an error

[code]
Please let me know what could cause this error

[2020-10-07 11:06] Vadim-Zenin opened #608 "current_connections per pod metric"
**What would you like to be added**:
current_connections per pod metric

**Why is this needed**:
To do proper horizontal pods scaling based on cpu usage and current_connections.
Additional 3rd party monitoring solution requires additional not reasonable resources usage.

/kind feature

[2020-10-07 20:30] agilgur5 commented on #541
/remove-lifecycle stale

This issue has never been responded to...

There was a response in https://github.com/kubernetes/kops/issues/6879#issuecomment-705162948 , but that revealed that there's a missing capability required for this to work 😕

[2020-10-08 08:47] serathius commented on #572
@s-urbaniak I think the problem is that `helm/charts` repository is being deprecated and those charts don't have place to live. Looks like prometheus-operator was also moved.

[2020-10-08 18:24] ubhide commented on #537
This is still happening as far as I'm aware.

/remove-lifecycle stale

[2020-10-09 10:33] vijayakumarbathini opened #613 "Getting 403 forbidden in Metrics Server For HPA"
**What happened**:

We have configured HPA with below configuration
[code]

and setup metrics server as below

[code]

Now getting below issue 403 forbidden , granted admin privileges for system user on namespace kube-system

**Anything else we need to know?**:

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.):
- Container Network Setup (flannel, calico, etc.):
-

[2020-10-09 13:02] serathius commented on #613
Please upgrade to supported metrics-server version. v0.2.0 is super old

[2020-10-09 15:48] devlifealways opened #614 "metrics-server : ServiceUnavailable"
Trying to enable __metrics-server__ on kubernetes clustrer (1.19), by running
[code]

To check if everything is alright :

[code]

Knowing that I :
1. Enabled beforehand the __aggregator-routing__ on *kube-apiserver*  via
[code]
2. Edited the metrics-server deployment resource :
[code]
[code]

**What happened**:

So far so good, but when I try to run
[code]
or
[code]
I've got same error.

**What y

[2020-10-09 19:08] scottrigby commented on #572
@serathius I think @s-urbaniak 's point still stands. The https://github.com/prometheus-community/helm-charts/ chart repo is in a separate git repo. One of the side benefits of that is that the github releases aren't listed along with the upstream prometheus projects each chart installs.

Though I understand `kubernetes-sigs/metrics-server` is a bit different, because a separate charts repo may be

[2020-10-09 20:07] alexec opened #615 "How would you use Metrics Server to create recommendations for short-lived workflow pods?"
An Argo Workflow typically consists of a number of pods that have `restartPolicy: Never`. I.e. they run to completion and that is it. Like a `Job`.

There can be anywhere between 1 pod and 10k pods in a workflow. They can be active anywhere between a few seconds and several hours.

Each pod can be large and expensive. How would you do this is a simple, even stateless, way?

[2020-10-13 00:14] Chili-Man commented on #411
@giner @astefanutti @serathius  I've also gone through the documentation, but it doesn't help clarify the point of the `system:aggregated-metrics-reader` ClusteRole, especially since it's not bound to anything (at least from what's provided in this repos manifests);  it would be great if you could provide an explanation; In particular, I'm wondering if that cluster role is needed at all?

[2020-10-13 06:39] astefanutti commented on #411
Aggregated ClusterRoles are documented in: https://kubernetes.io/docs/reference/access-authn-authz/rbac/#aggregated-clusterroles. The purpose of the `system:aggregated-metrics-reader` ClusterRole, is to aggregate the rules, that grant permission to get the pod and node metrics, to the `view`, `edit` and `admin` roles.

[2020-10-13 07:05] Chili-Man commented on #411
that makes much more sense now; thanks for the clarification @astefanutti

[2020-10-13 09:24] serathius commented on #615
What kind of recommendation are you talking about?

[2020-10-13 15:51] akshay-sri123 commented on #329
@farrukh90  I was facing a similar issue with my setup and was able to solve it by using the following RoleBinding:
[code]

[2020-10-13 16:59] alexec commented on #615
The use case is a very large workflow - one with 100k pods, each running for (say) 1h. Setting the resource requests and limits correctly would save $$$.

Once those pods had completed, then I'd like to capture a recommendation for what they should have been run with. That way I can tune them in the future.

[2020-10-14 13:47] jessehu opened #617 "node hostname resolution failure in metrics-server pod"
**What happened**:  metrics-server pod can't start

**What you expected to happen**: metrics-server pod should be in Running status, but in CrashLoopBackOff.

**Anything else we need to know?**:

[code]

**Environment**:
- Kubernetes distribution (GKE, EKS, Kubeadm, the hard way, etc.): Kubeadm
- Container Network Setup (flannel, calico, etc.): calico
- Kubernetes version (use `kubectl version`):

[2020-10-14 13:50] serathius commented on #617
Manifests on master branch are only compatible with image build from master branch.

[2020-10-14 15:10] jessehu commented on #617
Thanks @serathius. The manifest was generated by `make release-manifests` on master branch.

I just tried https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.3.7/components.yaml but got a node hostname resolution error in the metrics-server pod log:
[code]

Using the kubelet node IP works as expected and 'kubectl top node' shows correct metrics:
[code]

[2020-10-14 19:43] bnrjee opened #618 "Building v0.3.7 fails. Require a tag/release that fixes the import issues."
**What happened**:
[code]

**What you expected to happen**:
We should be able to build the latest metrics-server tag without these import issues. Would it be possible to fix this problem and create a new release/tag?
**Anything else we need to know?**:
I have read about this possible [work around.](https://github.com/kubernetes-sigs/metrics-server/issues/442#issuecomment-589976617) But I am lookin

[2020-10-16 00:17] kbbqiu commented on #617
I see this error as well although I wonder if you could provide verbose output to compare.
set --v=3

For me, this is only happening on 2 of the 9 clusters I have deployed (less than 10 nodes in each cluster).

I've tried:
- increasing initialDelaySeconds for the probes hoping that it was a init cache issue.
- increase CPU / Memory requests. 500m and 500Mi respectively (Should be oversized accordi

[2020-10-16 07:32] jjhuang-github commented on #575
How to convert 43481n to core unit ?

[2020-10-16 11:10] #473 closed

[2020-10-16 11:42] vijayakumarbathini commented on #613
Yes it works for me after upgrading to 3.7 version

[2020-10-16 11:42] #613 closed

[2020-10-18 18:31] Isakgicu commented on #237
Hi,

For me `- --v=2` did the trick

[2020-10-20 23:29] designedforplaygames opened #619 "LICENSE file refers to "Licensor" but there is no licensor stated in the LICENSE file or in the README file."
This is a documentation bug report.  For legal compliance purposes within my organization, I am required to know the exact copyright holder of the software we are intending to use.  There is no copyright notice in the README or LICENSE file nor any other indication in those files that I can find of who the "Licensor" referred to in the LICENSE file actually is.

[2020-10-21 08:32] serathius commented on #619
Please check out licenses in main k8s repository if they match your requirements https://github.com/kubernetes/kubernetes/blob/master/LICENSE

If not then this should be brought up there

[2020-10-21 08:38] kmmanto commented on #551
/close

[2020-10-21 08:38] #551 closed

[2020-10-21 12:46] designedforplaygames commented on #619
Those licenses are the same as this one - it's the generic Apache 2.0 license.  Its statement is that the licensor is the copyright holder.  My point is that neither the LICENSE file nor the README file list the copyright holder for the metrics server.

[2020-10-21 12:50] serathius commented on #619
Sure, my point is that all repositories in `github.com/kubernetes` and `github.com/kubernetes-sigs` use same license file copied from `github.com/kubernetes/kubernetes`. I cannot make updates to metrics-server LICENSE file without approval from Kubernetes Org, meaning that's best to take this issue to `github.com/kubernetes/kubernetes`.

[2020-10-21 15:20] designedforplaygames commented on #619
You don't actually *have* to update the license file.  The license file is not specific to Kubernetes; it's the generic Apache license file.  What you should do, if you don't want to change the license, is to define your copyright holder, either in a COPYRIGHT file or in the README file.  Since you're using the apache license, that means there *is* a copyright.

That license is a legal agreement a

[2020-10-21 15:25] designedforplaygames commented on #619
I opened https://github.com/kubernetes/kubernetes/issues/95765 in the main kubernetes github repo.

[2020-10-21 16:42] MatthewPattell commented on #576
Same question!
[I try this](https://github.com/kubernetes-sigs/metrics-server/issues/146#issuecomment-460093946)
[and this](https://github.com/kubernetes-sigs/metrics-server/issues/146#issuecomment-459239615)

I spend 3 days. Result:
[code]

[2020-10-21 17:01] troy0820 commented on #619
Closing this issue because it is being tracked in kubernetes/kubernetes#95765
/close

[2020-10-21 22:03] neolit123 commented on #619
closing after the following response:
https://github.com/kubernetes/kubernetes/issues/95765#issuecomment-713894723

/close

[2020-10-21 22:03] #619 closed

[2020-10-22 06:45] thanos1983 commented on #576
Hello @MatthewPattell ,

I downloaded the latest patch and seems the problem to be fixed. I am also running calico as network element (I do not know if this affects the solution but just keep it in mind).

Give it a try and let us if this works for you as well.

BR / Thanos

[2020-10-22 07:29] MatthewPattell commented on #576
@thanos1983 could you explain me more about how download latest patch?
Part of my deployment:
[code]

[2020-10-22 08:46] thanos1983 commented on #576
Hello @MatthewPattell ,

The new version 0.3.7 seems to be working fine for me out of the box. I do not need to pass all those parameters:

[code]

The file is as it comes by default sample:

[code]

What version of kubectl are you running?

BR / Thanos

[2020-10-22 09:06] MatthewPattell commented on #576
@thanos1983 my kubernetes version:
[code]

[2020-10-22 09:10] thanos1983 commented on #576
I am not very experienced with kubernetes to the extend that I can give advices but I am not sure if you should have different version of client / server. Take a look on this it might end up as a problem in future.

Regarding the image did it worked for you after the proposed configurations?

[2020-10-22 09:32] MatthewPattell commented on #576
@thanos1983 I am not think different version of client it is problem. I was try proposed configurations, it not work for me(

[2020-10-22 10:29] #531 closed

[2020-10-22 13:37] BlackRider97 commented on #269
appVersion: 0.3.7
Still issue not fixed.

`kubectl logs metrics-server-696bd845fb-hpwbx  -n kube-system `
[code]

`kubectl describe hpa test`
[code]

[2020-10-27 05:40] CEVERY commented on #300
1.19和metrics-server 0.3.6 1.8+的问题也差不多 top_pod.go:265] Metrics not available for pod

[2020-10-28 19:13] pareshpateldfw opened #621 "E1028 19:11:22.398095 1 manager.go:111] unable to fully collect metrics:"
error: the server doesn't have a resource type "srv"
root@ip-172-31-44-199:~# kubectl get service -n kube-system
NAME             TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)                  AGE
kube-dns         ClusterIP   10.96.0.10       <none>        53/UDP,53/TCP,9153/TCP   40h
metrics-server   ClusterIP   10.102.129.144   <none>        443/TCP                  8m52s
root@ip-172-31-44-

[2020-10-28 19:15] pareshpateldfw commented on #621
root@ip-172-31-44-199:~# kubectl top nodes
Error from server (ServiceUnavailable): the server is currently unable to handle the request (get nodes.metrics.k8s.io)
root@ip-172-31-44-199:~#

[2020-10-29 19:51] vaassi commented on #586
Finally, I found solution for this problem:

I found strange behaviour, that docker shows me version 19, but version 18 is still installed:

**# docker --version**
Docker version 19.03.12, build 48a66213fe

**# dnf list docker-ce**
Last metadata expiration check: 2:39:27 ago on Thu 29 Oct 2020 09:13:20 AM MSK.
Installed Packages
docker-ce.x86_64                                            3:18.09.1

[2020-10-29 19:51] #586 closed

[2020-10-29 20:32] bryankaraffa commented on #572
I think @scottrigby summed up the two different models that other projects are going with.  As a user I have no preference, as long as the chart is published in a proper helm chart repo I can add or declare.

Wherever the chart ends up living, looks like it's easy to "to turn a GitHub project into a self-hosted Helm chart repo":
https://github.com/helm/chart-releaser-action
https://github.com/kube

[2020-10-30 20:44] invertigo opened #622 "Default metrics-server installation unable to fetch pod or node metrics"
**What happened**:

Metrics server is unable to fetch metrics for pods and nodes in cluster:
[code]

And so on.  This happens regardless of whether or not I have HostNetwork enabled.

**What you expected to happen**:

metrics-server is able to scrape pods and nodes.

**Anything else we need to know?**:

**Environment**:
AWS EKS 1.17

- Container Network Setup (flannel, calico, etc.):
Istio 1.5.10

[2020-10-31 05:58] Ayden-Franklin opened #623 "the server is currently unable to handle the request (get pods.metrics.k8s.io) | bad status from https://xxx.xxx.xxx.xxx:4443/apis/metrics.k8s.io/v1beta1: 403"
**What happened**:
I installed Kubernetes with binary files. Then I deployed `metrics-server` for version v0.3.7 with args:
[code]
The log from `kube-apiserver`:
[code]
The log from `kube-controller-manager`:
[code]
**What you expected to happen**:
The error should disappear.

**Anything else we need to know?**:
I installed  Kubernetes with binary files manually. There is the args for kube-apiserv

[2020-10-31 08:22] serathius commented on #604
When receiving LIST request with label selector, metrics server filters pods based on this label selector but doesn't put labels on the PodMetrics object itself. I agree that from API implementation this looks wrong. Would be good to get confirmation from SIG api machinery.

@kubernetes-sigs/kubernetes-sig-api-machinery

[2020-10-31 08:27] serathius commented on #607
Not sure, `stat /metrics-server: permission denied"` points to incorrect permissions/user configuration. I would look removing Security Context that switches user and see if that helps.

[2020-10-31 08:30] serathius commented on #608
Metrics Server is just an implementation of API. Additional signals for autoscaling pipeline should be discussed with SIG Autoscaling. I would propose to move this issue to https://github.com/kubernetes/kubernetes

[2020-10-31 08:30] #608 closed

[2020-10-31 08:33] serathius commented on #614
Please provide:
* Metrics Server Logs
* results from `kubectl describe apiservice v1beta1.metrics.k8s.io`

[2020-10-31 08:36] serathius commented on #615
Best to bring this problem to SIG Autoscaling, they maintain VPA (Vertical Pod Autoscaler) that can provide recommendation for pods. https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler

[2020-10-31 08:36] #615 closed

[2020-10-31 08:43] serathius commented on #617
@jessehu
`--kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname` is list of preferences for addressing kubelet. Metrics Server will read Node object and try to use earliest address type available. What addresses are available on your Node object depends on your Cluster configuration/Kubenetes distribution.

Fact that Metrics Server uses Hostbame when addressing nodes, even with `--kubel

[2020-10-31 11:33] serathius commented on #571
Implemented by https://github.com/kubernetes-sigs/metrics-server/pull/624

[2020-10-31 11:33] #571 closed

[2020-10-31 11:40] serathius commented on #601
@dgrisonnet thanks for suggestion.
Changed to
[code]

[2020-10-31 11:51] serathius commented on #601
Created release draft and v0.4.0 tag

[2020-10-31 11:51] serathius commented on #601
Build started https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-metrics-server-push-images/1322505965014093824

[2020-10-31 12:57] serathius commented on #601
Image is available at gcr.io/k8s-staging-metrics-server/metrics-server:v0.4.0
I will try to do scalability tests today.

[2020-10-31 14:55] jessehu commented on #617
Thanks @serathius. The node object contains:

[code]

After adding setting `--kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname` in https://github.com/kubernetes-sigs/metrics-server/releases/download/v0.3.7/components.yaml, 'kubectl top node' shows correct metrics. But with the original v0.3.7/components.yaml, I hit the error in previous comment.

[2020-10-31 20:47] micahhausler commented on #618
This is fixed in #601

[2020-10-31 22:12] serathius commented on #601
Scalability tests done. Scenario:
* 30 application pods per node + kube-system workloads
* To simulate the traffic to MS, pods are grouped by 15 into deployments.
* Cluster sizes: 1,2,4,8,16,32,64,128 nodes.

Results for v0.3.7:
CPU: 1.6 mCore base + 0.227 mCore per node
Memory: 12MiB base + 0.905 MiB per node

Results for v0.4.0:
CPU: 3.5 mCore base + 0.203 mCore per node
Memory: 15 MiB base + 0.

[2020-10-31 23:10] serathius commented on #601
During image qualification I noticed a problem with PDB https://github.com/kubernetes-sigs/metrics-server/pull/625
Will need it before we release manifests

[2020-11-01 09:41] serathius commented on #601
PR with release preparations https://github.com/kubernetes-sigs/metrics-server/pull/626

Updated release notes
* Added installation instructions
* Reformatted

PTAL

[2020-11-01 21:49] serathius opened #627 "Define strategy and create feature roadmap"
In this issue I would like to propose a long term strategy for improving Metrics Server adaptation and collect ideas that would help us define a roadmap for next releases.

I hope that this should help to tackle larger problems and allow other contributors to take ownership over larger areas.

Opinions written here are my own.

## Background

Main purpose of Metrics Server is resource utilization

[2020-11-02 09:03] s-urbaniak commented on #627
Agreed on the ideas expressed here :+1:

[2020-11-02 10:25] serathius commented on #627
Good to hear that :P
/cc @brancz
for more feedback

[2020-11-02 10:40] dgrisonnet commented on #627
I also very much agree with these ideas :+1:

[2020-11-02 17:58] serathius commented on #627
Adding other SIG instrumentation leads for visibility and feedback
/cc @logicalhan @dashpole @ehashman

[2020-11-02 18:44] bu3ny commented on #299
Following settings worked for me:

      containers:
      - name: metrics-server
        image: k8s.gcr.io/metrics-server/metrics-server:v0.3.7
        imagePullPolicy: IfNotPresent
        args:
          - --cert-dir=/tmp
          - --secure-port=4443
          - --kubelet-insecure-tls
          - --kubelet-preferred-address-types=InternalIP
          - /metrics-server
          - --v=2

K8 ve

[2020-11-02 18:55] serathius commented on #578
https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/#memory

[2020-11-02 19:13] serathius commented on #578
Send PR with answer to this question in FAQ.md https://github.com/kubernetes-sigs/metrics-server/pull/628

[2020-11-02 19:14] #578 closed

[2020-11-02 21:05] ehashman commented on #627
I think this is worthwhile. How do we plan to move forward on this? Do we have a process for collecting and acting on end user feedback?